<section class="billing">
  {{#if this.isEducation}}
    <BillingEducation 
      @plans={{this.plans}} 
      @newSubscription={{this.newSubscription}}
      @account={{this.account}} 
    />
  {{/if}}
  {{#if this.isManual}}
    <BillingManual @subscription={{this.subscription}} />
  {{/if}}
  {{#if this.isManaged}}
    <BillingSubscription
      @plans={{this.plans}} 
      @newSubscription={{this.newSubscription}}
      @account={{this.account}} 
    />
  {{/if}}
  {{#if this.isTrial}}
    <BillingTrial 
      @account={{this.account}} 
      @plans={{this.plans}} 
      @newSubscription={{this.newSubscription}}
    />
  {{/if}}
</section>
{{#if this.invoices}}
  <BillingInvoices @invoices={{this.invoices}} @subscription={{this.subscription}}/>
{{/if}}

