<section class="billing">
  {{#if isEducation}}
    <BillingEducation @account={{account}} />
  {{/if}}
  {{#if isTrial}}
    <BillingTrial @account={{account}} />
  {{/if}}
  {{#if isManual}}
    <BillingManual @subscription={{subscription}} />
  {{/if}}
  {{#if isManaged}}
    <BillingSubscription @account={{account}} />
  {{/if}}
</section>
{{#if invoices}}
  <BillingInvoices @invoices={{invoices}} />
{{/if}}