<section class="billing">
  {{#if this.isEducation}}
    <BillingEducation @account={{this.account}} />
  {{/if}}
  {{#if this.isTrial}}
    <BillingTrial @account={{this.account}} @monthlyPlans={{monthlyPlan}} />
  {{/if}}
  {{#if this.isManual}}
    <BillingManual @subscription={{this.subscription}} />
  {{/if}}
  {{#if this.isManaged}}
    <BillingSubscription @account={{this.account}} />
  {{/if}}
</section>
{{#if this.invoices}}
  <BillingInvoices @invoices={{this.invoices}} @subscription={{this.subscription}}/>
{{/if}}
