<h3 class="insights-glance__title">Active Repositories</h3>
<div class="insights-glance__stat">
  {{#if isAnythingLoading}}
    {{loading-indicator}}
  {{else}}
    {{activeTotal}}
  {{/if}}
</div>
<div class="insights-glance__chart">
  {{#if showPlaceholder}}
    <hr class="insights-glance__chart-placeholder" />
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>