<form {{action (perform save) on="submit"}}>
  <div class="form-elem">
    <Input
      @value={{description}}
      class="ssh-description"
      placeholder="Description"
    />
  </div>
  <div class="form-elem">
    <Textarea
      @value={{value}}
      class="ssh-value"
      @rows="10"
      placeholder="SSH Key"
    />
    {{#if valueError}}
      <p class="form-error-message">
        {{valueError}}
      </p>
    {{/if}}
  </div>
  <div class="form-elem">
    {{#if save.isRunning}}
      <LoadingIndicator />
    {{else}}
      <input type="submit" value="Add" class="form-submit" />
    {{/if}}
  </div>
</form>