{{#travis-form
  class='form--cron'
  onSubmit=(perform saveCron)
  as |form|
}}
  <div class='form-elem select'>
    {{#form.field
      class='branch-selector'
      label='Branch'
      value=selectedBranch
      required=true
      as |field|
    }}
      {{#field.select
        searchField='name'
        placeholder='Type branch name'
        selected=selectedBranch
        onchange=(action (mut selectedBranch))
        search=(perform performSearchRequest)
        as |branch|
      }}
        {{branch.name}}
      {{/field.select}}
    {{/form.field}}
  </div>
  <div class='form-elem select'>
    {{#form.field
      label='Interval'
      required=true
      value=selectedInterval
      onChange=(action (mut selectedInterval))
      as |field|
    }}
      {{#field.select options=intervals as |interval|}}
        {{interval}}
      {{/field.select}}
    {{/form.field}}
  </div>
  <div class='form-elem select'>
    {{#form.field
      label='Options'
      required=true
      value=selectedOption
      onChange=(action (mut selectedOption))
      as |field|
    }}
      {{#field.select options=options as |option|}}
        {{option}}
      {{/field.select}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
     {{#if saveCron.isRunning}}
      {{loading-indicator}}
    {{else}}
      <button
        onclick={{form.submit}}
        class='cron-form-submit form-submit'>
        Add
      </button>
    {{/if}}
  </div>
{{/travis-form}}
