<form {{action (perform this.save) on="submit"}}>
  <div class="form-elem">
    <Input
      @value={{this.description}}
      class="ssh-description"
      placeholder="Description"
    />
  </div>
  <div class="form-elem">
    <Textarea
      @value={{this.value}}
      @rows="10"
      class="ssh-value"
      placeholder="SSH Key"
    />
    {{#if this.valueError}}
      <p class="form-error-message">
        {{this.valueError}}
      </p>
    {{/if}}
  </div>
  <div class="form-elem form-footer">
    {{#if this.save.isRunning}}
      <LoadingIndicator />
    {{else}}
      <div class="form-actions">
        <input type="submit" value="Add" class="form-submit" />
      </div>
      <p class="form-hint">Private key in PEM format only.</p>
    {{/if}}
  </div>
</form>
