{{#travis-form
  onSubmit=(perform save)
  as |form|
}}
  <div class='form-elem'>
    {{#form.field
      label='Name'
      value=name
      required=true
      validateOnField=false
      showValidationStatusIcons=false
      onChange=(action (mut name))
      validator=(action 'validateEnvName')
      as |field|
    }}
      {{field.input class='env-name' placeholder='Name'}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
   {{#form.field
      label='Value'
      value=value
      required=true
      onChange=(action (mut value))
      showValidationStatusIcons=false
      as |field|
    }}
      {{field.input class='env-value' placeholder='Value'}}
    {{/form.field}}
  </div>
  <div class="form-elem">
    {{#form.field
      label='Branch'
      value=branch
      required=false
      class='env-branch-selector'
      showValidationStatusIcons=false
      as |field|
    }}
      {{#field.select
        placeholder='All branches'
        allowClear=true
        onchange=(action (mut branch))
        search=(perform search)
        as |branch|
      }}
        {{branch}}
      {{/field.select}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
    {{#form.field
      label='Display value in build log'
      disableFrame=true
      class='display-value-switch'
      value=public
      onChange=(action (mut public))
      as |field|
    }}
      {{field.switch}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
    {{#if save.isRunning}}
      {{loading-indicator}}
    {{else}}
      <button
        onclick={{form.submit}}
        class='add-env-form-submit form-submit'>
        Add
      </button>
    {{/if}}
  </div>
{{/travis-form}}
