<form {{action (perform save) on="submit"}}>
  <div class="form-elem select">
    <span class="label">Branch</span>
    {{#x-select value=selectedBranch required="true"}}
      {{#each branches as |branch|}}
        {{#x-option value=branch}}{{branch.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  <div class="form-elem select">
    <span class="label">Interval</span>
    {{#x-select value=selectedInterval required="true"}}
      {{#each intervals as |interval|}}
        {{#x-option value=interval}}{{interval}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  <div class="form-elem select">
    <span class="label">Options</span>
    {{#x-select value=selectedOption required="false"}}
      {{#x-option value=false}}{{options.[0]}}{{/x-option}}
      {{#x-option value=true}}{{options.[1]}}{{/x-option}}
    {{/x-select}}
  </div>
  <div class="form-elem">
    {{#if save.isRunning}}
      {{loading-indicator}}
    {{else}}
      <input type="submit" value="Add" class="form-submit" />
    {{/if}}
  </div>
</form>
