<form {{action (perform save) on="submit"}}>
  <div class="form-elem select">
    <span class="label">Branch</span>
    <XSelect @value={{selectedBranch}} required="true" @onChange={{action (mut selectedBranch)}} as |xs|>
      {{#each branches as |branch|}}
        <xs.option @value={{branch}}>{{branch.name}}</xs.option>
      {{/each}}
    </XSelect>
  </div>
  <div class="form-elem select">
    <span class="label">Interval</span>
    <XSelect @value={{selectedInterval}} required="true" @onChange={{action (mut selectedInterval)}} as |xs|>
      {{#each intervals as |interval|}}
        <xs.option @value={{interval}}>{{interval}}</xs.option>
      {{/each}}
    </XSelect>
  </div>
  <div class="form-elem select">
    <span class="label">Options</span>
    <XSelect @value={{selectedOption}} required="false" @onChange={{action (mut selectedOption)}} as |xs|>
      <xs.option @value=false>{{options.[0]}}</xs.option>
      <xs.option @value=true>{{options.[1]}}</xs.option>
    </XSelect>
  </div>
  <div class="form-elem">
    {{#if save.isRunning}}
      {{loading-indicator}}
    {{else}}
      <input type="submit" value="Add" class="form-submit" />
    {{/if}}
  </div>
</form>
