{{#travis-form
  onSubmit=(perform save)
  as |form|
}}
  <div class='form-elem'>
    {{#form.field
      label='Name'
      value=name
      required=true
      showValidationStatusIcons=false
      as |field|
    }}
      {{field.input class='env-name' placeholder='Name' onChange=(action (mut name))}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
   {{#form.field
      label='Value'
      value=value
      required=true
      showValidationStatusIcons=false
      as |field|
    }}
      {{field.input  class='env-value' placeholder='Value' onChange=(action (mut value))}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
    {{#form.field
      label='Display value in build log'
      class='travis-form__field--without-frame travis-form__field--switch'
      value=public
      as |field|
    }}
      {{field.switch onChange=(action (mut public))}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
    {{#if save.isRunning}}
      {{loading-indicator}}
    {{else}}
      <button
        onclick={{form.submit}}
        class='add-env-form-submit form-submit'>
        Add
      </button>
    {{/if}}
  </div>
{{/travis-form}}
