<form {{action (perform save) on="submit"}}>
  <div class="form-elem select">
    <span class="label">Branch</span>
    {{#x-select value=selectedBranch required="true" on-change=(action (mut selectedBranch)) as |xs|}}
      {{#each branches as |branch|}}
        {{#xs.option value=branch}}{{branch.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>
  <br />

  <!-- Interval -->
  <div class="form-elem select">
    <span class="label">Interval</span>
    {{#x-select
      value=selectedInterval
      required="true"
      on-change=(pipe
        (action (mut selectedInterval))
        (action 'intervalSelected' selectedInterval)
      ) as |xs|}}
      {{#each intervals as |interval|}}
        {{#xs.option value=interval}}{{interval}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>

  {{#if (eq formInterval 'daily')}}
  <!-- Then select time -->
    <br />
    <div class="form-elem select">
      <span class="label">Scheduled Time (UTC)</span>
      {{input type="time" value=selectedTime required=true}}
    </div>
  {{/if}}

  {{#if (eq formInterval 'weekly')}}
    <!-- Then select day of week and time -->
    <br />
    <div class="form-elem select">
      <span class="label">Day of the Week</span>
      {{#x-select
        value=selectedDays
        required="false"
        on-change=(action (mut selectedDays)) as |xs|}}
        {{#each daysOfWeek as |day|}}
          {{#xs.option value=day}}{{day}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
      <div class="form-elem select">
        <span class="label">Scheduled Time (UTC)</span>
        {{input type="time" value=selectedTime required=true}}
      </div>
  {{/if}}

  {{#if (eq formInterval 'monthly')}}
    <!-- Then select day of week and time -->
    <br />
  {{/if}}

  <br />
  <div class="form-elem select">
    <span class="label">Options</span>
    {{#x-select value=selectedOption required="false" on-change=(action (mut selectedOption)) as |xs|}}
      {{#xs.option value=false}}{{options.[0]}}{{/xs.option}}
      {{#xs.option value=true}}{{options.[1]}}{{/xs.option}}
    {{/x-select}}
  </div>
  <div class="form-elem">
    {{#if save.isRunning}}
      {{loading-indicator}}
    {{else}}
      <input type="submit" value="Add" class="form-submit" />
    {{/if}}
  </div>
</form>
