{{#travis-form
  class='form--cron'
  onSubmit=(perform saveCron)
  as |form|
}}
  <div class='form-elem select'>
    {{#form.field
      class='branch-selector'
      label='Branch'
      placeholder='Select branch'
      value=selectedBranch
      required=true
      enableValidationStatusIcons=false
      validator=(action 'validateBranch')
      as |field|
    }}
      {{#field.select
        searchPlaceholder=''
        searchMessage='Type to search branches...'
        loadingMessage='Loading branches...'
        noMatchesMessage='No branches found for your request'
        onchange=(action (mut selectedBranch))
        search=(perform searchBranches)
        as |branch|
      }}
        {{branch.name}}
      {{/field.select}}
    {{/form.field}}
  </div>
  <div class='form-elem select'>
    {{#form.field
      class='interval-selector'
      label='Interval'
      value=selectedInterval
      placeholder='Select interval'
      enableValidationStatusIcons=false
      onChange=(action (mut selectedInterval))
      required=true
      as |field|
    }}
      {{#field.select options=intervals as |interval|}}
        {{interval}}
      {{/field.select}}
    {{/form.field}}
  </div>
  <div class='form-elem select'>
    {{#form.field
      label='Options'
      value=selectedOption
      onChange=(action (mut selectedOption))
      as |field|
    }}
      {{#field.select options=options as |option|}}
        {{option.title}}
      {{/field.select}}
    {{/form.field}}
  </div>
  <div class='form-elem'>
    <button
      onclick={{action form.submit}}
      class='cron-form-submit form-submit'
    >
      {{#if saveCron.isRunning}}
        {{loading-indicator white=true inline=true }}
      {{else}}
        Add
      {{/if}}
    </button>
  </div>
{{/travis-form}}
