<form {{action (perform save) on="submit"}}>
  <div class="form-elem select">
    <label class="label">Branch</label>
    {{#power-select
      search=(perform searchBranches)
      selected=selectedBranch
      onchange=(action (mut selectedBranch))
      class='cron-branch-select power-select'
      tagName='span'
      placeholder='Search'
      required=true
      as |branch|
    }}
      {{branch.name}}
    {{/power-select}}
  </div>
  <div class="form-elem select">
    <label class="label">Interval</label>
    {{#power-select
      options=intervals
      selected=selectedInterval
      required=true
      tagName='span'
      class='cron-interval-select power-select'
      onchange=(action (mut selectedInterval))
      searchEnabled=false
      as |interval|
    }}
      {{interval}}
    {{/power-select}}
  </div>
  <div class="form-elem select">
    <label class="label">Options</label>
    {{#power-select
      options=options
      selected=selectedOption
      required=true
      tagName='span'
      class='cron-options-select power-select'
      onchange=(action (mut selectedOption))
      searchEnabled=false
      as |option|
    }}
      {{option.label}}
    {{/power-select}}
  </div>
  <div class="form-elem">
    {{#if save.isRunning}}
      {{loading-indicator}}
    {{else}}
      <input type="submit" value="Add" class="form-submit" />
    {{/if}}
  </div>
</form>
