{{#if this.subscription.isStripe}}
  <section class="contact">
    {{#let this.subscription.billingInfo as |info|}}
      <h4>
        Contact Details:
      </h4>
      <div data-test-user-details='true' class="flex flex--wrap">
        <p>
          {{info.firstName}} {{info.lastName}}
          <span>|</span>
        </p>
        {{#if info.company}}
          <p>
            {{info.company}}
            <span>|</span>
          </p>
        {{/if}}
        {{#if info.billingEmail}}
          <p>
            {{info.billingEmail}}
          </p>
        {{/if}}
      </div>
      <button class='edit link' onClick={{action 'toggleEditContactForm'}} data-test-edit-billing-address='true'>Edit</button>
      {{#if this.openEditContactForm}}
        <div data-test-edit-billing-address-form='true' class="edit-form">
          <TravisForm
            class="edit-form"
            @onSubmit={{perform this.editContact}}
            as |form|
          >
            <div class="flex">
              <div class="form-elem">
                <form.field
                  @label="First Name"
                  @value={{info.firstName}}
                  @required={{true}}
                  @validateOnField={{false}}
                  @showValidationStatusIcons={{false}}
                  @onChange={{action (mut info.firstName)}}
                  as |field|
                >
                  <field.input name="firstname" placeholder="First Name" />
                </form.field>
              </div>
              <div class="form-elem">
                <form.field
                  @label="Last Name"
                  @value={{info.lastName}}
                  @required={{true}}
                  @validateOnField={{false}}
                  @showValidationStatusIcons={{false}}
                  @onChange={{action (mut info.lastName)}}
                  as |field|
                >
                  <field.input name="lastname" placeholder="Last Name" />
                </form.field>
              </div>
            </div>
            <div class="flex">
              <div class="form-elem">
                <form.field
                  @label="Company"
                  @value={{info.company}}
                  @required={{true}}
                  @validateOnField={{false}}
                  @showValidationStatusIcons={{false}}
                  @onChange={{action (mut info.company)}}
                  as |field|
                >
                  <field.input name="company" placeholder="Company" />
                </form.field>
              </div>
              <div class="form-elem">
                <form.field
                  @label="Email"
                  @value={{info.billingEmail}}
                  @required={{true}}
                  @validateOnField={{false}}
                  @showValidationStatusIcons={{false}}
                  @onChange={{action (mut info.billingEmail)}}
                  as |field|
                >
                  <field.input name="billingEmail" placeholder="Company" />
                </form.field>
              </div>
            </div>
            <div class="form-elem">
              {{#if this.editContact.isRunning}}
                <LoadingIndicator />
              {{else}}
                <button data-test-update-billing-address-button='true' onclick={{form.submit}} class="button--blue">
                  Update
                </button>
              {{/if}}
            </div>
          </TravisForm>
        </div>
      {{/if}}
      <h4>
        Billing Details:
      </h4>
      <div data-test-billing-details='true' class="flex flex--wrap">
        {{#if info.address}}
          <p>
            {{info.address}}
            <span>|</span>
          </p>
        {{/if}}
        {{#if info.city}}
          <p>
            {{info.city}}
            <span>|</span>
          </p>
        {{/if}}
        {{#if info.country}}
          <p>
            {{info.country}}
          </p>
        {{/if}}
      </div>
      <button class='edit link' onClick={{action 'toggleEditBillingForm'}}>Edit</button>
      {{#if this.openEditBillingForm}}
      <div class="edit-form">
        <TravisForm
          @onSubmit={{perform this.editContact}}
          as |form|
        >
          <div class="flex">
            <div class="form-elem">
              <form.field
                @label="Address"
                @value={{info.address}}
                @required={{true}}
                @validateOnField={{false}}
                @showValidationStatusIcons={{false}}
                @onChange={{action (mut info.address)}}
                as |field|
              >
                <field.input placeholder="Address" />
              </form.field>
            </div>
            <div class="form-elem">
              <form.field
                @label="City"
                @value={{info.city}}
                @required={{true}}
                @validateOnField={{false}}
                @showValidationStatusIcons={{false}}
                @onChange={{action (mut info.city)}}
                as |field|
              >
                <field.input placeholder="City" />
              </form.field>
            </div>
          </div>
          <div class='form-elem form-elem-half-width'>
            <form.field
              @label='Country'
              @value={{info.country}}
              @required={{true}}
              class='billing-country'
              @showRequiredMark={{true}}
              @showValidationStatusIcons={{false}}
              @onChange={{action (mut info.country)}}
              as |field|
            >
              <field.select
                @placeholder='Select country'
                @options={{this.countries}} 
                as |country|
              >
                {{country}}
              </field.select>
            </form.field>
          </div>
          <div class="form-elem">
            {{#if this.editContact.isRunning}}
              <LoadingIndicator />
            {{else}}
              <button onclick={{form.submit}} class="button--blue">
                Update
              </button>
            {{/if}}
          </div>
        </TravisForm>
      </div>
      {{/if}}
    {{/let}}
  </section>
{{/if}}
