<section class="billing-subscription">
  {{#if this.subscription.isSubscribed}}
    {{#if (and (not this.subscription.isStripe) this.subscription.activeManagedSubscription)}}
      <ManageSubscriptionButton
        @subscription={{this.subscription}}
        @account={{this.account}}
      />
    {{/if}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @planMessage="Valid until"
      @isActive={{true}}
    />
  {{else if this.subscription.isCanceled}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}} 
      @price={{this.price}}
      @account={{this.account}}
      @planMessage="Expires"
      @isCanceled={{true}}
    />
  {{else if this.isPending}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @isPending={{true}}
    />
  {{else if this.subscription.isExpired}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @isExpired={{true}}
      @planMessage="Expired"
    />
  {{/if}}

  {{#if this.subscription.isGithubResubscribable}}
    {{#if this.newSubscriptionProcess}}
      <BillingProcess 
        @account={{this.account}} 
        @plans={{this.plans}} 
        @newSubscription={{this.newSubscription}}
      />
    {{else}}
      <ExternalLinkTo @href={{config-get "marketplaceEndpoint"}} class="button--blue marketplace-button">
        Continue with GitHub Marketplace
      </ExternalLinkTo>
      <div class="subscription-divider"></div>
      <p class="new-subscription-message">
        Or subscribe directly with Travis CI
      </p>
      {{#if this.account.hasSubscriptionPermissions}}
        <button onClick={{action (mut this.newSubscriptionProcess) true}} class="button--green" data-test-manage-button='true'>
          New subscription
        </button>
      {{else}}
        <div class="button--green manage-subscription disabled new" data-test-manage-button='true'>
          New subscription
        </div>
        <EmberTooltip @text="You do not have permission to create a subscription" />
      {{/if}}
    {{/if}}
  {{/if}}
</section>
