{{#unless subscription.manualSubscriptionExpired}}

  <section class='plan'>
    <h2>Plan Overview</h2>
    <h3 data-test-plan-name>{{subscription.plan.name}}</h3>
    <p data-test-plan-concurrency>{{pluralize subscription.plan.builds 'concurrent job'}}</p>
    <p>Renewing on {{moment-format subscription.validTo 'MMMM D, YYYY'}}</p>
  </section>

  <section>
    <h2>Billing Information</h2>
    <section class='row'>
      <section class='payment'>
        <h3>Payment details</h3>
        {{payment-details subscription=subscription}}
      </section>
    </section>
  </section>

{{else}}

  <span data-test-expiry-message>
    {{#if subscription.manualSubscriptionExpired}}
      You had a {{subscription.sourceWords}} subscription that expired on {{moment-format subscription.validTo 'MMMM D, YYYY'}}.
      {{manual-subscription-help}}
    {{/if}}
  </span>

{{/unless}}