{{#if this.account.hasSubscriptionPermissions}}
  {{#if this.isActiveGithubSubscription}}
    <span class="notice-banner--white flex flex--v-center" data-test-help-text='true'>
      <div>
        <SvgImage @name='icon-help' @class='icon-help' />
      </div>
      <span class="pl-3">
        You can have only one subscription at a time. Please cancel your current GitHub marketplace subscription and resubscribe.
      </span>
    </span>
    <div class='button disabled' data-test-resubscribe-subscription-disabled='true'>
      Resubscribe to plan
    </div>
    <div class='button disabled' data-test-resubscribe-change-plan-disabled='true'>
      Subscribe to different plan
    </div>
  {{else if this.subscription.isResubscribable}}
    {{#if this.isV2Subscription}}
      <button {{on 'click' (action (perform this.resubscribe))}} class='button--green mr-1' data-test-resubscribe-subscription='true'>
        Resubscribe to plan
      </button>
    {{/if}}
    <button {{on 'click' this.openPlansSelector}} class='button--white button--hover' data-test-resubscribe-change-plan='true'>
      Subscribe to different plan
    </button>
  {{else}}

    {{#if this.isSharedFrom}}
      <button {{on 'click' this.openPlanChangeConfirmation}} class='button--blue' data-test-change-subscription='true'>
        Buy New Plan
      </button>
    {{else}}
    <button {{on 'click' this.openPlansSelector}} class='button--blue' data-test-change-subscription='true'>
      {{#if this.isCurrentTrial}}
        Upgrade now!
      {{else}}
        Change plan
      {{/if}}
    </button>
    {{/if}}
  {{/if}}
{{/if}}
