{{#unless this.subscription.manualSubscriptionExpired}}
  <section class="plan">
    <h2>
      Plan Overview
    </h2>
    <h3 data-test-plan-name>
      {{this.subscription.plan.name}}
    </h3>
    <p data-test-plan-concurrency>
      {{pluralize this.subscription.plan.builds "concurrent job"}}
    </p>
    <p>
      Renewing on {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
    </p>
  </section>
  <section>
    <h2>
      Billing Information
    </h2>
    <section class="row">
      <section class="payment">
        <h3>
          Payment details
        </h3>
        <Billing::PaymentDetails @subscription={{this.subscription}} />
      </section>
    </section>
  </section>
{{else}}
  <span data-test-expiry-message>
    {{#if this.subscription.manualSubscriptionExpired}}
      You had a {{this.subscription.sourceWords}} subscription that expired on
      {{moment-format this.subscription.validTo "MMMM D, YYYY"}}.
      <ManualSubscriptionHelp />
    {{/if}}
  </span>
{{/unless}}
