<div class="billing-trial">
  <h3 data-test-overview-heading='true'>Overview</h3>
  <div class="initial-billing-view">
    <div class="flex flex--v-center">
      <div class="get-started">
        {{#if this.trial.hasActiveTrial}}
          <p class="get-started__message {{if this.isBuildLessThanEleven 'red' 'color-asphalt-grey'}}" data-test-trial-message='true'>
            You have {{pluralize this.trial.buildsRemaining "trial build"}} left
          </p> 
          <p class="get-started__start-trial color-asphalt-grey" data-test-trial-subtext='true'>
            The trial includes 2 concurrent jobs for both public and private projects.
          </p>
        {{else if this.trial}}
          <p class="source plan-status-message color-asphalt-grey"  data-test-trial-subtext='true'>
            Your trial has just ended.<br />
            To get the most out of Travis CI, set up a plan below!
          </p>
        {{else}}
          <p class="get-started__message color-asphalt-grey" data-test-trial-message='true'>
            100 free builds to get you started
          </p>
          <p class="get-started__start-trial color-asphalt-grey" data-test-trial-subtext='true'>
            Start your trial to get 100 free builds and 2 concurrent jobs for both public and private projects.
          </p>
        {{/if}}
      </div>
      <div class="icon-wrapper flex flex--v-center">
        {{svg-jar "icon-plus" class="icon icon-wrapper__plus"}}
      </div>
      <div class="billing-trial-info" data-test-open-source-box='true'>
        <div class="billing-trial-info__box">
          <p class="billing-trial-info__box--open-source" data-test-open-source-header='true'>We &lt;3 open source</p>
          <p class="billing-trial-info__box--jobs" data-test-open-source-jobs='true'>
            You get 3 free additional concurrent jobs for your open source projects.
          </p>
        </div>
      </div>
    </div>
    {{#if this.showBuildRunningOutBanner}}
      <span class="notice-banner--yellow" data-test-trial-running-out='true'>
        Your trial is almost finished. Subscribe to a plan before your free builds run out!
      </span>
    {{else if this.isBuildFinished}}
      <span class="notice-banner--yellow" data-test-trial-ran-out='true'>
        Your trial has ended. Subscribe to a plan to continue building your project!
      </span>
    {{/if}}
    {{#if this.hasNoActiveTrial}}
      <button class='button--blue activate-button {{if this.hasNoSubscriptionPermissions 'disabled'}}' data-test-activate-button='true'>
        Activate trial
        {{#if this.hasNoSubscriptionPermissions}}
          <EmberTooltip>
            You don't have permission to start a trial
          </EmberTooltip>
        {{/if}}
      </button>
    {{/if}}
    <hr /> 
    {{#if (not this.startBillingProcess)}} 
      <div class='flex flex--col flex--v-center flex--center'>
        <p class='subscribe-message' data-test-subscribe-message='true'>
          <span>
            Looking for a plan that meet your needs?
          </span>
          Subscribe now!
        </p>
        <button onClick={{action 'startBillingProcess'}} data-test-get-a-plan
          class='pointer button get-plan flex flex--col flex--v-center flex--justify-center 
          {{if this.hasNoSubscriptionPermissions 'get-plan--disabled disabled'}}'
        >
          <p>get a plan</p>
          <SvgImage @name='icon-arrow-down' @class='icon-get-plan' />
          {{#if this.hasNoSubscriptionPermissions}}
            <EmberTooltip>
              You don't have permission to create a subscription
            </EmberTooltip>
          {{/if}}
        </button>
      </div>
    {{else}}
      {{#if this.subscription.isGithub}}
        <ExternalLinkTo
          @href={{config-get "marketplaceEndpoint"}}
          class="button--blue marketplace-button"
        >
          Manage on GitHub Marketplace
        </ExternalLinkTo>
      {{else}}
        <BillingProcess 
          @account={{this.account}} 
          @plans={{this.plans}} 
          @newSubscription={{this.newSubscription}}
        />
      {{/if}}
    {{/if}}
  </div>
</div>
