{{#travis-form onSubmit=(action "proceedToPayment") as |form|}}
  <div class="billing-form" data-billing-form>
    <h3 data-test-billing-info-title>
      Billing Cycle
    </h3>
    <div class="flex flex-wrap billing-plan-switch">
      <div class="form-elem">
        {{#form.field
          disableFrame=true
          class="display-value-switch"
          value=showAnnual
          onChange=(action (mut showAnnual)) as |field|
        }}
          {{field.switch offText="Monthly" onText="Yearly"}}
        {{/form.field}}
      </div>
      <div class="billing-plan-switch m-l-s">
        {{#if showMonthly}}
          <h5>
            Recommendation:
          </h5>
          <p>
            Switch to annual billing to recieve
            <span class="font--italic font--bolder">
              one month free!
            </span>
          </p>
        {{/if}}
      </div>
    </div>
    <h3 data-test-choose-plan-heading>
      Choose your plan
    </h3>
    {{billing-select-plan
      displayedPlans=displayedPlans
      selectedPlan=selectedPlan
      showAnnual=showAnnual
    }}
    <h3>
      Contact details
    </h3>
    <div class="flex flex--col flex-md-row">
      <div class="full-width form-elem inline-form-elem">
        {{#form.field
          label="First Name"
          value=billingInfo.firstName
          required=true
          showRequiredMark=true
          showValidationStatusIcons=false
          onChange=(action (mut billingInfo.firstName)) as |field|
        }}
          {{field.input}}
        {{/form.field}}
      </div>
      <div class="full-width form-elem">
        {{#form.field
          label="Last Name"
          value=billingInfo.lastName
          required=true
          showRequiredMark=true
          onChange=(action (mut billingInfo.lastName))
          showValidationStatusIcons=false as |field|
        }}
          {{field.input}}
        {{/form.field}}
      </div>
    </div>
    <div class="form-elem billing-optional-field">
      {{#form.field
        label="Company Name"
        value=billingInfo.company
        onChange=(action (mut billingInfo.company))
        showValidationStatusIcons=false as |field|
      }}
        {{field.input}}
      {{/form.field}}
    </div>
    <div class="form-elem">
      {{#form.field
        label="Billing Email Address"
        value=billingInfo.billingEmail
        required=true
        showRequiredMark=true
        onChange=(action (mut billingInfo.billingEmail))
        showValidationStatusIcons=false as |field|
      }}
        {{field.input}}
      {{/form.field}}
    </div>
    <h3>
      Billing address
    </h3>
    <div class="flex flex--col flex-md-row">
      <div class="full-width form-elem inline-form-elem">
        {{#form.field
          label="Street Address"
          value=billingInfo.billingStreet
          showRequiredMark=true
          required=true
          showValidationStatusIcons=false
          onChange=(action (mut billingInfo.billingStreet)) as |field|
        }}
          {{field.input}}
        {{/form.field}}
      </div>
      <div class="full-width form-elem">
        {{#form.field
          label="Suite,Apt"
          value=billingInfo.billingSuite
          showRequiredMark=true
          required=true
          onChange=(action (mut billingInfo.billingSuite))
          showValidationStatusIcons=false as |field|
        }}
          {{field.input}}
        {{/form.field}}
      </div>
    </div>
    <div class="flex flex--col flex-md-row">
      <div class="full-width form-elem inline-form-elem">
        {{#form.field
          label="City"
          value=billingInfo.billingCity
          showRequiredMark=true
          required=true
          onChange=(action (mut billingInfo.billingCity))
          showValidationStatusIcons=false as |field|
        }}
          {{field.input}}
        {{/form.field}}
      </div>
      <div class="full-width form-elem">
        {{#form.field
          label="Zip Code"
          value=billingInfo.zipCode
          showRequiredMark=true
          required=true
          onChange=(action (mut billingInfo.zipCode))
          showValidationStatusIcons=false as |field|
        }}
          {{field.input}}
        {{/form.field}}
      </div>
    </div>
    <div class="form-elem select">
      {{#form.field
        label="Country"
        value=billingInfo.country
        showRequiredMark=true
        required=true
        onChange=(action (mut billingInfo.country))
        showValidationStatusIcons=false as |field|
      }}
        {{#field.select
          placeholder="Select a country"
          options=countries as |country|
        }}
          {{country}}
        {{/field.select}}
      {{/form.field}}
    </div>
    <div class="form-elem">
      {{#form.field
        label="Vat Id"
        value=billingInfo.vatId
        showRequiredMark=true
        required=true
        onChange=(action (mut billingInfo.vatId))
        showValidationStatusIcons=false as |field|
      }}
        {{field.input}}
      {{/form.field}}
    </div>
    <div class="form-elem">
      <button
        onclick={{form.submit}}
        class="button--blue"
        data-test-subscribe-button
      >
        Proceed to Payment
      </button>
    </div>
  </div>
{{/travis-form}}