{{#if this.subscription.isSubscribed}}
  {{#if this.subscription.activeManagedSubscription}}
    <ManageSubscriptionButton
      @subscription={{this.subscription}}
      @account={{this.account}}
    />
  {{/if}}
  <h2>
    Plan Overview
  </h2>
  <section class="plan">
    {{#if this.isGithubTrial}}
      <p data-test-trial-message class="source plan-status-message">
        You're trialing Travis CI via your
        <ExternalLinkTo
          @href={{config-get "marketplaceEndpoint"}}
          class="billing-section-link"
        >
          Github Marketplace subscription.
        </ExternalLinkTo>
      </p>
    {{/if}}
    <h3 data-test-plan-name>
      {{if this.subscription.plan this.subscription.plan.name "Unknown plan"}}
    </h3>
    <p data-test-plan-concurrency>
      {{#if this.subscription.plan}}
        {{pluralize this.subscription.plan.builds "concurrent job"}}
      {{else}}
        Unknown concurrent jobs
      {{/if}}
    </p>
    <p>
      Renewing on {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
    </p>
  </section>
  <h2>
    Billing Information
  </h2>
  <section class="row">
    {{#if this.subscription.isStripe}}
      <section class="contact">
        <h3>
          Billing Contact
        </h3>
        <BillingAddress @billingInfo={{this.subscription.billingInfo}} />
      </section>
    {{/if}}
    {{#if this.subscription.plan}}
      <section class="payment">
        <h3>
          Payment details
        </h3>
        <PaymentDetails @subscription={{this.subscription}} />
      </section>
    {{/if}}
  </section>
{{/if}}
{{#if this.subscription.isExpired}}
  <h2>
    Plan Overview
  </h2>
  <span data-test-expiry-message>
    You had a {{this.subscription.sourceWords}} subscription
    that expired on {{moment-format this.subscription.validTo "MMMM D, YYYY"}}.
  </span>
{{/if}}
{{#if this.subscription.isCanceled}}
  <h2>
    Plan Overview
  </h2>
  <span data-test-expiry-message>
    This subscription has been canceled by you and is valid through
    {{moment-format this.subscription.validTo "MMMM D, YYYY"}}.
  </span>
{{/if}}
{{#if this.subscription.isResubscribable}}
  <ResubscribeButton
    @subscription={{this.subscription}}
    @account={{this.account}}
  />
{{/if}}
{{#if this.subscription.isGithubResubscribable}}
  <ExternalLinkTo @href={{config-get "marketplaceEndpoint"}} class="button--blue marketplace-button">
    Continue with GitHub Marketplace
  </ExternalLinkTo>
  <div class="subscription-divider"></div>
  <p class="new-subscription-message">
    Or subscribe directly with Travis CI
  </p>
  <NewSubscriptionButton @account={{this.account}} />
{{/if}}
