{{#let this.billingInfo as |info|}}
  <p>
    {{info.firstName}}
    {{info.lastName}}
  </p>
  {{#if info.company}}
    <p>
      {{info.company}}
    </p>
  {{/if}}
  <p>
    {{info.address}}
  </p>
  {{#if info.address2}}
    <p>
      {{info.address2}}
    </p>
  {{/if}}
  {{#if info.state}}
    <p>
      {{info.city}}, {{info.state}} {{info.zipCode}}
    </p>
  {{else}}
    <p>
      {{info.city}} {{info.zipCode}}
    </p>
  {{/if}}
  <p>
    {{info.country}}
  </p>
  {{#if info.vatId}}
    <p>
      VAT: {{info.vatId}}
    </p>
  {{/if}}
{{/let}}
