<h2 class="color-oxide-blue font--light">Overview</h2>

{{#if trial.hasActiveTrial}}

  <p data-test-trial-message class="source plan-status-message">
    You've got {{pluralize this.trial.buildsRemaining "trial build"}} left.<br />
    Ensure unlimited builds by setting up a plan before it runs out!
  </p>
{{else if this.trial}}
  <p data-test-trial-message class="source plan-status-message">
    Your trial has just ended.<br />
    To get the most out of Travis CI, set up a plan below!
  </p>
{{else}}

  <div class="initial-billing-view">
    <div class="flex">
      <div class="get-started">
        <p class="get-started__builds">
          100 free builds to get you started
        </p>
        <p class="get-started__start-trial">
          Start your trial to get 100 free builds and 2 concurrent jobs for both public and private projects.
        </p>
      </div>
      <div class="icon-wrapper flex flex--v-center">
        {{svg-jar "icon-plus" class="icon icon-wrapper__plus"}}
      </div>
      <div class="flex billing-trial-info">
        <div class="billing-trial-info__box">
          <p class="billing-trial-info__box--open-source">We &lt;3 open source.</p>
          <p class="billing-trial-info__box--jobs">
            3 concurrent jobs for your open source projects are always free.
          </p>
        </div>
      </div>
    </div>
    <button class='button--blue activate-button'>
      Activate trial
    </button>
    <hr/>
  </div>

{{/if}}
{{#if this.subscription.isGithub}}
  <ExternalLinkTo
    @href={{config-get "marketplaceEndpoint"}}
    class="button--blue marketplace-button"
  >
    Manage on GitHub Marketplace
  </ExternalLinkTo>
{{else}}
  <BillingProcess @trial={{trial}} @account={{account}} @plans={{plans}} @newSubscription={{newSubscription}}/>
{{/if}}

