{{#if account.hasSubscriptionPermissions}}
  {{#travis-form onSubmit=(perform save) as |form|
  }}
    <div class="billing-form" data-billing-form>
      <h3>Billing Cycle</h3>
        <div class="flex flex-wrap billing-plan-switch">
          <div class="form-elem">
            {{#form.field
              disableFrame=true
              class='display-value-switch'
              value=showAnnual
              onChange=(action (mut showAnnual))
              as |field|
            }}
              {{field.switch
                offText="Monthly"
                onText="Yearly"
              }}
            {{/form.field}}
          </div>
          <div class="billing-plan-switch m-l-s">
            {{#if showMonthly}}
              <h5>Recommendation:</h5>
              <p>
                Switch to annual billing to recieve <span class="font--italic font--bolder">one month free!</span>
              </p>
            {{/if}}
          </div>
        </div>
      <h3>Choose your plan</h3>
        {{billing-select-plan 
          displayedPlans=displayedPlans
          selectPlan=(action "selectPlan")
          selectedPlan=selectedPlan
        }}
      <h3>Contact details</h3>
      <p class="billing-form-message">All fields are required unless marked as optional.</p>
      <div class="flex flex--col flex-md-row">
        <div class="full-width form-elem inline-form-elem">
          {{#form.field
            label='First Name'
            value=firstName
            required=true
            showValidationStatusIcons=false
            onChange=(action (mut firstName))
            as |field|
          }}
            {{field.input}}
          {{/form.field}}
        </div>
        <div class="full-width form-elem">
          {{#form.field
            label='Last Name'
            value=lastName
            required=true
            onChange=(action (mut lastName))
            showValidationStatusIcons=false
            as |field|
          }}
            {{field.input}}
          {{/form.field}}
        </div>
      </div>
      <div class="form-elem billing-optional-field">
        {{#form.field
            label='Company Name'
            value=companyName
            showOptionalMark=true
            onChange=(action (mut companyName))
            showValidationStatusIcons=false
            as |field|
          }}
          {{field.input}}
        {{/form.field}}
      </div>
      <div class="form-elem">
        {{#form.field
            label='Billing Email Address'
            value=billingEmail
            required=true
            onChange=(action (mut billingEmail))
            showValidationStatusIcons=false
            as |field|
          }}
          {{field.input}}
        {{/form.field}}
      </div>
      <h3>Billing address</h3>
      <p class="billing-form-message">All fields are required unless marked as optional.</p>
      <div class="flex flex--col flex-md-row">
        <div class="full-width form-elem inline-form-elem">
          {{#form.field
            label='Street Address'
            value=billingStreet
            required=true
            showValidationStatusIcons=false
            onChange=(action (mut billingStreet))
            as |field|
          }}
            {{field.input}}
          {{/form.field}}
        </div>
        <div class="full-width form-elem">
          {{#form.field
            label='Suite,Apt'
            value=billingSuite
            required=true
            onChange=(action (mut billingSuite))
            showValidationStatusIcons=false
            as |field|
          }}
            {{field.input}}
          {{/form.field}}
        </div>
      </div>
      <div class="flex flex--col flex-md-row">
        <div class="full-width form-elem inline-form-elem">
          {{#form.field
            label='City'
            value=billingCity
            required=true
            onChange=(action (mut billingCity))
            showValidationStatusIcons=false
            as |field|
          }}
            {{field.input}}
          {{/form.field}}
        </div>
        <div class="full-width form-elem">
          {{#form.field
            label='Zip Code'
            value=billingZipCode
            required=true
            onChange=(action (mut billingZipCode))
            showValidationStatusIcons=false
            as |field|
          }}
            {{field.input}}
          {{/form.field}}
        </div>
      </div>
      <div class="form-elem select">
        {{#form.field
          label='Country'
          value=country
          required=true
          onChange=(action (mut country))
          showValidationStatusIcons=false
          as |field|
        }}
          {{#field.select 
            placeholder='Select a country'
            options=countries as |country|
          }}
            {{country}}
          {{/field.select}}
        {{/form.field}}
      </div>
      <div class="form-elem">
        {{#form.field
          label='Vat Id'
          value=vatId
          required=true
          onChange=(action (mut vatId))
          showValidationStatusIcons=false
          as |field|
        }}
          {{field.input}}
        {{/form.field}}
      </div>
      <div class='form-elem'>
        {{#if save.isRunning}}
          {{loading-indicator}}
        {{else}}
          <button onclick={{form.submit}} class='button--blue' data-test-subscribe-button>
            Proceed to Payment
          </button>
        {{/if}}
      </div>
    </div>
  {{/travis-form}}
{{else}}
  <p data-test-no-permission-message>You do not have permission to create a subscription</p>
{{/if}}
