<div>
  <BillingSelectPlan @selectedPlan={{selectedPlan}} @showAnnual={{showAnnual}} />
  <h2>
    Credit card details
  </h2>
  <p data-test-payment-info>
    Your credit card details are never stored or even reach our servers.
    Payment and credit card details are handled by Stripe.
  </p>

  <form data-test-payment-form>
    <Input name="cardName" />
    <Input name="discountCode" />
    <StripeCard @complete={{action "complete"}} @options={{options}} as |stripeError|>
      {{#if stripeError}}
      <p>{{stripeError.message}}</p>
      {{/if}}
    </StripeCard>
    {{#if isLoading}}
    {{loading-indicator}}
    {{else}}
    <button {{action "submit"}}>Submit</button>
    <span onclick={{action cancel}} class='billing-process-cancel link'>Cancel</span>
    {{/if}}
  </form>
</div>