<section class="billing-subscription">
  {{#if this.subscription.isSubscribed}}
    {{#if (and (not this.subscription.isStripe) this.subscription.activeManagedSubscription)}}
      <ManageSubscriptionButton
        @subscription={{this.subscription}}
        @account={{this.account}}
      />
    {{/if}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @planMessage="Valid until"
    />
    <hr />
    <BillingAddress @subscription={{this.subscription}} />
    <PaymentDetails @subscription={{this.subscription}} />
    <hr />
  {{/if}}
  {{#if this.subscription.isExpired}}
    <h3>
      Overview
    </h3>
    <span data-test-expiry-message>
      You had a {{this.subscription.sourceWords}} subscription
      that expired on {{moment-format this.subscription.validTo "MMMM D, YYYY"}}.
    </span>
  {{/if}}
  {{#if this.subscription.isCanceled}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}} 
      @price={{this.price}}
      @account={{this.account}}
      @planMessage="Subscription has been canceled, valid until"
    />
  {{/if}}
  {{#if this.subscription.isPending}}

    <h3>Overview</h3>
    <span data-test-pending-message>
      This subscription is pending verification from Stripe, and should be approved in a few minutes.
    </span>

  {{/if}}
  {{#if this.subscription.isGithubResubscribable}}
    <ExternalLinkTo @href={{config-get "marketplaceEndpoint"}} class="button--blue marketplace-button">
      Continue with GitHub Marketplace
    </ExternalLinkTo>
    <div class="subscription-divider"></div>
    <p class="new-subscription-message">
      Or subscribe directly with Travis CI
    </p>
    <NewSubscriptionButton @account={{this.account}} />
  {{/if}}
</section>
