{{#unless model.subscriptions.manualSubscriptionExpired}}
  <section class='plan'>
    <h2>Plan Overview</h2>
    <h3 data-test-plan-name>{{model.subscriptions.plan.name}}</h3>
    <p data-test-plan-concurrency>{{pluralize model.subscriptions.plan.builds 'concurrent job'}}</p>
    <p>Renewing on {{moment-format model.subscriptions.validTo 'MMMM D, YYYY'}}</p>
  </section>
  <section>
    <h2>Billing Information</h2>
    <section class='row'>
      <section class='payment'>
        <h3>Payment details</h3>
        {{payment-details subscription=model.subscriptions}}
      </section>
    </section>
  </section>
{{else}}
  <span data-test-expiry-message>
    {{#if model.subscriptions.manualSubscriptionExpired}}
    You had a {{model.subscriptions.sourceWords}} subscription that expired on {{moment-format
    model.subscriptions.validTo 'MMMM D, YYYY'}}.
    {{manual-subscription-help}}
    {{/if}}
  </span>
{{/unless}}