<div class='billing-checkout'>
  <SelectedBillingPlan 
    @selectedPlan={{this.selectedPlan}} 
    @showAnnual={{this.showAnnual}} 
    @goToFirstStep={{action this.goToFirstStep}}
  />
  <div class='flex billing-checkout__details'>
    <div class='flex--col-3'>
      <h4>contact details:</h4>
      <p class='billing-checkout__details--info'>{{fullName}}</p>
      <p class='billing-checkout__details--info'>{{company}}</p>
      <div>
       <p class='billing-checkout__details--email'>{{email}}</p>
      </div>
      <p class='edit link' onClick={{action back}}>Edit</p>
    </div>
    <div class='flex--col-3'>
      <h4>billing details:</h4>
      <p class='billing-checkout__details--info'>{{address}}</p>
      <p class='billing-checkout__details--info'>{{city}}</p>
      <p class='billing-checkout__details--info'>{{country}}</p>
      <p class='edit link' onClick={{action back}}>Edit</p>
    </div>
    <div class='flex--col-3'>
      <h4>discount</h4>
    </div>
  </div>
  <h3>
    Pay with card
  </h3>
 <TravisForm @onSubmit={{perform this.createStripeToken}} data-test-payment-form as |form|>
   <div class='full-width form-elem inline-form-elem'>
    <form.field
      @label='Name'
      @value={{this.cardName}}
      @required={{true}}
      @showRequiredMark={{true}}
      @showValidationStatusIcons={{false}}
      @onChange={{action (mut this.cardName)}} as |Field|
    >
      <Field.input @name='cardName' placeholder='Rose Jaime'/>
    </form.field>
  </div>
  <StripeCard @complete={{action "complete"}} @options={{this.options}} as |stripeError|>
    {{#if stripeError}}
      <p>{{stripeError.message}}</p>
    {{/if}}
  </StripeCard>
  {{#if this.isLoading}}
    {{loading-indicator}}
  {{else}}
    <div class='billing-checkout__payment'>
      <button class='button--blue' {{action form.submit}}>
        Pay {{format-currency this.selectedPlan.price}}
      </button>
    </div>
  {{/if}}
 </TravisForm>
</div>
