<div class='billing-subscription-section plan-overview'>
  <div class="flex flex--space-between flex--wrap plan-overview__details">
    <section>
      <h3 class='plan-overview__header'> Overview </h3>
      <div class='plan'>
        <div>
          <BillingSummaryStatus 
            @subscription={{this.subscription}}
            @isPending={{this.isPending}}
          />
          <p class='plan-overview__description' data-test-plan-concurrency>
            {{#if this.subscription.plan}}
              {{pluralize this.subscription.plan.builds "concurrent job"}}
            {{else}}
              Unknown concurrent jobs
            {{/if}}
            <span data-test-plan-message='true' class='plan-overview__description--validity 
              {{if this.canceledOrExpired 'red' 'cement-grey'}}'
            >
              {{this.planMessage}} 
              {{#if (and this.isComplete this.isNotPending)}}
                {{#if this.isCanceled}}
                  {{moment-from-now this.subscription.validTo}} on {{moment-format this.subscription.validTo "MMMM DD"}}
                {{else}}
                  {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
                {{/if}}
              {{/if}}
            </span>
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class='selected-plan__price'>
        <p class='selected-plan__price--total' data-test-plan-total='true'>
          Total:
        </p>
        {{#if this.subscription.plan }}
          {{#if this.subscription.isManual}}
            <ManualSubscriptionHelp />
          {{else}}
            <p class='selected-plan__price--large' data-test-price>
              {{format-currency this.price floor='true'}}
            </p>
          {{/if}}
        {{/if}}
        <span data-test-selected-plan-period='true' class='selected-plan__period'>
          {{if this.subscription.plan.annual '/year' '/month'}}
        </span>
      </div>
    </section>
  </div>
  {{#if this.isPending}}
    <span class="notice-banner--yellow" data-test-trial-running-out='true'>
      We are currently waiting for Stripe to finish processing your order.
    </span>
  {{/if}}
  {{#if this.showPlansSelector}}
    <BillingSelectPlan
      @title="Edit Plan"
      @displayedPlans={{this.displayedPlans}}
      @selectedPlan={{this.selectedPlan}}
      @showMonthly={{this.showMonthly}}
      @showAnnual={{this.showAnnual}}
      @showPlansSelector={{this.showPlansSelector}}
      @submit={{this.editPlan}}
      @showCancelButton={{true}}
    />
  {{else}}
    <div class="flex flex--wrap billing-subscription__buttons">
      {{#if (and this.isComplete this.isNotPending this.subscription.isStripe)}}
        <div class="billing-subscription__buttons--change">
          {{#if this.resubscribeLoading}}
            <LoadingIndicator />
          {{else if this.canResubscribe}}
            <button onClick={{action (perform this.resubscribe)}} class='button--green' data-test-resubscribe-subscription='true'>
              Resubscribe to plan
            </button>
          {{else if this.canChangePlan}}
            <button onClick={{action (toggle 'showPlansSelector' this)}} class='button--blue' data-test-change-subscription='true'>
              Change plan
            </button>
          {{/if}}
        </div>
        <div class='billing-subscription__buttons--cancel'>
          {{#if this.cancelSubscriptionLoading}}
            <LoadingIndicator />
          {{else if this.canCancelSubscription}}
            <button onClick={{action (perform this.cancelSubscription)}} class='button--white' data-test-cancel-subscription='true'>
              Cancel subscription
            </button>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
<hr />
{{#if this.showBillingInfo}}
  <BillingAddress @subscription={{this.subscription}} />
  <PaymentDetails @subscription={{this.subscription}} />
  <hr />
{{/if}}
{{#if this.showCancelModal}}
  <ModalDialog
    @targetAttachment="center"
    @translucentOverlay={{true}}
    @overlayPosition="sibling"
    @animatable={{true}}
  >
    <div class="flex flex--v-center flex--center flex--col cancel-subscription-modal">
      <h2>We're sorry you'd like to cancel</h2>
      <p class="cancel-subscription-modal__message">
        To keep improving our product and how it works for our users, <br/> we'd like to hear your feedback on why you're cancelling.
      </p>
      <h4>reason for cancellation</h4>
      <div class="flex cancel-subscription-modal__reason-options">
        <div>
          <p>price</p>
        </div>
        <div>
          <p>support</p>
        </div>
        <div>
          <p>build times</p>
        </div>
        <div>
          <p>end of project</p>
        </div>
        <div>
          <p>other</p>
        </div>
      </div>
      <TravisForm
        @onSubmit={{perform this.cancelSubscription}}
        class="full-width"
        as |form|
      >
        <div class="form-elem">
          <form.field
            @label=""
            as |field|
          >
            <field.textarea class="" rows="5" placeholder="Could you share more information with us?">{{this.reasonDetails}}</field.textarea>
          </form.field>
        </div>
        <div class="flex">
          {{#if this.cancelSubscription.isRunning}}
            <LoadingIndicator />
          {{else}}
            <button onclick={{action form.submit}} class="cron-form-submit form-submit">
              Confirm cancellation
            </button>
            <a class="link">
              I changed my mind
            </a>
          {{/if}}
        </div>
      </TravisForm>
    </div>
  </ModalDialog>
{{/if}}