<section class="invoices">
  <h2>
    Invoice History
  </h2>
  <p>
    <SvgImage @name="icon-help" @class="icon-help" />
    Having trouble with your invoices?
    <LinkTo @route="help" @query={{hash anchor="form"}}>
      We’re happy to help
    </LinkTo>
  </p>
  <table>
    <thead>
      <tr>
        <th>
          invoice date
        </th>
        <th>
          payment card
        </th>
        <th>
          total
        </th>
        <th>
          download
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each (sort-by 'createdAt:desc' invoices) as |invoice|}}
      <tr>
        <td>
          <p>
            {{svg-jar 'icon-invoice' class='icon'}}
            {{invoice.id}} {{moment-format invoice.createdAt 'MMMM YYYY'}}
          </p>
        </td>
        <td>
          <p>•••• •••• •••• {{subscription.creditCardInfo.lastDigits}}</p>
        </td>
        <td>
          <p> ${{subscription.plan.price }}</p>
        </td>
        <td>
          <a data-test-invoice href={{invoice.url}}>
            Download {{svg-jar 'icon-invoice' class='icon'}}
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
