{{#if this.subscription.isStripe}}
  <section class="contact">
    {{#let this.subscription.billingInfo as |info|}}
      <h4>
        Contact Details:
      </h4>
      <div data-test-user-details='true' class="flex flex--wrap">
        <p>
          {{info.firstName}} {{info.lastName}}
          <span>|</span>
        </p>
        {{#if info.company}}
          <p>
            {{info.company}}
            <span>|</span>
          </p>
        {{/if}}
        {{#if info.billingEmail}}
          <p>
            {{info.billingEmail}}
          </p>
        {{/if}}
      </div>
      <h4>
        Billing Details:
      </h4>
      <div data-test-billing-details='true' class="flex flex--wrap">
        {{#if info.address}}
          <p>
            {{info.address}}
            <span>|</span>
          </p>
        {{/if}}
        {{#if info.city}}
          <p>
            {{info.city}}
            <span>|</span>
          </p>
        {{/if}}
        {{#if info.country}}
          <p>
            {{info.country}}
          </p>
        {{/if}}
      </div>
    {{/let}}
  </section>
{{/if}}
