<section>
  {{#if this.subscription.manualSubscriptionExpired}}
    <div class="billing-subscription">
      <Billing::Summary
        @subscription={{this.subscription}}
        @account={{this.account}}
        @planMessage="Expired"
      />
    </div>
    <Billing::Process
      @account={{this.account}}
      @selectedPlan={{this.selectedPlan}}
    />
  {{else}}
    <section class="billing-subscription">
      <Billing::Summary
        @subscription={{this.subscription}}
        @account={{this.account}}
      />
      <div class='mt-5'>
        <h3>
          Billing details
        </h3>
        <p class="flex px-4 py-5 shadow items-center notice-banner--white" data-test-help-text='true'>
          <div class="mr-4">
            <SvgImage @name='icon-help' @class='icon-help' />
          </div>
          <span class="py-1 leading-loose" data-test-manual-subscription-banner='true'>
            This manual subscription is paid to Travis CI by bank transfer. If you have any questions or would like to update your plan,
            <ExternalLinkTo @href={{config-get 'urls.resources'}} @title="Travis CI Resources">
              contact our support team.
            </ExternalLinkTo> 
          </span>
        </p>
      </div>
    </section>
  {{/if}}
</section>
