<h2 class="color-asphalt-blue font--light">Overview</h2>

{{#if trial.hasActiveTrial}}

  <p data-test-trial-message class="source plan-status-message">
    You've got {{pluralize this.trial.buildsRemaining "trial build"}} left.<br />
    Ensure unlimited builds by setting up a plan before it runs out!
  </p>
{{else if this.trial}}
  <p data-test-trial-message class="source plan-status-message">
    Your trial has just ended.<br />
    To get the most out of Travis CI, set up a plan below!
  </p>
{{else}}

  <p>There is currently no activity on your account. Let's get you started!</p>
  <div class="flex billing-trial-info-box">
    {{!-- <div>
      icon
    </div> --}}
    <div>
      <p class="margin-top-0">For your public projects you always get 3 concurrent jobs for free on all build environments.</p>
      <p class="margin-bottom-0 margin-top-0">
        <a data-test-trial-link href={{config-get 'urls.gettingStarted'}} target="_blank" class="billing-section-link">Trigger and build</a> and you will be on your way!
      </p>
    </div>
  </div>

  <h2 class="color-asphalt-blue font--light">Trial</h2>
  <p>Test private repositories and get extra concurrency for your open source projects.</p>
  <div class="billing-trial-table">
    <table>
      <thead>
        <tr data-test-table-header-row>
          <th> invoice date </th>
          <th> payment card </th>
          <th> total </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Private repositories </td>
          <td> 2 concurrent jobs </td>
          <td> 100 builds </td>
        </tr>
        <tr>
          <td> Private repositories </td>
          <td> 2 concurrent jobs </td>
          <td> 100 builds </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p data-test-trial-message class="source plan-status-message">
    Your trial includes 100 trial builds and 2-concurrent-jobs, no credit card required.<br />
    Need help?
    <ExternalLinkTo
      data-test-trial-link="true"
      @href={{config-get "urls.gettingStarted"}}
      class="billing-section-link"
    >
      Check our getting started guide.
    </ExternalLinkTo>
  </p>
{{/if}}
{{#if this.subscription.isGithub}}
  <ExternalLinkTo
    @href={{config-get "marketplaceEndpoint"}}
    class="button--blue marketplace-button"
  >
    Manage on GitHub Marketplace
  </ExternalLinkTo>
{{else}}
  <BillingProcess @trial={{trial}} @account={{account}} @plans={{plans}} @newSubscription={{newSubscription}}/>
{{/if}}

