<div class='billing-subscription-section plan-overview'>
  <div class="flex flex--space-between flex--wrap plan-overview__details">
    <section>
      <h3 class='plan-overview__header'> Overview </h3>
      <div class='plan'>
        {{#if this.isGithubTrial}}
          <p data-test-trial-message class="source plan-status-message">
            You're trialing Travis CI via your
            <ExternalLinkTo
              @href={{config-get "marketplaceEndpoint"}}
              class="billing-section-link"
            >
              Github Marketplace subscription.
            </ExternalLinkTo>
          </p>
        {{/if}}
        <div>
          <BillingSummaryStatus 
            @subscription={{this.subscription}}
            @isPending={{this.isPending}}
          />
          <p class='plan-overview__description' data-test-plan-concurrency>
            {{#if this.subscription.plan}}
              {{pluralize this.subscription.plan.builds "concurrent job"}}
            {{else}}
              Unknown concurrent jobs
            {{/if}}
            <span data-test-plan-message='true' class='plan-overview__description--validity 
              {{if this.canceledOrExpired 'red' 'cement-grey'}}'
            >
              {{this.planMessage}} 
              {{#if (and this.isComplete this.isNotPending)}}
                {{#if this.isCanceled}}
                  {{moment-from-now this.subscription.validTo}} on {{moment-format this.subscription.validTo "MMMM DD"}}
                {{else}}
                  {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
                {{/if}}
              {{/if}}
            </span>
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class='selected-plan__price'>
        <p class='selected-plan__price--total' data-test-plan-total='true'>
          Total:
        </p>
        {{#if this.subscription.plan }}
          {{#if this.subscription.isManual}}
            <ManualSubscriptionHelp />
          {{else}}
            <p class='selected-plan__price--large' data-test-price>
              {{format-currency this.price floor='true'}}
            </p>
          {{/if}}
        {{/if}}
        <span data-test-selected-plan-period='true' class='selected-plan__period'>
          {{if this.subscription.plan.annual '/year' '/month'}}
        </span>
      </div>
    </section>
  </div>
  {{#if this.isPending}}
    <span class="notice-banner--yellow" data-test-trial-running-out='true'>
      We are currently waiting for Stripe to finish processing your order.
    </span>
  {{/if}}
  <div class="flex billing-subscription__buttons">
  {{#if (and this.isComplete this.isNotPending)}}
    <div class="billing-subscription__buttons--change">
      {{#if this.resubscribeLoading}}
        <LoadingIndicator />
      {{else if this.canResubscribe}}
        <button onClick={{action (perform this.resubscribe)}} class='button--green' data-test-resubscribe-subscription='true'>
          Resubscribe to plan
        </button>
      {{else}}
        <button class='button--blue' data-test-change-subscription='true'>
          Change plan
        </button>
      {{/if}}
    </div>
    <div class='billing-subscription__buttons--cancel'>
      {{#if this.cancelSubscriptionLoading}}
        <LoadingIndicator />
      {{else if this.canCancelSubscription}}
        <button onClick={{action (perform this.cancelSubscription)}} class='button--white' data-test-cancel-subscription='true'>
          Cancel subscription
        </button>
      {{/if}}
    </div>
  {{/if}}
  </div>
</div>
<hr />
{{#if this.isCompleteAndNotExpired}}
  <BillingAddress @subscription={{this.subscription}} />
  <PaymentDetails @subscription={{this.subscription}} />
  <hr />
{{/if}}
