<h2>Plan Overview</h2>

{{#if trial.hasActiveTrial}}

  <p data-test-trial-message class="source plan-status-message">
    You've got {{pluralize trial.buildsRemaining 'trial build'}} left.<br />
    Ensure unlimited builds by setting up a plan before it runs out!
  </p>

{{else if trial}}

  <p data-test-trial-message class="source plan-status-message">
    Your trial has just ended.<br />
    To get the most out of Travis CI, set up a plan below!
  </p>

{{else}}

  <p data-test-trial-message class="source plan-status-message">
    Your trial includes 100 trial builds and 2-concurrent-jobs, no credit card required. <br />
    Need help? <a data-test-trial-link href={{config-get 'urls.gettingStarted'}} target="_blank" class="billing-section-link">Check our getting started guide</a>.
  </p>

{{/if}}
{{#if subscription.isGithub}}

  <a href={{config-get 'marketplaceEndpoint'}} class='button--blue marketplace-button'>
    Manage on GitHub Marketplace
  </a>

{{else}}

  {{new-subscription-button trial=trial account=account}}

{{/if}}