<p class='plan-overview__name flex flex--v-center' data-test-plan-name='true'>
  {{#if this.subscription.plan }}
    {{concat this.subscription.plan.name ' plan'}}
  {{else}}
    Unknown plan
  {{/if}}
  {{#if (and this.subscription.isSubscribed this.subscription.isStripe)}}
    <span class="badge green square" data-test-active-status='true'>
      active
    </span>
  {{else if this.subscription.isExpired}}
    <span class="badge grey square" data-test-canceled-status='true'>
      canceled
    </span>
    <span class="badge red square" data-test-expired-status='true'>
      {{this.subscription.status}}
    </span>
  {{else if this.subscription.isManual}}
    {{#if this.subscription.manualSubscriptionExpired}}
      <span class="badge red square" data-test-expired-status='true'>
        expired
      </span>
    {{else}}
      <span class="badge green square" data-test-active-status='true'>
        active
      </span>
    {{/if}}
    <span class="badge square white-badge manual" data-test-manual-status='true'>
      manual subscription
    </span>
  {{else if this.subscription.isGithub}}
    <span class="badge green square" data-test-active-status='true'>
      active
    </span>
    <span class="badge square white-badge" data-test-github-status='true'>
      github marketplace subscription
    </span>
  {{else}}
    <span class="badge grey square" data-test-grey-status='true'>
      {{this.subscription.status}}
    </span>
  {{/if}}
</p>
