<h3> Overview </h3>
<div class='plan-overview'>
  <div class="flex flex--space-between flex--wrap">
    <section class="plan">
      {{#if this.isGithubTrial}}
        <p data-test-trial-message class="source plan-status-message">
          You're trialing Travis CI via your
          <ExternalLinkTo
            @href={{config-get "marketplaceEndpoint"}}
            class="billing-section-link"
          >
            Github Marketplace subscription.
          </ExternalLinkTo>
        </p>
      {{/if}}
      <p class='plan__name' data-test-plan-name>
        {{#if this.subscription.plan }}
          {{concat this.subscription.plan.name ' plan'}} 
        {{else}}
          Unknown plan
        {{/if}}
      </p>
      <SvgImage @name="icon-checkmark" @class="icon--color" />
      <p data-test-plan-concurrency>
        {{#if this.subscription.plan}}
          {{pluralize this.subscription.plan.builds "concurrent job"}}
        {{else}}
          Unknown concurrent jobs
        {{/if}}
      </p>
      <p data-test-plan-message='true'>
        {{this.planMessage}} {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
      </p>
    </section>
    <section>
      <div class='selected-plan__price'>
        <p class='selected-plan__price--total' data-test-plan-total='true'>
          Total:
        </p>
        {{#if this.subscription.plan }}
          <p class='selected-plan__price--large' data-test-price>
            {{#if this.subscription.isManual}}
              <ManualSubscriptionHelp />
            {{else}}
              {{format-currency this.price floor='true'}}
              <span>
                  {{if this.subscription.plan.annual '/year' '/month'}}
              </span>
            {{/if}}
          </p>
        {{/if}}
      </div>
    </section>
  </div>
  <div class="flex flex--space-between">

    {{#if this.resubscribeLoading}}
      <LoadingIndicator />
    {{else if (and this.subscription.isResubscribable this.account.hasSubscriptionPermissions)}}
      <button onClick={{action 'resubscribe'}} class='edit link' data-test-resubscribe-subscription='true'>
        resubscribe
      </button>
    {{else}}
      <button class='edit link' data-test-change-subscription='true'>
        change plan
      </button>
    {{/if}}
    <div>
      {{#if this.cancelSubscriptionLoading}}
        <LoadingIndicator />
      {{else if (and (not this.subscription.isCanceled) this.account.hasSubscriptionPermissions)}}
        <button onClick={{action 'cancelSubscription'}} class='edit link' data-test-cancel-subscription='true'>
          cancel
        </button>
      {{/if}}
    </div>
  </div>
</div>
