<section class="billing-subscription">
  {{#if this.subscription.isSubscribed}}
    {{#if (and (not this.subscription.isStripe) this.subscription.activeManagedSubscription)}}
      <ManageSubscriptionButton
        @subscription={{this.subscription}}
        @account={{this.account}}
      />
    {{/if}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @planMessage="Valid until"
      @isActive={{true}}
    />
  {{else if this.subscription.isCanceled}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}} 
      @price={{this.price}}
      @account={{this.account}}
      @planMessage="Expires"
      @isCanceled={{true}}
    />
  {{else if this.isPending}}
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @isPending={{true}}
    />
  {{else if this.subscription.isExpired}}
  
    <BillingSummary 
      @isGithubTrial={{this.isGithubTrial}} 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @isExpired={{true}}
      @planMessage="Expired"
    />
  {{/if}}

  {{#if this.subscription.isGithubResubscribable}}
    <ExternalLinkTo @href={{config-get "marketplaceEndpoint"}} class="button--blue marketplace-button">
      Continue with GitHub Marketplace
    </ExternalLinkTo>
    <div class="subscription-divider"></div>
    <p class="new-subscription-message">
      Or subscribe directly with Travis CI
    </p>
    <NewSubscriptionButton @account={{this.account}} />
  {{/if}}
</section>
