<div>
  <BillingSelectPlan
    @selectedPlan={{selectedPlan}}
    @showAnnual={{showAnnual}}
  />
  <h2>
    Credit card details
  </h2>
  <p data-test-payment-info>
    Your credit card details are never stored or even reach our servers.
    Payment and credit card details are handled by Stripe.
  </p>

  <form data-test-payment-form>
    <StripeCardNumber @complete={{action "complete"}} @options={{options}} as |stripeError|>
      {{#if stripeError}}
        <p>{{stripeError.message}}</p>
      {{/if}}
    </StripeCardNumber>
    {{input name="cardName"}}
    <StripeCardExpiry @options={{options}} as |stripeError|>
      {{#if stripeError}}
        <p>{{stripeError.message}}</p>
      {{/if}}
    </StripeCardExpiry>
    <StripeCardCvc @options={{options}} as |stripeError|>
      {{#if stripeError}}
        <p>{{stripeError.message}}</p>
      {{/if}}
    </StripeCardCvc>
    {{input name="discountCode"}}
    {{#if isLoading}}
      {{loading-indicator}}
    {{else}}
      <button {{action "submit"}}>Submit</button>
      <span onclick={{action cancel}} class='billing-process-cancel link'>Cancel</span>
    {{/if}}
  </form>
</div>