<h2 class="color-oxide-blue font--light">Overview</h2>

{{#if trial.hasActiveTrial}}

  <p data-test-trial-message class="source plan-status-message">
    You've got {{pluralize this.trial.buildsRemaining "trial build"}} left.<br />
    Ensure unlimited builds by setting up a plan before it runs out!
  </p>
{{else if this.trial}}
  <p data-test-trial-message class="source plan-status-message">
    Your trial has just ended.<br />
    To get the most out of Travis CI, set up a plan below!
  </p>
{{else}}

  <NoActivityTrial/>

{{/if}}
{{#if this.subscription.isGithub}}
  <ExternalLinkTo
    @href={{config-get "marketplaceEndpoint"}}
    class="button--blue marketplace-button"
  >
    Manage on GitHub Marketplace
  </ExternalLinkTo>
{{else}}
  <BillingProcess @trial={{trial}} @account={{account}} @plans={{plans}} @newSubscription={{newSubscription}}/>
{{/if}}

