<div class="two-line fade-out">
  <div class="row-name">
    <h2 class="row-item">{{status-icon status=branch.last_build.state}}
    <span class="label-align {{branch.last_build.state}}">{{branch.name}}</span></h2>
  </div>
  <div class="row-builds">
    <div class="row-item">
      {{svg-jar 'icon-builds' class="icon"}}
    <span class="label-align">
    {{#if branch.last_build}}
      {{#if getLast5Builds.isLoading}}
        {{loading-indicator inline=true}}
      {{else}}
        {{pluralize getLast5Builds.count 'build'}}
      {{/if}}
    {{else}}
      0 builds
    {{/if}}</span>
    </div>
  </div>
</div>
<div class="two-line row-last-build fade-out">
  <div class="row-request">
    <div class="row-item">
      {{#if branch.last_build}}
        {{#link-to "build" branch.last_build.id}}
          {{svg-jar 'icon-hash' class=(concat branch.last_build.state ' icon')}}
          <span class="label-align inner-underline {{branch.last_build.state}}">{{branch.last_build.number}} {{humanize-state branch.last_build.state}}</span>
        {{/link-to}}
      {{else}}
        {{request-icon event=branch.last_build.eventType state=branch.last_build.state}} -
      {{/if}}
    </div>
  </div>
  <div class="row-calendar">
    <div class="row-item" title="Finished {{pretty-date branch.last_build.finished_at}}">
      {{svg-jar 'icon-calendar' class="icon"}}
      <span class="label-align">
      {{#if branch.last_build}}
        {{format-time branch.last_build.finished_at}}
      {{else}}
        -
      {{/if}}</span>
      </div>
  </div>
</div>
<div class="two-line">
  <div class="row-commit">
    <div class="row-item">
      {{#external-link-to href=branch.last_build.commit.githubUrl}}
        {{ember-tooltip text='View commit on GitHub'}}
        {{svg-jar 'icon-commit' class="icon"}}
        <span class="inner-underline monospace">
          {{#if branch.last_build}}
            {{format-sha branch.last_build.commit.sha}}
          {{else}}
            -
          {{/if}}
        </span>
        {{svg-jar 'icon-external-link' class="icon"}}
    {{/external-link-to}}
  </div>
  </div>
  <div class="row-commiter">
    <div class="row-item">
      {{#if branch.last_build}}
        {{created-by user=createdBy commit=commit committerOnly=true eventType=branch.last_build.event_type}}
      {{else}}
        <div class="avatar--small"></div><span class="label-align">no commits yet</span>
      {{/if}}
    </div>
  </div>
</div>
<div class="one-line is-relative">
  <ul class="build-tiles">
  {{#if getLast5Builds.isLoading}}
    {{loading-indicator center=true}}
  {{else}}
    {{#each getLast5Builds.content as |buildTile|}}
      {{build-tile build=buildTile}}
    {{/each}}
  {{/if}}
  </ul>
</div>
