<div class="two-line fade-out">
  <div class="row-name">
    <h2 class="row-item">
      <StatusIcon @status={{this.branch.last_build.state}} />
      <span class="label-align {{this.branch.last_build.state}}">
        {{this.branch.name}}
      </span>
    </h2>
  </div>
  <div class="row-builds">
    <div class="row-item">
      <SvgImage @name="icon-builds" @class="icon" />
      <span class="label-align">
        {{#if this.branch.last_build}}
          {{#if this.getLast5Builds.isLoading}}
            <LoadingIndicator @inline={{true}} />
          {{else}}
            {{pluralize this.getLast5Builds.count "build"}}
          {{/if}}
        {{else}}
          0 builds
        {{/if}}
      </span>
    </div>
  </div>
</div>
<div class="two-line row-last-build fade-out">
  <div class="row-request">
    <div class="row-item">
      {{#if this.branch.last_build}}
        <LinkTo @route="build" @model={{this.branch.last_build.id}}>
        <SvgImage @name="icon-hash" @class={{concat this.branch.last_build.state " icon"}} />
          <span class="label-align inner-underline {{this.branch.last_build.state}}">
            {{this.branch.last_build.number}}
            {{humanize-state this.branch.last_build.state}}
          </span>
        </LinkTo>
      {{else}}
        <RequestIcon
          @event={{this.branch.last_build.eventType}}
          @state={{this.branch.last_build.state}}
        />
        -
      {{/if}}
    </div>
  </div>
  <div class="row-calendar">
    <div
      class="row-item"
      title="Finished {{pretty-date this.branch.last_build.finished_at}}"
    >
      <SvgImage @name="icon-calendar" @class="icon" />
      <span class="label-align">
        {{#if this.branch.last_build}}
          {{format-time this.branch.last_build.finished_at}}
        {{else}}
          -
        {{/if}}
      </span>
    </div>
  </div>
</div>
<div class="two-line">
  <div class="row-commit">
    <div class="row-item">
      <ExternalLinkTo @href={{this.commitUrl}}>
        <EmberTooltip @text="{{concat "View commit on " (vcs-name this.vcsType)}}" />
        <SvgImage @name="icon-commit" @class="icon" />
        <span class="inner-underline monospace">
          {{#if this.branch.last_build}}
            {{format-sha this.branch.last_build.commit.sha}}
          {{else}}
            -
          {{/if}}
        </span>
        <SvgImage @name="icon-external-link" @class="icon" />
      </ExternalLinkTo>
    </div>
  </div>
  <div class="row-commiter">
    <div class="row-item">
      {{#if this.branch.last_build}}
        <CreatedBy
          @user={{this.createdBy}}
          @commit={{this.commit}}
          @committerOnly={{true}}
          @provider={{this.provider}}
          @eventType={{this.branch.last_build.event_type}}
        />
      {{else}}
        <div class="avatar--small"></div>
        <span class="label-align">
          no commits yet
        </span>
      {{/if}}
    </div>
  </div>
</div>
<div class="one-line is-relative">
  <ul class="build-tiles">
    {{#if this.getLast5Builds.isLoading}}
      <LoadingIndicator @center={{true}} />
    {{else}}
      {{#each this.getLast5Builds.content as |buildTile|}}
        <BuildTile @build={{buildTile}} />
      {{/each}}
    {{/if}}
  </ul>
</div>
