<div class="two-line fade-out">
  <div class="row-name">
    <h2 class="row-item">{{status-icon status=branch.last_build.state}}
    <span class="label-align">{{branch.name}}</span></h2>
  </div>
  <div class="row-builds">
    <div class="row-item">
    <span class="icon icon-line-build"></span>
    <span class="label-align">
    {{#if branch.last_build}}
      {{#if getLast5Builds.isLoading}}
        {{loading-indicator inline=true}}
      {{else}}
        {{getLast5Builds.count}} builds
      {{/if}}
    {{else}}
      0 builds
    {{/if}}</span>
    </div>
  </div>
</div>
<div class="two-line row-last-build fade-out">
  <div class="row-request">
    <div class="row-item">
      {{#if branch.last_build}}
        {{request-icon event=branch.last_build.event_type state=branch.last_build.state}}
        {{#link-to "build" branch.last_build.id}}
          <span class="label-align">#{{branch.last_build.number}} {{branch.last_build.state}}</span>
        {{/link-to}}
      {{else}}
        {{request-icon event=branch.last_build.eventType state=branch.last_build.state}} -
      {{/if}}
    </div>
  </div>
  <div class="row-calendar">
    <div class="row-item" title="{{pretty-date branch.last_build.finished_at}}">
      <span class="icon-calendar"></span>
      <span class="label-align">
      {{#if branch.last_build}}
        {{format-time branch.last_build.finished_at}}
      {{else}}
        -
      {{/if}}</span>
      </div>
  </div>
</div>
<div class="two-line">
  <div class="row-commit">
    <div class="row-item">
      <span class="icon-github"></span>
      <a href="{{urlGithubCommit}}" title="commit on GitHub">
      <span class="label-align">
      {{#if branch.last_build}}
        {{format-sha branch.last_build.commit.sha}}
      {{else}}
        -
      {{/if}}</span>
      </a></div>
  </div>
  <div class="row-commiter">
    <div class="row-item">
      {{#if branch.last_build}}
        <img src="{{branch.last_build.commit.committer.avatar_url}}" alt="avatar" class="avatar--small"><span class="label-align">{{branch.last_build.commit.committer.name}}</span>
      {{else}}
        <div class="avatar--small"></div><span class="label-align">no commits yet</span>
      {{/if}}
    </div>
  </div>
</div>
<div class="one-line is-relative">
  <ul class="build-tiles">
  {{#if getLast5Builds.isLoading}}
    {{loading-indicator center=true}}
  {{else}}
    {{#each  getLast5Builds.content as |buildTile|}}
      {{build-tile build=buildTile}}
    {{/each}}
  {{/if}}
  </ul>
</div>
