<div class="two-line fade-out">
  <div class="row-name">
    <h2 class="row-item">{{status-icon status=branch.lastBuild.state}}
    <span class="label-align {{branch.lastBuild.state}}">{{branch.name}}</span></h2>
  </div>
</div>
<div class="two-line row-last-build fade-out">
  <div class="row-request">
    <div class="row-item">
      {{#if branch.lastBuild}}
        {{#link-to "build" branch.lastBuild.id}}
          {{request-icon event=branch.lastBuild.eventType state=branch.lastBuild.state}}
          <span class="{{branch.lastBuild.state}} label-align inner-underline">#{{branch.lastBuild.number}} {{branch.lastBuild.state}}</span>
        {{/link-to}}
      {{else}}
        {{request-icon event=branch.lastBuild.eventType state=branch.lastBuild.state}} -
      {{/if}}
    </div>
  </div>
  <div class="row-calendar">
    <div class="row-item" title="{{pretty-date branch.lastBuild.finishedAt}}">
      {{svg-jar 'icon-calendar' class="icon"}}
      <span class="label-align">
      {{#if branch.lastBuild}}
        {{format-time branch.lastBuild.finishedAt}}
      {{else}}
        -
      {{/if}}</span>
      </div>
  </div>
</div>
<div class="two-line">
  <div class="row-commit">
    <div class="row-item">
      {{#external-link-to href=urlGithubCommit}}
        {{tooltip-on-element text='View commit on GitHub'}}
        {{svg-jar 'icon-commit' class="icon"}}
        <span class="inner-underline">
          {{#if branch.lastBuild}}
            {{format-sha branch.lastBuild.commit.sha}}
          {{else}}
            -
          {{/if}}
        </span>
        {{svg-jar 'icon-external-link' class="icon"}}
    {{/external-link-to}}
    </div>
  </div>
  <div class="row-commiter">
    <div class="row-item">
      {{#if branch.lastBuild}}
        {{user-avatar url=branch.lastBuild.commit.committerAvatarUrl name=branch.lastBuild.commit.committerName small=true size=18}}
          <span class="label-align">{{branch.lastBuild.commit.committerName}}</span>
      {{else}}
        <div class="avatar--small"></div><span class="label-align">no commits yet</span>
      {{/if}}
    </div>
  </div>
</div>
<div class="one-line is-relative">
  <ul class="build-tiles">
    {{#each last5Builds as |buildTile|}}
      {{build-tile build=buildTile}}
    {{/each}}
  </ul>
</div>
