<span class="icon-broadcast {{status}} {{if isOpen 'is-open'}}" title="broadcasts" {{action (perform toggle)}}>
  {{inline-svg 'icon-broadcast'}}
  {{#if count}}<div class='count-wrapper'><div class='count'>{{count}}</div></div>{{/if}}
</span>
