<BuildWrapper @build={{build}}>
  {{#if loading}}
    <LoadingIndicator />
  {{else if build}}
    <BuildHeader
      data-test-build-header
      @item={{build}}
      @commit={{build.commit}}
      @repo={{repo}}
    />
    {{#if noJobsError}}
      <p data-test-no-jobs-error-message class="notice-banner--red">
        Sorry, we're having troubles fetching jobs. Please try again later.
      </p>
    {{else if build.isMatrix}}
      <BuildTabs @build={{build}} />
      {{#if jobsLoaded}}
        {{! ?? moved to index?? }}
      {{else}}
        <LoadingIndicator @center={{true}} />
      {{/if}}
    {{else}}
      <JobInfrastructureNotification @job={{job}} />
      <JobTabs @job={{job}} @repo={{repo}} />
      <JobLog data-test-job-log @job={{job}} />
    {{/if}}
  {{else}}
    <NoBuilds />
  {{/if}}
</BuildWrapper>