<div class="two-line fade-out">
  <div class="row-item build-info">
    <h2 class="row-branch {{build.state}}">
      {{status-icon status=build.state}}
      {{#if build.isPullRequest}}
        {{#link-to "build" build.repo build title=(concat "PR #" build.pullRequestNumber " " build.pullRequestTitle)}}
          <small>PR #{{build.pullRequestNumber}}</small>
        {{/link-to}}
      {{else}}
        {{#link-to "build" build.repo build title=build.commit.branch}}
          {{build.commit.branch}}
        {{/link-to}}
      {{/if}}
    </h2>
    {{#if build.isPullRequest}}
      <div class="row-message">
        {{{format-message build.pullRequestTitle short="true" repo=build.repo}}}
      </div>
    {{else}}
      <div class="row-message">
        {{{format-message build.commit.message short="true" repo=build.repo}}}
      </div>
    {{/if}}
  </div>
  <div class="row-item row-committer">
    {{user-avatar url=build.commit.authorAvatarUrl name=build.commit.authorName small=true size=18}}
    <span class="label-align">{{build.commit.authorName}}</span>
  </div>
</div>

<div class="two-line">
  <h3 class="row-item {{build.state}}">
    {{#if build.id}}
      {{#link-to "build" build.repo build}}
        {{request-icon event=build.eventType state=build.state}}
        <span class="label-align">#{{build.number}} {{build.state}}</span>
      {{/link-to}}
    {{/if}}
  </h3>
  <div class="row-item row-commit">
    <a href="{{urlGithubCommit}}" title="See the commit on GitHub">
      {{inline-svg 'icon-github' class="icon"}}
      <span class="label-align">{{format-sha build.commit.sha}}</span>
    </a>
  </div>
</div>

<div class="two-line">
  <div class="row-item row-duration">
    <div title="{{format-duration build.duration}}">
      {{inline-svg 'icon-clock' class="icon"}}
      <time class="label-align" datetime="PT{{build.duration}}S">{{format-duration build.duration}}</time>
    </div>
  </div>
  <div class="row-item row-calendar">
    <div title="{{pretty-date build.formattedFinishedAt}}">
      {{inline-svg 'icon-calendar' class="icon"}}
      <time class="label-align" datetime={{build.finishedAt}}>{{format-time build.finishedAt}}</time>
    </div>
  </div>
</div>

<div class="two-line actions">
  <div class="row-item actions">
    {{repo-actions build=build repo=build.repo labelless=true}}
  </div>
  <div class="row-item">&nbsp;</div>
</div>
