<nav class="travistab-nav--secondary">
  <ul>
    <li>
      <LinkTo
        @route="build.index"
        @models={{array this.build.repo build}}
        @title="Look at this build’s jobs"
        class={{if this.isLog 'active'}}
        data-test-build-matrix-tab="true"
      >
        Build jobs
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="build.config"
        @models={{array this.build.repo this.build}}
        data-test-build-config-tab="true"
        @title="Look at this build's config"
        @disabled={{this.build.request.noConfigs}}
      >
        {{#if this.build.request.noConfigs}}
          <EmberTooltip @text="Try a more recent build to see the config" />
        {{/if}}

        View config

        {{#if this.showConfigValidation}}
          <span class="tooltip-wrapper">
            <span class="build-messages-badge badge-{{this.messagesMaxLevel}}"></span>
            <EmberTooltip @text={{this.messagesBadgeTooltipText}} />
          </span>
        {{/if}}
      </LinkTo>
    </li>
  </ul>
</nav>
<div class="travistab-body">
  {{outlet}}
</div>
