{{#if canCancel}}
  {{#if cancelling}}
    {{loading-indicator height=true}}
  {{else}}
    <a {{action "cancel"}} class="button-circle-cancel" title="Cancel Build">
      Cancel build
    </a>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarting}}
    {{loading-indicator height=true}}
  {{else}}
    <a {{action "restart"}} class="button-circle-trigger" title="Restart Build">
      Trigger build
    </a>
  {{/if}}
{{/if}}
