<h3 class="insights-odyssey__title">Build Statuses</h3>
<div class="insights-odyssey__chart">
  {{#if isLoading}}
    <div class="insights-odyssey__loading-indicator">{{loading-indicator}}</div>
  {{else if hasNoBuilds}}
    No builds {{currentIntervalLabel}}.
  {{else}}
    {{ember-chart type='bar' data=content options=options class="chart-component"}}
  {{/if}}
</div>