{{#if canCancel}}
  {{#if cancel.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
      <button {{action (perform cancel)}} class="action-button--cancel" title="Cancel build" type="button">
        {{inline-svg 'icon-failed' class="icon"}}
        <span class="label-align">Cancel build</span>
    </button>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarters.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
      <button {{action (perform restart)}} class="action-button--restart" title="Restart build" type="button">
        {{inline-svg 'icon-restart' class="icon"}}
        <span class="label-align">Restart build</span>
    </button>

    {{#if features.proVersion}}
      {{#if canDebug}}
        <button {{action (perform debug)}} class="action-button--debug" title="Restart as debug build" type="button">
          {{inline-svg 'icon-debug' class="icon"}}
          <span class="label-align">Debug build</span>
        </button>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
