<div class="build-commit">
  <h2 class="build-title {{item.state}}">
    {{status-icon status=item.state}}
    {{#if item.pullRequest}}
      <small class="commit-branch" title={{item.pullRequestTitle}}>Pull Request #{{item.pullRequestNumber}}</small>
      {{item.pullRequestTitle}}
    {{else}}
      <small class="commit-branch" title={{item.branchName}}>{{item.branchName}}</small>
      {{format-message commit.subject repo=item.repo}}
    {{/if}}
  </h2>
  <div class="commit-info">

  {{#if commit.body }}
    <p class="commit-description">
      <span class="monospace">{{format-message commit.body repo=item.repo pre=true}}</span>
    </p>
  {{/if}}
    <ul class="list-icon">
      <li>
        <a class="commit-commit" title="See the commit on GitHub" href={{urlGithubCommit}}>
          {{inline-svg 'icon-github' class="icon"}}
          <span class="label-align inner-underline">Commit {{format-sha commit.sha}}</span></a>
      </li>
      {{#if displayCompare}}
        <li>
          {{#if item.pullRequest}}
            <a class="commit-compare" title="See the commit on GitHub" href={{item.commit.compareUrl}}>
              {{inline-svg 'icon-github' class="icon"}}
              <span class="label-align inner-underline">#{{item.pullRequestNumber}}: {{item.pullRequestTitle}}</span></a>
          {{else}}
            {{#if item.commit.compareUrl}}
            <a class="commit-compare" title="See the diff on GitHub" href={{item.commit.compareUrl}}>
              {{inline-svg 'icon-github' class="icon"}}
              <span class="label-align inner-underline">Compare {{short-compare-shas item.commit.compareUrl}}</span></a>
            {{/if}}
          {{/if}}
        </li>
      {{/if}}
      {{#if commit.branch}}
      <li>
        <a class="commit-branch-url" href="{{urlGitHubBranch}}" title="Look at the branch on GitHub">
          {{inline-svg 'icon-github' class="icon"}}
          <span class="label-align inner-underline">Branch {{commit.branch}}</span>
        </a>
      </li>
      {{else}}
        {{loading-indicator}}
      {{/if}}
    </ul>

    <p class="commit-author">
      {{#if commit.authorName}}
        {{user-avatar url=commit.authorAvatarUrl name=commit.authorName small=true size=18}}
        <span class="label-align">{{commit.authorName}} authored{{#if commit.authorIsCommitter}} and committed{{/if}}</span>
      {{/if}}
      {{#unless commit.authorIsCommitter}}
        {{#if commit.committerName}}
          {{user-avatar url=commit.committerAvatarUrl name=commit.committerName small=true size=18}}
          <span class="label-align">{{commit.committerName}} committed</span>
        {{/if}}
      {{/unless}}
    </p>
  </div>
</div>

<div class="build-info">
  <h3 class="build-status {{item.state}}">
    {{#if isJob}}
      {{#link-to "job" repo item}}
        {{request-icon event=item.build.eventType state=item.state}} <span class='inner-underline'>#{{item.number}} {{humanize-state item.state}}</span>{{/link-to}}
    {{else}}
      {{#link-to "build" repo item}}
        {{request-icon event=item.eventType state=item.state}} <span class='inner-underline'>#{{item.number}} {{humanize-state item.state}}</span>{{/link-to}}
    {{/if}}
  </h3>
  <ul class="list-icon">
    <li title="{{format-duration elapsedTime}}" class="commit-stopwatch">
      {{inline-svg 'icon-stopwatch' class="icon-stopwatch"}}
      <span class="label-align">Elapsed time <time datetime="PT{{elapsedTime}}S">{{format-duration elapsedTime}}</time></span></li>
    {{#unless isJob}}
      {{#if item.isMatrix}}
        <li title="{{format-duration item.duration}}" class="commit-clock">
          {{inline-svg 'icon-clock' class="icon"}}
          <span class="label-align">{{#if item.isFinished}}Total time{{else}}Running for{{/if}} <time datetime="PT{{item.duration}}S">{{format-duration item.duration}}</time></span></li>
      {{/if}}
    {{/unless}}
    <li title="{{item.finishedAt}}" class="commit-calendar">
      {{inline-svg 'icon-calendar' class="icon"}}
      <time class="label-align" datetime={{item.finishedAt}}>{{format-time item.finishedAt}}</time></li>
  </ul>
</div>


<div class='build-tools'>
  {{#if isJob}}
    {{repo-actions job=item repo=item.repo}}
  {{else}}
    {{repo-actions build=item repo=item.repo}}
  {{/if}}
</div>
