<div class="two-line fade-out">
  <div class="row-item build-info">
    <h2 class="row-branch {{build.state}}">
      {{status-icon status=build.state}}
      {{#if build.isPullRequest}}
        {{#link-to "build" build.repo build}}
          <small>PR #{{build.pullRequestNumber}}</small>
          {{{format-message build.pullRequestTitle short="true" repo=build.repo}}}
        {{/link-to}}
      {{else}}
        {{#link-to "build" build.repo build}}
          {{build.commit.branch}}
        {{/link-to}}
      {{/if}}
    </h2>
    {{#unless build.isPullRequest}}
      <div class="row-message">
        {{{format-message build.commit.message short="true" repo=build.repo}}}
      </div>
    {{/unless}}
  </div>
  <div class="row-item row-committer">
    {{user-avatar url=build.commit.authorAvatarUrlOrGravatar name=build.commit.authorName small=true}}
    <span class="label-align">{{build.commit.authorName}}</span>
  </div>
</div>

<div class="two-line">
  <h3 class="row-item {{build.state}}">
    {{#if build.id}}
      {{#link-to "build" build.repo build}}
        {{request-icon event=build.eventType state=build.state}}
        <span class="label-align">#{{build.number}} {{build.state}}</span>
      {{/link-to}}
    {{/if}}
  </h3>
  <div class="row-item">
    <a href="{{urlGithubCommit}}" title="See the commit on GitHub">
      <span class="icon-github"></span>
      <span class="label-align">{{format-sha build.commit.sha}}</span>
    </a>
  </div>
</div>

<div class="two-line">
  <div class="row-item">
    <div title="{{format-duration build.duration}}">
      <span class="icon-clock"></span>
      <time class="label-align" datetime="PT{{build.duration}}S">{{format-duration build.duration}}</time>
    </div>
  </div>
  <div class="row-item">
    <div title="{{pretty-date build.formattedFinishedAt}}">
      <span class="icon-calendar"></span>
      <time class="label-align" datetime={{build.finishedAt}}>{{format-time build.finishedAt}}</time>
    </div>
  </div>
</div>
