<div class="build-commit">
  <h2 class="build-title {{item.state}}">
    {{status-icon status=item.state}}
    {{#if item.isPullRequest}}
      <small class="commit-branch" title={{item.pullRequestTitle}}>Pull Request #{{item.pullRequestNumber}}</small>
      {{item.pullRequestTitle}}
    {{else}}
      <small class="commit-branch"
        title={{build.branchName}}>{{build.branchName}}</small>
      {{format-message commit.subject repo=item.repo eventType=build.eventType}}
    {{/if}}
  </h2>
  <div class="commit-info">

  {{#if commit.body }}
    <p class="commit-description">
      <span class="monospace">{{format-message commit.body repo=item.repo pre=true}}</span>
    </p>
  {{/if}}
    <ul class="list-icon">
      <li>
        {{#external-link-to href=urlGithubCommit}}
          {{svg-jar 'icon-commit' class="icon"}}
          <span data-tooltip="View commit on GitHub" class="label-align inner-underline commit-commit">Commit {{format-sha commit.sha}}</span>
          {{svg-jar 'icon-external-link' class="icon"}}
        {{/external-link-to}}
      </li>
      {{#if displayCompare}}
        <li>
          {{#if item.isPullRequest}}
            {{#external-link-to href=item.commit.compareUrl}}
              {{svg-jar 'icon-compare' class="icon"}}
              <span data-tooltip="View Pull Request on GitHub" class="label-align inner-underline commit-compare">#{{item.pullRequestNumber}}: {{item.pullRequestTitle}}</span>
              {{svg-jar 'icon-external-link' class="icon"}}
            {{/external-link-to}}
          {{else}}
            {{#if item.commit.compareUrl}}
              {{#external-link-to href=item.commit.compareUrl }}
                {{svg-jar 'icon-compare' class="icon"}}
                <span data-tooltip="View diff on GitHub" class="label-align inner-underline commit-compare">Compare {{short-compare-shas item.commit.compareUrl}}</span>
                {{svg-jar 'icon-external-link' class="icon"}}
              {{/external-link-to}}
            {{/if}}
          {{/if}}
        </li>
      {{/if}}
      <li>
        {{#external-link-to href=urlGitHubBranch class="commit-branch-url"}}
          {{svg-jar 'icon-branch' class="icon"}}
          <span data-tooltip="View branch on GitHub" class="label-align inner-underline">Branch {{build.branchName}}</span>
          {{svg-jar 'icon-external-link' class="icon"}}
        {{/external-link-to}}
      </li>
    </ul>

    <p class="commit-author">
      {{#if commit.authorName}}
        {{user-avatar url=commit.authorAvatarUrl name=commit.authorName small=true size=18}}
        <span class="label-align">{{commit.authorName}} authored{{#if commit.authorIsCommitter}} and committed{{/if}}</span>
      {{/if}}
      {{#unless commit.authorIsCommitter}}
        {{#if commit.committerName}}
          {{user-avatar url=commit.committerAvatarUrl name=commit.committerName small=true size=18}}
          <span class="label-align">{{commit.committerName}} committed</span>
        {{/if}}
      {{/unless}}
    </p>
  </div>
</div>

<div class="build-info">
  <h3 class="build-status {{item.state}}">
    {{#if isJob}}
      {{#link-to "job" repo item}}
        {{#if isCron}}
          {{svg-jar 'icon-cronjobs' class=(concat buildState ' icon')}}
        {{else}}
          {{svg-jar 'icon-hash' class=(concat buildState ' icon')}}
        {{/if}}
        <span class='inner-underline'>{{item.number}} {{humanize-state item.state}}</span>
      {{/link-to}}
    {{else}}
      {{#link-to "build" repo item}}
        {{#if isCron}}
          {{svg-jar 'icon-cronjobs' class=(concat buildState ' icon--m')}}
        {{else}}
          {{svg-jar 'icon-hash' class=(concat buildState ' icon')}}
        {{/if}}
        <span class='inner-underline'>{{item.number}} {{humanize-state buildState}}</span>
      {{/link-to}}
    {{/if}}
  </h3>

  <ul class="list-icon">
    {{#if isJob}}
      <li title="PT{{elapsedTime}}S" class="commit-stopwatch">
        {{svg-jar 'icon-stopwatch' class="icon--m"}}
        <span class="label-align">
          {{#if item.toBeQueued}}
            Waiting to be queued
          {{else if item.toBeStarted}}
            Waiting to start
          {{else}}
            {{if item.isFinished 'Ran for' 'Running for'}} <time datetime="PT{{elapsedTime}}S">{{format-duration elapsedTime}}</time>
          {{/if}}
        </span>
      </li>
    {{else}}
      <li title="PT{{elapsedTime}}S" class="commit-stopwatch">
        {{svg-jar 'icon-stopwatch' class="icon--m"}}
        <span class="label-align">
          {{if item.isFinished 'Ran for' 'Running for'}} <time datetime="PT{{elapsedTime}}S">{{format-duration elapsedTime}}</time>
        </span>
      </li>
    {{/if}}

    {{#if item.isFinished}}
      {{#if item.isMatrix}}
        <li title="{{format-duration item.duration}}" class="commit-clock">
          {{svg-jar 'icon-clock' class="icon"}}
          <span class="label-align">
            Total time <time datetime="PT{{item.duration}}S">{{format-duration item.duration}}</time>
          </span>
        </li>
      {{/if}}

      <li title="{{item.finishedAt}}" class="commit-calendar">
        {{svg-jar 'icon-calendar' class="icon"}}
        <time class="label-align" datetime={{item.finishedAt}}>{{format-time item.finishedAt}}</time>
      </li>
    {{/if}}
  </ul>
</div>

<div class='build-tools'>
  {{#if isJob}}
    {{repo-actions job=item repo=item.repo}}
  {{else}}
    {{repo-actions build=item repo=item.repo}}
  {{/if}}
</div>
