{{#if canCancel}}
  {{#if cancelling}}
    {{loading-indicator height=true}}
  {{else}}
    <a {{action "cancel"}} class="action-button--cancel" title="Cancel build">
      Cancel build
    </a>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarting}}
    {{loading-indicator height=true}}
  {{else}}
    <a {{action "restart"}} class="action-button--restart" title="Restart build">
      Restart build
    </a>

    {{#if features.proVersion}}
      {{#if canDebug}}
        <a href="#" {{action "debug"}} class="action-button--debug" title="Restart as debug build">Debug build</a>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
