<BuildWrapper @build={{this.build}}>
  {{#if this.loading}}
    <LoadingIndicator />
  {{else if this.build}}
    <BuildHeader
      data-test-build-header="true"
      @item={{this.build}}
      @commit={{this.build.commit}}
      @repo={{this.repo}}
    />
    {{#if this.noJobsError}}
      <p data-test-no-jobs-error-message class="notice-banner--red">
        Sorry, we're having troubles fetching jobs. Please try again later.
      </p>
    {{else if this.build.isMatrix}}
      <BuildTabs @build={{this.build}} />
      {{#if this.jobsLoaded}}
        {{! ?? moved to index?? }}
      {{else}}
        <LoadingIndicator @center={{true}} />
      {{/if}}
    {{else if this.isLog}}
      <JobInfrastructureNotification @job={{this.job}} />
      <JobTabs
        @route="build"
        @model={{this.build}}
        @request={{this.request}}
        @repo={{this.repo}}
      />
      <JobLog data-test-job-log="true" @job={{this.job}} />
    {{else}}
      <JobTabs @route="build" @model={{this.build}} @repo={{this.repo}} />
    {{/if}}
  {{else}}
    <NoBuilds />
  {{/if}}
</BuildWrapper>
