<div class="insights-row-item {{unless content 'insights-row-item--loading'}}">
  <h3 class="insights-row-item__title">Builds</h3>
  <div class="insights-row-item__stat">
    {{#if totalBuilds}}
      {{totalBuilds}}
      {{!-- {{avgBuilds}} --}}
    {{else}}
      &nbsp;
    {{/if}}
  </div>

  {{high-charts content=content chartOptions=options}}
</div>