<h3 class="insights-glance__title">Builds</h3>
<div class="insights-glance__center">
  <div class="insights-glance__stat">{{totalBuildText}}</div>
  {{#if percentageChange}}
    <div
      class="insights-glance__change-stat"
      data-dir="{{if (gte percentageChange 0) '+' '-'}}"
    >
      {{svg-jar 'icon-dropdown-arrow' class="icon"}}
      <span>{{percentageChangeText}}</span>
    </div>
  {{/if}}
</div>
<div class="insights-glance__chart">
  {{#if (or isLoading (is-empty aggregateData))}}
    <hr class="insights-glance__chart-placeholder" />
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>