{{#if canCancel}}
  {{#if cancel.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <button {{action (perform cancel)}} class="action-button--cancel" title="Cancel build" type="button">
      Cancel build
    </button>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarters.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <button {{action (perform restart)}} class="action-button--restart" title="Restart build" type="button">
      Restart build
    </button>

    {{#if features.proVersion}}
      {{#if canDebug}}
        <button href="#" {{action (perform debug)}} class="action-button--debug" title="Restart as debug build" type="button">Debug build</button>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
