<div class="yml-message" tabindex="0">
  <div class="tooltip-wrapper">
    {{#if this.isLinkable}}
      <a href={{this.lineLink}} data-test-yml-message-link="true">
        <SvgImage @name={{this.message.level}} @class={{this.iconClass}} />
        <EmberTooltip @text={{this.tooltipText}} />
      </a>
    {{else}}
      <SvgImage @name={{this.message.level}} @class={{this.iconClass}} />
      <EmberTooltip @text={{this.tooltipText}} />
    {{/if}}
  </div>
  <div class="message">
    {{this.readableMessage}}
  </div>
</div>
