<div class="two-line fade-out">
  <div class="row-item build-info">
    <h2 class="row-branch {{build.state}}">
      {{status-icon status=build.state}}
      {{#if build.isPullRequest}}
        {{#link-to "build" build.repo build}}
          <small>PR #{{build.pullRequestNumber}}</small>
          {{{format-message build.pullRequestTitle short="true" repo=build.repo}}}
        {{/link-to}}
      {{else}}
        {{#link-to "build" build.repo build}}
          {{branch.name}}
        {{/link-to}}
      {{/if}}
    </h2>
    {{#unless build.isPullRequest}}
      <div class="row-message">
        {{{format-message commit.message short="true" repo=build.repo}}}
      </div>
    {{/unless}}
  </div>
  <div class="row-item row-committer">
    {{user-avatar url=commit.author.avatar_url name=commit.authorName small=true}}
    <span class="label-align">{{commit.authorName}}</span>
  </div>
</div>

<div class="two-line">
  <h3 class="row-item {{build.state}}">
    {{#if build.id}}
      {{#link-to "build" build.repo build}}
        {{request-icon event=build.eventType state=build.state}}
        <span class="label-align">#{{build.number}} {{build.state}}</span>
      {{/link-to}}
    {{/if}}
  </h3>
  <div class="row-item row-commit">
    <a href="{{urlGithubCommit}}" title="See the commit on GitHub">
      <span class="icon-github"></span>
      <span class="label-align">{{format-sha commit.sha}}</span>
    </a>
  </div>
</div>

<div class="two-line">
  <div class="row-item row-duration">
    <div title="{{format-duration build.runningTime}}">
      <span class="icon-clock"></span>
      <time class="label-align" datetime="PT{{build.runningTime}}S">
        {{format-duration build.runningTime}}
      </time>
    </div>
  </div>
  <div class="row-item row-calendar">
    <div title="{{pretty-date build.formattedFinishedAt}}">
      <span class="icon-calendar"></span>
      <time class="label-align" datetime={{build.finishedAt}}>{{format-time build.finishedAt}}</time>
    </div>
  </div>
</div>
