<div class="insights-glance {{if isLoading 'insights-glance--loading'}}">
  <h3 class="insights-glance__title">Builds</h3>
  <div class="insights-glance__stat">
    {{#if isLoading}}
      &nbsp;
    {{else}}
      {{totalBuilds}}
    {{/if}}
  </div>

  {{#if (or isLoading (is-empty filteredData))}}
    <hr class="insights-glance__chart-placeholder" />
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>