<div class="build-commit">
  <h2 class="build-title {{item.state}}">
    {{status-icon status=item.state}}
    {{#if item.pullRequest}}
      <small class="commit-branch" title={{item.pullRequestTitle}}>Pull Request #{{item.pullRequestNumber}}</small>
      {{item.pullRequestTitle}}
    {{else}}
      <small class="commit-branch" title={{item.commit.branch}}>{{item.commit.branch}}</small>
      {{format-message item.commit.subject repo=item.repo}}
    {{/if}}
  </h2>
  <div class="commit-info">
    <p class="commit-description">
      {{#if item.pullRequest}}
        {{format-message item.commit.subject repo=item.repo}}<br>
      {{/if}}
      <span class="monospace">{{format-message item.commit.body repo=item.repo pre=true}}</span>
    </p>
    <ul class="list-icon">
      <li>
        <a class="commit-commit" href={{urlGithubCommit}}>
          Commit {{format-sha commit.sha}}</a>
      </li>
      <li>
        {{#if item.pullRequest}}
          <a class="commit-compare" title="See the commit on GitHub" href={{item.commit.compareUrl}}>#{{item.pullRequestNumber}}: {{item.pullRequestTitle}}</a>
        {{else}}
          {{#if item.commit.compareUrl}}
            <a class="commit-compare" title="See the diff on GitHub" href={{item.commit.compareUrl}}>
            Compare {{short-compare-shas item.commit.compareUrl}}</a>
          {{/if}}
        {{/if}}
      </li>
    </ul>
    <p class="commit-author">
      {{#if commit.authorName}}
        <img src={{urlAuthorGravatarImage}}>{{commit.authorName}} authored{{#if commit.authorIsCommitter}} and committed{{/if}}
      {{/if}}
      {{#unless commit.authorIsCommitter}}
        {{#if commit.committerName}}
          <img src={{urlCommitterGravatarImage}}>{{commit.committerName}} committed
        {{/if}}
      {{/unless}}
    </p>
  </div>
</div>

<div class="build-info">
  <h3 class="build-status {{item.state}}">
    {{#link-to "build" repo item}}
      {{status-icon status=item.state}} #{{item.number}} {{humanize-state item.state}}{{/link-to}}
  </h3>
  <ul class="list-icon">
    <li><span title="{{format-duration item.duration}}" class="commit-clock">{{#if item.isFinished}}ran{{else}}running{{/if}} for {{format-duration item.duration}}</span></li>
    {{!-- <li><span>Elapsed time</span></li> --}}
    <li><span title="{{pretty-date item.finishedAt}}" class="commit-calendar">{{format-time item.finishedAt}}</span></li>
  </ul>
</div>

<div class="build-tools">
  {{repo-actions build=item repo=item.repo user=user}}
</div>
