{{#if canCancel}}
  {{#if cancel.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <a {{action (perform cancel)}} class="action-button--cancel" title="Cancel build">
      Cancel build
    </a>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarters.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <a {{action (perform restart)}} class="action-button--restart" title="Restart build">
      Restart build
    </a>

    {{#if features.proVersion}}
      {{#if canDebug}}
        <a href="#" {{action (perform debug)}} class="action-button--debug" title="Restart as debug build">Debug build</a>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
