<div class="row-item row-branch">
  {{request-icon event=cache.type}}
  <span class="label-align">{{cache.branch}}</span>
</div>
<div class="row-item row-calendar">
  {{inline-svg 'images/stroke-icons/icon-calendar' class="icon"}}
  <span class="label-align">{{format-time cache.last_modified}}</span>
</div>
<div class="row-item row-size">
  {{inline-svg 'images/stroke-icons/icon-scales' class="icon"}}
  <span class="label-align">{{travis-mb cache.size}}MB</span>
</div>
<div class="row-item">
  <a {{action 'performDelete'}} href="#" class="{{if delete.isRunning 'deleting'}} delete-cache-icon" title="Delete this cache">
    <div class="tooltip">
      <span class="icon-trash">delete cache</span>
      <span class="tooltip-bubble">Delete</span>
    </div>
  </a>
</div>
