<p class="tile-item caches-branch column">
  <span class="icon icon--grey"></span>
  {{cache.branch}}
</p>

<p class="tile-item caches-date column">{{format-time cache.last_modified}}</p>

<p class="tile-item caches-size column">{{travis-mb cache.size}}MB</p>

<p class="tile-item caches-button column">
  <a href="#" {{action "delete"}} class="{{if isDeleting 'deleting'}} delete-by-slug delete button--delete">
    Delete
  </a>
</p>
