{{#if showUser}}
  {{#link-to 'owner' user.login}}
    {{ember-tooltip text=(concat 'View repositories for ' nameOrLogin)}}
    {{user-avatar url=user.avatarUrl name=user.name small=true size=18}}
    <span class="label-align inner-underline">{{nameOrLogin}}</span>
  {{/link-to}}
{{else if commit}}
  {{#if committerOnly}}
    <span class="label-align">{{commit.committerName}}</span>
  {{else}}
    {{#if commit.authorName}}
      <span class="label-align">{{commit.authorName}} authored{{#if commit.authorIsCommitter}} and committed{{/if}}</span>
    {{/if}}
    {{#unless commit.authorIsCommitter}}
      {{#if commit.committerName}}
        <span class="label-align">{{commit.committerName}} committed</span>
      {{/if}}
    {{/unless}}
  {{/if}}
{{/if}}
