{{#if this.showUser}}
  <LinkTo @route="owner" @models={{array this.userProvider this.user.login}} class="commiter-link">
    <EmberTooltip @text={{concat "View repositories for " this.nameOrLogin}} />
    <UserAvatar
      @url={{this.user.avatarUrl}}
      @name={{this.user.name}}
      @small={{true}}
      @size={{18}}
      class="comitter-avatar"
    />
    <span class="label-align inner-underline commiter-name">
      {{this.nameOrLogin}}
    </span>
  </LinkTo>
{{else if this.commit}}
  {{#if this.committerOnly}}
    <span class="label-align">
      {{this.commit.committerName}}
    </span>
  {{else}}
    {{#if this.commit.authorName}}
      <span class="label-align">
        {{this.commit.authorName}} authored{{if this.commit.authorIsCommitter ' and committed'}}
      </span>
    {{/if}}
    {{#unless this.commit.authorIsCommitter}}
      {{#if this.commit.committerName}}
        <span class="label-align">
          {{this.commit.committerName}} committed
        </span>
      {{/if}}
    {{/unless}}
  {{/if}}
{{/if}}
