<div class="cron-job-text branch-name">{{cron.branch.name}}</div>
<div class="cron-job-text enqueuing-interval">{{intervalText}}</div>
<div class="cron-job-text disable-by-build">{{disableByBuild}}</div>
<div class="cron-job-action">
  <div class="tooltip">
    {{#if delete.isRunning}}
      {{loading-indicator}}
    {{else}}
      <button {{action (perform delete) on="click"}} type="button" class="cron-job-delete no-button">
        {{inline-svg 'icon-trash' class="icon-trash"}}
      </button>
      <div class="tooltip-bubble">Delete</div>
    {{/if}}
  </div>
</div>
