<div class="cron-jon-value">{{cron.branch.name}}</div>
<div class="cron-jon-value">{{cron.interval}}</div>
<div class="cron-jon-value">{{disable_by_build}}</div>
<div class="cron-job-action">
  <div class="tooltip">
    {{#if isDeleting}}
      {{loading-indicator}}
    {{else}}
      <a href="#" title="" {{action "delete" on="click"}}>
        <span class="icon-delete"></span>
      </a>
      <div class="tooltip-bubble">Delete</div>
    {{/if}}
  </div>
</div>
