<div class="cron-job-value branch-name">{{cron.branch.name}}</div>
<div class="cron-job-text next-enqueuing">{{enqueuingText}}</div>
<div class="cron-job-text disable-by-build">{{disableByBuild}}</div>
<div class="cron-job-action">
  <div class="tooltip">
    {{#if isDeleting}}
      {{loading-indicator}}
    {{else}}
      <a href="#" title="" {{action "delete" on="click"}}>
        <span class="icon-delete"></span>
      </a>
      <div class="tooltip-bubble">Delete</div>
    {{/if}}
  </div>
</div>
