<li
  class="rows rows--dashboard {{if this.repo.active 'is-active'}}"
  {{on 'mouseleave' (action this.closeDropup)}}
>
<div class="dash-head">
  <button
    class="dash-star {{if this.repo.starred 'is-starred'}}"
    title="{{if this.repo.starred 'un'}}star this repo"
    onclick={{action "starRepo"}}
  >
    <SvgImage @name="icon-star" @class="icon--m" />
  </button>
  {{#if this.repo.private}}
    <span class="dash-private" title="private repository">
      <SvgImage @name="icon-private" @class="icon" />
    </span>
  {{/if}}
</div>
<div class="dash-body">
  <div class="dash-main">
    <header class="fade-out dash-header">
      <h2 class="row-label repo-dashboard">
        <LinkTo
          @route="owner"
          @models={{array this.repo.provider this.repo.ownerName}}
          @title={{this.repo.owner.login}}
          title={{this.repo.owner.login}}
        >
          {{this.repo.owner.login}}
        </LinkTo>
      </h2>
      <h1 class="row-content">
        <LinkTo
          @route="repo"
          @models={{array this.repo.provider this.repo.urlOwnerName this.repo.urlName}}
          @title={{this.repo.name}}
          title={{this.repo.name}}
          @query={{hash serverType=this.repo.serverType}}
        >
          {{this.repo.name}}
          {{#if this.repo.shared}}
            <SvgImage @name="icon-shared" @alt="Shared repository" @class="icon shared" />
          {{/if}}
        </LinkTo>
      </h1>
    </header>
    {{#if this.repo.active}}
      <section class="dash-default dash-insights">
        <EmberTooltip @text="Check your Organization Insights" />

        <h3 class="label">
          Insights
        </h3>
        <p class="row-content color">
          <LinkTo
            @route="owner.repositories"
            @models={{array this.repo.provider this.repo.owner.login}}
          >
            <SvgImage @name="icon-scales" @class="icon" />
          </LinkTo>
        </p>
      </section>
      <section class="dash-default {{this.repo.defaultBranch.lastBuild.state}} fade-out">
        <h3 class="label">
          Default branch
        </h3>
        <p class="row-content color">
          <RequestIcon
            @event={{this.repo.defaultBranch.lastBuild.eventType}}
            @state={{this.repo.defaultBranch.lastBuild.state}}
          />
          {{#if this.repo.defaultBranch.lastBuild.id}}
            <LinkTo
              @route="build"
              @models={{array
                this.repo
                this.repo.defaultBranch.lastBuild.id
              }}
              @title="Last build on the default branch"
            >
              {{this.repo.defaultBranch.lastBuild.branch.name}}
              {{this.repo.defaultBranch.lastBuild.state}}
            </LinkTo>
          {{else}}
            <span title="Default branch has never been built">
              {{this.repo.defaultBranch.name}}
            </span>
          {{/if}}
        </p>
      </section>
      {{#if (eq this.repo.provider 'assembla')}}
        <section class="dash-repo-type">
          <h3 class="label">
            Repo type
          </h3>
          <p class="row-content color">
            {{this.repositoryType}}
          </p>
        </section>
      {{/if}}
      {{#if this.repo.currentBuild}}
        <section class="dash-last {{this.repo.currentBuild.state}}">
          <h3 class="label">
            Last build
          </h3>
          <p class="row-content color">
            <StatusIcon @status={{this.repo.currentBuild.state}} />
            <LinkTo
              @route="build"
              @models={{array
                this.repo
                this.repo.currentBuild.id
              }}
              @title="Last build on the repo"
            >
              <span class="label-align">
                #{{this.repo.currentBuild.number}}
                {{humanize-state this.repo.currentBuild.state}}
              </span>
            </LinkTo>
          </p>
        </section>
        {{#if this.scansEnabled }}
        <section class="dash-log-scan {{this.repo.currentScan.icon}}">
          <h3 class="label">
            Log Scan
          </h3>
          <p class="row-content color">
            <StatusIcon @status={{this.repo.currentScan.icon}} />
            <LinkTo @route="scanResults" @model={{this.repo}} @title="Log Scans">
              <span class="label-align">
                {{this.repo.currentScan.state}}
              </span>
            </LinkTo>
          </p>
        </section>
        {{/if}}
        <section class="dash-commit">
          <h3 class="label">
            Commit
          </h3>
          <div class="row-content row-item commit-sha">
            <SvgImage @name="icon-commit" @class="icon" />
            <ExternalLinkTo @href={{this.repo.currentBuild.commit.url}}>
              <EmberTooltip @text="{{concat "View commit on " (vcs-name this.repo.vcsType)}}" />
              <span class="label-align monospace">
                {{format-sha this.repo.currentBuild.commit.sha}}
              </span>
            </ExternalLinkTo>
            <SvgImage @name="icon-external-link" @class="icon" />
          </div>
        </section>
        <section class="fade-out dash-finished">
          <h3 class="label">
            Finished
          </h3>
          <p class="row-content" title="{{this.repo.currentBuild.finishedAt}}">
            <SvgImage @name="icon-calendar" @class="icon" />
            <span class="label-align">
              {{#if this.repo.currentBuild.finishedAt}}
                {{format-time this.repo.currentBuild.finishedAt}}
              {{else}}
                still running
              {{/if}}
            </span>
          </p>
        </section>
        <div class="dash-menu">
          {{#if this.displayMenuTofu}}
            {{#if this.isTriggering}}
              <LoadingIndicator />
            {{else}}
              <div class="dropup {{if this.dropupIsOpen 'is-open'}}">
                <button
                  type="button"
                  class="dropup-tofu"
                  onclick={{action "openDropup"}}
                >
                <SvgImage @name="icon-tofuburger" @class="icon-tofu" />
                </button>
                <ul class="dropup-list">
                  {{#if (and this.canOwnerBuild (not this.ownerRoMode))}}
                    <li>
                      <button
                        title="Trigger a build on the default branch"
                        onclick={{action "triggerBuild"}}
                      >
                        <SvgImage @name="icon-restart" @class="icon" />
                        <span class="label-align">
                          Trigger a build
                        </span>
                      </button>
                    </li>
                  {{else if this.ownerRoMode}}
                    <li>
                      <button
                        title="Trigger a build on the default branch"
                        disabled="disabled"
                      >
                        <SvgImage @name="icon-restart" @class="icon" />
                        <span class="label-align">
                          Trigger a build
                        </span>
                      </button>
                    </li>
                  {{/if}}
                  <li>
                    <LinkTo
                      @route="settings"
                      @model={{this.repo}}
                      @title="Settings for this repository"
                    >
                      <SvgImage @name="icon-settings" @class="icon" />
                      <span class="label-align">
                        Settings
                      </span>
                    </LinkTo>
                  </li>
                </ul>
              </div>
            {{/if}}
          {{/if}}
        </div>
      {{else}}
        <div class="dash-no-build">
          <p class="dash-helptext helptext">
            There are no builds for this repo yet
          </p>
          {{#if this.isTriggering}}
            <LoadingIndicator @inline={{true}}/>
          {{else}}
            {{#if (and this.canOwnerBuild (not this.ownerRoMode))}}
              <button
                class="button--blue"
                title="Trigger a build on the default branch"
                onclick={{action "triggerBuild"}}
              >
                Trigger a build
              </button>
            {{else if this.ownerRoMode}}
              <button
                class="button--blue"
                title="Trigger a build on the default branch"
                disabled="disabled"
              >
                Trigger a build
              </button>
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
</li>
