<div class="dash-head">
  <button {{action "starRepo"}} class="dash-star {{if repo.starred 'is-starred'}}" title="{{if repo.starred 'un'}}star this repo">
    {{inline-svg 'icon-star' class="icon--big"}}
  </button>
  {{#if repo.private}}
    {{inline-svg 'images/sroke-icons/icon-lock' class="icon"}}
  {{/if}}
</div>
<div class="dash-body">
  <div class="dash-main">
    <header class="fade-out dash-header">
      <h2 class="row-label">{{#link-to "owner" repo.owner.login title=repo.owner.login}}{{repo.owner.login}}{{/link-to}}</h2>
      <h1 class="row-content">{{#link-to "repo" repo.owner.login repo.name title=repo.name}}{{repo.name}}{{/link-to}}</h1>
    </header>

  {{#if repo.active}}
    <section class="dash-default {{repo.defaultBranch.lastBuild.state}} ">
      <h3 class="label">Default branch</h3>
      <p class="row-content color">
        {{request-icon event=repo.defaultBranch.lastBuild.eventType state=repo.defaultBranch.lastBuild.state}}
        {{#if repo.defaultBranch.lastBuild.id}}
          {{#link-to "build" repo.owner.login repo.name repo.defaultBranch.lastBuild.id title="Last build on the default branch"}}
            {{repo.defaultBranch.name}} {{repo.defaultBranch.lastBuild.state}}
        {{/link-to}}
        {{else}}
          <span title="Default branch has never been built">{{repo.defaultBranch.name}}</span>
        {{/if}}
      </p>
    </section>

    {{#if repo.currentBuild}}
    <section class="dash-last {{repo.currentBuild.state}}">
      <h3 class="label">Last build</h3>
      <p class="row-content color">
        {{status-icon status=repo.currentBuild.state}}
        {{#link-to "build" repo.owner.login repo.name repo.currentBuild.id title="Last build on the repo"}}
        <span class="label-align">#{{repo.currentBuild.number}} {{repo.currentBuild.state}}</span>
        {{/link-to}}
      </p>
    </section>
    <section class="dash-commit">
      <h3 class="label">Commit</h3>
      <p class="row-content">
        {{inline-svg 'icon-github' class="icon"}}
        <a href="{{urlGithubCommit}}" title="See the last commit on Github">
          <span class="label-align">
            {{format-sha repo.currentBuild.commit.sha}}
          </span>
        </a>
      </p>
    </section>
    <section class="dash-finished">
      <h3 class="label">Finished</h3>
      <p class="row-content" title="{{repo.currentBuild.finishedAt}}">
        {{inline-svg 'icon-calendar' class="icon"}}
        <span class="label-align">
          {{#if repo.currentBuild.finishedAt}}
          {{format-time repo.currentBuild.finishedAt}}
          {{else}}still running{{/if}}</span>
      </p>
    </section>

      {{#if displayMenuTofu}}
      <div class="dash-menu">
        {{#if isTriggering}}
        {{loading-indicator}}
        {{else}}
        <div class="dropup {{if dropupIsOpen "is-open"}}">
          <button type="button" class="dropup-tofu" {{action "openDropup"}}>
            {{inline-svg 'icon-tofuburger' class="icon-tofu"}}
          </button>
          <ul class="dropup-list">
            <li><button title="Trigger a build on the default branch" {{action 'triggerBuild'}}>
                {{inline-svg 'icon-restart' class="icon"}}
                <span class="label-align">Trigger a build</span></button></li>
            <li>
              {{#link-to 'settings' repo title="Settings for this repository"}}
              {{inline-svg 'icon-settings' class="icon"}}
              <span class="label-align">Settings</span>
              {{/link-to}}</li>
          </ul>
        </div>
        {{/if}}
      </div>
      {{/if}}

    {{else}}
      <div class="dash-bo-build">
        <p class="dash-helptext helptext">There are no builds for this repo yet</p>
        {{#if isTriggering}}
          {{loading-indicator}}
        {{else}}
          <button class="button--blue" {{action 'triggerBuild'}} title="Trigger a build on the default branch">Trigger a build</button>  {{/if}}
      </div>
    {{/if}}

  {{else}}
    <!--<div class="dash-button">
        {{#if displayActivateLink}}
        <button type="button" class="activate-repo-button is-active" {{action 'activateRepo'}}>Activate repository</button>
        {{else}}
        <p class="activate-repo-button" data-tooltip="You need admin rights to activate a repository">Actiavte repository</p>
        {{/if}}
    </div>-->
  {{/if}}
  </div>

  <!--<aside class="dash-aside">
      <ul class="lastbuilds">
        {{#each repo.lastBuilds as |build|}}
        {{lastbuild-tile repo=repo build=build}}
        {{/each}}
      </ul>
  </aside>-->
</div>
