{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if label}}
    <label class={{labelClass}}>{{label}}</label>
  {{/if}}
  <div class="month-picker-label">
          <label>{{this.rangeText}}</label>
          <span class="caret down daterangepicker-input form-control"></span>
  </div>
{{/if}}