{{#if this.fetchRepo.isRunning}}
  <LoadingScreen @center={{true}} @margin={{true}} />
{{else}}
  <div class="container">
    <div data-test-email-unsubscribe-sadmail="true">
      <SvgImage @name="sadmail" @class="picture" />
    </div>
    {{#if this.isError}}
      <h1 class="title" data-test-email-unsubscribe-title>
        We didn't find the repository
        <br />
        that you wanted to unsubscribe from
      </h1>
      <p class="description" data-test-email-unsubscribe-description>
        Please make sure you have access to the repository and try again.
      </p>
      <div class="controls">
        <button
          class="button--white button--hover"
          onclick={{perform this.fetchRepo}}
          data-test-email-unsubscribe-primary-button
        >
          Try again
        </button>
      </div>
    {{else}}
      <h1 class="title" data-test-email-unsubscribe-title>
        Unsubscribe from
        <LinkTo
          @route="repo"
          @models={{array this.repo.provider this.repo.urlOwnerName this.repo.urlName}}
          @target="_blank"
          class="repo-link repo-slug"
        >
          {{this.repo.formattedSlug}}
        </LinkTo>
      </h1>
      <p class="description" data-test-email-unsubscribe-description>
        {{#if this.isSubscribed}}
          Please confirm that you would like to unsubscribe from build emails for the
        {{else}}
          You are unsubscribed from build emails for the
        {{/if}}
        <span class="repo-slug repo-slug--bold">
          {{this.repo.formattedSlug}}
        </span>
        repository.
        {{#if this.showConfigNote}}
          If you’re still receiving emails after unsubscribing, please check your
          <ExternalLinkTo @href="https://github.com/{{this.repo.slug}}/blob/{{this.repo.defaultBranch.name}}/.travis.yml">
            .travis.yml
          </ExternalLinkTo>
        {{/if}}
      </p>
      <div class="controls">
        <button
          class="{{if this.isSubscribed 'button--orange' 'button--white'}} button--hover control control--primary"
          disabled={{this.task.isRunning}}
          onclick={{action "processTask"}}
          data-test-email-unsubscribe-primary-button
        >
          {{#if this.isUnsubscribing}}
            Unsubscribing...
          {{else if this.isSubscribing}}
            Subscribing...
          {{else if this.isSubscribed}}
            Confirm unsubscription
          {{else if this.isUnsubscribed}}
            Re-subscribe
          {{/if}}
        </button>
        <LinkTo
          @route="repo"
          @models={{array this.repo.provider this.repo.urlOwnerName this.repo.urlName}}
          @tagName="button"
          @disabled={{this.task.isRunning}}
          class="no-button control"
          data-test-email-unsubscribe-secondary-button="true"
        >
          {{#if this.isSubscribed}}
            Cancel
          {{else}}
            Go to repository
          {{/if}}
        </LinkTo>
      </div>
      <p class="appendix" data-test-email-unsubscribe-appendix>
        You can always opt-in to receive emails for this repository
        again anytime by updating your
        <LinkTo @route="account.settings" class="settings-link">
          email notification settings
        </LinkTo>
      </p>
    {{/if}}
  </div>
{{/if}}
