<div class="env-var-name">{{envVar.name}}</div>
<div class="env-var-value">
  {{#unless envVar.public}}
    {{svg-jar 'icon-private' class="icon"}}
  {{/unless}}
  <input type="pw" value="{{value}}" readonly="readonly">
</div>
<div class="env-var-branch">
  {{#if envVar.branch}}
    Only available to the <code>{{envVar.branch}}</code> branch
  {{else}}
    Available to all branches
  {{/if}}
</div>
<div class="env-var-action">
  {{#if delete.isRunning}}
    {{loading-indicator}}
  {{else}}
    <button {{action (perform delete) on="click"}} type="button" class="no-button env-var-delete">
      {{ember-tooltip text='Delete'}}
      {{svg-jar 'icon-trash' class="icon"}}
    </button>
  {{/if}}
</div>
