<div class="env-var-name">{{envVar.name}}</div>
<div class="env-var-value">
  {{#unless envVar.public}}
    {{inline-svg 'icon-private' class="icon"}}
  {{/unless}}
  <input type="pw" value="{{value}}" readonly="readonly">
</div>
<div class="env-var-action">
  <div class="tooltip">
    {{#if isDeleting}}
      {{loading-indicator}}
    {{else}}
      <button {{action (perform delete) on="click"}} type="button" class="no-button env-var-delete">
        {{inline-svg 'icon-trash' class="icon"}}
      </button>
      <div class="tooltip-bubble">Delete</div>
    {{/if}}
  </div>
</div>
