<RepositoryVisibilityIcon @repository={{repository}} />
<LinkTo
  @route="repo"
  @model={{repository.owner.login}}
  @query={{hash}}
  class="profile-repo"
>
  {{name}}
</LinkTo>
{{#if admin}}
  <LinkTo
    @route="settings"
    @models={{array repository.owner.login repository.name}}
    class="profile-settings button"
    @title="Go to Travis CI repository settings"
  >
    {{svg-jar "icon-settings" class="icon icon-hover"}}
    Settings
  </LinkTo>
{{else}}
  <a class="profile-settings disabled button">
    {{svg-jar "icon-private" class="icon"}}
    Settings
    <EmberTooltip @text="Requires admin permissions" />
  </a>
{{/if}}