<RepositoryVisibilityIcon @repository={{this.repository}} />
<LinkTo
  @route="repo"
  @models={{array this.repository.provider this.repository.owner.login this.repository.name}}
  @query={{this.hash}}
  class="profile-repo"
>
  {{this.name}}
</LinkTo>
{{#if this.admin}}
  <LinkTo
    @route="settings"
    @models={{array this.repository.provider this.repository.owner.login this.repository.name}}
    @title="Go to Travis CI repository settings"
    class="profile-settings button"
  >
    <SvgImage @name="icon-settings" @class="icon icon-hover" />
    Settings
  </LinkTo>
{{else}}
  <a class="profile-settings disabled button">
    <EmberTooltip @text="Requires admin permissions" />
    <SvgImage @name="icon-private" @class="icon" />
    Settings
  </a>
{{/if}}
