<RepositoryVisibilityIcon @repository={{this.repository}} @hideShared={{true}} />
<LinkTo
  @route="repo"
  @models={{array this.repository.provider this.repository.urlOwnerName this.repository.urlName}}
  @query={{hash serverType=this.repository.serverType}}
  class="profile-repo {{if (not (eq this.repository.provider 'assembla')) 'profile-repo-flex'}}"
>
  <span class="profile-repo-name">{{this.name}}</span>
  {{#if this.repository.shared}}
    <span>
      <SvgImage @name="icon-shared" @alt="Shared repository" @class="icon shared" />
      <EmberTooltip @text="Shared repository" />
    </span>
  {{/if}}
</LinkTo>
{{#if (eq this.repository.provider 'assembla')}}
  <span class="profile-repo-type">
    <span class="profile-repo-type-span">
      {{this.repositoryType}}
      <EmberTooltip @text="{{this.repositoryProvider}} {{this.repositoryType}} Repository" />
    </span>
  </span>
{{/if}}
{{#if this.hasActivatePermission}}
  {{#if this.isNotMatchGithub}}
    <TravisSwitch
      @active={{this.repository.active}}
      @onToggle={{perform this.toggleRepositoryTask}}
    />
  {{/if}}
{{/if}}
{{#if this.hasSettingsPermission}}
  <LinkTo
    @route="settings"
    @models={{array this.repository.provider this.repository.urlOwnerName this.repository.urlName}}
    @title="Go to Travis CI repository settings"
    class="profile-settings button"
  >
    <SvgImage @name="icon-settings" @class="icon icon-hover" />
    Settings
  </LinkTo>
{{else}}
  <a class="profile-settings disabled button">
    <EmberTooltip @text="Requires admin permissions" />
    <SvgImage @name="icon-private" @class="icon" />
    Settings
  </a>
{{/if}}
<a class="email-switch-container">
<EmailSwitch class="email-switch"
  @active={{this.hasEmailSubscription}}
  @onToggle={{perform this.toggleRepositoryEmailSubscription}}/>
<EmberTooltip @text={{this.emailSubscriptionDescription}} @side="right" />
</a>

  <div class="repositories-error">
    <p>


        An error happened when we tried to alter settings on {{vcs-name this.user.vcsType}}.

          It may be caused by API restrictions, please
          <ExternalLinkTo
            @href={{this.accessSettingsUrl}}
            @title="{{vcs-vocab this.model.vcsType 'organization' plural=true lower=false}} Access Settings on {{vcs-name this.user.vcsType}}"
          >
            review and add
          </ExternalLinkTo>
          your authorized {{vcs-vocab this.model.vcsType 'organization' plural=true lower=false}}.

        <button type="button" class="no-button close" onclick={{action "close"}}>
          <SvgImage @name="flash-close" @class="icon-close red" />
        </button>

    </p>
  </div>

