<div class="global-notification">
  {{#each this.bannersToDisplay as |banner|}}
    {{#if (eq banner 'NoPlan')}}
      <NoPlan @model={{this.model}} />
    {{else if (eq banner 'NegativeBalancePrivateAndPublic')}}
      <NegativeBalancePrivateAndPublic @isUser={{this.isUser}} @owner={{this.user}} />
    {{else if (eq banner 'NegativeBalancePrivate')}}
      <NegativeBalancePrivate @isUser={{this.isUser}} @owner={{this.user}} />
    {{else if (eq banner 'NegativeBalancePublic')}}
      <NegativeBalancePublic @isUser={{this.isUser}} @owner={{this.user}} />
    {{else if (eq banner 'TemporaryAnnouncementBanner')}}
      <TemporaryAnnouncementBanner />
    {{else if (eq banner 'RepositorySecurityBanner')}}
      <RepositorySecurityBanner />
    {{else if (eq banner 'UnconfirmedUserBanner')}}
      <UnconfirmedUserBanner />
    {{else if (eq banner 'PaymentDetailsEditLock')}}
      <PaymentDetailsEditLock @time={{this.paymentDetailsEditLockedTime}}/>
    {{else if (eq banner 'EnterpriseBanner')}}
      <EnterpriseBanner />
    {{else if (eq banner 'PlanShareAdminRevokedBanner')}}
    <PlanShareAdminRevokedBanner @planShareReceiver={{this.planShareReceiver}}/>
    {{/if}}
  {{/each}}
</div>
