<nav id="navigation" class="navigation {{if is-open 'is-open'}}">
  <ul>
    {{#unless features.enterpriseVersion}}
      {{#unless features.proVersion}}
        {{#if auth.signedIn}}
          <li>{{#link-to 'dashboard' class='navigation-anchor'}}Dashboard{{/link-to}}</li>
          <li>
            <a href="{{ config.urls.changelog }}" title="Travis CI Changelog" class="navigation-anchor">Changelog</a>
          </li>
          <li>
            <a href="{{ config.urls.docs }}" title="Travis CI Documentation" class="navigation-anchor">Documentation</a>
          </li>
        {{else}}
          <li>
            <a href="{{ config.urls.about }}" title="Travis CI team" class="navigation-anchor">About Us</a>
          </li>
          <li>
            <a href="{{ config.urls.blog }}" title="Travis CI Blog" class="navigation-anchor">Blog</a>
          </li>
          <li>
            <a href="{{ config.urls.status }}" title="Travis CI Status" class="navigation-anchor">Status</a>
          </li>
          <li>
            <a href="{{ config.urls.docs }}" title="Travis CI Documentation" class="navigation-anchor">Documentation</a>
          </li>
        {{/if}}
      {{/unless}}

      {{#if features.proVersion}}
        {{#if auth.signedIn}}
          <li>{{#link-to 'dashboard' class='navigation-anchor'}}Dashboard{{/link-to}}</li>
          <li><a href="{{ config.urls.changelog }}" title="Travis CI Changelog" class="navigation-anchor">Changelog</a></li>
          <li><a href="{{ config.urls.docs }}" title="Travis CI Documentation" class="navigation-anchor">Documentation</a></li>
        {{else}}
          <li><a href="{{ config.urls.about }}" title="Travis CI team" class="navigation-anchor">About Us</a></li>
          <li><a href="/plans" title="Plans and Pricing" class="navigation-anchor">Plans & Pricing</a></li>
          <li><a href="{{ config.urls.enterprise }}" title="Travis CI for Enterprise" class="navigation-anchor">Enterprise</a></li>
        {{/if}}
      {{/if}}

      <li>
        <a class="navigation-anchor pointer" title="Help" {{action 'goToHelp'}}>
          Help
        </a>
      </li>

      {{#if deploymentVersion}}
        <li><span class='deployment-version'>{{deploymentVersion}}</span></li>
      {{/if}}

    {{else}}

      {{#if auth.signedIn}}
        <li><a class="navigation-anchor" title="Documentation" href="{{ config.urls.docs }}">Docs</a></li>
      {{/if}}

    {{/unless}}

    <li id="profile-menu-link" class="{{classProfile}}">
      {{#if auth.signedOut}}
        <button class="auth-button signed-out" type="button" {{action 'signIn'}}>Sign in with GitHub</button>
      {{/if}}
      {{#if auth.signingIn}}
        <button class="auth-button signing-in" type="button">Signing In {{loading-indicator inline=true}}</button>
      {{/if}}
      {{#if auth.signedIn}}
        {{#link-to "account" data-test-header-account-link class="navigation-anchor navigation-profile-link signed-in"}}
          {{user-avatar url=user.avatarUrl name=user.fullName size=40}}
          {{svg-jar 'icon-dropdown-arrow' class="icon"}}
        {{/link-to}}
        <div class="menu-separator"></div>
        <ul class="navigation-nested">
          <li class="username"><span>{{userName}}</span></li>
           {{#link-to "account" class="signed-in topbar-menu-item" title="Your profile"}}
            <li>
              {{svg-jar 'icon-settings' class="icon"}}
              Settings
            </li>
           {{/link-to}}
          <div class="nav-nested"></div>
          <a data-test-signout-link href="/" title="Sign out of Travis CI" class="topbar-menu-item" {{action 'signOut'}}>
            <li>
              {{svg-jar 'icon-sign-out' class="icon"}}
              Sign Out
            </li>
          </a>
        </ul>
      {{/if}}
    </li>
  </ul>
</nav>
