<nav id="navigation" class="navigation {{if isOpen 'is-open'}}">
  <ul>
    {{#unless this.features.enterpriseVersion}}
      {{#unless this.features.proVersion}}
        {{#if this.auth.signedIn}}
          <li>
            <LinkTo @route="dashboard" class="navigation-anchor">
              Dashboard
            </LinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.changelog}}
              @title="Travis CI Changelog"
              class="navigation-anchor"
            >
              Changelog
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.docs}}
              @title="Travis CI Documentation"
              class="navigation-anchor"
            >
              Documentation
            </ExternalLinkTo>
          </li>
        {{else}}
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.about}}
              @title="Travis CI team"
              class="navigation-anchor"
            >
              About Us
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.blog}}
              @title="Travis CI Blog"
              class="navigation-anchor"
            >
              Blog
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.status}}
              @title="Travis CI Status"
              class="navigation-anchor"
            >
              Status
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.docs}}
              @title="Travis CI Documentation"
              class="navigation-anchor"
            >
              Documentation
            </ExternalLinkTo>
          </li>
        {{/if}}
      {{/unless}}
      {{#if this.features.proVersion}}
        {{#if this.auth.signedIn}}
          <li>
            <LinkTo @route="dashboard" class="navigation-anchor">
              Dashboard
            </LinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.changelog}}
              @title="Travis CI Changelog"
              class="navigation-anchor"
            >
              Changelog
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.docs}}
              @title="Travis CI Documentation"
              class="navigation-anchor"
            >
              Documentation
            </ExternalLinkTo>
          </li>
        {{else}}
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.about}}
              @title="Travis CI team"
              class="navigation-anchor"
            >
              About Us
            </ExternalLinkTo>
          </li>
          <li>
            <LinkTo
              @route="plans"
              @title="Plans and Pricing"
              class="navigation-anchor"
            >
              Plans &amp; Pricing
            </LinkTo>
          </li>
          <li>
            <ExternalLinkTo
              @href={{this.config.urls.enterprise}}
              @title="Travis CI for Enterprise"
              class="navigation-anchor"
            >
              Enterprise
            </ExternalLinkTo>
          </li>
        {{/if}}
      {{/if}}
      <li>
        <a class="navigation-anchor pointer" title="Help" {{action "goToHelp"}}>
          Help
        </a>
      </li>
      {{#if this.auth.signedOut}}
        <li class="display-on-mobile">
          <a class="navigation-anchor pointer" title="Sign in with GitHub" {{action "signIn" "github"}}>
            Sign in with GitHub
            <SvgImage @name={{vcs-icon 'GithubUser'}} @class="align-text-top fill-current w-5 h-5" />
          </a>
        </li>
        {{#if this.multiVcs.enableBitbucketLogin}}
          <li class="display-on-mobile">
            <a class="navigation-anchor pointer" title="Sign in with Bitbucket" {{action "signIn" "bitbucket"}}>
              Sign in with Bitbucket
              <SvgImage @name={{vcs-icon 'BitbucketUser'}} @class="align-text-top fill-current w-5 h-5" />
            </a>
          </li>
        {{/if}}
        {{#if this.multiVcs.enableAssemblaLogin}}
          <li class="display-on-mobile">
            <a class="navigation-anchor pointer" title="Sign in with Assembla" {{action "signIn" "assembla"}}>
              Sign in with Assembla
              <SvgImage @name={{vcs-icon 'AssemblaUser'}} @class="align-text-top fill-current w-5 h-5" />
            </a>
          </li>
        {{/if}}
      {{/if}}
      {{#if this.deploymentVersion}}
        <li>
          <span class="deployment-version">
            {{this.deploymentVersion}}
          </span>
        </li>
      {{/if}}
    {{else if this.auth.signedIn}}
      <li>
        <ExternalLinkTo
          @href={{this.config.urls.docs}}
          @title="Documentation"
          class="navigation-anchor"
        >
          Docs
        </ExternalLinkTo>
      </li>
    {{/unless}}
    <li id="profile-menu-link" class="{{this.classProfile}}">
      {{#if this.auth.signedOut}}
        {{#if this.multiVcs.disabled}}
          <button
            class="auth-button signed-out"
            type="button"
            {{action "signIn" "github"}}
          >
            Sign in
          </button>
        {{/if}}

        {{#if this.multiVcs.enabled}}
          <ul class="navigation-nested">
            <li>
              <button class="action" {{action "signIn" "github"}}>
                Sign in with GitHub
                  <SvgImage @name={{vcs-icon 'GithubUser'}} @class="align-text-top fill-current w-5 h-5" />
              </button>
            </li>
            {{#if this.multiVcs.enableAssemblaLogin}}
              <li>
                <button class="action" {{action "signIn" "assembla"}}>
                  Sign in with Assembla
                  <SvgImage @name={{vcs-icon 'AssemblaUser'}} @class="align-text-top fill-current w-5 h-5" />
                </button>
              </li>
            {{/if}}
            {{#if this.multiVcs.enableBitbucketLogin}}
              <li>
                <button class="action" {{action "signIn" "bitbucket"}}>
                  Sign in with Bitbucket
                  <SvgImage @name={{vcs-icon 'BitbucketUser'}} @class="align-text-top fill-current w-5 h-5" />
                </button>
              </li>
            {{/if}}
          </ul>
          <span class="auth-button">
            Sign in
          </span>
        {{/if}}
      {{/if}}
      {{#if this.auth.signingIn}}
        <button class="auth-button signing-in" type="button">
          Signing In <LoadingIndicator @inline={{true}} />
        </button>
      {{/if}}
      {{#if this.auth.signedIn}}
        <LinkTo
          @route="account"
          data-test-header-account-link="true"
          class="navigation-anchor navigation-profile-link signed-in"
        >
          <UserAvatar
            @url={{this.user.avatarUrl}}
            @name={{this.user.fullName}}
            @size={{40}}
          />
          <SvgImage @name="icon-dropdown-arrow" @class="icon" />
        </LinkTo>
        <div class="menu-separator"></div>
        <ul class="navigation-nested">
          <li class="username">
            <span>
              {{this.userName}}
            </span>
          </li>
          <LinkTo
            @route="account"
            @title="Your profile"
            class="signed-in topbar-menu-item"
          >
            <li>
              <SvgImage @name="icon-settings" @class="icon" />
              Settings
            </li>
          </LinkTo>
          <div class="nav-nested"></div>
          <a
            data-test-signout-link
            href="/"
            title="Sign out of Travis CI"
            class="topbar-menu-item"
            {{action "signOut"}}
          >
            <li>
              <SvgImage @name="icon-sign-out" @class="icon" />
              Sign Out
            </li>
          </a>
        </ul>
      {{/if}}
    </li>
  </ul>
</nav>
