<div class="heatmap-container" data-test-heatmap-container>
  <div class="heatmap-range-selector" data-test-heatmap-range-selector>
    <div class="heatmap-builds">
      {{#basic-dropdown verticalPosition="below" as |dd|}}
        {{#dd.trigger class="build-filter-label"}}
          {{this.buildFilterLabel}}
          <span class="caret-heatmap down-heatmap" data-test-down-arrow></span>
        {{/dd.trigger}}
        {{#dd.content class="dropdown-content"}}
          <li data-test-build-filter-all>
            <a class="dropdown-list-elements" {{on "click" (action "setBuildFilter" "all" dd)}}>
              <div class="dropdown-list-builds">
                <div class="box-dropdown-heatmap all-dropdown-heatmap" data-test-box-all></div>
                <span>All Builds</span>
              </div>
            </a>
          </li>
          <li data-test-build-filter-success>
            <a class="dropdown-list-elements" {{on "click" (action "setBuildFilter" "passed" dd)}}>
              <div class="dropdown-list-builds">
                <div class="box-dropdown-heatmap successful-dropdown-heatmap" data-test-box-success></div>
                <span>Successful Builds</span>
              </div>
            </a>
          </li>
          <li data-test-build-filter-failed>
            <a class="dropdown-list-elements" {{on "click" (action "setBuildFilter" "failed" dd)}} data-test-click-failed>
              <div class="dropdown-list-builds">
                <div class="box-dropdown-heatmap failed-dropdown-heatmap" data-test-box-failed></div>
                <span>Failed Builds</span>
              </div>
            </a>
          </li>
          <li data-test-build-filter-error>
            <a class="dropdown-list-elements" {{on "click" (action "setBuildFilter" "errored" dd)}}>
              <div class="dropdown-list-builds">
                <div class="box-dropdown-heatmap errored-dropdown-heatmap" data-test-box-error></div>
                <span>Errored Builds</span>
              </div>
            </a>
          </li>
          <li data-test-build-filter-cancel>
            <a class="dropdown-list-elements" {{on "click" (action "setBuildFilter" "canceled" dd)}}>
              <div class="dropdown-list-builds">
                <div class="box-dropdown-heatmap canceled-dropdown-heatmap" data-test-box-cancel></div>
                <span>Canceled Builds</span>
              </div>
            </a>
          </li>
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>

    <div class="heatmap-year" data-test-build-year-dropdown-container>
      {{#basic-dropdown matchTriggerWidth=true verticalPosition="below" as |dd|}}
        {{#dd.trigger class="build-filter-label build-year"}}
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask id="path-2-inside-1_852_5229" fill="white">
              <path
                d="M0.918457 1.03333H15.1681V15.9667H0.918457V1.03333ZM15.0539 5.36506H1.26086Z"
              ></path>
            </mask>
            <path
              d="M0.918457 1.03333V0.0333252H-0.081543V1.03333H0.918457ZM15.1681 1.03333H16.1681V0.0333252H15.1681V1.03333ZM15.1681 15.9667V16.9667H16.1681V15.9667H15.1681ZM0.918457 15.9667H-0.081543V16.9667H0.918457V15.9667ZM0.918457 2.03333H15.1681V0.0333252H0.918457V2.03333ZM14.1681 1.03333V15.9667H16.1681V1.03333H14.1681ZM15.1681 14.9667H0.918457V16.9667H15.1681V14.9667ZM1.91846 15.9667V1.03333H-0.081543V15.9667H1.91846ZM15.0539 4.36506H1.26086V6.36506H15.0539V4.36506Z"
              fill="#666666"
              mask="url(#path-2-inside-1_852_5229)"
            ></path>
            <mask id="path-4-inside-2_852_5229" fill="white">
              <path
                d="M4.94831 8.94055C5.13818 8.76348 5.45498 8.55762 5.90085 8.55762C6.68378 8.55762 8.13338 9.79922 4.93445 12.724H7.38458L4.94831 8.94055ZM8.76592 8.55868H11.3526C11.3526 8.55868 9.85925 10.3646 9.85925 12.7251"
              ></path>
            </mask>
            <path
              d="M4.94831 8.94055C5.13818 8.76348 5.45498 8.55762 5.90085 8.55762C6.68378 8.55762 8.13338 9.79922 4.93445 12.724H7.38458L4.94831 8.94055ZM8.76592 8.55868H11.3526C11.3526 8.55868 9.85925 10.3646 9.85925 12.7251"
              fill="#C4C4C4"
            ></path>
            <path
              d="M4.94831 8.94055L4.26629 8.20922L3.65506 8.77924L4.10754 9.48194L4.94831 8.94055ZM4.93445 12.724L4.25967 11.986L2.35875 13.724H4.93445V12.724ZM7.38458 12.724V13.724H9.21789L8.22535 12.1826L7.38458 12.724ZM11.3526 8.55868L12.1232 9.19595L13.4771 7.55868H11.3526V8.55868ZM5.63034 9.67188C5.70157 9.60545 5.78638 9.55762 5.90085 9.55762V7.55762C5.12358 7.55762 4.57479 7.92152 4.26629 8.20922L5.63034 9.67188ZM5.90085 9.55762C5.86705 9.55762 5.9083 9.56003 5.91482 9.63301C5.93078 9.81164 5.81634 10.5627 4.25967 11.986L5.60923 13.462C7.25149 11.9605 8.01172 10.6284 7.90688 9.45502C7.7926 8.17601 6.71758 7.55762 5.90085 7.55762V9.55762ZM4.93445 13.724H7.38458V11.724H4.93445V13.724ZM8.22535 12.1826L5.78908 8.39916L4.10754 9.48194L6.54381 13.2654L8.22535 12.1826ZM8.76592 9.55868H11.3526V7.55868H8.76592V9.55868ZM11.3526 8.55868C10.5819 7.92141 10.5817 7.92166 10.5815 7.92192C10.5814 7.92201 10.5812 7.92228 10.5811 7.92247C10.5808 7.92285 10.5804 7.92325 10.5801 7.92369C10.5793 7.92456 10.5785 7.92554 10.5776 7.92664C10.5758 7.92884 10.5737 7.93149 10.5712 7.93458C10.5662 7.94077 10.5598 7.94875 10.552 7.95848C10.5366 7.97794 10.516 8.00444 10.4908 8.03767C10.4406 8.10408 10.3723 8.19768 10.2919 8.31599C10.1317 8.552 9.92135 8.88981 9.71152 9.30941C9.29568 10.1409 8.85925 11.3388 8.85925 12.7251H10.8592C10.8592 11.7508 11.1695 10.8655 11.5003 10.204C11.6638 9.87702 11.8268 9.61583 11.9466 9.43948C12.0062 9.35161 12.0546 9.28568 12.086 9.24411C12.1017 9.22335 12.1131 9.20875 12.1196 9.2006C12.1228 9.19653 12.1248 9.19408 12.1254 9.19329C12.1257 9.1929 12.1257 9.19292 12.1254 9.19336C12.1252 9.19358 12.1249 9.19391 12.1246 9.19434C12.1244 9.19456 12.1242 9.1948 12.124 9.19507C12.1238 9.1952 12.1237 9.19542 12.1236 9.19549C12.1234 9.19572 12.1232 9.19595 11.3526 8.55868Z"
              fill="#666666"
              mask="url(#path-4-inside-2_852_5229)"
            ></path>
            <rect x="0.5" y="1" width="15" height="15" stroke="#666666"></rect>
          </svg>
          <span class="heatmap-year-span">{{this.buildYear}}</span>
          <span class="caret-heatmap down-heatmap"></span>
        {{/dd.trigger}}
        {{#dd.content class="dropdown-content dropdown-content-heatmap"}}
          {{#each this.buildYears as |buildYear|}}
            <li>
              <a class="dropdown-list-elements dropdown-list-elements-heatmap" {{on "click" (action "setBuildYear" buildYear dd)}}>
                {{{buildYear}}}
              </a>
            </li>
          {{/each}}
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>
  </div>

  <div class="heatmap-cal-container">
    <div class="day-label-container" data-test-day-label-container>
      <span class="day-label" data-test-day-label-mon>Mon</span>
      <span class="day-label" data-test-day-label-tue>Tue</span>
      <span class="day-label" data-test-day-label-wed>Wed</span>
      <span class="day-label" data-test-day-label-thu>Thu</span>
      <span class="day-label" data-test-day-label-fri>Fri</span>
      <span class="day-label" data-test-day-label-sat>Sat</span>
      <span class="day-label" data-test-day-label-sun>Sun</span>
    </div>

    <div id="insights-heatmap-scroll" class="insights-heatmap-scroll">
      <div id="insights-heatmap"></div>

      <span class="heatmap-legend-less">Less</span>
      <span class="heatmap-legend-more">More</span>
    </div>
  </div>
</div>
