<div class="profile-hooks columns">
  {{hook-switch hook=hook onToggleError="handleToggleError"}}
  {{!-- <button class="switch is-on"></button> --}}
  {{#if hook.isSaving}}
    <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
  {{else}}
    {{#link-to "settings" hook.ownerName hook.name class="profile-settings" title="Repository settings"}}<span class="icon icon--cog"></span>{{/link-to}}
  {{/if}}
</div>
<a {{bind-attr href="hook.urlGithub"}} rel="nofollow" class="profile-repo columns">
  {{hook.slug}}
  <span>{{hook.description}}</span></a>

{{#if errorMessage}}
  <div class="error">
    <p>
      {{errorMessage}}
      <a class="close" {{action "close" target=view}}></a></p>
  </div>
{{/if}}
