<div class="profile-hooks profile-switch">
  {{#if admin}}
    {{hook-switch hook=hook onToggleError="handleToggleError" onToggle="resetErrors"}}
    {{#if hook.isSaving}}
      {{loading-indicator inline=true}}
    {{else}}
        {{#link-to "settings" hook.ownerName hook.name class="profile-settings" title="Go to Travis CI repository settings"}}
          {{inline-svg 'icon-settings' class="icon icon-hover"}}{{/link-to}}
    {{/if}}
  {{else}}
    {{hook-switch hook=hook disabled=true}}
  {{/if}}
</div>

{{#link-to "repo" hook.ownerName hook.name class="profile-repo"}}
  {{hook.slug}}
  <span>{{hook.description}}</span>
{{/link-to}}

{{#if showError}}
  <div class="hooks-error">
    <p>
      An error happened when we tried to alter settings on GitHub.
      {{#if githubOrgsOauthAccessSettingsUrl}}
        It may be caused by API restrictions, please
        <a href={{githubOrgsOauthAccessSettingsUrl}}
          title="Orgs Oauth Access Settings on GitHub">
          review and add
        </a> your authorized Orgs.
      {{/if}}
      <button type="button" class="no-button close" {{action "close" target=view}}>
        {{inline-svg 'icon-failed' class="icon red"}}
      </button>
    </p>
  </div>
{{/if}}
