<nav class="travistab-nav--secondary">
  <ul>
    <li>
      <LinkTo
        @route="job.index"
        @models={{array this.repo this.job}}
        @id="tab_log"
        @title="Look at this job's log"
        class={{if this.isLog 'active'}}
        data-test-job-log-tab="true"
      >
        Job log
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="job.config"
        @models={{array this.repo this.job}}
        @title="Look at this job's config"
        @disabled={{this.job.build.request.noYaml}}
        data-test-build-yaml-tab="true"
      >
        {{#if this.job.build.request.noYaml}}
          <EmberTooltip @text="Try a more recent job to see the config" />
        {{/if}}

        View config

        {{#if this.showConfigValidation}}
          <span class="tooltip-wrapper">
            <span class="build-messages-badge badge-{{this.messagesMaxLevel}}"></span>
            <EmberTooltip @text={{this.messagesBadgeTooltipText}} />
          </span>
        {{/if}}
      </LinkTo>
    </li>
  </ul>
</nav>
<div class="travistab-body job-tabs">
  {{outlet}}
</div>
