{{#if canCancel}}
  {{#if cancelling}}
    {{loading-indicator height=true}}
  {{else}}
    <a href="#" {{action "cancel"}} class="button-circle-cancel" title="Cancel job">
      Cancel Job
    </a>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarting}}
    {{loading-indicator height=true}}
  {{else}}
    <a href="#" {{action "restart"}} class="button-circle-trigger" title="Restart job">
      Restart Job
    </a>
  {{/if}}
{{/if}}
