{{#if error}}
  <p class="notice-banner--red">There was an error while trying to fetch the log.</p>
{{else}}
  {{#if log.isLoaded}}
    {{log-content job=job log=log}}
  {{! FIXME this indicates a need to rethink things}}
  {{else if job.logNotReady}}
    {{log-content job=job log=log}}
  {{else}}
    {{loading-indicator}}
  {{/if}}
{{/if}}
