<nav class="travistab-nav--secondary">
  <ul>
    <li>
      <LinkTo
        @route="{{route}}.index"
        @models={{array this.repo this.model}}
        @id="tab_log"
        @title="Look at this {{this.model}}'s log"
        class={{if this.isLog 'active'}}
        data-test-job-log-tab="true"
      >
        Job log
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="{{route}}.config"
        @models={{array this.repo this.model}}
        @title="Look at this {{this.model}}'s config"
      >

        View config

        {{#if this.showConfigValidation}}
          <span class="tooltip-wrapper">
            <span class="request-messages-badge request-messages-badge-{{this.messagesMaxLevel}}"></span>
            <EmberTooltip @text={{this.messagesBadgeTooltipText}} />
          </span>
        {{/if}}
      </LinkTo>
    </li>
  </ul>
</nav>
<div class="travistab-body {{this.route}}-tabs">
  {{outlet}}
</div>
