{{#if canCancel}}
  {{#if cancel.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <button {{action (perform cancel)}} class="action-button--cancel" type="button" title="Cancel job">
      Cancel job
    </button>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarters.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <button {{action (perform restart)}} class="action-button--restart" title="Restart job" type="button">
      Restart job
    </button>

    {{#if features.proVersion}}
      {{#if canDebug}}
        <button {{action (perform debug)}} class="action-button--debug" title="Restart as debug job" type="button">Debug job</button>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
