  <div class="detail-job-os {{os}}">
    {{tooltip-on-element text=os}}
    {{svg-jar osIcon class='icon'}}
  </div>

  {{#if name}}
    <div class="detail-job-name">
      <span class="label-align" aria-label="Title">{{name}}</span>
    </div>
  {{/if}}

  <div class="detail-job-lang">
    {{svg-jar 'icon-language' class="icon"}}
    <span class="label-align" aria-label="Language">
      {{#if languages}}
        {{languages}}
      {{else}}
        no language set
      {{/if}}
    </span>
  </div>
  
