{{#if canCancel}}
  {{#if cancelling}}
    {{loading-indicator height=true}}
  {{else}}
    <a href="#" {{action "cancel"}} class="action-button--cancel" title="Cancel job">
      Cancel job
    </a>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarting}}
    {{loading-indicator height=true}}
  {{else}}
    <a href="#" {{action "restart"}} class="action-button--restart" title="Restart job">
      Restart job
    </a>

    {{#if features.proVersion}}
      <a href="#" {{action "debugJob"}} class="action-button--debug" title="Restart as debug job">Debug job</a>
    {{/if}}
  {{/if}}
{{/if}}
