{{#link-to "job" repo job}}
  <div class="job-state {{job.state}}">
    {{status-icon status=job.state}}
  </div>

  <div class="job-number {{job.state}}">
    {{svg-jar 'icon-hash' class="icon"}}
    <span class="label-align" aria-label="Job number">{{job.number}}</span>
  </div>

  <div class="job-os {{os}}">
    {{ember-tooltip text=job.config.content.os}}
    {{svg-jar osIcon class='icon'}}
  </div>

{{#if name}}
  <div class="job-name">
    {{svg-jar 'job-name-icon' class='icon'}}
    <span class="label-align" aria-label="Title">{{name}}</span>
  </div>
{{else}}
  <div class="job-lang">
    {{svg-jar 'icon-language' class="icon"}}
    <span class="label-align" aria-label="Language">{{#if languages}}{{languages}}{{else}}no language set{{/if}}</span>
  </div>

{{#if environment}}
  <div class="job-env">
    {{svg-jar 'icon-environment' class="icon"}}
    <span class="label-align" aria-label="Environment variables">{{environment}}</span>
  </div>
{{else}}
  <div class="job-env is-empty">
    {{svg-jar 'icon-environment' class="icon"}}
    <span class="label-align" aria-label="Environment variables">no environment variables set</span>
  </div>
{{/if}}
{{/if}}

  <div class="job-duration" title="Started {{pretty-date job.startedAt}}">
    {{svg-jar 'icon-clock' class="icon"}}
    <time class="label-align" aria-label="Job duration" datetime="PT{{job.duration}}S">{{format-duration job.duration}}</time>
  </div>

{{/link-to}}

{{repo-actions job=job repo=job.repo labelless=true}}
