<LinkTo @route="job" @models={{array this.repo this.job}}>
  <div class="job-state {{this.job.state}}">
    <StatusIcon @status={{this.job.state}} />
  </div>
  <div class="job-number {{this.job.state}}">
    <SvgImage @name="icon-hash" @class="icon" />
    <span class="label-align" aria-label="Job number">
      {{this.job.jobNumber}}
    </span>
  </div>
  <div class="job-arch">
    <SvgImage @name="icon-arch" @class="icon" />
    <span class="label-align" aria-label="CPU architecture">
      {{this.arch}}
    </span>
  </div>
  <div class="job-os {{this.os}}">
    <EmberTooltip @text='{{this.os}} {{this.osVersion}}' />
    <SvgImage @name={{this.osIcon}} @class="icon" />
    <span class="label-align" aria-label="OS Distribution / Version">
      {{this.osVersion}}
    </span>
  </div>
  {{#if this.name}}
    <div class="job-name">
      <SvgImage @name="job-name-icon" @class="icon" />
      <span class="label-align" aria-label="Title">
        {{this.name}}
      </span>
    </div>
  {{else}}
    <div class="job-lang">
      <SvgImage @name="icon-language" @class="icon" />
      <span class="label-align" aria-label="Language">
        {{#if this.languages}}
          {{this.languages}}
        {{else}}
          no language set
        {{/if}}
      </span>
    </div>
    {{#if this.environment}}
      <div class="job-env">
        <SvgImage @name="icon-environment" @class="icon" />
        <span class="label-align" aria-label="Environment variables">
          {{this.environment}}
        </span>
      </div>
    {{else}}
      <div class="job-env is-empty">
        <SvgImage @name="icon-environment" @class="icon" />
        <span class="label-align" aria-label="Environment variables">
          no environment variables set
        </span>
      </div>
    {{/if}}
  {{/if}}
  <div class="job-duration" title="Started {{pretty-date this.job.startedAt}}">
    <SvgImage @name="icon-clock" @class="icon" />
    <time
      class="label-align"
      aria-label="Job duration"
      datetime="PT{{this.job.duration}}S"
    >
      {{format-duration this.job.duration}}
    </time>
  </div>
</LinkTo>
<RepoActions
  @job={{this.job}}
  @repo={{this.job.repo}}
  @labelless={{true}}
  @showPriority={{false}}
/>
