{{#link-to "job" repo job}}
  <div class="job-state {{job.state}}">
    {{status-icon status=job.state}}
  </div>

  <div class="job-number {{job.state}}">
    <span class="icon-hash" aria-hidden="true"></span>
    <span class="label-align">{{job.number}}</span>
  </div>

  <div class="job-os {{job.config.os}} tooltip">
    {{#if job.config.os}}
      <span class="icon tooltip-trigger">{{job.config.os}}</span>
      <div class="tooltip-bubble" aria-hidden="true">{{job.config.os}}</div>
    {{/if}}
  </div>

  <div class="job-lang">
    <span class="icon-lang"></span>
    <span class="label-align">{{#if languages}}{{languages}}{{else}}no language set{{/if}}</span>
  </div>

{{#if environment}}
  <div class="job-env">
    <span class="icon-env"></span>
    <span class="label-align">{{environment}}</span>
  </div>
{{else}}
  <div class="job-env is-empty">
    <span class="icon-env"></span>
    <span class="label-align">no environment variables set</span>
  </div>
{{/if}}

  <div class="job-duration" title="Started {{pretty-date job.startedAt}}">
    <span class="icon-clock"></span>
    <span class="label-align">{{format-duration job.duration}}</span>
  </div>
{{/link-to}}
