{{#link-to "job" repo job}}
  <div class="job-state {{job.state}}">
    {{status-icon status=job.state}}
  </div>

  <div class="job-number {{job.state}}">
    {{inline-svg 'icon-hash' class="icon"}}
    <span class="label-align" aria-label="Job number">{{job.number}}</span>
  </div>

  <div class="job-os {{job.config.os}} tooltip" data-tooltip="{{job.config.os}}">
    {{#if job.config.os}}
    {{inline-svg 'icon-linux' class="icon linux"}}
    {{inline-svg 'icon-mac' class="icon mac"}}
    {{/if}}
  </div>

  <div class="job-lang">
    {{inline-svg 'icon-language' class="icon"}}
    <span class="label-align" aria-label="Language">{{#if languages}}{{languages}}{{else}}no language set{{/if}}</span>
  </div>

{{#if environment}}
  <div class="job-env">
    {{inline-svg 'icon-environment' class="icon"}}
    <span class="label-align" aria-label="Environment variables">{{environment}}</span>
  </div>
{{else}}
  <div class="job-env is-empty">
    {{inline-svg 'icon-environment' class="icon"}}
    <span class="label-align" aria-label="Environment variables">no environment variables set</span>
  </div>
{{/if}}

  <div class="job-duration" title="Started {{pretty-date job.startedAt}}">
    {{inline-svg 'icon-clock' class="icon"}}
    <time class="label-align" aria-label="Job duration" datetime="PT{{job.duration}}S">{{format-duration job.duration}}</time>
  </div>

{{/link-to}}

{{repo-actions job=job repo=job.repo labelless=true}}
