{{#link-to "job" repo job}}
  <div class="tile-status tile-status--job">
    {{#if isAnimating}}
      <svg class="svg-booting" version="1.1" width="30" height="12" viewBox="0 0 10 10" preserveAspectRatio="xMinYMid meet">
        <g>
          <circle class="bubble" fill="#CDBC2C" cx="7.686" cy="7.369" r="2"/>
          <circle class="bubble" fill="#D6C826" cx="13.143" cy="7.369" r="2"/>
          <circle class="bubble" fill="#D6C826" cx="2.232" cy="7.369" r="2"/>
        </g>
      </svg>
    {{else}}
      <span class="icon icon--job {{job.state}}"></span>
    {{/if}}
  </div>

  <p class="job-id jobs-item build-status">
    <span class="icon icon--hash-dark"></span>
    {{job.number}}
  </p>

  <p class="job-os jobs-item build-os {{job.config.os}}">
    <span class="icon {{job.config.os}}"></span>
  </p>

  {{#if languages}}
    <p class="job-lang jobs-item build-lang">
      <span class="icon icon--lang"></span>
      {{languages}}
    </p>
  {{else}}
    <p class="job-lang jobs-item build-lang is-empty">
      <span class="icon icon--lang"></span>
      no language set
    </p>
  {{/if}}

  <div class="job-anchor jobs-item">
    {{#if environment}}
      <p class="job-env jobs-item build-env">
        <span class="icon icon--env"></span>
        {{environment}}
      </p>
    {{else}}
      <p class="job-env jobs-item build-env is-empty">
        <span class="icon icon--env"></span>
        no environment variables set
      </p>
    {{/if}}

    <p class="job-duration jobs-item" title="Started {{pretty-date job.startedAt}}">
      <span class="icon icon--clock-dark"></span>
      {{format-duration job.duration}}
    </p>

  </div>
{{/link-to}}
