{{#link-to "job" repo job}}
  <div class="job-state {{job.state}}">
    {{status-icon status=job.state}}
  </div>

  <div class="job-number {{job.state}}">
    <span class="icon-hash" aria-hidden="trigger"></span>
    <span class="label-align" aria-label="Job number">{{job.number}}</span>
  </div>

  <div class="job-os {{job.config.os}} tooltip">
    {{#if job.config.os}}
      <span class="icon tooltip-trigger" aria-label="Operating System">{{job.config.os}}</span>
      <div class="tooltip-bubble" aria-hidden="true">{{job.config.os}}</div>
    {{/if}}
  </div>

  <div class="job-lang">
    <span class="icon-lang" aria-hidden="true"></span>
    <span class="label-align" aria-label="Language">{{#if languages}}{{languages}}{{else}}no language set{{/if}}</span>
  </div>

{{#if environment}}
  <div class="job-env">
    <span class="icon-env" aria-hidden="true"></span>
    <span class="label-align" aria-label="Environment variables">{{environment}}</span>
  </div>
{{else}}
  <div class="job-env is-empty">
    <span class="icon-env" aria-hidden="true"></span>
    <span class="label-align" aria-label="Environment variables">no environment variables set</span>
  </div>
{{/if}}

  <div class="job-duration" title="Started {{pretty-date job.startedAt}}">
    <span class="icon-clock" aria-hidden="true"></span>
    <time class="label-align" aria-label="Job duration" datetime="PT{{job.duration}}S">{{format-duration job.duration}}</time>
  </div>
{{/link-to}}
