{{travis-switch active=enabled description=description action=(perform toggle)}}
<div class="tooltip-settings">
  <a href="http://docs.travis-ci.com/user/customizing-the-build/#Limiting-Concurrent-Builds" title="about the concurrency setting">
    <p class="tooltip-bubble">Read more about<br>concurrent builds</p>
    {{inline-svg 'icon-help' class="icon-help"}}
  </a>
</div>
{{#if enabled}}
  <input value={{value}} onchange={{action limitChanged value="target.value"}} pattern="/^[0-9]+$/">
{{/if}}
{{#if toggle.isRunning}}
{{loading-indicator inline=true}}
{{/if}}
