<section id="log-container" class="log">

  <!-- {{#if job.notStarted}}
    <div class="log-notice">Hang tight, the log cannot be shown until the job has started.</div>
  {{/if}} -->

  <!-- For queued and received states-->
  <!-- Booting state in Travis is recevied state in Travis Web -->
  {{#if job.notStarted}}
  <div class="job-waiting-container">
    <span class="spinner"><span id="num1">1</span></span>
    <span class="stage-message">Job Received</span>
    <span class="loading-line-1 loading-line"></span>
    <span class="loading-ring-2 spinner"><span id="num2">2</span></span>
    <span class="stage-message">Waiting for concurrency</span>
    <span class="loading-line-2 loading-line"></span>
    <span class="loading-ring-3 spinner"><span id="num3">3</span></span>
    <span class="stage-message">Booting</span>
    <span class="loading-line-3 loading-line"></span>
    <span class="loading-ring-4"></span>
  </div>
  {{/if}}

  {{#if job.reQueue}}
    <div class="log-notice">Back to the queue...</div>
  {{/if}}

  {{#if job.inQueue}}
    <div class="log-notice">Hang tight, this job is next...</div>
  {{/if}}

  {{#if job.toBeCreated}}
    <div class="log-notice">Things are being created...</div>
  {{/if}}
  <div class="log-container {{if job.notStarted 'hidden'}}">
      <button type="button" class="toggle-log-button {{if logIsVisible 'hidden'}}" title="Display the log" {{action "toggleLog"}}>
      {{svg-jar 'icon-seemore' class="icon"}}
      <span class="label-align">View log</span></button>

    <div class="log-main {{if logIsVisible 'is-visible'}} {{if job.notStarted 'hidden'}}">
      <div class="log-header">
          <button type="button" class="toggle-log-button--dark {{unless logIsVisible 'hidden'}}" title="Display the log" {{action "toggleLog"}}>
              {{svg-jar 'icon-seemore' class="icon"}}<span class="label-align">Hide log</span></button>
        {{#if canRemoveLog}}
          <button class="remove-log-button open-popup" {{action "toggleRemoveLogModal"}} title="Remove the log" type="button">
            {{svg-jar 'icon-deletelogs' class="icon"}} Remove log</button>
        {{/if}}
        <a class="download-log-button" href={{plainTextLogUrl}} title="Display the log in plaintext">
          {{svg-jar 'icon-downloadlogs' class="icon"}} Raw log</a>
      </div>
      <div class="log-body">
        {{#if showTailing}}
          <a href="#" id="tail" class="log-tail" {{action "toggleTailing"}}>
            <span class="tail-status"></span>
            <span class="tail-label">
              {{svg-jar 'icon-arrowdown' class="icon-arrow"}}
              {{#if job.isFinished}}
                Scroll to End of Log
              {{else}}
                Follow Log
              {{/if}}
            </span>
          </a>
        {{/if}}

        <pre id="log" class="ansi"></pre>

        {{#if showToTop}}
          <a href='#' class="to-top" {{action "toTop"}}>Top</a>
        {{/if}}
      </div>
    </div>

    {{#if limited}}
      <p class="warning notice-banner--red">
        This log is too long to be displayed. Please reduce the verbosity of your
        build or download the <a href={{plainTextLogUrl}}>raw log</a>.
      </p>
    {{/if}}
  </div>
</section>

{{#if isShowingRemoveLogModal}}
  {{#modal-dialog
     onClose="toggleRemoveLogModal"
     targetAttachment="center"
     translucentOverlay=true}}
    {{remove-log-popup job=job onCloseModal=(action 'toggleRemoveLogModal')}}
  {{/modal-dialog}}
{{/if}}
