{{#if this.isNotSignedIn}}
  <div
    class="multi-signin-button relative w-64 inline-block"
    {{on 'mouseenter' (action this.open)}}
    {{on 'mouseleave' (action this.close)}}
    data-test-multi-signin-button=""
    ...attributes
  >
    <button
      class="hero-button w-full"
      {{on 'click' (action this.clickMainButton)}}
    >
      {{#if this.auth.signingIn}}
        Signing in
        <LoadingIndicator @white={{true}} @inline={{true}} />
      {{else}}
        Sign in
      {{/if}}
    </button>

    <AnimatedIf
      @predicate={{this.showVcsOptions}}
      @use={{this.animation.transitions.fade}}
      @duration={{this.animation.durations.quick}}
    >
      <div class="multi-signin-button__vcs-options absolute w-64 shadow-sm">
        {{#if this.multiVcs.enableGithubLogin}}
          <button
            class="multi-signin-button__vcs-button w-full cursor-pointer flex justify-center items-center"
            {{on 'click' (action this.signInWith 'github')}}
          >
            With Github
            <SvgImage @name={{vcs-icon 'GithubUser'}} @class="fill-current w-5 h-5 ml-2" />
          </button>
        {{/if}}
        {{#if this.multiVcs.enableAssemblaLogin}}
          <button
            class="multi-signin-button__vcs-button w-full cursor-pointer flex justify-center items-center"
            {{on 'click' (action this.signInWith 'assembla')}}
          >
            With Assembla
            <SvgImage @name={{vcs-icon 'AssemblaUser'}} @class="fill-current w-5 h-5 ml-2" />
          </button>
        {{/if}}
        {{#if this.multiVcs.enableBitbucketLogin}}
          <button
            class="multi-signin-button__vcs-button w-full cursor-pointer flex justify-center items-center"
            {{on 'click' (action this.signInWith 'bitbucket')}}
          >
            With Bitbucket
            <SvgImage @name={{vcs-icon 'BitbucketUser'}} @class="fill-current w-5 h-5 ml-2" />
          </button>
        {{/if}}
        {{#if this.multiVcs.enableGitlabLogin}}
          <button
            class="multi-signin-button__vcs-button w-full cursor-pointer flex justify-center items-center"
            {{on 'click' (action this.signInWith 'gitlab')}}
          >
            With Gitlab
            <SvgImage @name={{vcs-icon 'GitlabUser'}} @class="fill-current w-5 h-5 ml-2" />
          </button>
        {{/if}}
        {{#if this.multiVcs.enableTravisProxyLogin}}
          <button
            class='multi-signin-button__vcs-button w-full cursor-pointer flex justify-center items-center'
            {{on 'click' (action this.signInWith 'travisproxy')}}
          >
            With Travis CI VCS Proxy
            <SvgImage @name={{vcs-icon 'TravisproxyUser'}} @class='fill-current w-5 h-5 ml-2' />
          </button>
        {{/if}}
      </div>
    </AnimatedIf>
  </div>
{{/if}}
