<section class="dash-head {{this.build.state}}">
  <div class="row-content">
    <RepositoryVisibilityIcon @repository={{this.build.repo}} />
  </div>
</section>
<section class="dash-body">
  <section class="dash-main">
    <section class="state {{this.build.state}}">
      <div class="row-content">
        <StatusIcon @status={{this.build.state}} />
      </div>
    </section>
    <section class="repo color">
      <div class="row-content" data-test-owner>
        <LinkTo
          @route="owner"
          @models={{array this.build.repo.provider this.build.repo.ownerName}}
          class="inner-underline"
        >
          {{this.build.repo.owner.login}}
        </LinkTo>
      </div>
      <div class="row-content" data-test-repo-name>
        <LinkTo
          @route="repo"
          @models={{array this.build.repo.provider this.build.repo.urlOwnerName this.build.repo.urlName}}
          class="inner-underline"
        >
          {{this.build.repo.name}}
          {{#if this.build.repo.shared}}
            <SvgImage @name="icon-shared" @alt="Shared repository" @class="icon shared" />
          {{/if}}
        </LinkTo>
      </div>
    </section>
    <section class="message-and-branch">
      <div
        class="message row-content"
        title={{this.build.commit.message}}
        data-test-commit-message
      >
        {{format-message
          this.build.commit.message
          short=true
          repo=this.build.repo
          eventType=this.build.eventType
        }}
      </div>
      <div class="row-content no-hover">
        <ExternalLinkTo
          data-test-branch-name="true"
          @href={{this.branchUrl}}
        >
          <EmberTooltip @text="{{concat "View branch on " (vcs-name this.build.repo.vcsType)}}" @popperContainer="body" />
          <SvgImage @name="icon-branch" @class="icon" />
          <span class="label-align inner-underline">
            {{this.build.branchName}}
          </span>
          <SvgImage @name="icon-external-link" @class="icon" />
        </ExternalLinkTo>
      </div>
    </section>
    <section class="state-and-sha">
      <div>
        <LinkTo
          @route="build"
          @models={{array this.build.repo.provider this.build.repo.ownerName this.build.repo.vcsName this.build.id}}
          data-test-state-number="true"
          class="row-content color"
        >
          <RequestIcon @event={{this.build.eventType}} @state={{this.build.state}} />
          <span class="inner-underline">
            #{{this.build.number}} {{humanize-state this.build.state}}
          </span>
        </LinkTo>
      </div>
      <div>
        <ExternalLinkTo
          data-test-commit-sha="true"
          @href={{this.commitUrl}}
          class="row-content monospace"
        >
          <EmberTooltip @text="{{concat "View commit on " (vcs-name this.build.repo.vcsType)}}" />
          <SvgImage @name="icon-commit" @class="icon" />
          <span class="label-align inner-underline">
            {{format-sha this.build.commit.sha}}
          </span>
          <SvgImage @name="icon-external-link" @class="icon" />
        </ExternalLinkTo>
      </div>
    </section>
    <section class="times">
      <div
        data-test-duration
        title={{if this.build.elapsedTime (concat "Started " (pretty-date this.build.startedAt)) }}
        class="commit-stopwatch row-content"
      >
        <SvgImage @name="icon-stopwatch" @class="icon" />
        <span class="label-align">
          <time datetime="PT{{this.build.elapsedTime}}S">
            {{format-duration this.build.elapsedTime}}
          </time>
        </span>
      </div>
      <div class="row-content" title={{this.build.finishedAt}} data-test-finished>
        <SvgImage @name="icon-calendar" @class="icon" />
        <span class="label-align">
          {{#if this.build.finishedAt}}
            {{format-time this.build.finishedAt}}
          {{else}}
            still running
          {{/if}}
        </span>
      </div>
    </section>
    <section class="restart">
      <div class="row-content">
        <RepoActions
          @build={{this.build}}
          @repo={{this.build.repo}}
          @mobilelabels={{true}}
        />
      </div>
    </section>
  </section>
</section>
