{{#if this.isGlobal}}
<ul class="flash ember-view global-notification-container">
  <p class="{{this.getNotificationClass}}" ...attributes>
  {{#if this.hasIcon }}
    <div class="mr-4">
      <SvgImage @name="{{this.getIcon}}" @class="{{this.getIconClass}}" />
    </div>
  {{/if}}
  {{yield}}
  </p>
</ul>
{{else}}
  <div class="{{this.getNotificationClass}}" ...attributes>
    {{yield}}
  </div>
{{/if}}
