{{#if this.isGlobal}}
<div class="{{this.getBackgroundColorClass}}">
  <ul class="flash ember-view global-notification-container">
    <p class="{{this.getNotificationClass}}" ...attributes>
      {{yield}}
    </p>
  </ul>
</div>
{{else}}
  <div class="{{this.getNotificationClass}}" ...attributes>
    {{yield}}
  </div>
{{/if}}
