{{#link-to "account" account.login class="org-info"}}
  <span class="account-avatar">
    {{user-avatar url=account.avatarUrl name=name size=36}}
  </span>
  <span class="account-info">
    <h3 class="account-name">{{name}}</h3>
    {{#if account.reposCount}}
      <p class="account-repo-count">{{pluralize account.reposCount 'repository'}}</p>
    {{else}}
      No repositories
    {{/if}}
    {{#if isUser}}
      <p class="account-token">
        API Token:
        {{#if showCopySuccess}}
          <span class="token-copied-text italic">Token copied!</span>
        {{else}}
          <span class="auth-token italic">{{if tokenIsVisible auth.token 'hidden'}}</span>
        {{/if}}
        <div class="token-actions">
          <button {{action 'tokenVisibility'}} class="show-token">{{if tokenIsVisible 'Hide' 'Show'}}</button>
          {{#copy-button
            class="copy-button"
            clipboardText=auth.token
            title="Copy to clipboard"
            success=(action 'copyTokenSuccessful')}}
            Copy
          {{/copy-button}}
        </div>
      </p>
    {{/if}}
  </span>
{{/link-to}}
