<div class="media-elem">
  {{user-avatar url=account.avatarUrl name=name}}
</div>
<div class="media-body">
  {{#link-to "account" account.login}}
    <h2>{{name}}</h2>
    {{#if account.reposCount}}<p>Repositories <strong>{{account.reposCount}}</strong></p>{{else}}No repositories{{/if}}
  {{/link-to}}

  {{#if isUser}}
    <p class="profile-user-last">Token:
    {{#if tokenIsVisible}}
      <strong>{{auth.currentUser.token}}</strong>
    {{/if}}
    <a {{action 'tokenVisibility' prevenDefault=true}} class="profile-token-toggle tooltip--profile {{if tokenIsVisible 'is-visible'}} dropdown">
      <span class="tooltip-bubble">
        {{#if tokenIsVisible}}hide token{{else}}show token{{/if}}
      </span>
      {{eye-icon}}
      </a>
    </p>
  {{/if}}
</div>
