<LinkToAccount @routeName={{this.routeName}} @routeModel={{this.routeModel}} @class="org-info">
  <span class="account-avatar">
    <UserAvatar
      @account={{this.account}}
      @url={{this.account.avatarUrl}}
      @name={{this.name}}
      @showSubscriptionStatus={{true}}
    />
  </span>
  <span class="account-info">
    <h3 class="account-name">
      {{this.name}}
    </h3>
  </span>
</LinkToAccount>
