<div class="option-button">
 {{#if orgs.isLoading}}
    {{loading-indicator}}
  {{else}}
    <a href="#" title="" class="option-display" {{action 'toggleOrgFilter'}}>
      <span class="label-align">
        {{#if selected }}
          <img src="{{selected.avatar_url}}" alt="{{org.login}}">
          {{#if selected.name}}
            {{selected.name}}
          {{else}}
            {{selected.login}}
          {{/if}}
        {{else}}
          All organizations
        {{/if}}
      </span><span class="option-arrow"></span>
    </a>
  {{/if}}
  <div class="option-dropdown {{if showFilter 'is-open'}}">
    <div class="option-search">
      <input type="text">
    </div>
    <div class="option-list">
      {{#if selected }}
        <li><a title="" {{action 'select'}}>All organizations</a></li>
      {{/if}}
      {{#each orgs as |org|}}
      <li>
        <a title="" {{action 'select' org}}><img src="{{org.avatar_url}}" alt="">
          {{#if org.name }}
            {{org.name}}
          {{else}}
            {{org.login}}
          {{/if}}
        </a>
      </li>
      {{/each}}
    </div>
  </div>
</div>
