{{!-- {{#if repo.private }}
  <div class="tile-lock"><span class="icon icon-lock"></span></div>
{{/if}} --}}
<div class="row-item fade-out">
  <div clas="one-line">
    <h2 class="repo-title">
    {{status-icon status=repo.default_branch.last_build.state}}
    {{#link-to "repo" ownerName repoName }}
      <span class="label-align">{{repoName}}</span>
    {{/link-to}}
    </h2>
  </div>
</div>
{{#if repo.default_branch.last_build}}
  <div class="row-item row-color">
    <div class="one-line">
      {{#link-to "build" ownerName repoName repo.default_branch.last_build.id}}
        <span class="icon-hash">
          </span>
        <span class="label-align">{{repo.default_branch.last_build.number}}</span>
      {{/link-to}}
    </div>
  </div>

  <div class="row-item fade-out">
    <div class="one-line">
      {{request-icon event=repo.default_branch.last_build.event_type}}
      <span class="label-align">{{repo.default_branch.name}}</span>
    </div>
  </div>

  <div class="row-item">
    <div class="one-line">
      <a href="{{repo.default_branch.last_build.commit.compare_url}}">
        <span class="icon-github">
        </span>
        <span class="label-align">{{format-sha repo.default_branch.last_build.commit.sha}}</span>
      </a>
    </div>
  </div>

  <div class="row-item fade-out">
    <div class="one-line">
      <span class="icon-calendar">
      </span>
      <span class="build-status label-align">{{repo.default_branch.last_build.state}}</span>
      <span class="finished-at label-align">{{format-time repo.default_branch.last_build.finished_at}}</span>
    </div>
  </div>
{{else}}
  <p class="row-item">There is no build on the default branch yet.</p>
{{/if}}
