{{!-- {{#if repo.private }}
  <div class="tile-lock"><span class="icon icon-lock"></span></div>
{{/if}} --}}
<div class="repo">
  {{#if isAnimating}}
    <span class="icon-owner-receiving"><i></i><i></i><i></i></span>
  {{else}}
    <span class="icon--job {{repo.default_branch.last_build.state}}"></span>
  {{/if}}
  <h2 class="repo-title">{{#link-to "repo" ownerName repoName }}{{repoName}}{{/link-to}}</h2>
</div>
{{#if repo.default_branch.last_build}}
  <div class="build">
    {{#link-to "build" ownerName repoName repo.default_branch.last_build.id}}
      <span class="icon-hash"></span>
      <span>{{repo.default_branch.last_build.number}}</span>
    {{/link-to}}
  </div>
  <div class="branch">
    <span class="icon-{{repo.default_branch.last_build.event_type}}"></span>
    <p>
      {{repo.default_branch.name}}
    </p>
  </div>
  <div class="commit">
    <a href="{{repo.default_branch.last_build.commit.compare_url}}">
      <span class="icon-github"></span>
      <span>{{format-sha repo.default_branch.last_build.commit.sha}}</span>
    </a>
  </div>
  <div class="duration">
    <span class="icon-calendar"></span>
    <span class="build-status">{{repo.default_branch.last_build.state}}</span>
    <span class="finished-at">{{format-time repo.default_branch.last_build.finished_at}}</span>
  </div>
{{else}}
  <p>there is no build</p>
{{/if}}
