<div class="inner">
  <div class="footer-elem">
    <div class="travis-footer">
      {{svg-jar 'travisci-logo' class="travis-logo"}}</div>
  </div>

  {{#unless features.enterpriseVersion}}
    <div class="footer-elem">
      <h3 class="footer-title">&copy;Travis CI, GmbH</h3>
      <address>Rigaer Straße 8<br>10247 Berlin, Germany</address>
      <ul>
        <li><a href="{{ config.urls.imprint }}" title="Imprint">Imprint</a></li>
        <li><a href="{{ config.urls.jobs }}" title="Jobs at Travis CI">Jobs</a></li>
      </ul>
    </div>
  {{/unless}}
  <div class="footer-elem">
    <h3 class="footer-title">Help</h3>
    <ul>
      <li><a href="{{ config.urls.docs }}" title="Travis CI Docs">Documentation</a></li>
      {{#unless features.enterpriseVersion}}
        <li><a href="{{ config.urls.blog }}" title="Travis CI Blog">Blog</a></li>
        <li><a href="{{ config.urls.support }}" title="Email Travis CI support">Email</a></li>
        <li><a href="{{ config.urls.twitter }}" title="Travis CI on Twitter">Twitter</a></li>
      {{/unless}}
    </ul>
  </div>
  {{#unless features.enterpriseVersion}}
    {{#if features.proVersion}}
      <div class="footer-elem">
        <h3 class="footer-title">Legal</h3>
        <ul>
          <li><a href="{{ config.urls.imprint }}" title="Imprint">Imprint</a></li>
          <li><a href="{{ config.urls.terms }}" title="Terms of Service">Terms of Service</a></li>
          <li><a href="{{ config.urls.security }}" title="Security Statement">Security Statement</a></li>
        </ul>
      </div>
    {{/if}}

    <div class="footer-elem">
      {{travis-status}}
    </div>
  {{/unless}}
</div>
