<div class="layout-inner">
  <div class="footer-elem">
    <div class="travis-footer">
      <SvgImage @name="travisci-logo-grayscale" @class="travis-logo" />
      <span>© {{this.currentYear}}</span>
    </div>
  </div>
  <div class="footer-elem">
    <ul>
      <li>
        <ExternalLinkTo
          @href={{this.config.urls.privacy}}
          @title="Privacy"
        >
          Privacy
        </ExternalLinkTo>
      </li>
    </ul>
  </div>
  <div class="footer-elem">
    <ul>
      <li>
        <ExternalLinkTo
          @href={{this.config.urls.legal}}
          @title="Legal"
        >
          Legal
        </ExternalLinkTo>
      </li>
    </ul>
  </div>
  <div class="footer-elem">
    <ul>
      <li>
        <LinkTo @route="licensing" @title="Licensing information">
          Licensing information
        </LinkTo>
      </li>
    </ul>
  </div>
  <div class="footer-elem">
    <ul>
      <li>
        <ExternalLinkTo
          @href={{this.config.urls.docs}}
          @title="Travis CI Docs"
        >
          Documentation
        </ExternalLinkTo>
      </li>
    </ul>
  </div>
  <div class="footer-elem">
    <ul>
      <li>
        <ExternalLinkTo
          data-test-footer-changelog-link="true"
          @href={{this.config.urls.changelog}}
          @title="Travis CI Changelog"
        >
          Changelog
        </ExternalLinkTo>
      </li>
    </ul>
  </div>
  <div class="footer-elem">
    <ul>
      <li>
        <ExternalLinkTo
          @href={{this.config.urls.support}}
          @title="Support"
        >
          Support
        </ExternalLinkTo>
      </li>
    </ul>
  </div>
  {{#unless this.features.enterpriseVersion}}
  <div class="footer-elem">
    <ul>
      <li>
        <TravisStatus @description={{null}} />
      </li>
    </ul>
  </div>
  {{/unless}}

{{#if (and this.aidaEnabled this.auth.signedIn)}}
  <AskTravis/>
{{/if}}
</div>
