<h3 class="insights-odyssey__title">Concurrency</h3>
<div class="insights-odyssey__chart">
  {{#if isLoading}}
    <div class="insights-odyssey__loading-indicator">{{loading-indicator}}</div>
  {{else if isEmpty}}
    No jobs {{currentIntervalLabel}}.
  {{else}}
    {{c3-chart class='chart-component' data=data}}
  {{/if}}
</div>