<p class='source' data-test-source>{{source}}</p>

{{#if stripe}}
  <p data-test-credit-card>•••• •••• •••• {{subscription.creditCardInfo.lastDigits}}</p>
{{/if}}

{{#if manual}}
  <p class='manual-help'>
    If you have any questions or would like to update your plan, please
    {{#external-link-to href='mailto:support@travis-ci.com'}}contact our support team{{/external-link-to}}
  </p>
{{else}}
  <p data-test-price>{{price}}</p>
{{/if}}

{{#if (and stripe monthly subscription.permissions.write)}}
  <span class='notice-banner--yellow' data-test-annual-invitation>
    Save 10% by switching to
    <a href={{concat subscription.billingUrl '?switch_annual=true'}}>
      annual billing
    </a>
  </span>
{{/if}}
