<p class='source {{if subscription.isManual "alert-status-message"}}' data-test-source>{{source}}</p>

{{#if subscription.isStripe}}
  <p data-test-credit-card>
    {{svg-jar 'icon-credit-card' class='icon--color' alt=''}}
    •••• •••• •••• {{subscription.creditCardInfo.lastDigits}}
  </p>
{{/if}}

{{#if subscription.isManual}}
  {{manual-subscription-help}}
{{else}}
  <p data-test-price>
    {{svg-jar 'icon-currency-USD' class='icon--color' alt=''}}
    {{price}}
  </p>
{{/if}}

{{#if (and subscription.isStripe monthly subscription.permissions.write subscription.plan)}}
  <span class='notice-banner--yellow' data-test-annual-invitation>Get one month for free with
    <a href={{concat subscription.billingUrl '/edit?switch_annual=true?utm_source=web&utm_campaign=switch_to_annual'}}>
      annual billing
    </a>
  </span>
{{/if}}