{{#if this.subscription.plan}}
  <section class="payment">
    <h4>
      Payment details
    </h4>
    {{#if this.subscription.isStripe}}
      {{#if this.openCreditCardForm}}
        <div class="edit-form">
          <TravisForm @onSubmit={{perform this.createStripeToken}} as |form|>
            <StripeCard @complete={{action "complete"}} @options={{this.options}} as |stripeError|>
              {{#if stripeError}}
                <p>{{stripeError.message}}</p>
              {{/if}}
            </StripeCard>
            {{#if this.createStripeToken.isRunning}}
              <LoadingIndicator/>
            {{else}}
              <div class="flex flex--wrap manage-subscription-buttons">
                <button data-test-update-contact-address-button='true' onclick={{form.submit}} class="button--blue">
                  Edit payment details
                </button>
                <a onClick={{action 'toggleEditCreditCardForm'}} class='link cancel-link'>
                  Cancel
                </a>
              </div>
            {{/if}}
          </TravisForm>
        </div>
      {{else}}
        <div class="flex flex--v-center">
          <SvgImage @name="icon-credit-card" @class="icon--color" />
          <p data-test-credit-card> 
            •••• •••• ••••
            {{this.subscription.creditCardInfo.lastDigits}}
          </p>  
        </div>
        <button class='button--blue manage-subscription-buttons' onClick={{action 'toggleEditCreditCardForm'}}>Edit payment details</button>
      {{/if}}
    {{/if}}
    {{#if this.subscription.isManual}}
      <ManualSubscriptionHelp />
    {{/if}}
    {{#if (not this.subscription.isStripe)}}
      <p
        class="source {{if this.subscription.isManual 'alert-status-message'}}"
        data-test-source
      >
        {{this.source}}
      </p>
    {{/if}}
    {{#if (and this.subscription.isStripe this.monthly this.subscription.permissions.write this.subscription.plan)}}
      <span class="notice-banner--yellow" data-test-annual-invitation>
        Get one month for free with
        <ExternalLinkTo
          @href={{concat subscription.billingUrl "/edit?switch_annual=true?utm_source=web&utm_campaign=switch_to_annual"}}
        >
          annual billing
        </ExternalLinkTo>
      </span>
    {{/if}}
  </section>
{{/if}}
