<div class="plan-usage" data-test-plan-usage-content>
  <section>
    <h3 class='plan-usage__header'>Plan information</h3>
    <p class='plan-usage__name flex flex--v-center' data-test-plan-name='true'>
      {{this.subscription.plan.name}}
    </p>
    <strong>Plan Activation date:</strong>
    {{#if this.subscription.createdAt}}
      {{moment-format this.subscription.createdAt 'MMMM DD, YYYY'}}
    {{/if}}
    <br />
    <strong>Plan Add-ons list:</strong>
    <br />
    <ul>
    {{#each this.sortedAddons as |addon|}}
    {{ log addon }}
      <li>
      {{#if (eq addon.type 'credit_public')}}
        Public:
      {{else if (eq addon.type 'credit_private')}}
        Private:
      {{else if (eq addon.type 'user_license')}}
        User license:
      {{/if}}
      {{addon.name}}
      {{#if (eq addon.type 'user_license')}}
        {{#if (eq addon.free true)}}
          {{#if (eq addon.current_usage.status 'subscribed')}}
            <span>({{addon.current_usage.addon_quantity}} {{#if (eq addon.current_usage.addon_quantity 1)}}user{{else}}users{{/if}} in month w/o extra charges)</span>
          {{/if}}
        {{else}}
          <span>(additional users in month at a <a href="https://docs.travis-ci.com/user/billing-overview/#usage-based-plans-credit-costs" target="_blank" class="documentation-link">pre-defined cost</a>)</span>
        {{/if}}
      {{/if}}
      </li>
    {{/each}}
    </ul>
    <hr />
  </section>
  <section>
    <h3 class="usage-statistics">Usage statistics</h3>
    <div class="date-picker-container">
      <TravisForm
        as |form|
      >
        <form.field
          @value={{this.insightsCurrentRange}}
          @required={{false}}
          @onChange={{action 'changeInsightsRange'}}
          class="repositories-visiblity-selector"
          as |field|
        >
          <field.select
            @options={{this.insightsRangeOptions}}
            as |insightsRange|
          >
            {{insightsRange}}
          </field.select>
        </form.field>
      </TravisForm>
    </div>

    <div class='total-usage' data-test-plan-usage-minutes-total>All repositories total build time: {{this.totalBuildMinutes}} minutes</div>

    <div class='download-csv-container'>
      <button
        class="download-csv"
        onclick={{action "requestCsvExport" }}
        disabled={{this.isGeneratingReport}}
      >
        {{#if this.isGeneratingUReport}}
          Generating Report...
        {{else}}
          Request CSV report with details about credits consumption
        {{/if}}
      </button>
    </div>

    <table class="repository-build-times">
      <thead>
        <tr data-test-table-header-row='true'>
          <th>Repository</th>
          <th class='credits-row'>Total credits</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.summarizedRepositories as |repository|}}
          <tr data-test-repository='true'>
            <td>
              <LinkTo
                @route="repo" @models={{array repository.provider repository.urlOwnerName repository.urlName}}
                @query={{hash serverType=this.repo.serverType}}
              >
                {{repository.formattedSlug}}
              </LinkTo>
            </td>
            <td class='credits-row'>
              {{format-number repository.buildCredits}}
            </td>
          </tr>
        {{/each}}
        <tr>
          <td>Total</td>
          <td data-test-plan-usage-credits-total='true'  class='credits-row'>{{format-number this.totalBuildCredits}}</td>
        </tr>
      </tbody>
    </table>

    {{#if this.isOrganization }}
    <table class="repository-build-times" data-test-sender-build-times >
      <thead>
        <tr data-test-table-header-row='true'>
          <th>User</th>
          <th class='credits-row'>Total credits</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.summarizedUsers as |user|}}
          <tr data-test-usage-sender>
            <td>
              {{#if user.internal}}
                {{user.login}}
              {{else}}
              <LinkTo
                @route="owner" @models={{array user.provider user.login}}
              >
                {{user.login}}
              </LinkTo>
              {{/if}}
            </td>
            <td class='credits-row'>
              {{format-number user.buildCredits}}
            </td>
          </tr>
        {{/each}}
        <tr>
          <td>Total</td>
          <td data-test-plan-usage-credits-total='true' class='credits-row'>{{format-number this.totalBuildCredits}}</td>
        </tr>
      </tbody>
    </table>
    {{/if}}
  </section>
</div>
<Dialogs::UserStatisticsModal
  @isOpen={{this.showUserStatisticsModals}}
  @account={{this.account}}
  @onClose={{fn (mut this.showUserStatisticsModals) false}}
  @owner={{this.owner}}
  @dateCenter={{this.dateCenter}}
  @dateRange={{this.dateRange}}
/>
