<div class="plan-usage" data-test-plan-usage-content>
  <section>
    <h3 class='plan-usage__header'>Plan information</h3>
    <p class='plan-usage__name flex flex--v-center' data-test-plan-name='true'>
      {{this.subscription.plan.name}}
    </p>
    <strong>Plan Activation date:</strong>
    {{#if this.subscription.createdAt}}
      {{moment-format this.subscription.createdAt 'MMMM DD, YYYY'}}
    {{/if}}
    <br />
    <strong>Plan Add-ons list:</strong>
    <br />
    <ul>
    {{#each this.subscription.addons as |addon|}}
      <li>
      {{#if (eq addon.type 'credit_public')}}
        Public:
      {{else if (eq addon.type 'credit_private')}}
        Private:
      {{else if (eq addon.type 'user_license')}}
        User license:
      {{/if}}
      {{addon.name}}
      </li>
    {{/each}}
    </ul>
    <hr />
  </section>
  <section>
    <h3 class="usage-statistics">Usage statistics</h3>
    <div class="date-picker-container">
      <TravisForm
        as |form|
      >
        <form.field
          @value={{this.insightsCurrentRange}}
          @required={{false}}
          @onChange={{action 'changeInsightsRange'}}
          class="repositories-visiblity-selector"
          as |field|
        >
          <field.select
            @options={{this.insightsRangeOptions}}
            as |insightsRange|
          >
            {{insightsRange}}
          </field.select>
        </form.field>
      </TravisForm>
    </div>
   
    <div class='total-usage' data-test-plan-usage-minutes-total>All repositories total build time: {{this.totalBuildMinutes}} minutes</div>

    <div class='download-csv-container'>
    <button class="download-csv" onclick={{action "downloadCsv"}}>Download .csv file for more detailed information about usage</button>
    {{#if this.v2subscription.plan.isNotStandardOrProTier}}
      <button class="download-csv" onclick={{action "downloadUserLicenseCsv"}}>Download .csv file for more detailed information about user license usage</button>
    {{/if}}
    </div>

    <table class="repository-build-times">
      <thead>
        <tr data-test-table-header-row='true'>
          <th>Repository</th>
          <th class='credits-row'>Total credits</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.summarizedRepositories as |repository|}}
          <tr data-test-repository='true'>
            <td>
              <LinkTo
                @route="repo" @models={{array repository.provider repository.urlOwnerName repository.urlName}}
                @query={{hash serverType=this.repo.serverType}}
              >
                {{repository.formattedSlug}}
              </LinkTo>
            </td>
            <td class='credits-row'>
              {{format-number repository.buildCredits}}
            </td>
          </tr>
        {{/each}}
        <tr>
          <td>Total</td>
          <td data-test-plan-usage-credits-total='true'  class='credits-row'>{{format-number this.totalBuildCredits}}</td>
        </tr>
      </tbody>
    </table>

    {{#if this.isOrganization }}
    <table class="repository-build-times">
      <thead>
        <tr data-test-table-header-row='true'>
          <th>User</th>
          <th class='credits-row'>Total credits</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.summarizedUsers as |user|}}
          <tr data-test-repository='true'>
            <td>
              <LinkTo
                @route="user" @models={{array user}}
              >
                {{user.login}}
              </LinkTo>
            </td>
            <td class='credits-row'>
              {{format-number user.buildCredits}}
            </td>
          </tr>
        {{/each}}
        <tr>
          <td>Total</td>
          <td data-test-plan-usage-credits-total='true' class='credits-row'>{{format-number this.totalBuildCredits}}</td>
        </tr>
      </tbody>
    </table>
    {{/if}}
  </section>
</div>
<Dialogs::UserStatisticsModal
  @isOpen={{this.showUserStatisticsModals}}
  @account={{this.account}}
  @onClose={{fn (mut this.showUserStatisticsModals) false}}
  @owner={{this.owner}}
  @dateCenter={{this.dateCenter}}
  @dateRange={{this.dateRange}}
/>
