{{#if (and this.auth.signedOut this.showSignInButton)}}

  {{#if this.features.proVersion}}
    <button
      class="auth-button signed-out pointer"
      type="button"
      {{on 'click' (action 'signIn')}}
    >
      Sign in
    </button>
  {{/if}}

{{else if this.auth.signedIn}}

  <div
    data-test-header-account-link="true"
    class="pointer navigation-anchor navigation-profile-link signed-in"
    {{on 'click' (action 'toggleMenu')}}
  >


    <UserAvatar
      @url={{this.user.avatarUrl}}
      @name={{this.user.fullName}}
      @size={{40}}
      @providerIcon={{vcs-icon this.user.vcsType}}
      class="navigation-avatar navigation-avatar--{{this.user.provider}}"
    />
    <SvgImage @name="icon-dropdown-arrow" @class="icon" />
  </div>

  <ul class="navigation-nested">

    <li class="username navigation-nested__header">
      <div class="username__text">
        {{this.userName}}
      </div>
      <div class="username__vcs-icon">
        <SvgImage @name={{vcs-icon this.user.vcsType}} @height=14 />
        <EmberTooltip @text={{concat (vcs-name this.user.vcsType) ' account'}} @side='left' />
      </div>
    </li>

    {{#if this.multiVcs.currentProviderIsBeta}}
      <li class="topbar-menu-item--warning">
        {{vcs-name this.user.vcsType}} support is currently in Beta
      </li>
    {{/if}}
   {{#unless this.isActivation}}
    <li>
      <LinkTo
        @route="account"
        @title="Your profile"
        class="signed-in topbar-menu-item"
      >
        <SvgImage @name="icon-settings" @class="icon" />
        <div class="topbar-menu-item__label">
          Settings
        </div>
      </LinkTo>
    </li>
   {{/unless}}
    {{#if this.showSubscriptionTab}}
      <li>
        <LinkTo
          @route="organization.billing"
          @title="Plan"
          @model={{this.model}}
          class="signed-in topbar-menu-item"
        >
          <SvgImage @name="icon-settings" @class="icon" />
          <div class="topbar-menu-item__label">
            Plan
          </div>
        </LinkTo>
      </li>
    {{/if}}
    <li>
      <a
        data-test-signout-link
        href="/"
        title="Sign out of this account"
        class="topbar-menu-item"
        {{action "signOut"}}
      >
        <SvgImage @name="icon-sign-out" @class="icon" />
        <div class="topbar-menu-item__label">
          Sign Out
        </div>
      </a>
    </li>

    <li class="nav-nested"></li>

    <li class="section-header">
      Switch accounts
    </li>

    {{#each this.auth.inactiveAccounts as |account| }}
      <li class="username pointer topbar-menu-item" {{on 'click' (action 'switchAccount' account.id target=this.auth)}}>
        <UserAvatar
          @url={{account.avatarUrl}}
          @name={{or account.fullName account.login}}
          @size={{12}}
        />
        <div class="username__text topbar-menu-item__label">
          {{or account.login account.fullName}}
        </div>
        <div class="username__vcs-icon">
          <SvgImage @name={{vcs-icon account.vcsType}} @height=14 />
        </div>
      </li>
    {{else}}
      <li class="navigation-nested__note">
        We don't know your other accounts yet. You can add one!
      </li>
    {{/each}}

    <li class="text-right">
      <LinkTo
        @route="signin"
        @query={{hash redirectUrl=this.redirectUrl}}
        @title="Add another account"
        class="navigation-nested__link"
      >
        Add an account
      </LinkTo>
    </li>

  </ul>

{{/if}}
