<h3 class="insights-glance__title">Average Queue Time</h3>
<div class="insights-glance__center">
  <div class="insights-glance__stat">
    {{#if isLoading}}
      {{loading-indicator}}
    {{else}}
      {{avgWaitText}}
    {{/if}}
  </div>
  {{#if percentageChange}}
    <div
      class="insights-glance-delta"
      data-dir="{{if (gte percentageChange 0) '+' '-'}}"
      title="{{percentChangeTitle}}"
    >
      {{svg-jar 'icon-dropdown-arrow' class="icon"}}
      <span class="insights-glance-delta__stat">{{percentageChangeText}}</span>
    </div>
  {{/if}}
</div>
<div class="insights-glance__chart">
  {{#if showPlaceholder}}
    <hr class="insights-glance__chart-placeholder" />
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>