{{#if jobs.isLoaded}}
  {{#if jobs.length}}
    {{#each jobs as |job|}}
      <div data-test-sidebar-queued-job class="tile tile--sidebar {{job.state}}">
        {{#if job.repo.slug}}
          {{status-icon status=job.state}}
          {{#link-to "job" job.repo job}}{{job.repo.slug}}{{/link-to}}
        {{/if}}

        <p class="tile-title float-right">
          {{svg-jar 'icon-hash' class="icon"}}
          {{#if job.repo.slug}}
            {{#link-to "job" job.repo job}}<span class="label-align">{{job.number}}</span>{{/link-to}}
          {{/if}}
        </p>

        <p>
          {{svg-jar 'icon-clock' class="icon"}}
          <span class="label-align">Queued</span>
        </p>
      </div>

    {{/each}}
  {{else}}
    <div class="loading-container">There are no jobs queued</div>
  {{/if}}
{{else}}
  {{loading-indicator center=true}}
{{/if}}
