<div class='inner-yaml-container'>
  <div class='file-name'>
    {{svg-jar 'job-name-icon' class='icon' width=14 height=14}} <span class='vertical-align'>{{rawConfig.source}}</span>
  </div>
  {{#code-block data-test-yaml language='yaml' class='codedisplay'}}{{rawConfig.config}}{{/code-block}}
  {{#copy-button
    clipboardText=rawConfig.config
    title="Copy to clipboard"
    success=(action 'copied' rawConfig.source)}}
    {{svg-jar 'icon-copy' class="icon"}} <span>{{buttonLabel}}</span>
  {{/copy-button}}
</div>