<div class="inner-yaml-container">
  <div class="file-name">
    {{#if this.fileUrl}}
      <ExternalLinkTo @href={{this.fileUrl}}>
        <SvgImage @name="job-name-icon" @class="icon" @width=14 @height=14 />
        <span class="vertical-align">
          {{this.filePath}}
        </span>
      </ExternalLinkTo>
    {{else}}
      <SvgImage @name="job-name-icon" @class="icon" @width=14 @height=14 />
      <span class="vertical-align">
        {{this.filePath}}
      </span>
    {{/if}}
  </div>
  <div class="position-relative">
    <CodeBlock data-test-yaml="true" @language="yaml" class="codedisplay">{{this.formattedConfig}}</CodeBlock>
    <CopyButton
      @clipboardText={{this.rawConfig.config}}
      @title={{this.buttonLabel}}
      @success={{action "copied" this.rawConfig.source}}
    >
      <SvgImage @name="icon-copy" @class="icon" />
      <span>
        {{this.buttonLabel}}
      </span>
    </CopyButton>
  </div>
</div>
