<div class="search search--sidebar">
  <div class="search-inner">
    <Input
      @id="travis-search"
      @value={{readonly this.repositories.searchQuery}}
      @key-up={{action this.onQueryChange}}
      @placeholder="Search all repositories"
    />
    <label for="travis-search">
      <SvgImage @name="icon-search" @class="icon" />
    </label>
  </div>
</div>
<ReposListTabs
  @startedJobsCount={{this.startedJobsCount}}
  @allJobsCount={{this.allJobsCount}}
  @showMyRepositories={{action this.showMyRepositories}}
  @showRunningJobs={{action this.showRunningJobs}}
/>
{{#if this.isShowingRunningJobs}}
  <div class="travistab-body sidebar-list">
    <div>
      <RunningJobs @jobs={{this.runningJobs}} @jobsLoaded={{this.jobsLoaded}} />
    </div>
    <hr class="sidebar-seperator" />
    <div>
      <QueuedJobs @jobs={{this.queuedJobs}} @jobsLoaded={{this.jobsLoaded}} />
    </div>
  </div>
{{else}}
  <div class="travistab-body sidebar-list">
    {{#if this.repositories.loadingData}}
      <LoadingIndicator @center={{true}} />
    {{else}}
      <ReposList @repos={{this.activeRepositoryResults}} />
    {{/if}}
  </div>
{{/if}}
