<div class="search search--sidebar">
  <div class="search-inner">
    <Input
      @id="travis-search"
      @value={{readonly repositories.searchQuery}}
      placeholder="Search all repositories"
      @key-up={{action "onQueryChange"}}
    />
    <label for="travis-search">
      {{svg-jar "icon-search" class="icon"}}
    </label>
  </div>
</div>
<ReposListTabs
  @startedJobsCount={{startedJobsCount}}
  @allJobsCount={{allJobsCount}}
  @showMyRepositories={{action "showMyRepositories"}}
  @showRunningJobs={{action "showRunningJobs"}}
/>
{{#if showRunningJobs}}
  <div class="travistab-body sidebar-list">
    <div>
      <RunningJobs @jobs={{runningJobs}} />
    </div>
    <hr class="sidebar-seperator" />
    <div>
      <QueuedJobs @jobs={{queuedJobs}} />
    </div>
  </div>
{{else}}
  <div class="travistab-body sidebar-list">
    {{#if repositories.loadingData}}
      <LoadingIndicator @center={{true}} />
    {{else}}
      <ReposList @repos={{repositoryResults}} />
    {{/if}}
  </div>
{{/if}}