<article class="repo-header">
  <header class="name">
    <div class="inline-block repo-title">
      <div class="inline-block">
        <RepositoryVisibilityIcon @repository={{repo}} />
      </div>
      <h1 data-test-repo-header-title class="inline-block vertical-align">
        <LinkTo @route="owner" @model={{repo.owner.login}}>
          {{repo.owner.login}}
        </LinkTo>
        /
        <LinkTo @route="repo" @model={{repo}}>
          {{repo.name}}
        </LinkTo>
      </h1>
    </div>
    <div>
      <ExternalLinkTo
        @href={{urlGithub}}
        class="repo-gh inline-block"
        @title={{concat repo.name " on GitHub"}}
      >
        {{svg-jar "icon-repooctocat"}}
      </ExternalLinkTo>
      <div class="repo-badge inline-block vertical-align">
        <a
          href="#"
          id="status-image-popup"
          title="Latest push build on default branch:
            {{repo.defaultBranch.lastBuild.state}}"
          name="status-images"
          class="open-popup"
          {{action "toggleStatusBadgeModal"}}
        >
          <img
            src={{statusImageUrl}}
            alt="build:{{repo.defaultBranch.lastBuild.state}}"
          />
        </a>
      </div>
    </div>
  </header>
  <main class="repo-main">
    <div class="repo-navigation">
      <RepoShowTabs @repo={{repo}} @build={{build}} @job={{job}} />
      <RepoShowTools
        @repo={{repo}}
        @build={{build}}
        @job={{job}}
        @tab={{tab}}
        @onTriggerBuild={{action "toggleTriggerBuildModal"}}
      />
    </div>
    <div class="travistab-body repo-body">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        <BuildLayout @build={{build}} @repo={{repo}} />
      {{/if}}
    </div>
  </main>
</article>
{{#if isShowingStatusBadgeModal}}
  <ModalDialog
    @onClose={{action "toggleStatusBadgeModal"}}
    @onClickOverlay={{action "toggleStatusBadgeModal"}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
    @overlayPosition="sibling"
    @animatable={{true}}
  >
    <StatusImages @repo={{repo}} @onClose={{action "toggleStatusBadgeModal"}} />
  </ModalDialog>
{{/if}}
{{#if isShowingTriggerBuildModal}}
  <ModalDialog
    @onClose={{action "toggleTriggerBuildModal"}}
    @onClickOverlay={{action "toggleTriggerBuildModal"}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
    @overlayPosition="sibling"
    @animatable={{true}}
  >
    <TriggerCustomBuild
      @repo={{repo}}
      @onClose={{action "toggleTriggerBuildModal"}}
    />
  </ModalDialog>
{{/if}}