<RepositoryVisibilityIcon @repository={{this.repository}} />
<LinkTo
  @route="repo"
  @models={{array this.repository.provider this.repository.urlOwnerName this.repository.urlName}}
  @query={{hash serverType=this.repository.serverType}}
  class="profile-repo non-admin {{if (not (eq this.repository.provider 'assembla')) 'profile-repo-flex'}}"
  @classNameBindings="admin:admin:non-admin"
>
  {{this.name}}
</LinkTo>
{{#if (and this.onDotOrg (eq this.repository.migrationStatus "migrated"))}}
  <ExternalLinkTo
    @href={{this.comLink}}
    @title="View this repository on travis-ci.com"
    class="button already-migrated"
    data-test-already-migrated-link="true"
  >
    <SvgImage @name="icon-external-link" @class="icon white" />
    TRAVIS-CI.COM
  </ExternalLinkTo>
{{else if this.admin}}
  <TravisSwitch
    @active={{this.repository.active}}
    @onToggle={{perform this.toggleRepositoryTask}}
  />
  {{#if this.toggleRepositoryTask.isRunning}}
    <LoadingIndicator @inline={{true}} class="repo-loading" />
  {{else}}
    <LinkTo
      @route="settings"
      @models={{array this.repository.provider this.repository.ownerName this.repository.vcsName}}
      @tagName="button"
      @title="Go to Travis CI repository settings"
      class="button profile-settings"
    >
      <SvgImage @name="icon-settings" @class="icon icon-hover" />
      Settings
    </LinkTo>
  {{/if}}
{{else}}
  <TravisSwitch @active={{this.repository.active}} @disabled={{true}} />
  <a class="profile-settings disabled button">
    <EmberTooltip @text="Insufficient permissions" />
    <SvgImage @name="icon-settings" @class="icon" />
    Settings
  </a>
{{/if}}
<a class="email-switch-container">
<EmailSwitch class="email-switch"
  @active={{this.hasEmailSubscription}}
  @onToggle={{perform this.toggleRepositoryEmailSubscription}}/>
 <EmberTooltip @text={{this.emailSubscriptionDescription}} @side="right" />
</a>
{{#if this.apiError}}
  <div class="repositories-error">
    <p>
      {{#if this.is409error}}
        Request cannot be completed because the repository ssh key is still pending to be created.
        Please retry in a bit, or try syncing the repository if this condition does not resolve.
      {{else}}
        An error happened when we tried to alter settings on {{vcs-name this.user.vcsType}}.
        {{#if this.accessSettingsUrl}}
          It may be caused by API restrictions, please
          <ExternalLinkTo
            @href={{this.accessSettingsUrl}}
            @title="{{vcs-vocab this.model.vcsType 'organization' plural=true lower=false}} Access Settings on {{vcs-name this.user.vcsType}}"
          >
            review and add
          </ExternalLinkTo>
          your authorized {{vcs-vocab this.model.vcsType 'organization' plural=true lower=false}}.
        {{/if}}
        <button type="button" class="no-button close" onclick={{action "close"}}>
          <SvgImage @name="flash-close" @class="icon-close red" />
        </button>
      {{/if}}
    </p>
  </div>
{{/if}}
