{{repository-visibility-icon repository=repository}}

{{#link-to "repo" repository.owner.login repository.name class="profile-repo"
  classNameBindings="admin:admin:non-admin"}}
  {{name}}
{{/link-to}}

{{#if (and onDotOrg (eq repository.migrationStatus 'migrated'))}}
  {{#external-link-to data-test-already-migrated-link href=comLink class="button already-migrated" title="View this repository on travis-ci.com"}}
  {{svg-jar 'icon-external-link' class="icon white"}} TRAVIS-CI.COM
  {{/external-link-to}}
{{else}}
  {{#if admin}}
    {{travis-switch active=repository.active onToggle=(perform toggleRepositoryTask) }}
    {{#if toggleRepositoryTask.isRunning}}
      {{loading-indicator inline=true class="repo-loading"}}
    {{else}}
      {{#link-to "settings" repository.owner.login repository.name tagName="button" class="button profile-settings" title="Go to Travis CI repository settings"}}
        {{svg-jar 'icon-settings' class="icon icon-hover"}}
        Settings
      {{/link-to}}
    {{/if}}
  {{else}}
    {{travis-switch active=repository.active disabled=true}}
    <a class="profile-settings disabled button">
      {{ember-tooltip text='Insufficient permissions'}}
      {{svg-jar 'icon-settings' class="icon"}}
      Settings
    </a>
  {{/if}}
{{/if}}

{{#if apiError}}
  <div class="repositories-error">
    <p>
      {{#if is409error}}
        Request cannot be completed because the repository ssh key is still pending to be created.
        Please retry in a bit, or try syncing the repository if this condition does not resolve.
      {{else}}
        An error happened when we tried to alter settings on GitHub.
        {{#if githubOrgsOauthAccessSettingsUrl}}
          It may be caused by API restrictions, please
          <a href={{githubOrgsOauthAccessSettingsUrl}}
            title="Orgs Oauth Access Settings on GitHub">
            review and add
          </a> your authorized Orgs.
        {{/if}}
        <button type="button" class="no-button close" {{action "close"}}>
          {{svg-jar 'icon-failed' class="icon red"}}
        </button>
      {{/if}}
    </p>
  </div>
{{/if}}
