<Dialogs::PrioritizeBuildModal 
  @isOpen={{this.showCancelModal}}
  @onClose={{fn (mut this.showCancelModal) false}}
  @increasePriority={{this.increasePriority}}
  @build={{this.build}}
  @job={{this.job}}
/>
{{#if this.canCancel}}
  {{#if this.cancel.isRunning}}
    <LoadingIndicator @height={{true}} />
  {{else}}
    <div class="action-button-container">
      <button
        data-test-repo-actions-cancel-button
        class="action-button--cancel"
        type="button"
        aria-label="Cancel {{this.type}}"
        {{action (perform this.cancel)}}
      >
        {{#if this.tooltips}}
          <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
            Cancel {{this.type}}
          </EmberTooltip>
        {{/if}}
        <SvgImage @name="icon-failed" @class="icon" />
        <span class="label-align">
          Cancel {{this.type}}
        </span>
      </button>
    </div>
{{/if}}
  {{#if (and (not this.build.priority this.build.permissions.prioritize) this.isQueued)}}
    <div class="action-button-container">
        {{#if (not this.userHasPushPermissionForRepo)}}
          <EmberTooltip
          class={{if this.mobilelabels "hidden-on-mobile"}} 
          @text="This action can be triggered only by users with push access to the repository" />
        {{/if}}
      <button 
        type="button"
        class="action-button--Priortize"
        {{on 'click' (fn (mut this.showCancelModal) true)}}
        disabled={{not this.userHasPushPermissionForRepo}}
      >
        {{#if this.tooltips}}
          <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
            Prioritize build
          </EmberTooltip>
        {{/if}}
        <SvgImage @name="icon-priortize" @class="icon" />
        <span class="label-align">
          Prioritize build
        </span>
      </button>
    </div>
  {{/if}}
  {{#if this.canPrioritize}}
    <div class="action-button-container">
      {{#if this.insufficientPermissions}}
        <EmberTooltip
          class={{if this.mobilelabels "hidden-on-mobile"}} 
          @text="This action can be triggered only by users with push access to the repository" />
      {{/if}}
      <button 
        type="button"
        class="action-button--prioritize"
        onclick={{action this.showPriorityModal}}
        disabled={{this.insufficientPermissions}}
      >
        {{#if this.tooltips}}
          <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
            Prioritize build
          </EmberTooltip>
        {{/if}}
        <SvgImage @name="icon-prioritize" @class="icon prioritize-icon" />
        <span class="label-align">
          Prioritize build
        </span>
      </button>
    </div>
  {{/if}}
{{else if this.canRestart}}
  {{#if this.restarters.isRunning}}
    <LoadingIndicator @height={{true}} />
  {{else}}
    <div class="action-button-container">
      <button
        class="action-button--restart"
        aria-label="Restart {{this.type}}"
        type="button"
        {{action (perform this.restart)}}
      >
        {{#if this.tooltips}}
          <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
            Restart {{this.type}}
          </EmberTooltip>
        {{/if}}
        <SvgImage @name="icon-restart" @class="icon" />
        <span class="label-align">
          Restart {{this.type}}
        </span>
      </button>
    </div>
    {{#if (and this.features.debugBuilds this.canDebug)}}
      <div class="action-button-container">
        <button
          data-test-repo-actions-debug-button
          class="action-button--debug"
          aria-label="Restart as debug {{type}}"
          type="button"
          {{action (perform this.debug)}}
        >
          {{#if this.tooltips}}
            <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
              Restart as debug {{this.type}}
            </EmberTooltip>
          {{/if}}
          <SvgImage @name="icon-debug" @class="icon" />
          <span class="label-align">
            Debug {{this.type}}
          </span>
        </button>
      </div>
    {{/if}}
  {{/if}}
{{else}}
  {{#if this.userHasPullPermissionForRepo}}
    <LoadingIndicator />
  {{/if}}
{{/if}}
<Dialogs::PrioritizeBuildModal
  @isOpen={{this.showPrioritizeBuildModal}}
  @onClose={{action this.closePriorityModal}}
  @increasePriority={{this.increasePriority}}
  @build={{this.build}}
  @job={{this.job}}
/>
