<div class="tile tile--sidebar {{repo.lastBuildState}}">
  <h2 class="tile-title">
    {{#if repo.slug}}
      <span class="icon icon--job {{repo.lastBuildState}}"></span>
      {{#link-to "repo" repo class="slug"}}{{repo.slug}}{{/link-to}}
    {{/if}}
  </h2>
  {{#with repo.lastBuildHash as lastBuild}}
    {{#if repo.slug}}
      {{#if lastBuild.id}}
      <p class="tile-title float-right">
        <span class="icon icon--hash"></span>
        {{#link-to "build" repo lastBuild.id
           class="last_build"}}{{lastBuild.number}}{{/link-to}}
      </p>
      {{/if}}
    {{/if}}
  {{/with}}

  <p>
    <span class="icon icon--clock"></span>
    Duration: 
    <abbr class="duration" title={{lastBuildStartedAt}}>
      {{format-duration repo.lastBuildDuration}}
    </abbr>
  </p>

  <p>
    <span class="icon icon--cal"></span>
    Finished: 
    <abbr class="finished_at timeago" title={{lastBuildFinishedAt}}>
      {{format-time repo.lastBuildFinishedAt}}
    </abbr>
  </p>
</div>
