{{#if canCancel}}
  {{#if cancel.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <div class='tooltip' data-tooltip='Cancel {{type}}'>
      <button {{action (perform cancel)}} class="action-button--cancel" type="button" title="Cancel {{type}}">
        {{inline-svg 'icon-failed' class="icon"}}
        <span class="label-align">Cancel {{type}}</span>
      </button>
    </div>
  {{/if}}
{{/if}}

{{#if canRestart}}
  {{#if restarters.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <div class='tooltip' data-tooltip='Restart {{type}}'>
      <button {{action (perform restart)}} class="action-button--restart" title="Restart {{type}}" type="button">
        {{inline-svg 'icon-restart' class="icon"}}
        <span class="label-align">Restart {{type}}</span>
      </button>
    </div>

    {{#if features.proVersion}}
      {{#if canDebug}}
        <button {{action (perform debug)}} class="action-button--debug tooltip" title="Restart as debug {{type}}" data-tooltip='Restart as debug {{type}}' type="button">
          {{inline-svg 'icon-debug' class="icon"}}
          <span class="label-align">Debug {{type}}</span>
        </button>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
