<div class="tile {{repo.lastBuildState}}">
  <h2 class="tile-title {{repo.lastBuildState}}">
    {{#if repo.slug}}
      {{#link-to "repo" repo}}
      {{status-icon status=repo.lastBuildState}}
      <span class="label-align">{{repo.slug}}</span>
      {{/link-to}}
    {{/if}}
  </h2>
  {{#with repo.lastBuildHash as lastBuild}}
    {{#if repo.slug}}
      {{#if lastBuild.id}}
      <p class="tile-title float-right {{repo.lastBuild.state}}">
        {{#link-to "build" repo lastBuild.id}}
          <span class="icon-hash"></span>
          <span class="label-align">{{lastBuild.number}}</span>
        {{/link-to}}
      </p>
      {{/if}}
    {{/if}}
  {{/with}}

  <p>
    <span class="icon-clock"></span>
    <span class="label-align">Duration: 
    <abbr class="duration" title={{lastBuildStartedAt}}>
      {{format-duration repo.lastBuildDuration}}
    </abbr></span>
  </p>

  <p>
    <span class="icon-calendar"></span>
    <span class="label-align">Finished: 
    <abbr class="finished_at timeago" title={{lastBuildFinishedAt}}>
      {{format-time repo.lastBuildFinishedAt}}
    </abbr></span>
  </p>
</div>
