{{#if canCancel}}
  {{#if cancel.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <div class='action-button-container'>
      <button {{action (perform cancel)}} class="action-button--cancel" type="button" aria-label="Cancel {{type}}">
        {{#if labelless}}{{#tooltip-on-element}}Cancel {{type}}{{/tooltip-on-element}}{{/if}}
        {{svg-jar 'icon-failed' class="icon"}}
        <span class="label-align">Cancel {{type}}</span>
      </button>
    </div>
  {{/if}}
{{else if canRestart}}
  {{#if restarters.isRunning}}
    {{loading-indicator height=true}}
  {{else}}
    <div class='action-button-container'>
      <button {{action (perform restart)}} class="action-button--restart" aria-label="Restart {{type}}" type="button">
        {{#if labelless}}{{#tooltip-on-element}}Restart {{type}}{{/tooltip-on-element}}{{/if}}
        {{svg-jar 'icon-restart' class="icon"}}
        <span class="label-align">Restart {{type}}</span>
      </button>
    </div>
    {{#unless features.enterpriseVersion}}
      {{#if features.proVersion}}
        {{#if canDebug}}
          <div class='action-button-container'>
            <button {{action (perform debug)}} class="action-button--debug" aria-label="Restart as debug {{type}}" type="button">
              {{#if labelless}}{{#tooltip-on-element}}Restart as debug {{type}}{{/tooltip-on-element}}{{/if}}
              {{svg-jar 'icon-debug' class="icon"}}
              <span class="label-align">Debug {{type}}</span>
            </button>
          </div>
        {{/if}}
      {{/if}}
    {{/unless}}
  {{/if}}
{{/if}}
