<div class="search search--sidebar">
  <div class="search-inner">
    {{input
      id="travis-search"
      value=(readonly repositories.searchQuery)
      placeholder="Search all repositories"
      key-up="onQueryChange"
    }}
    <label for="travis-search">{{inline-svg 'icon-search' class="icon"}}</label>
  </div>
</div>

{{repos-list-tabs
  startedJobsCount=startedJobsCount
  allJobsCount=allJobsCount
  showMyRepositories=(action "showMyRepositories")
  showRunningJobs=(action "showRunningJobs")}}

{{#if showRunningJobs}}
  <div class="travistab-body sidebar-list">
    <div>
      {{running-jobs jobs=runningJobs}}
    </div>
    <hr class="sidebar-seperator">
    <div>
      {{queued-jobs jobs=queuedJobs}}
    </div>
  </div>
{{else}}
  <div class="travistab-body sidebar-list">
    {{#if repositories.loadingData}}
      {{loading-indicator center=true}}
    {{else}}
      {{repos-list repos=repositories.accessible selectedRepo=selectedRepo}}
    {{/if}}
  </div>
{{/if}}
