<ul>
  <li id="tab_owned" class={{classOwned}}>
    <a href="#" {{action showMyRepositories}}>My Repositories</a>
  </li>

  <li id="tab_running" class={{classRunning}}>
    <a href="#" {{action showRunningJobs}}>Running Jobs<span class='badge'>{{startedJobsCount}} / {{allJobsCount}}</span></a>
  </li>
</ul>

<div id="button_new" class={{classNew}}>
  {{#link-to "profile" trackEvent="add-repository-from-list" title="Add New Repository"}}
  <span class='tooltip' data-tooltip='Add a repository'>
    <span class="icon icon--plus"></span>
  </span>
  {{/link-to}}
</div>
