{{#if this.canCancel}}
  {{#if this.cancel.isRunning}}
    <LoadingIndicator @height={{true}} />
  {{else}}
    <div class="action-button-container">
      <button
        data-test-repo-actions-cancel-button
        class="action-button--cancel"
        type="button"
        aria-label="Cancel {{this.type}}"
        {{action (perform this.cancel)}}
      >
        {{#if this.tooltips}}
          <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
            Cancel {{this.type}}
          </EmberTooltip>
        {{/if}}
        <SvgImage @name="icon-failed" @class="icon" />
        <span class="label-align">
          Cancel {{this.type}}
        </span>
      </button>
    </div>
  {{/if}}
  {{#if (and this.canPrioritize this.showPriority)}}
    <div class="action-button-container">
      {{#if this.insufficientPermissions}}
        <EmberTooltip
          class={{if this.mobilelabels "hidden-on-mobile"}} 
          @text="This action can be triggered only by users with push access to the repository" />
      {{/if}}
      <button 
        type="button"
        class="action-button--prioritize"
        data-test-repo-actions-prioritize-button
        onclick={{action this.showPriorityModal}}
        disabled={{this.insufficientPermissions}}
      >
        {{#if this.tooltips}}
          <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
            Prioritize build
          </EmberTooltip>
        {{/if}}
        <SvgImage @name="icon-prioritize" @class="icon prioritize-icon" />
        <span class="label-align">
          Prioritize build
        </span>
      </button>
    </div>
  {{/if}}
{{else if this.canRestart}}
  {{#if this.restarters.isRunning}}
    <LoadingIndicator @height={{true}} />
  {{else}}
    <div class="action-button-container">
      {{#if (and this.canOwnerBuild (not this.ownerRoMode))}}
        <button
          class="action-button--restart"
          aria-label="Restart {{this.type}}"
          type="button"
          {{action (perform this.restart)}}
        >
          {{#if this.tooltips}}
            <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
              Restart {{this.type}}
            </EmberTooltip>
          {{/if}}
          <SvgImage @name="icon-restart" @class="icon" />
          <span class="label-align">
            Restart {{this.type}}
          </span>
        </button>
      {{else}}
        <a class="disabled action-button--restart">
          {{#if this.ownerRoMode}}
            <EmberTooltip @text="{{config-get 'defaultTitle'}} is in read-only mode." />
          {{else}}
            <EmberTooltip @text="Builds have been temporarily disabled for this repository due to a negative credit balance." />
          {{/if}}
          <SvgImage @name="icon-restart" @class="icon" />
          <span class="label-align">
            Restart {{this.type}}
          </span>
        </a>
      {{/if}}
    </div>
    {{#if (and this.features.debugBuilds this.canDebug)}}
      <div class="action-button-container">
        {{#if (and this.canOwnerBuild (not this.ownerRoMode))}}
          <button
            data-test-repo-actions-debug-button
            class="action-button--debug"
            aria-label="Restart as debug {{type}}"
            type="button"
            {{action (perform this.debug)}}
          >
            {{#if this.tooltips}}
              <EmberTooltip class={{if this.mobilelabels "hidden-on-mobile"}}>
                Restart as debug {{this.type}}
              </EmberTooltip>
            {{/if}}
            <SvgImage @name="icon-debug" @class="icon" />
            <span class="label-align">
              Debug {{this.type}}
            </span>
          </button>
        {{else}}
         <a class="disabled action-button--debug">
            <EmberTooltip @text="Builds have been temporarily disabled for this repository due to a negative credit balance." />
            <SvgImage @name="icon-debug" @class="icon" />
            <span class="label-align">
              Debug {{this.type}}
            </span>
          </a>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
{{else}}
  {{#if this.userHasPullPermissionForRepo}}
    <LoadingIndicator />
  {{/if}}
{{/if}}
<Dialogs::PrioritizeBuildModal
  @isOpen={{this.showPrioritizeBuildModal}}
  @onClose={{action this.closePriorityModal}}
  @increasePriority={{this.increasePriority}}
  @build={{this.build}}
  @job={{this.job}}
/>
