<h3 data-test-repository-migration-modal-header
  class="h3--teal"
>
  Migrate selected repositories?
</h3>

<p data-test-repository-migration-modal-text-first>
  Please confirm that you would like to migrate the listed
  repositories from travis-ci.org to travis-ci.com:
</p>

{{#paper-block class='profile-repolist-wrapper'}}
  <ul class="profile-repositorylist">
    {{#each repositories as |repository| }}
      <li class="profile-repolist-item">
        {{repository-visibility-icon repository=repository}}
        <span class="profile-repo">
          {{repository.name}}
        </span>
      </li>
    {{/each}}
  </ul>
{{/paper-block}}

<p data-test-repository-migration-modal-text-second>
  We will migrate all the critical information needed to initiate builds to get
  you back up and running quickly.
</p>

<p data-test-repository-migration-modal-text-third>
  Please note that your build history will not be migrated. This will be
  available shortly. Until then you can access the history on
  <a data-test-repository-migration-modal-org-build-history-link
     target='_blank'
     href='https://travis-ci.org'
  >travis-ci.org</a>.
</p>

<p data-test-repository-migration-modal-text-fourth>
  If you have any questions or concerns about this process, please click CANCEL and contact our
  <a data-test-repository-migration-modal-support-mailto-link
    href="mailto:support@travis-ci.com"
    title="Email the Travis CI support team"
  >
    Customer Support Team
  </a>.
</p>

<div class="modal-controls">
  <button
    data-test-repository-migration-modal-confirm-migration-button
    class="button button--blue"
    onclick={{action "startMigration"}}
  >
    Migrate
  </button>

  <button
    data-test-repository-migration-modal-cancel-migration-button
    class="migration-modal-cancel button"
    onclick={{action onClose}}
  >
    Cancel
  </button>
</div>

<button
  type="button"
  title="Close modal"
  class="modal-close pointer"
  onclick={{action onClose}}
>
  {{svg-jar 'icon-failed' class="icon"}}
</button>
