{{#if this.preview}}
  <TriggerBuildPreview
    @request={{@request}}
    @config={{this.config}}
    @branch={{this.branch}}
    @sha={{this.sha}}
    @message={{this.message}}
    @mergeMode={{this.mergeMode}}
  />
{{else}}
  <TriggerBuildDescription
    @customize=true
    @configs=0
  />
  <TriggerBuildForm
    @repo={{this.repo}}
    @branch={{this.repo.defaultBranch.name}}
    @message="Trigger a build"
    @mergeMode="deep_merge_append"
    @onChange={{action "formFieldChanged"}}
  />
{{/if}}

<div class="trigger-build-buttons">
  <a
    class="trigger-build-button trigger-build-button-preview"
    onclick={{action this.onPreview}}
  >
    Preview
  </a>

  <TriggerBuildButton
    @processing={{this.processing}}
    onclick={{action "triggerBuild"}}
  />
</div>
