<ul>
  <li data-test-current-tab-container id="tab_current" class={{classCurrent}}>
    {{#if repo.slug}}
      <LinkTo @route="repo" @model={{repo}} @current-when="repo.index">
        Current
      </LinkTo>
    {{/if}}
  </li>
  <li id="tab_branches" class={{classBranches}}>
    {{#if repo.slug}}
      <LinkTo @route="branches" @model={{repo}}>
        Branches
      </LinkTo>
    {{/if}}
  </li>
  <li id="tab_builds" class={{classBuilds}}>
    {{#if repo.slug}}
      <LinkTo @route="builds" @model={{repo}}>
        Build History
      </LinkTo>
    {{/if}}
  </li>
  <li id="tab_pull_requests" class={{classPullRequests}}>
    {{#if repo.slug}}
      <LinkTo @route="pullRequests" @model={{repo}}>
        Pull Requests
      </LinkTo>
    {{/if}}
  </li>
  <li id="tab_build" class={{classBuild}}>
    {{#if build.id}}
      {{#if repo.slug}}
        {{svg-jar "icon-arrowtabs" class="tab-arrow"}}
        <LinkTo @route="build" @models={{array repo build}}>
          Build #
          {{build.number}}
        </LinkTo>
      {{/if}}
    {{/if}}
  </li>
  <li id="tab_job" class={{classJob}}>
    {{#if job.id}}
      {{#if repo.slug}}
        <LinkTo @route="job" @models={{array repo job}}>
          Job #
          {{job.number}}
        </LinkTo>
      {{/if}}
    {{/if}}
  </li>
  <li id="tab_settings" class={{classSettings}}>
    {{#if repo.slug}}
      <LinkTo @route="settings" @model={{repo}}>
        Settings
      </LinkTo>
    {{/if}}
  </li>
  <li id="tab_requests" class="{{classRequests}}">
    {{#if repo.slug}}
      <LinkTo @route="requests" @model={{repo}}>
        Requests
      </LinkTo>
    {{/if}}
  </li>
  {{#if config.endpoints.caches}}
    <li id="tab_caches" class={{classCaches}}>
      {{#if repo.slug}}
        <LinkTo @route="caches" @model={{repo}}>
          Caches
        </LinkTo>
      {{/if}}
    </li>
  {{/if}}
</ul>