<div class="tile tile--sidebar {{repo.lastBuild.state}}">
  <h2 class="tile-title">
    {{#if repo.slug}}
      <span class="icon icon--job {{repo.lastBuild.state}}"></span>
      {{#link-to "repo" repo class="slug"}}{{repo.slug}}{{/link-to}}
    {{/if}}
  </h2>
  {{#if repo.slug}}
    {{#if repo.lastBuild.id}}
      <p class="tile-title float-right">
        <span class="icon icon--hash"></span>
        {{#link-to "build" repo repo.lastBuild.id
           class="last_build"}}{{repo.lastBuild.number}}{{/link-to}}
      </p>
    {{/if}}
  {{/if}}

  <p>
    <span class="icon icon--clock"></span>
    Duration:
    <abbr class="duration" title={{repo.lastBuild.startedAt}}>
      {{format-duration repo.lastBuild.duration}}
    </abbr>
  </p>

  <p>
    <span class="icon icon--cal"></span>
    Finished:
    <abbr class="finished_at timeago" title={{repo.lastBuild.finishedAt}}>
      {{format-time repo.lastBuild.finishedAt}}
    </abbr>
  </p>
</div>
