<div id="actions" class="repo-main-tools">

  {{! TODO: when `component` helper is available we could just use
            with a component name based on type that is passed here }}
  {{#if job}}
    {{job-repo-actions job=job user=user repo=repo}}
  {{else}}
    {{build-repo-actions build=build user=user repo=repo}}
  {{/if}}

  {{#if displayCodecov}}
    <a href="#" name="codecov"
      {{action "codecovPopup"}} class="button-circle open-popup"
      title="Test Coverage with Codecov">
      <span class="icon icon--codecov"></span>
    </a>
  {{/if}}

  {{#if displayCodeClimate}}
    <a href="#" name="code-climate"
      {{action "codeClimatePopup"}} class="button-circle open-popup"
      title="Test Coverage with Code Climate">
      <span class="icon icon--codeclimate"></span>
    </a>
  {{/if}}

</div>

{{code-climate-popup}}
{{codecov-popup language=repo.githubLanguage}}