<ul>
  <li id="tab_owned" class={{this.classOwned}}>
    <a onclick={{action this.showMyRepositories}} class="pointer">
      My Repositories
    </a>
  </li>
  {{#if this.features.showRunningJobsInSidebar}}
    <li data-test-sidebar-running-tab id="tab_running" class={{this.classRunning}}>
      <a onclick={{action this.showRunningJobs}} class="pointer">
        Running ({{this.startedJobsCount}}/{{this.allJobsCount}})
        <EmberTooltip @text="Running jobs (started jobs / all jobs)" />
      </a>
    </li>
  {{/if}}
  <li id="tab_new" class={{this.classNew}}>
    <LinkTo
      @route="account"
      @trackEvent="add-repository-from-list"
      @title="Add New Repository"
    >
      <span class="icon icon--plus"></span>
    </LinkTo>
  </li>
</ul>
