{{#if displayTriggerBuild}}
  <div class="trigger-build-buttons">
    {{#unless this.closed}}
      <a
        class="trigger-build-button trigger-build-button-cancel"
        onclick={{action this.onCancel}}
      >
        Cancel
      </a>
      <a
        class="trigger-build-button trigger-build-button-customize"
        onclick={{action this.onCustomize}}
      >
        Customize
      </a>
      <a
        class="trigger-build-button trigger-build-button-preview"
        onclick={{action this.onPreview}}
      >
        Preview
      </a>
    {{/unless }}

    <TriggerBuildButton
      @processing={{this.processing}}
      onclick={{action this.onTriggerBuild}}
    />
  </div>

  {{#unless (or this.closed this.preview)}}
    <TriggerBuildDescription
      @customize={{this.customize}}
      @configs={{this.rawConfigs.length}}
    />
  {{/unless}}

  {{#if this.customize}}
    <TriggerBuildForm
      @repo={{this.repo}}
      @request={{this.request}}
      @config={{this.config}}
      @branch={{this.branch}}
      @sha={{this.sha}}
      @message={{this.message}}
      @mergeMode={{this.mergeMode}}
      @onChange={{action "formFieldChanged"}}
    />

    {{#unless this.replace}}
      <h4>
        Build Config
      </h4>
    {{/unless}}
  {{/if}}

  {{#if this.preview}}
    <TriggerBuildPreview
      @request={{@request}}
      @config={{this.config}}
      @branch={{this.branch}}
      @sha={{this.sha}}
      @message={{this.message}}
      @mergeMode={{this.mergeMode}}
    />
  {{/if}}
{{/if}}

{{#if (and this.closed this.showConfigValidation)}}
  <RequestMessagesList
    @messages={{this.request.messages}}
  />
{{/if}}

{{#unless (or this.replace this.preview)}}
  {{#each rawConfigs as |rawConfig|}}
    <RequestRawConfig
      @config={{rawConfig}}
      @build={{@request.build}}
      @slug={{@request.repo.slug}}
    />
  {{else}}
    <div class="starred-empty">
      The .travis.yml file used for this job is not available
    </div>
  {{/each}}
{{/unless}}

{{#if this.closed}}
  <RequestConfig @config={{@request.config}} />
{{/if}}
