<div class="row-item">
  {{status-icon status=requestClass}}
</div>

<div class="row-item fade-out {{requestClass}}">
  {{request-icon event=request.event_type state=requestClass}}
  <span class="label-align m-l-s" data-requests-item-related-model>
    {{#if request.isPullRequest}}
      <strong>#{{build.pullRequestNumber}}</strong>
    {{/if}}
    {{#if request.branchName}}
      <strong>{{request.branchName}}</strong>
    {{/if}}
    {{#if request.commit}}
      {{github-commit-link request.repo.slug request.commit.sha}}
    {{else}}
      <em data-requests-item-commit-missing>No commit available</em>
    {{/if}}
  </span>
</div>

<div class="row-item fade-out" title="{{pretty-date request.created_at}}" data-requests-item-created-at>
  {{svg-jar 'icon-calendar' class="icon"}}
  <span class="label-align">{{format-time request.created_at}}</span></div>

<div class="row-item fade-out" data-requests-item-commit-message>
  {{{format-message request.commit.message short="true" repo=build.repo}}}
</div>

<div class="row-item" data-requests-item-build>
  {{#if build}}
    {{svg-jar 'icon-hash' class="icon"}}
    {{#link-to "build" build title="Go to the build this request triggered"}}
      <span class="label-align inner-underline">{{build.number}}</span>{{/link-to}}
  {{else}}
      -
  {{/if}}
</div>

<div class="row-item fade-out" data-requests-item-message>
  <span class="label-align" title="{{message}}">{{message}}</span>
</div>
