{{#if displayTriggerBuild}}
  <div class="trigger-build-buttons">
    {{#unless this.closed}}
      <a
        class="trigger-build-button trigger-build-button-cancel"
        onclick={{action this.onCancel}}
      >
        Cancel
      </a>
      <a
        class="trigger-build-button trigger-build-button-customize"
        onclick={{action this.onCustomize}}
      >
        Customize
      </a>
      <a
        class="trigger-build-button trigger-build-button-preview"
        onclick={{action this.onPreview}}
      >
        Preview
      </a>
    {{/unless }}

    <TriggerBuildButton
      @processing={{this.processing}}
      onclick={{action this.onTriggerBuild}}
    />
  </div>

  {{#unless (or this.closed this.preview)}}
    <TriggerBuildDescription
      @customize={{this.customize}}
      @configs={{this.rawConfigs.length}}
    />
  {{/unless}}

  {{#if this.customize}}
    <TriggerBuildForm
      @repo={{this.repo}}
      @request={{this.request}}
      @config={{this.config}}
      @refType={{this.refType}}
      @branch={{this.branch}}
      @sha={{this.sha}}
      @message={{this.message}}
      @mergeMode={{this.mergeMode}}
      @loading={{this.loading}}
      @messages={{this.messages}}
      @onChange={{action "formFieldChanged"}}
      @onSubmit={{action "submit"}}
    />

    {{#unless this.replace}}
      <h4>
        Build {{pluralize this.rawConfigs.length 'Config' without-count=true}}
      </h4>
    {{/unless}}
  {{/if}}

  {{#if this.preview}}
    <TriggerBuildPreview
      @repo={{this.repo}}
      @request={{this.request}}
      @ref={{this.ref}}
      @mergeMode={{this.mergeMode}}
      @config={{this.config}}
    />
  {{/if}}
{{/if}}

{{#if (and this.closed this.showConfigValidation)}}
  <RequestMessagesList
    @messages={{this.request.messages}}
  />
{{/if}}

{{#unless (or this.replace this.preview)}}
  {{#each this.rawConfigs as |config|}}
    <RequestRawConfig
      @source={{config.source}}
      @config={{get config 'config'}}
      @build={{@request.build}}
      @slug={{@request.repo.slug}}
    />
  {{else}}
    {{#if this.loading}}
      <LoadingIndicator
        className="validating-indicator"
      />
    {{else}}
      <div class="starred-empty">
        Build configs not available.
      </div>
    {{/if}}
  {{/each}}
{{/unless}}

{{#if this.closed}}
  <RequestConfig
    @config={{@request.config}}
  />
{{/if}}
