{{#if (or this.validating this.result)}}
  <div class="validation-result" onclick={{action toggle}}>
    Validation:
    {{#if this.validating}}
      <LoadingIndicator className="validating-indicator" />
    {{else}}
      <span class="build-messages-badge badge-{{this.level}}" />
      {{this.result}}

      {{#if this.summary}}
        <div class="validation-summary">
          &mdash; {{this.summary}}
        </div>
        <div class="toggle-validation-messages" />
      {{/if}}
    {{/if}}
  </div>
{{/if}}

{{#if this.displayMessages}}
  <div class="yml-messages">
    {{#each this.messages as |message|}}
      <RequestMessage @message={{message}} />
    {{/each}}
  </div>
{{/if}}
