{{#if displayTriggerBuild}}
  <div class="trigger-build-buttons">
    {{#unless this.closed}}
      <a class="trigger-build-cancel" onclick={{action this.onCancel}}>
        Cancel
      </a>
      <a class="trigger-build-customize" onclick={{action this.onCustomize}}>
        Customize
      </a>
    {{/unless }}

    <TriggerBuildButton
      @processing={{this.processing}}
      onclick={{action this.onTriggerBuild}}
    />
  </div>

  {{#unless this.closed}}
    <TriggerBuildDescription
      @customize={{this.customize}}
      @configs={{this.rawConfigs.length}}
    />
  {{/unless}}

  {{#if this.customize}}
    <TriggerBuildForm
      @repo={{this.repo}}
      @config={{this.config}}
      @branch={{this.branch}}
      @sha={{this.sha}}
      @message={{this.message}}
      @mergeMode={{this.mergeMode}}
      @onChange={{action "formFieldChanged"}}
    />

    {{#unless this.replace}}
      <h4>
        Build Config
      </h4>
    {{/unless}}
  {{/if}}
{{/if}}

{{#if this.closed}}
  <RequestMessagesList
    @request={{@request}}
    @viewMessage={{action (mut this.viewingMessage)}}
  />
{{/if}}

{{#unless this.replace}}
  {{#each rawConfigs as |rawConfig|}}
    <RequestRawConfig
      @rawConfig={{rawConfig}}
      @build={{@request.build}}
      @slug={{@request.repo.slug}}
      @status={{this.status}}
      @mergeMode={{this.mergeMode}}
    />
  {{else}}
    <div class="starred-empty">
      The .travis.yml file used for this job is not available
    </div>
  {{/each}}
{{/unless}}

{{#if this.closed}}
  <RequestConfig @config={{@request.config}} />
{{/if}}
