{{#if this.jobsLoaded}}
  {{#each this.runningJobs as |job|}}
    <div
      data-test-sidebar-running-job
      class="tile tile--sidebar {{job.state}}"
    >
      {{#if job.repo.slug}}
        <StatusIcon @status={{job.state}} />
        <LinkTo @route="job" @models={{array job.repo job}}>
          <span class="label-align">
            {{job.repo.slug}}
          </span>
        </LinkTo>
      {{/if}}
      <p class="tile-title float-right">
        <SvgImage @name="icon-hash" @class="icon" />
        {{#if job.repo.slug}}
          <LinkTo @route="job" @models={{array job.repo job}}>
            <span data-test-running-job-title class="label-align">
              {{job.jobNumber}}
            </span>
          </LinkTo>
        {{/if}}
      </p>
      <p>
        <SvgImage @name="icon-clock" @class="icon" />
        <span class="label-align">
          Duration:
          <time
            class="duration"
            datetime={{job.startedAt}}
            title="Started {{pretty-date job.startedAt}}"
          >
            {{format-duration job.duration}}
          </time>
        </span>
      </p>
    </div>
  {{else}}
    <div class="loading-container">
      There are no jobs running
    </div>
  {{/each}}
{{else}}
  <LoadingIndicator @center="true" />
{{/if}}
