{{#if jobs.isLoaded}}
  {{#if jobs.length}}
    {{#each jobs as |job| }}
      <div class="tile tile--sidebar {{job.state}}">
        {{#if job.repo.slug}}
          {{status-icon status=job.state}}
          {{#link-to "job" job.repo job}}
            <span class="label-align">{{job.repo.slug}}</span>
          {{/link-to}}
        {{/if}}

        <p class="tile-title float-right">
          <span class="icon">
            <svg version="1.1" id="Layer_1" x="0px" y="0px"
               viewBox="-289 191 20 20" style="enable-background:new -289 191 20 20;" xml:space="preserve">
            <path fill="#A5ACAD" class="st0" d="M-272.4,198.4C-272.4,198.4-272.4,198.4-272.4,198.4l-3.4,0l0.3-3.3c0-0.3-0.2-0.6-0.5-0.6
              c-0.3,0-0.6,0.2-0.6,0.5l-0.3,3.4l-3.2,0l0.3-3.6c0-0.3-0.2-0.6-0.5-0.6c-0.3,0-0.6,0.2-0.6,0.5l-0.3,3.7l-3.2,0
              c-0.3,0-0.5,0.2-0.5,0.6c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0l3.1,0l-0.2,2.9l-3.5,0c-0.3,0-0.5,0.2-0.5,0.6c0,0.3,0.2,0.5,0.5,0.5
              c0,0,0,0,0,0l3.4,0l-0.3,3.3c0,0.3,0.2,0.6,0.5,0.6c0,0,0,0,0,0c0.3,0,0.5-0.2,0.5-0.5l0.3-3.4l3.2,0l-0.3,3.6
              c0,0.3,0.2,0.6,0.5,0.6c0,0,0,0,0,0c0.3,0,0.5-0.2,0.5-0.5l0.3-3.7l3.2,0c0.3,0,0.5-0.2,0.5-0.6c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0
              l-3.1,0l0.2-2.9l3.5,0c0.3,0,0.5-0.2,0.5-0.6C-271.8,198.7-272.1,198.4-272.4,198.4z M-277.2,202.4l-3.2,0l0.2-2.9l3.2,0
              L-277.2,202.4z"/>
            </svg>
          </span>
          {{#if job.repo.slug}}
            {{#link-to "job" job.repo job}}<span class="label-align">{{job.number}}</span>{{/link-to}}
          {{/if}}
        </p>

        <p>
          <span class="icon">
            <svg version="1.1" id="Layer_1" x="0px" y="0px"
               viewBox="-289 191 20 20" style="enable-background:new -289 191 20 20;" xml:space="preserve">
              <g>
                <path fill="#A5ACAD" class="st0" d="M-278.9,207.7c-3.7,0-6.7-3-6.7-6.7s3-6.7,6.7-6.7s6.7,3,6.7,6.7S-275.2,207.7-278.9,207.7z M-278.9,195.4
                  c-3.1,0-5.6,2.5-5.6,5.6s2.5,5.6,5.6,5.6c3.1,0,5.6-2.5,5.6-5.6S-275.8,195.4-278.9,195.4z"/>
                <path fill="#A5ACAD" class="st0" d="M-276.7,203.1c-0.1,0-0.2,0-0.3-0.1l-2.4-1.5c-0.2-0.1-0.2-0.3-0.2-0.4v-3.8c0-0.3,0.2-0.5,0.5-0.5
                  s0.5,0.2,0.5,0.5v3.5l2.1,1.4c0.2,0.2,0.3,0.5,0.2,0.7C-276.4,203-276.5,203.1-276.7,203.1z"/>
              </g>
            </svg>
          </span>
          <span class="label-align">
            Duration:
            <abbr class="duration" title={{job.startedAt}}>
              {{format-duration job.duration}}
            </abbr>
          </span>
        </p>

      </div>
    {{/each}}
  {{else}}
    <div class="loading-container">There are no jobs running</div>
  {{/if}}
{{else}}
  {{loading-indicator center="true"}}
{{/if}}
