{{#if this.userHasPushPermissionForRepo}}
    <div class="log-scans">
      <h1 class="log-scans-title">Job log scan reports</h1>
      {{#if this.repo.scanResults.isNotLoading}}
        <p class="log-scans-description">
          {{#if (eq this.repo.scanResults.length 0)}}
            Travis CI has not detected any issues while scanning your job logs for potential leakage of sensitive data like<br />
            secret/credential/token.
          {{else}}
            Travis CI <b>detected potential leakage</b> of sensitive data like secret/credentials/token in your build job logs.<br />
            We <b>preemptively censored</b> the build job log just to limit potential leakage.<br />
            We may be too suspicious and it may be a false alarm but for your safety please review the list below.<br />
            Reported items refer to line numbers in <b>raw</b> job log files.
            Scan reports are available 7 days until last job log scan. <ExternalLinkTo class='log-scan-list-learn-more' href="https://docs.travis-ci.com/">Learn more</ExternalLinkTo>
          {{/if}}
        </p>
        <div class="log-scans-list">
          {{#each this.repo.scanResults as |scanResult|}}
            <ScanResultItem @scanResult={{scanResult}} />
          {{/each}}
        </div>
        <PaginationNavigation
          @collection={{this.repo.scanResults}}
          @route="scanResults"
          @inner={{6}}
          @outer={{2}}
        />
      {{else}}
        <LoadingIndicator />
      {{/if}}
    </div>
{{else}}
  <Notification
    @type='alert'
    @severity='error'
  >
    We’re sorry, but you have insufficient access rights to view this information.
    Please contact your repository administrators. <ExternalLinkTo href="https://docs.travis-ci.com/">Learn more</ExternalLinkTo>
  </Notification>
{{/if}}
