<div class='selected-plan' data-test-selected-plan='true'>
  <div class='selected-plan__details'>
    <p class='selected-plan__details--plan'>
      summary
    </p>
    <p class='selected-plan__details--name' data-test-selected-plan-name>
      {{selectedPlan.name}} plan
    </p>
    <p class='selected-plan__details--jobs' data-test-selected-plan-jobs>
      {{pluralize selectedPlan.builds 'concurrent job'}}
    </p>
    <p onClick={{action this.goToFirstStep}} class='selected-plan__details--change-plan link' data-test-selected-plan-free-jobs>
      change plan
    </p>
  </div>
  <div>
    <div class='selected-plan__price'>
      <p class='selected-plan__price--total' data-test-plan-total='true'>
        Total:
      </p>
      <p class='selected-plan__price--large' data-test-selected-plan-price>
        {{format-currency selectedPlan.price}}
        <span>
          {{if showAnnual '/year' '/month'}}
        </span>
      </p>
    </div>
  </div>
</div>
