
<div class="plan-usage" data-test-plan-usage-content>
  <section>
  <h3>Share your plan</h3>
  <p class="description"> You can share your plan with selected {{this.orgPlaceholder}}, allowing them to use your plan's credits without having to own one.
  </p>
  <br/>
  </section>
  <section>
    <Input
    class="filter-users-input"
    placeholder={{this.filterPlaceholder}}
    onkeyup={{action "setFilter"}}/>
    <table class="plan-share-list">
      <thead>
        <tr>
          <th>
            <TravisForm as |form|>
            <form.field
              @disableFrame={{true}}
              @value={{this.allSelected}}
              onclick={{action "switchAll"}}
              as |field|>
              <field.checkbox />
            </form.field>
            </TravisForm>
          </th>
          <th>
            {{#if this.isAssembla}}Space{{else}}Organization{{/if}} Name
          </th>
          <th>
            Shared From
          </th>
          <th>
            <nav
              class="option-button {{if this.isBulkMenuOpen 'is-open'}}"
              {{on 'click' (fn (mut this.isBulkMenuOpen) true)}}
              {{on 'mouseleave' (fn (mut this.isBulkMenuOpen) false)}}
              >
              <button type="button" class="option-display" title="Bulk Options">
                <span class="label-align">
                  Bulk Options
                  <SvgImage @name="icon-dropdown-arrow" @class="icon" />
                </span>
              </button>
              <ul class="option-dropdown">
                <li>
                  <button type="button" onclick={{perform this.bulkShare}}>
                    Share Plan
                  </button>
                </li>

                <li>
                  <button type="button" onclick={{perform this.bulkUnshare}}>
                    Stop Sharing
                  </button>
                </li>
              </ul>
            </nav>

          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.planShares as |org| }}
        <tr data-test-share-plan-row>
          <td>
            <TravisForm as |form|>
            <form.field
              @disableFrame={{true}}
              @value={{org.selectedToSwitch}}
              onclick={{action "switchOrgSelection" org}}
              as |field|>
              <field.checkbox />
            </form.field>
            </TravisForm>
          </td>
          <td id="not-member-popover-context">
            <span class="profile-repo-name">{{or org.login org.fullName}}</span>
            {{#if org.showPopover}}
              <EmberPopover @side='top'>
                <span>You are no longer a member of this space, Contact an admin if you think this is a mistake.</span>
              </EmberPopover>
            {{/if}}
          </td>
          <td>
            {{ org.planSharedFrom }}
          </td>
          <td>

          {{#if this.isDonorUser}}
            <LinkTo @route="account.share_plan">
              <button type="button" class="plan-share-button" onclick={{action 'setShared' org (not org.onSharedPlan)}} data-test-share-plan-button>
              {{#if org.onSharedPlan}}Stop Sharing{{else}}Share Plan{{/if}}
              </button>
            </LinkTo>
          {{else}}
            <LinkTo @route="organization.share_plan" @model={{this.owner}}>
              <button type="button" class="plan-share-button" onclick={{action 'setShared' org (not org.onSharedPlan)}} data-test-share-plan-button>
                {{#if org.onSharedPlan}}Stop Sharing{{else}}Share Plan{{/if}}
              </button>
            </LinkTo>
          {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
  <section>
  <p class="description italic">To share a plan with another Travis CI Organization, you must:<br/>
    Be a member of the receiver Organization in Travis CI (a Space member in Assembla, organization member in GitHub/BitBucket/GitLab).<br/>
    Have administrative access to the plan donor Organization in Travis CI.<br/>
  </p>
  </section>
</div>
