<span class="square-checkbox-wrapper">
  <input
    type="checkbox"
    checked={{this.checked}}
    disabled={{this.disabled}}
    onchange={{action "toggle"}}
    onfocus={{action "focus"}}
    onblur={{action "blur"}}
  />
  <SvgImage
    @name="checkbox-checked"
    @class="square-checkbox-image--checked"
  />
  <div class="square-checkbox-unchecked square-checkbox-image--unchecked" />
</span>
