<div class="ssh-key-name">
  {{inline-svg 'icon-key' class="icon"}}
  <span>{{if key.isCustom key.description 'Default'}}</span>
</div>
<div class="ssh-key-value">
  {{inline-svg 'icon-fingerprint' class="icon"}}
  <span>{{key.fingerprint}}</span>
</div>

{{#if key.isCustom}}
  <div class="ssh-key-action">
    {{#if delete.isRunning}}
      {{loading-indicator}}
    {{else}}
      {{#if pushAccess}}
        <div class="tooltip">
          <button {{action (perform delete)}} type="button" class="no-button ssh-delete">
            {{inline-svg 'icon-trash' class="icon"}}
          </button>
          <div class="tooltip-bubble">Delete</div>
        </div>
      {{else}}
        <div class="tooltip--height">
          {{inline-svg 'icon-trash-disabled' class="icon ssh-no-delete"}}
          <div class="tooltip-bubble">You can't<br>delete keys</div>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <div class="ssh-key-action">
    <div class="tooltip--height">
      {{inline-svg 'icon-trash-disabled' class="icon ssh-no-delete"}}
      <div class="tooltip-bubble">Default key <br>cannot be deleted</div>
    </div>
  </div>
{{/if}}
