<div class="ssh-key-name">
  {{svg-jar 'icon-key' class="icon"}}
  <span>{{if key.isCustom key.description 'Default'}}</span>
</div>
<div class="ssh-key-value">
  {{svg-jar 'icon-fingerprint' class="icon"}}
  <span>{{key.fingerprint}}</span>
</div>

{{#if key.isCustom}}
  <div class="ssh-key-action">
    {{#if delete.isRunning}}
      {{loading-indicator}}
    {{else}}
      {{#if pushAccess}}
        <div class="tooltip">
          <button {{action (perform delete)}} type="button" class="no-button ssh-delete">
            {{svg-jar 'icon-trash' class="icon"}}
          </button>
          {{tooltip-on-element title='Delete'}}
        </div>
      {{else}}
        {{svg-jar 'icon-trash-disabled' class="icon ssh-no-delete"}}
        {{tooltip-on-element title='You can’t delete keys'}}
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <div class="ssh-key-action">
    {{svg-jar 'icon-trash-disabled' class="icon ssh-no-delete"}}
    {{tooltip-on-element title='Default key cannot be deleted'}}
  </div>
{{/if}}
