<div class="ssh-key-name">
  {{svg-jar 'icon-key' class="icon"}}
  <span>{{if key.isCustom key.description 'Default'}}</span>
</div>
<div class="ssh-key-value">
  {{svg-jar 'icon-fingerprint' class="icon"}}
  <span>{{key.fingerprint}}</span>
</div>

{{#if key.isCustom}}
  <div class="ssh-key-action">
    {{#if delete.isRunning}}
      {{loading-indicator}}
    {{else}}
      {{#if pushAccess}}
        <button {{action (perform delete)}} type="button" class="no-button ssh-delete">
          {{svg-jar 'icon-trash' class="icon"}}
        </button>
        {{ember-tooltip text='Delete'}}
      {{else}}
        {{svg-jar 'icon-trash-disabled' class="icon ssh-no-delete"}}
        {{ember-tooltip text='You can’t delete keys'}}
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <div class="ssh-key-action">
    {{svg-jar 'icon-trash-disabled' class="icon ssh-no-delete"}}
    {{ember-tooltip text='Default key cannot be deleted'}}
  </div>
{{/if}}
