<h3 class="h3--teal">
  Status Image
</h3>

{{#travis-form
  onSubmit=(perform triggerBuild)
  as |form|
}}

  <div class="form-elem">
    {{#form.field
      data-test-status-image-branch
      label='Branch'
      placeholder='Select a branch'
      value=branch
      showValidationStatusIcons=false
      onChange=(action (mut branch))
      as |field|
    }}
      {{#field.select
        search=(perform searchBranches)
        as |branch|
      }}
        {{branch}}
      {{/field.select}}
    {{/form.field}}
  </div>

  <div class="form-elem">
    {{#form.field
      data-test-status-image-format
      label='Format'
      value=format
      showValidationStatusIcons=false
      onChange=(action (mut format))
      as |field|
    }}
      {{#field.select
        options=formats
        as |format|
      }}
        {{format}}
      {{/field.select}}
    {{/form.field}}
  </div>

  <div class="form-elem">
    {{#form.field
      data-test-status-image-result
      label="Result"
      as |field|
    }}
      {{#field.textarea}}{{statusString}}{{/field.textarea}}
    {{/form.field}}
  </div>

  <button
    type="button"
    title="Close modal"
    class="modal-close pointer"
    onclick={{action form.submit}}
  >
    {{svg-jar 'icon-failed' class="icon"}}
  </button>

{{/travis-form}}
