<button type="button" class="no-button close" {{action "close"}} title="Close popup">
    {{inline-svg 'icon-failed'}}</button>
<h3 class="small-title popup-title">Status Image</h3>
<div class="form-pair">
  <label class="form-label">Branch</label>
  {{#if branches.isLoaded}}
    {{#x-select value=branch on-change=(action (mut branch)) as |xs|}}
      {{#each branches as |branch|}}
        {{#xs.option value=branch}}{{branch}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  {{else}}
    {{loading-indicator}}
  {{/if}}
</div>

<div class="form-pair">
  <label class="form-label">
  {{#x-select value=format on-change=(action (mut format)) as |xs|}}
    {{#each formats as |format|}}
      {{#xs.option value=format}}{{format}}{{/xs.option}}
    {{/each}}
  {{/x-select}}

  </label>
  {{status-image-input value=statusString class="url" rows=3}}
</div>
