<h3 class="h3--teal">Status Image</h3>
<div class="form-pair">
  <label class="form-label">Branch</label>
  {{#if branches.isLoaded}}
    {{#x-select value=branch on-change=(action (mut branch)) as |xs|}}
      {{#each branches as |branch|}}
        {{#xs.option value=branch}}{{branch}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  {{else}}
    {{loading-indicator}}
  {{/if}}
</div>

<div class="form-pair">
  <label class="form-label">
  {{#x-select value=format on-change=(action (mut format)) as |xs|}}
    {{#each formats as |format|}}
      {{#xs.option value=format}}{{format}}{{/xs.option}}
    {{/each}}
  {{/x-select}}

  </label>
  {{status-image-input value=statusString class="url" rows=3}}
</div>

<button trype="button" title="Close modal" class="modal-close pointer" {{action 'toggleStatusImageModal'}}>{{svg-jar 'icon-failed' class="icon"}}</button>
