{{#if isEmpty}}
  {{inline-svg 'icon-nobuilds'}}
{{else}}
  {{#if hasPassed}}
    {{inline-svg 'icon-passed'}}
  {{/if}}

  {{#if hasFailed}}
    {{inline-svg 'icon-failed'}}
  {{/if}}

  {{#if wasCanceled}}
    {{inline-svg 'icon-canceled'}}
  {{/if}}

  {{#if hasErrored}}
    {{inline-svg 'icon-errored'}}
  {{/if}}

  {{#if isRunning}}
    <div class="is-rotating">
      <span class="circle"></span>
      <span class="circle"></span>
    </div>
  {{/if}}
{{/if}}
