{{#if isEmpty}}
  <svg version="1.1" id="icon-nobuilds" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 17 17" xml:space="preserve">
  <g id="nobuilds">
  <circle cx="7.5" cy="7.5" r="7"/>
  </g>
  </svg>
{{else}}
  {{#if hasPassed}}
    {{inline-svg 'images/stroke-icons/icon-passed'}}
  {{/if}}

  {{#if hasFailed}}
    {{inline-svg 'images/stroke-icons/icon-failed'}}
  {{/if}}

  {{#if wasCanceled}}
    {{inline-svg 'images/stroke-icons/icon-canceled'}}
  {{/if}}

  {{#if hasErrored}}
    {{inline-svg 'images/stroke-icons/icon-errored'}}
  {{/if}}

  {{#if isRunning}}
    <div class="is-rotating">
      <span class="circle"></span>
      <span class="circle"></span>
    </div>
  {{/if}}
{{/if}}
