{{#if this.user.isSyncing}}
  <div data-test-is-syncing-button class="button--transparent color-oxide-blue">
    <span class="loading-indicator label-align">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
{{else if this.user.roMode}}
    <button class="button--transparent" disabled="disabled">
      <SvgImage @name="sync-icon" @class="icon--l" />
    </button>
{{else}}
  <button
    data-test-start-sync-button
    class="button--transparent"
    type="button"
    disabled={{if this.isSyncDisabled true false}}
    {{action "sync" bubbles=false}}
  >

    <EmberPopover @side='top'>
      <span class='nowrap'>Last synced {{format-time this.user.syncedAt}} </span>
      <span class='nowrap'>Click the button to sync.</span>
      </EmberPopover>
    <SvgImage @name="{{if this.isSyncDisabled 'sync-icon-disabled' 'sync-icon'}}" @class="icon--sync "  />
  </button>
  <div class="sync-last-container">
    <span class="sync-last">
    </span>
  </div>
{{/if}}
