
<div id="time-series-container">Loading</div>

{{!--  
<UiKit::Grid @align="left" @gap={{2}} as |grid|>
  <grid.item @md="1/3" @lg="1/3">
    <UiKit::Box
      @display="flex"
      @flexDir="col"
      @flexAlign={{hash base="center" md="start"}}
      @textAlign={{hash base="center" md="left"}}
    >
      <div id="builds-time-series-container">Builds</div>
    </UiKit::Box>
  </grid.item>

  <grid.item @md="1/3" @lg="1/3">
    <UiKit::Box
      @display="flex"
      @flexDir="col"
      @flexAlign={{hash base="center" md="start"}}
      @textAlign={{hash base="center" md="left"}}
    >
      <div id="minutes-time-series-container">Minutes</div>
    </UiKit::Box>
  </grid.item>

  <grid.item @md="1/3" @lg="1/3">
    <UiKit::Box
      @display="flex"
      @flexDir="col"
      @flexAlign={{hash base="center" md="start"}}
      @textAlign={{hash base="center" md="left"}}
    >
      <div id="credits-time-series-container">Credits</div>
    </UiKit::Box>
  </grid.item>

</UiKit::Grid>

--}}