<div class="topbar {{if this.isNavigationOpen 'has-autoheight'}} {{if this.showBroadcasts 'has-autoheight'}}" >
  <h1 id="logo" class="logo">
    <LinkTo @route="index">
      Travis CI
    </LinkTo>
  </h1>
  <HeaderBurgerMenu @isOpen={{this.isNavigationOpen}} @onClick={{action 'toggleNavigation'}} />
  <HeaderBroadcasts @showBroadcasts={{this.showBroadcasts}} />
  <HeaderLinks @isOpen={{this.isNavigationOpen}} />
</div>
{{#if this.features.enterpriseVersion}}
  <EnterpriseBanner />
{{/if}}
{{#if hasBlock}}
  {{yield}}
{{else if this.showCta}}
  <div class="cta">
    <p class="row">
      Help make Open Source a better place and start building better software today!
    </p>
  </div>
{{/if}}
