<div
  class="topbar
    {{if is-open "has-autoheight"}}

    {{if showBroadcasts "has-autoheight"}}"
>
  <h1 id="logo" class="logo">
    <LinkTo @route="index">
      Travis CI
    </LinkTo>
  </h1>
  <HeaderBurgerMenu @is-open={{is-open}} />
  <HeaderBroadcasts @showBroadcasts={{showBroadcasts}} />
  <HeaderLinks @is-open={{is-open}} />
</div>
{{#if features.enterpriseVersion}}
  <EnterpriseBanner />
{{/if}}
{{#if hasBlock}}
  {{yield}}
{{else if showCta}}
  <div class="cta">
    <p class="row">
      Help make Open Source a better place and start building better software today!
    </p>
  </div>
{{/if}}