<TravisForm
  @onSubmit={{perform this.triggerBuild}}
  as |form|
>
  <h2 class="h3--teal">
    Trigger a custom build
    <ExternalLinkTo
      @href="https://github.com/travis-ci/beta-features/issues/27"
      @title="Give your feedback on custom build trigger"
      class="badge"
    >
      Beta Feature
    </ExternalLinkTo>
  </h2>
  <p>
    Custom builds exist only on Travis CI and will not appear in your Git history.
  </p>
  <div class="form-elem">
    <form.field
      data-test-trigger-build-branch="true"
      @label="Branch"
      @placeholder="Select a branch"
      @value={{this.triggerBuildBranch}}
      @showValidationStatusIcons={{false}}
      @onChange={{action (mut this.triggerBuildBranch)}}
      as |field|
    >
      <field.select
        @search={{perform this.searchBranches}}
        as |branch|
      >
        {{branch}}
      </field.select>
    </form.field>
  </div>
  <div class="form-elem">
    <form.field
      data-test-trigger-build-message="true"
      @value={{this.triggerBuildMessage}}
      @label="Custom commit message"
      @onChange={{action (mut this.triggerBuildMessage)}}
      @placeholder="Commit message"
      as |field|
    >
      {{field.input}}
    </form.field>
  </div>
  <div class="form-elem">
    <form.field
      data-test-trigger-build-config="true"
      @value={{this.triggerBuildConfig}}
      @label="Custom config"
      @placeholder="Enter config as YAML"
      @onChange={{action (mut this.triggerBuildConfig)}}
      as |field|
    >
      {{field.textarea class="monospace"}}
    </form.field>
  </div>
  <div class="form-elem">
    {{#if this.triggerBuild.isRunning}}
      <LoadingIndicator />
    {{else}}
      <button
        data-test-trigger-build-submit="true"
        onclick={{action form.submit}}
        type="button"
        class="trigger-build-submit {{if this.jsonError 'button inactive' 'button--blue'}}"
        title="Trigger custom build with your settings"
      >
        Trigger custom build
      </button>
    {{/if}}
  </div>
  <button
    type="button"
    title="Close modal"
    class="modal-close pointer"
    onclick={{action "toggleTriggerBuildModal"}}
  >
    <SvgImage @name="icon-failed" @class="icon" />
  </button>
</TravisForm>
