
{{#each this.options as |option index|}}
  <button
    class="visibility-setting-list-item {{if (eq currentSelection option.value) 'visibility-setting-list-item--selected'}}"
    {{action (mut currentSelection) option.value}}
  >
    <span class="visibility-setting-list-item__description">{{option.description}}</span>
    <span class="visibility-setting-list-item__radio" ></span>
    {{!-- <label for="{{elementId}}_option_{{index}}" tabindex="0">{{option.description}}</label>
    <input
      type="radio"
      name="{{elementId}}_options"
      class="visibility-setting-input"
      id="{{elementId}}_option_{{index}}"
      value={{index}}
      checked={{eq currentSelection option.value}}
      onchange={{action (mut currentSelection) option.value}}
    />
    <label for="{{elementId}}_option_{{index}}" class="visibility-setting-label" tabindex="0"></label> --}}
  </button>
{{/each}}
<div class="visibility-setting-list-item visibility-setting-list-item--save">
  <button
    class="settings-button"
    {{action 'toggleConfirmationModal'}}
    disabled={{eq change 0}}
  >Save</button>
</div>

{{#if isShowingConfirmationModal}}
  {{#modal-dialog
    targetAttachment="center"
    translucentOverlay=true
    toggleConfirmationModal='toggleConfirmationModal'
  }}
    <div class="visibility-settings-modal-top">
      <button
        type="button"
        title="Close modal"
        class="modal-close pointer"
        {{action 'toggleConfirmationModal'}}
      >{{svg-jar 'icon-failed' class="icon"}}</button>

      <h3>{{modalHeaderText}}</h3>
    </div>
    <div class="visibility-settings-modal-body">
      <p>{{modalBodyText}}</p>
    </div>
    <div class="visibility-settings-modal-controls">
      <button
        autofocus
        data-test-visibility-settings-modal-cancel-button
        href="#"
        role="button"
        class="button button--red"
        {{action 'toggleConfirmationModal'}}
      >Cancel</button>

      <button
        data-test-visibility-settings-modal-confirm-button
        href="#"
        role="button"
        class="button button--blue"
        {{action 'confirm'}}
      >Confirm</button>
    </div>
  {{/modal-dialog}}
{{/if}}