{{#if isVisible}}
  <div data-test-visibility-settings-list>
    {{#each options as |option|}}
      {{#let (eq selectionKey option.key) as |selected|}}
        <button
          data-test-visibility-settings-list-item
          data-test-visibility-settings-list-item-selected={{selected}}
          autofocus={{and focusOnList selected}}
          class="visibility-setting-list-item {{if selected 'visibility-setting-list-item--selected'}}"
          onclick={{action (mut selectionKey) option.key}}
        >
          <span class="visibility-setting-list-item__radio" ></span>
          <span class="visibility-setting-list-item__description" data-test-visibility-settings-list-item-description>{{option.description}}</span>
        </button>
      {{/let}}
    {{/each}}
  </div>
  <div class="visibility-setting-list-item visibility-setting-list-item--save">
    <button
      class="settings-button"
      onclick={{action 'toggleConfirmationModal'}}
      disabled={{isChangeNeutral}}
      data-test-visibility-settings-submit
    >Save</button>
  </div>

  {{#if isShowingConfirmationModal}}
    {{#modal-dialog
      targetAttachment="center"
      translucentOverlay=true
      toggleConfirmationModal='toggleConfirmationModal'
      containerClass="visibility-settings-modal"
      overlayPosition='sibling'
      animatable=true
    }}
      <div class="visibility-settings-modal__top">
        <h3 class="visibility-settings-modal__header" data-test-visibility-settings-modal-title>
          {{#if isChangeNegative}}
            Restrict
          {{else if isChangePositive}}
            Increase
          {{else}}
            Update
          {{/if}}
          visibility of your private build insights
        </h3>
        <button
          type="button"
          title="Close modal"
          class="pointer visibility-settings-modal__close-button"
          autofocus={{focusOnModal}}
          onclick={{action 'toggleConfirmationModal'}}
          data-test-visibility-settings-modal-close-button
        >{{svg-jar 'icon-failed' class="icon"}}</button>
      </div>

      <div class="visibility-settings-modal__body">
        <p data-test-visibility-settings-modal-description>
          {{#if isChangeNeutral}}
            Visibility update is in progress
          {{else if selection.modalText}}
            {{selection.modalText}}
          {{else}}
            This change will make your private build insights
            {{if isChangeNegative 'only'}}
            available to
            {{selectionTitle}}
          {{/if}}
        </p>
      </div>

      <div class="visibility-settings-modal__controls">
        <button
          data-test-visibility-settings-modal-cancel-button
          role="button"
          class="button button--red"
          onclick={{action 'toggleConfirmationModal'}}
        >Cancel</button>

        <button
          data-test-visibility-settings-modal-confirm-button
          role="button"
          class="button button--blue"
          onclick={{action 'confirm'}}
        >Confirm</button>
      </div>
    {{/modal-dialog}}
  {{/if}}
{{/if}}
