<ul class="travis-radio-list">
  {{#each this.options as |option index|}}
    <li class="travis-radio-list__item">
      <label for="{{elementId}}_option_{{index}}">{{option.description}}</label>
      <input
        type="radio"
        name="{{elementId}}_options"
        class="travis-radio-input"
        id="{{elementId}}_option_{{index}}"
        value={{index}}
        checked={{eq currentSelection option.value}}
        onchange={{action (mut currentSelection) option.value}}
      />
      <label for="{{elementId}}_option_{{index}}" class="travis-radio-label"></label>
    </li>
  {{/each}}
  <li class="travis-radio-list__item travis-radio-list__item--save">
    <button
      class="settings-button"
      {{action (toggle 'isShowingConfirmationModal' this)}}
      disabled={{eq change 0}}
    >Save</button>
  </li>
</ul>

{{#if isShowingConfirmationModal}}
  {{#modal-dialog
    targetAttachment="center"
    translucentOverlay=true
  }}
    <div class="visibility-settings-modal-top">
      <button
        type="button"
        title="Close modal"
        class="modal-close pointer"
        {{action (toggle 'isShowingConfirmationModal' this)}}
      >{{svg-jar 'icon-failed' class="icon"}}</button>

      <h3>{{modalHeaderText}}</h3>
    </div>
    <div class="visibility-settings-modal-body">
      <p>{{modalBodyText}}</p>
    </div>
    <div class="visibility-settings-modal-controls">
      <button
        data-test-visibility-settings-modal-cancel-button
        href="#"
        role="button"
        class="button button--red"
        {{action (toggle 'isShowingConfirmationModal' this)}}
      >Cancel</button>

      <button
        data-test-visibility-settings-modal-confirm-button
        href="#"
        role="button"
        class="button button--blue"
        {{action 'confirm'}}
      >Confirm</button>
    </div>
  {{/modal-dialog}}
{{/if}}