{{#unless this.isSuccess}}
  {{#if this.showSupportForm}}
    <h1 class="header-main align-center" data-test-zendesk-form-header>
      Get help from our support engineers
    </h1>
    <div class="subheading align-center">
      <span class="nowrap">
        Our support hours are between
      </span>
      <span class="nowrap" data-test-zendesk-form-support-hours>
        {{this.startTime}} {{this.timezone}} – {{this.endTime}} {{this.timezone}}
      </span>
      <span class="nowrap">
        Monday through Friday
      </span>
    </div>
    <div data-test-zendesk-form-container>
      <TravisForm
        @onSubmit={{action "handleSubmit"}}
        as |form|
      >
        <form.field
          @label="Email"
          @value={{this.email}}
          @required={{true}}
          @validator={{form-validator form.validators.email}}
          @onChange={{action (mut this.email)}}
          data-test-zendesk-form-email="true"
          as |field|
        >
          {{#if this.emails.length}}
            <field.select @options={{this.emails}} as |email|>
              {{email}}
            </field.select>
          {{else}}
            <field.input @disabled={{true}} />
          {{/if}}
        </form.field>
        <form.field
          @label="Subject"
          @value={{this.subject}}
          @required={{true}}
          @disabled={{this.isSubmitting}}
          @onChange={{action (mut this.subject)}}
          data-test-zendesk-form-subject="true"
          as |field|
        >
          <field.input @type="text" />
        </form.field>
        <form.field
          @label="Description"
          @value={{this.description}}
          @disabled={{this.isSubmitting}}
          @required={{true}}
          @validator={{form-validator
            form.validators.difference
            this.descriptionTemplate
            "Make sure to add some details on what you'd like to talk with us about"
          }}
          @autoValidate={{false}}
          @helperText="Let us know what's happening and how this is affecting you. Tip: Include any links to failing Travis CI build"
          @onChange={{action (mut this.description)}}
          as |field|
        >
          <field.textarea
            @rows={{10}}
            data-test-zendesk-form-description="true"
          >{{this.description}}</field.textarea>
        </form.field>
        <div class="align-center">
          <button
            onclick={{action form.submit}}
            class="submit-button button--blue button--large"
            data-test-zendesk-form-submit
          >
            {{#if this.isSubmitting}}
              <LoadingIndicator @white={{true}} />
            {{else}}
              Submit
            {{/if}}
          </button>
        </div>
      </TravisForm>
    </div>
  {{else if this.showLoginPrompt}}
    <h1 class="header-main align-center" data-test-zendesk-form-log-in-header>
      Get help from the experts
    </h1>
    <div class="subheading align-center">
      Logging into your account and sending an example of your problem will speed up getting an answer
    </div>
    <div class="sign-in-image align-center" data-test-zendesk-form-log-in-image>
      <SvgImage @name="hard-hat" />
    </div>
    <div class="sign-in align-center">
      <MultiSigninButton data-test-zendesk-form-log-in-button="" />
    </div>
  {{else}}
    <h1
      class="header-main align-center"
      data-test-zendesk-form-community-header
    >
      Get help in our Community forum
    </h1>
    <div class="subheading align-center">
      Talk with developers and experts, submit
      <ExternalLinkTo @href={{this.featureRequestUrl}}>
        feature requests
      </ExternalLinkTo>,
      and more in our
      <ExternalLinkTo @href={{this.communityUrl}}>
        Community forum
      </ExternalLinkTo>
    </div>
    <div
      class="sign-in-image align-center"
      data-test-zendesk-form-community-image
    >
      <SvgImage @name="hard-hat" />
    </div>
  {{/if}}
{{else}}
  <h1 class="header-main align-center" data-test-zendesk-form-success-header>
    Thank you!
  </h1>
  <div class="success-image align-center" data-test-zendesk-form-success-image>
    <SvgImage @name="hard-hat-success" />
  </div>
  <div class="subheading align-center" data-test-zendesk-form-success-message>
    One of our support engineers will get back to you as soon as possible.
  </div>
  <div class="back-link align-center">
    <a class="button--blue" {{action "goBack"}} data-test-zendesk-form-back-link>
      Head back
    </a>
  </div>
{{/unless}}
