{{#travis-form
  onSubmit=(perform 'zendeskRequest')
  as |form|
}}

  {{form.input
    label='Email'
    value=email
    validator=(form-validator form.validators.email)
    required=true
    disabled=true
  }}

  {{form.input
    label='Subject'
    value=subject
    required=true
    onChange=(action (mut subject))
  }}

  {{#form.textarea
    label='Description'
    helperText="Let us know what's happening and how this is affecting you. Tip: Include any links to failing Travis CI build"
    rows=5
    validator=(form-validator form.validators.presense "Make sure to add some details on what you'd like to talk with us about")
    onChange=(action (mut description))
  }}{{description}}{{/form.textarea}}

  <div class="align-center">
    <button
      disabled={{not form.isValid}}
      onclick={{action form.submit}}
      class='submit-button button--blue button--large {{if (not form.isValid) 'inactive'}}'
    >
      Submit
    </button>
  </div>

{{/travis-form}}
