{{#travis-form
  onSubmit=(perform 'zendeskRequest')
  as |form|
}}

  {{form.input
    label='Email'
    value=email
    validator=(form-validator form.validators.email)
    required=true
    disabled=true
  }}

  {{form.input
    label='Subject'
    value=subject
    required=true
    onChange=(action (mut subject))
  }}

  {{#form.textarea
    label='Description'
    rows=5
    required=true
    onChange=(action (mut description))
  }}{{description}}{{/form.textarea}}

  <div class="align-center">
    <button
      disabled={{not form.isValid}}
      onclick={{action form.submit}}
      class='button--blue button--large {{if (not form.isValid) 'inactive'}}'
    >
      Submit
    </button>
  </div>

{{/travis-form}}
