{{#if label }}
  <label for={{fieldElementId}} class='travis-form__label'>
    {{label}}
    {{#if showRequiredMark}}
      <span class='travis-form__required-mark'>
        *
        {{ember-tooltip text='This field is required' delay=300 }}
      </span>
    {{/if}}
  </label>
{{/if}}

{{#if helperText}}
  <div class="travis-form__helper-text">
    {{helperText}}
  </div>
{{/if}}

{{#if showIcon }}
  <div class="travis-form__icon">
    {{svg-jar icon }}
  </div>
{{/if}}

{{yield (hash
  isValid=isValid
  isError=isError
  errorMessage=errorMessage
  input=(component 'forms/form-input'
    form=form
    value=value
    disabled=disabled
    placeholder=placeholder
    onFocus=(action 'handleFocus')
    onBlur=(action 'handleBlur')
    onChange=(action 'handleChange')
    onInit=(action 'setFieldElementId')
    class='travis-form__field-component'
  )
  textarea=(component 'forms/form-textarea'
    form=form
    value=value
    disabled=disabled
    placeholder=placeholder
    onFocus=(action 'handleFocus')
    onBlur=(action 'handleBlur')
    onChange=(action 'handleChange')
    onInit=(action 'setFieldElementId')
    class='travis-form__field-component'
  )
  select=(component selectComponent
    form=form
    selected=value
    disabled=disabled
    placeholder=placeholder
    onfocus=(action 'handleFocus')
    onopen=(action 'handleFocus')
    onblur=(action 'handleSelectBlur')
    onclose=(action 'handleSelectBlur')
    onchange=(action 'handleChange')
  )
  checkbox=(component 'forms/form-checkbox'
    form=form
    checked=value
    disabled=disabled
    onFocus=(action 'handleFocus')
    onBlur=(action 'handleBlur')
    onChange=(action 'handleChange')
    onInit=(action 'setFieldElementId')
    class='travis-form__field-component'
  )
  switch=(component 'forms/form-switch'
    form=form
    checked=value
    disabled=disabled
    onChange=(action 'handleChange')
    onInit=(action 'setFieldElementId')
    class='travis-form__field-component'
  )
)}}

{{#if requiresValidation }}
  {{#if showValidationStatusIcons}}
    <div class="travis-form__field-badge travis-form__field-badge--error">
      {{svg-jar 'form-error-icon' width=14 height=14}}
    </div>

    <div class="travis-form__field-badge travis-form__field-badge--valid">
      {{svg-jar 'form-valid-icon' width=14 height=14}}
    </div>
  {{/if}}
  {{#if showValidationStatusMessage}}
    <div class="travis-form__error-message">
      {{errorMessage}} &nbsp;
    </div>
  {{/if}}
{{/if}}

{{#if showClear }}
  <div class="travis-form__clear" onclick={{action 'handleClear'}}>
    &times;
  </div>
{{/if}}
