<label for={{fieldElementId}} class='travis-form__label'>
  {{label}}
  {{#if showRequiredMark}}
    <span class='travis-form__required-mark'>
      *
      {{ember-tooltip text='This field is required' delay=300 }}
    </span>
  {{/if}}
</label>

{{#if helperText}}
  <div class="travis-form__helper-text">
    {{helperText}}
  </div>
{{/if}}

{{#if hasBlock}}
  {{#component fieldComponentName
    type=type
    value=value
    placeholder=placeholder
    disabled=disabled
    rows=rows
    options=options
    multiple=multiple
    onFocus=(action 'handleFocus')
    onBlur=(action 'handleBlur')
    onChange=(action 'handleChange')
    onInit=(action 'setFieldElementId')
    class='travis-form__field-component'
  }}{{yield}}{{/component}}
{{else}}
  {{component fieldComponentName
    type=type
    value=value
    placeholder=placeholder
    disabled=disabled
    options=options
    multiple=multiple
    onFocus=(action 'handleFocus')
    onBlur=(action 'handleBlur')
    onChange=(action 'handleChange')
    onInit=(action 'setFieldElementId')
    class='travis-form__field-component'
  }}
{{/if}}

<div class="travis-form__field-badge travis-form__field-badge--error">
    {{svg-jar 'form-error-icon' width=14 height=14}}
  </div>

<div class="travis-form__field-badge travis-form__field-badge--valid">
  {{svg-jar 'form-valid-icon' width=14 height=14}}
</div>

<div class="travis-form__error-message">
  {{errorMessage}} &nbsp;
</div>
