<span class='travis-form__field-checkbox-wrapper'>
  <input type='checkbox'
    checked={{checked}}
    disabled={{disabled}}
    onchange={{action 'toggle'}}
    onfocus={{action 'focus'}}
    onblur={{action 'blur'}}
  />
  {{svg-jar 'checkbox-checked' class='travis-form__field-checkbox-image--checked'}}
  {{svg-jar 'checkbox-unchecked' class='travis-form__field-checkbox-image--unchecked'}}
</span>

{{yield}}
