<aside class="columns medium-4">
  <section class="profile-user">
    <div class="media">
      <div class="media-elem">
        <img {{bind-attr src="auth.gravatarUrl"}} alt="">
      </div>
      <div class="media-body">
        {{#link-to 'profile'}}
          <h1>{{userName}}</h1>
          <p>Repositories <strong>{{user.reposCount}}</strong></p>
        {{/link-to}}
        <p class="profile-user-last">Token: <strong>{{auth.currentUser.token}}</strong></p>
      </div>
    </div>
  </section>
  <section class="profile-orgs">
    <h1>Organizations</h1>
    {{#collection "accounts-list" contentBinding="organizations"}}
      {{#link-to "account" view.account class="name"}}
        <div class="media">
          <div class="media-elem">
            <img src="//placehold.it/50x50" alt="">
          </div>
          <div class="media-body">
            <h2>{{view.name}}</h2>
            <p>Repositories <strong>{{view.account.reposCount}}</strong></p>
          </div>
        </div>
      {{/link-to}}
    {{/collection}}
  </section>
</aside>
