<aside class="columns medium-4">
  <section class="profile-user">
    <div class="media">
      <div class="media-elem">
        <img src={{auth.gravatarUrl}} alt="">
      </div>
      <div class="media-body">
        {{#link-to 'profile'}}
          <h1>{{userName}}</h1>
          <p>Repositories <strong>{{user.reposCount}}</strong></p>
        {{/link-to}}
        <p class="profile-user-last">Token: 

        {{#if isVisible}}
          <strong>{{auth.currentUser.token}}</strong><a {{action 'tokenVisibility'}} class="profile-token-toggle">&lharu;</a>
        {{else}}
          <a {{action 'tokenVisibility'}} class="profile-token-toggle">&rharu;</a>
        {{/if}}
        </p>
      </div>
    </div>
  </section>
  <section class="profile-orgs">
    <h1>Organizations</h1>
    {{#collection "accounts-list" contentBinding="organizations"}}
      {{#link-to "account" view.account class="name"}}
        <div class="media">
          <div class="media-elem">
            <img src={{view.avatarUrl}} alt="">
          </div>
          <div class="media-body">
            <h2>{{view.name}}</h2>
            <p>Repositories <strong>{{view.account.reposCount}}</strong></p>
          </div>
        </div>
      {{/link-to}}
    {{else}}
      <p class="profile-text">You are not currently a member of <br> any organization.</p>
    {{/collection}}
  </section>
{{#if config.githubOrgsOauthAccessSettingsUrl}}
  <section class="profile-additional">
    <p>Is an organization missing?<br>
      <a href={{config.githubOrgsOauthAccessSettingsUrl}} title="Orgs Oauth Access Settings on GitHub">Review and add</a> your authorized organizations.</p>
  </section>
{{/if}}
</aside>
