<article class="columns medium-8 float-right profile-main">

  {{#if config.billingEndpoint}}
    {{#if view.subscribed}}
      <a class="button activated" {{bind-attr href="billingUrl"}}>
        Subscription active!
      </a>
    {{else}}
      {{#if view.education}}
        <a class="button activated" {{bind-attr href="billingUrl"}}>
          Educational account!
        </a>
      {{else}}
        <a class="button activate" {{bind-attr href="billingUrl"}}>
          Sign up this account!
        </a>
      {{/if}}
    {{/if}}
  {{/if}}

  {{!-- {{view 'profile-tabs'}} --}}

  {{!-- <div class="tab"> --}}
    {{outlet}}
  {{!-- </div> --}}
</article>
