<nav class="travistab-nav travistab-nav--underline">
  <ul>
    <li>
      <LinkTo
        @query={{hash tab="repositories" timeInterval=defaultTimeInterval}}
      >
        Repositories
      </LinkTo>
    </li>
    <li>
      <LinkTo @query={{hash tab="insights" timeInterval=timeInterval page=1}}>
        Insights
      </LinkTo>
    </li>
  </ul>
</nav>
<div class="owner-repo">
  {{#if isInsights}}
    {{#if buildsReady}}
      <div class="travistab-body">
        <div class="insights-controls">
          <div class="insights-controls-left snapshot-hide">
            <InsightsDateDisplay @interval={{timeInterval}} />
            <span class="insights-control-divider">
              |
            </span>
            <InsightsPrivacySelector
              @isPrivateViewable={{isPrivateInsightsViewable}}
              @includePrivate={{includePrivateInsights}}
              @setRequestPrivateInsights={{action "setRequestPrivateInsights"}}
            />
          </div>
          <InsightsTabs @selectedTab={{timeInterval}} />
        </div>
        <div class="insights-grid">
          <InsightsOverlay
            @owner={{model.owner}}
            @interval={{timeInterval}}
            @private={{includePrivateInsights}}
            data-test-insights-overlay
          />
          <BuildCount
            @owner={{model.owner}}
            @interval={{timeInterval}}
            @private={{includePrivateInsights}}
            data-test-insights-glance
          />
          <BuildMinutes
            @owner={{model.owner}}
            @interval={{timeInterval}}
            @private={{includePrivateInsights}}
            data-test-insights-glance
          />
          <QueueTimes
            @owner={{model.owner}}
            @interval={{timeInterval}}
            @private={{includePrivateInsights}}
            data-test-insights-glance
          />
          <ActiveRepoCount
            @owner={{model.owner}}
            @interval={{timeInterval}}
            @private={{includePrivateInsights}}
            data-test-insights-glance
          />
          <BuildStatusChart
            @owner={{model.owner}}
            @interval={{timeInterval}}
            @private={{includePrivateInsights}}
            data-test-insights-odyssey
          />
        </div>
      </div>
    {{else}}
      <LoadingScreen @center={{true}} @margin={{true}} />
    {{/if}}
  {{else}}
    {{#unless reposLoading}}
      <ul class="owner-tiles">
        {{#each repos as |repo|}}
          <OwnerRepoTile @repo={{repo}} />
        {{else}}
          <NoRepos />
        {{/each}}
      </ul>
      <PaginationNavigation
        @collection={{repos}}
        @route="owner.repositories"
        @inner={{6}}
        @outer={{2}}
      />
    {{else}}
      <LoadingScreen @center={{true}} @margin={{true}} />
    {{/unless}}
  {{/if}}
</div>