<nav class='travistab-nav travistab-nav--underline'>
  <ul>
    <li>
      {{#link-to (query-params tab='repositories' timeInterval=defaultTimeInterval)}}Repositories{{/link-to}}
    </li>
    <li>
      {{#link-to (query-params tab='insights' timeInterval=timeInterval page=1)}}Insights{{/link-to}}
    </li>
  </ul>
</nav>

<div class="owner-repo">
  {{#if isInsights}}
    {{#if buildsReady}}
      <div class="travistab-body">
        <div class="insights-controls">
          <div class="insights-controls-left">
            {{insights-date-display interval=timeInterval}}
            <span class="insights-control-divider">|</span>
            {{insights-privacy-selector
              isPrivateViewable=isPrivateInsightsViewable
              includePrivate=includePrivateInsights
              setRequestPrivateInsights=(action 'setRequestPrivateInsights')
            }}
          </div>
          {{insights-tabs selectedTab=timeInterval}}
        </div>
        <div class="insights-grid">
          {{build-count owner=model.owner interval=timeInterval private=includePrivateInsights data-test-insights-glance=''}}
          {{build-minutes owner=model.owner interval=timeInterval private=includePrivateInsights data-test-insights-glance=''}}
          {{queue-times owner=model.owner interval=timeInterval private=includePrivateInsights data-test-insights-glance=''}}
          {{active-repo-count owner=model.owner interval=timeInterval private=includePrivateInsights data-test-insights-glance=''}}

          {{build-status-chart owner=model.owner interval=timeInterval private=includePrivateInsights data-test-insights-odyssey=''}}

          {{insights-overlay owner=model.owner interval=timeInterval private=includePrivateInsights data-test-insights-overlay=''}}
        </div>
      </div>
    {{else}}
      {{loading-screen center=true margin=true}}
    {{/if}}
  {{else}}
    {{#unless reposLoading}}
      <ul class="owner-tiles">
        {{#each repos as |repo|}}
          {{owner-repo-tile repo=repo}}
        {{else}}
          {{no-repos}}
        {{/each}}
      </ul>

      {{pagination-navigation collection=repos route="owner.repositories" inner=6 outer=2}}
    {{else}}
      {{loading-screen center=true margin=true}}
    {{/unless}}
  {{/if}}
</div>
