<nav class='travistab-nav travistab-nav--underline'>
  <ul>
    <li>
      {{#link-to 'owner.repositories' (query-params tab=null)}}Repositories{{/link-to}}
    </li>
    <li>
      {{#link-to 'owner.repositories' (query-params tab='insights')}}Insights{{/link-to}}
    </li>
  </ul>
</nav>

{{#if isInsights}}
  <div class="travistab-body">
    {{insight-tabs selectedTab=dataInterval setSubTab='setSubTab'}}
    <div class="insights-grid">
      {{build-count owner=model interval=dataInterval token=insightToken}}
      {{build-minutes owner=model interval=dataInterval token=insightToken}}
      {{queue-times owner=model interval=dataInterval token=insightToken}}
      {{active-repo-count owner=model interval=dataInterval token=insightToken}}
    </div>
  </div>
{{else}}
  <ul class="owner-tiles">
    {{#each model as |repo|}}
      {{owner-repo-tile repo=repo}}
    {{else}}
      {{no-repos}}
    {{/each}}
  </ul>

  {{pagination-navigation collection=model route="owner.repositories" inner=6 outer=2}}
{{/if}}
