<nav class="travistab-nav travistab-nav--underline">
  <ul>
    <li>
      <LinkTo @query={{hash tab="insights" timeInterval=this.timeInterval page=1}}>
        Insights
      </LinkTo>
    </li>
    <li>
      <LinkTo @query={{hash tab="repositories" timeInterval=this.defaultTimeInterval}} >
        Build Activity
      </LinkTo>
    </li>
    {{#if this.canViewCustomImages}}
    <li>
      <LinkTo @query={{hash tab="custom-images" timeInterval=this.defaultTimeInterval}} >
        Custom Images
      </LinkTo>
    </li>
    {{/if}}
  </ul>
</nav>
<div class="owner-repo">
  {{#if this.isInsights}}
    {{#if this.buildsReady}}
      <div class="travistab-body">
        <div class="insights-controls">
          <div class="insights-controls-left snapshot-hide">
            <InsightsDateDisplay @interval={{this.timeInterval}} />
            <span class="insights-control-divider">|</span>
            <InsightsPrivacySelector
              @isPrivateViewable={{this.isPrivateInsightsViewable}}
              @includePrivate={{this.includePrivateInsights}}
              @setRequestPrivateInsights={{action "setRequestPrivateInsights"}}
              data-test-insights-privacy-selector
            />
          </div>
          <InsightsTabs @selectedTab={{this.timeInterval}} />
        </div>
        <div class="insights-grid">
          <InsightsOverlay
            @owner={{this.model.owner}}
            @interval={{this.timeInterval}}
            @private={{this.includePrivateInsights}}
            data-test-insights-overlay="true"
          />
          <BuildCount
            @owner={{this.model.owner}}
            @interval={{this.timeInterval}}
            @private={{this.includePrivateInsights}}
            data-test-insights-glance="true"
          />
          <BuildMinutes
            @owner={{this.model.owner}}
            @interval={{this.timeInterval}}
            @private={{this.includePrivateInsights}}
            data-test-insights-glance="true"
          />
          <QueueTimes
            @owner={{this.model.owner}}
            @interval={{this.timeInterval}}
            @private={{this.includePrivateInsights}}
            data-test-insights-glance="true"
          />
          <ActiveRepoCount
            @owner={{this.model.owner}}
            @interval={{this.timeInterval}}
            @private={{this.includePrivateInsights}}
            data-test-insights-glance="true"
          />
          <BuildStatusChart
            @owner={{this.model.owner}}
            @interval={{this.timeInterval}}
            @private={{this.includePrivateInsights}}
            data-test-insights-odyssey="true"
          />
        </div>
      </div>
    {{else}}
      <LoadingScreen @center={{true}} @margin={{true}} />
    {{/if}}
  {{else if this.isCustomImages}}
    <CustomImages::Tab
      @owner={{this.model.owner}}
    />
  {{else}}
    {{#unless this.reposLoading}}
      <ul class="owner-tiles">
        {{#each this.repos as |repo|}}
          <OwnerRepoTile @repo={{repo}} />
        {{else}}
          <NoRepos />
        {{/each}}
      </ul>
      <PaginationNavigation
        @collection={{this.repos}}
        @route="owner.repositories"
        @inner={{6}}
        @outer={{2}}
      />
    {{else}}
      <LoadingScreen @center={{true}} @margin={{true}} />
    {{/unless}}
  {{/if}}
</div>
