<nav class='travistab-nav travistab-nav--underline'>
  <ul>
    <li>
      {{#link-to 'owner.repositories' (query-params tab=null timeInterval=null)}}Repositories{{/link-to}}
    </li>
    <li>
      {{#link-to 'owner.repositories' (query-params tab='insights' timeInterval=currentTimeInterval)}}Insights{{/link-to}}
    </li>
  </ul>
</nav>

{{#if isInsights}}
  <div class="travistab-body">
    <div class="insights-controls">
      <div class="insights-controls-left">
        {{insights-date-display interval=currentTimeInterval}}
        <span class="insights-control-divider">|</span>
        {{insights-privacy-selector isPrivateViewable=isPrivateInsightsViewable includePrivate=includePrivateInsights setRequestPrivateInsights=(action 'setRequestPrivateInsights')}}
      </div>
      {{insights-tabs selectedTab=currentTimeInterval}}
    </div>
    <div class="insights-grid">
      {{build-count owner=model.owner interval=currentTimeInterval private=includePrivateInsights}}
      {{build-minutes owner=model.owner interval=currentTimeInterval private=includePrivateInsights}}
      {{queue-times owner=model.owner interval=currentTimeInterval private=includePrivateInsights}}
      {{active-repo-count owner=model.owner interval=currentTimeInterval private=includePrivateInsights}}
      {{build-status-chart owner=model.owner interval=currentTimeInterval private=includePrivateInsights}}
      {{insights-overlay owner=model.owner interval=currentTimeInterval private=includePrivateInsights}}
    </div>
  </div>
{{else}}
  <ul class="owner-tiles">
    {{#each model as |repo|}}
      {{owner-repo-tile repo=repo}}
    {{else}}
      {{no-repos}}
    {{/each}}
  </ul>

  {{pagination-navigation collection=model route="owner.repositories" inner=6 outer=2}}
{{/if}}
