<p>
  Select repositories that you'd like to migrate from travis-ci.org to travis-ci.com
</p>

{{#repository-filter
  repositories=repositories
  as |filter|
}}

  {{#component filter.form as |form|}}
    <div class="profile-repositories-filter">
      {{component form.searchField
        placeholder="Filter repositories"
        title="Filter repositories"
      }}
    </div>
  {{/component}}

  <div>

    {{#if filter.isLoading}}
      {{loading-indicator}}
    {{else}}

      {{#travis-form as |form| }}

        {{#if repositories.length }}
          <div class='migrate__select-all'>
            {{#form.field
              disableFrame=true
              value=isAllSelected
              onChange=(action 'toggleAll')
              as |field|
            }}
              {{#field.checkbox}}
                Select all repositories bellow
              {{/field.checkbox}}
            {{/form.field}}
          </div>
        {{/if}}

        <ul class="profile-repositorylist">
          {{#each filter.results as |repository|}}

            <li class="profile-repolist-item">
              {{#form.field
                disableFrame=true
                value=(contains repository selectedRepositories)
                onChange=(action 'toggleRepository' repository)
                as |field|
              }}
                {{#field.checkbox}}
                  {{repository-visibility-icon repository=repository}}
                  <span class="profile-repo">
                    {{compute filter.computeName repository.name filter.query}}
                  </span>
                {{/field.checkbox}}
              {{/form.field}}
            </li>

          {{else}}

            {{#if filter.isFiltering}}
              <li class="no-results">Sorry, no results found.</li>
            {{else}}
              <li>Sorry, it seems like we couldn't find any repositories you have access to on GitHub.</li>
            {{/if}}

          {{/each}}
        </ul>
      {{/travis-form}}

    {{/if}}
  </div>

  {{#unless filter.isLoading }}
    {{#if isOrganization}}
      {{pagination-navigation collection=repositories route="organization.migrate.webhooks" inner=6 outer=2}}
    {{else}}
      {{pagination-navigation collection=repositories route="account.migrate.webhooks" inner=6 outer=2}}
    {{/if}}
  {{/unless}}

{{/repository-filter}}

<button
  disabled={{not selectedRepositories.length}}
  class="button--blue migrate__submit {{unless selectedRepositories.length 'disabled'}}"
>
  Migrate selected repositories to travis-ci.com
</button>
