<div class="centered">
  <div class="wrapper wrapper-dashboard">
    <div id="top">
      <div class="row">
        <div class="small-2 medium-2 columns" id="logo">
          <h1>{{#link-to "main"}}Home{{/link-to}}</h1>
        </div>
        <ul>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Blog</a></li>
        <!-- <div class="small-4 medium-3 columns" id="status">
          <div class="status-graph">Status Graph</div>
        </div> -->
          <li class="menu float-right user">
            <p class="handle">
              {{#if auth.signedOut}}
                <a class="signed-out" href="#" {{action "signIn" target="auth"}}>Sign in with GitHub</a>
              {{/if}}
              {{#if auth.signedIn}}
                {{#link-to "profile" class="signed-in"}}<img {{bind-attr src="auth.gravatarUrl"}}/>{{auth.userName}}{{/link-to}}
              {{/if}}
              {{#if auth.signingIn}}
                <span class="signing-in">Signing In</span>
              {{/if}}
            </p>
            <ul>
              <li><a href="#" title="">Help</a></li>
              <li><a href="/" {{action "signOut" target="auth"}}>Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    {{yield}}

  </div>

  <footer>
    <div class="row">
      <div class="small-6 medium-4 large-4 columns">
        <img src="/images/dashboard/footer-logo.svg">
      </div>
      <div class="small-6 medium-2 large-2 columns">
        <h3>&copy;Travis CI, GmbH</h3>
        <ul>
          <li>Rigaer Straße 8</li>
          <li>10247 Berlin, Germany</li>
        </ul>
      </div>

      <div class="small-6 medium-2 large-2 columns">
        <h3>Help</h3>
        <ul>
          <li><a href="http://docs.travis-ci.com/">Documentation</a></li>
          <li><a href="http://blog.travis-ci.com/">Blog</a></li>
          <li><a href="mailto:support@travis-ci.com">Email</a></li>
          <li><a href="https://travisci.campfirenow.com">Live Chat</a></li>
          <li><a href="https://twitter.com/travisci">Twitter</a></li>
        </ul>
      </div>

      <div class="small-6 medium-2 large-2 columns">
        <h3>Legal</h3>
        <ul>
          <li><a href="http://docs.travis-ci.com/imprint.html">Imprint</a></li>
          <li><a href="https://billing.travis-ci.com/pages/terms">Terms of Service</a></li>
          <li><a href="https://billing.travis-ci.com/pages/security">Security Statement</a></li>
        </ul>
      </div>

      <div class="small-6 medium-2 large-2 columns">
        <h3>Travis CI Status</h3>
        <ul>
          <li><div class="status-circle">Status:</div>
              <a href="http://www.traviscistatus.com/">Travis CI Status</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
