<div {{bind-attr class=":wrapper auth.signedIn:non-centered:centered"}}>

  <header id="top" class="top">
    {{render "top"}}
  </header>

  {{render "flash"}}

  <div class="wrapper-main">
    <div id="main" role="main">
      {{yield}}
    </div>
  </div>

  <aside id="left" {{bind-attr class="auth.signedIn::hidden"}}>
    {{outlet "left"}}
  </aside>
</div>

<footer {{bind-attr class="auth.signedIn:hidden"}}>
  {{render "footer"}}
</footer>
