<div class="wrapper">

  <header id="top" class="top">
    {{render "top"}}
  </header>

  {{render "flash"}}

  <div {{bind-attr class=":wrapper-main auth.signedIn:non-centered:centered"}}>
    <div id="main" role="main">
      {{yield}}
    </div>
  </div>

  <aside id="left" {{bind-attr class="auth.signedIn::hidden"}}>
    {{outlet "left"}}
  </aside>

</div>
