<div class="wrapper {{if features.dashboard 'cheatcode'}} {{if auth.signedIn 'non-centered' 'centered'}}  {{if features.showYourPride 'travis-pride'}} {{if features.comicSans 'travis-comicsans'}}">

  <header id="top" class="top">
    {{render "top"}}
  </header>

  {{flash-display}}

  <div class="wrapper-main">
    <div id="main" role="main">
      {{yield}}
    </div>
  </div>

  <aside id="left" class="{{unless auth.signedIn 'hidden'}}">
    {{outlet "left"}}
  </aside>
</div>

<footer>
  {{render "footer"}}
</footer>
