<div class="wrapper">
  
  <header id="top">
    {{render "top"}}
  </header>

  <div class="wrapper-main">
    <main id="main" role="main">
      {{render "flash"}}
      {{yield}}
    </main>
    {{#if config.pro}}
      <aside id="right">
        {{render "sidebar"}}
      </aside>
    {{/if}}
  </div>

  <aside id="left">
    {{outlet "left"}}
  </aside>

</div>
