<div class="wrapper {{if auth.signedIn 'non-centered' 'centered'}}">

  <header id="top" class="top">
    {{render "top"}}
  </header>

  {{flash-display}}

  <div class="wrapper-main">
    <div id="main" role="main">
      {{yield}}
    </div>
  </div>

  <aside id="left" class="{{unless auth.signedIn 'hidden'}}">
    {{outlet "left"}}
  </aside>
</div>

<footer class="{{if auth.signedIn 'hidden'}}">
  {{render "footer"}}
</footer>
