<div id="top" class="top landing-page {{if features.showYourPride 'travis-pride'}} {{if features.comicSans 'travis-comicsans'}}">
  {{render "top"}}
</div>

{{flash-display}}

{{yield}}

{{render "footer"}}
