<div class="wrapper {{if features.showYourPride 'travis-pride'}} {{if features.comicSans 'travis-comicsans'}}">
  <header id="top" class="top">
    <div class="centered">
      {{render "top"}}
    </div>
  </header>

  <div class="centered">
    {{flash-display}}
    <div id="main" class="main" role="main">
      {{yield}}
    </div>
  </div>
</div>

{{render "footer"}}
