<a id="github" href="https://github.com/travis-ci" title="Fork me on GitHub">
  {{t layouts.application.fork_me}}
</a>

<div id="slider" {{action toggleSidebar target="Travis.app"}}>
  <div class='icon'></div>&nbsp;
</div>

{{outlet decks}}
{{outlet workers}}
{{outlet queues}}
{{outlet links}}

<div id="about" class="box">
  <h4>{{t layouts.about.join}}</h4>
  <ul>
    <li>{{t layouts.about.repository}}: <a href="http://github.com/travis-ci">Github</a></li>
    <li>{{t layouts.about.twitter}}: <a href="http://twitter.com/travisci">@travisci</a></li>
    <li>{{t layouts.about.mailing_list}}: <a href="http://groups.google.com/group/travis-ci">travis-ci</a></li>
    <li><a href="irc://irc.freenode.net#travis">irc.freenode.net#travis</a></li>
  </ul>
</div>
