<section class='billing'>
  {{#if model}}
    <h2>Billing Information</h2>
    <main>
      <section class='contact'>
        <h3>Billing Contact</h3>
        {{!FIXME the weird spacing is because I’m using pre-line, which is probs ridic}}
        <address>{{model.billingInfo.firstName}} {{model.billingInfo.lastName}}
          {{model.billingInfo.company}}
          {{model.billingInfo.address}}
          {{model.billingInfo.address2}}
          {{model.billingInfo.city}}, {{model.billingInfo.state}} {{model.billingInfo.zipCode}}
          {{model.billingInfo.country}}
        </address>
      </section>
      <section class='payment'>
        <h3>Payment information</h3>
        <span data-test-credit-card>•••• •••• •••• {{model.creditCardInfo.lastDigits}}</span>
      </section>
      <section class='invoices'>
        <h3>Invoice History</h3>
        {{#if model.invoices}}
          <ul>
            {{#each model.invoices as |invoice|}}
              <li><a data-test-invoice href={{invoice.url}}>{{invoice.id}} {{moment-format invoice.createdAt 'MMMM YYYY'}}</a></li>
            {{/each}}
          </ul>
        {{else}}
          <span data-test-no-invoices>no invoices found</span>
        {{/if}}
      </section>
    </main>
  {{else}}
    <span data-test-no-subscription>no subscription found</span>
  {{/if}}
</section>
