<section>
  <h2>Billing Information</h2>
  <main>
    <section class='contact'>
      <h3>Billing Contact</h3>
      {{!FIXME the weird spacing is because I’m using pre-line, which is probs ridic}}
      <address>{{model.billingInfo.firstName}} {{model.billingInfo.lastName}}
        {{model.billingInfo.company}}
        {{model.billingInfo.address}}
        {{model.billingInfo.address2}}
        {{model.billingInfo.city}}, {{model.billingInfo.state}} {{model.billingInfo.zipCode}}
        {{model.billingInfo.country}}
      </address>
    </section>
  </main>
</section>
