{{#unless config.enterprise}}
  {{#if features.proVersion}}
    <p class="text-medium">We're only showing your private repositories. You can find your public projects on <a href="https://travis-ci.org" title="travis-ci.org">travis-ci.org</a>.</p>
  {{else}}
    <p class="text-medium">We're only showing your public repositories. You can find your private projects on <a href="https://travis-ci.com" title="travis-ci.com">travis-ci.com</a>.</p>
  {{/if}}
{{/unless}}

<ol class="profile-getstarted">
  <li>
    <figure>
      {{svg-jar 'hooks-step-1-01'}}
      <figcaption>Flick the repository switch on</figcaption>
    </figure>
  </li>
  <li>
    <figure>
      {{svg-jar 'hooks-step-2-01'}}
      <figcaption>Add .travis.yml file to your repository</figcaption>
    </figure>
  </li>
  <li>
    <figure>
      {{svg-jar 'hooks-step-3-01'}}
      <figcaption>Trigger your first build with a git push</figcaption>
    </figure>
  </li>
</ol>

<div id="administerable-repositories">
  <ul class="profile-repositorylist">
    {{#each sortedRepositories as |repository|}}
      {{repository-status-toggle repository=repository}}
    {{else}}
      <li>Sorry, it seems like we couldn't find any repositories you have access to on GitHub.</li>
    {{/each}}
  </ul>
</div>
{{#if sortedRepositories.length}}
  {{pagination-navigation collection=model.repos route="account" inner=6 outer=2}}
{{/if}}
