{{#repository-filter
  repositories=sortedRepositories
  queryFunction=(action 'filterQuery') as |filter| }}
  {{#component filter.form as |form|}}
    {{#if features.repositoryFiltering}}
      <div class="profile-repositories-filter">
        <label for="profile-repositories-filter-input">
          {{tooltip-on-element text='Filter repositories'}}
          {{svg-jar 'icon-filter' class="icon" alt="Filter repositories"}}
        </label>
        {{component form.searchField
            inputId="profile-repositories-filter-input"
            placeholder="Filter"
        }}
      </div>
    {{/if}}
  {{/component}}
  <div id="administerable-repositories">
    {{#if filter.isLoading}}
      {{loading-indicator}}
    {{else}}
      <ul class="profile-repositorylist">
        {{#each filter.repositories as |repository|}}
          {{repository-status-toggle
          repository=repository
          slug=(compute filter.computeSlug repository.slug filter.isFiltering filter.query)
          }}
        {{else}}
          {{#if filter.isFiltering}}
            <li>Sorry, no results found.</li>
          {{else}}
            <li>Sorry, it seems like we couldn't find any repositories you have access to on GitHub.</li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
  {{#unless filter.isFiltering}}
    {{pagination-navigation collection=model route="account.repositories" inner=6 outer=2}}
  {{/unless}}
{{/repository-filter}}
