<section class="user-settings">
  {{#if this.scrollToAuth}}
    <ScrollHere />
  {{/if}}
  <section>
    <h3>
      API authentication
    </h3>
    <p>
      To learn more about using our API, please head to
      <ExternalLinkTo href="https://developer.travis-ci.com">
        developer.travis-ci.com
      </ExternalLinkTo>.
    </p>
    <AccountToken @token={{this.auth.token}}/>
  </section>
  <section>
    <h3>
      Assets authentication
    </h3>
    <p>
      Assets tokens could be used for embedding status images or getting atom and RSS feeds.
      To learn more about using our Asset tokens, please head to
      <ExternalLinkTo href="https://docs.travis-ci.com/user/status-images">
        docs
      </ExternalLinkTo>.
    </p>
    <AccountToken @token={{this.auth.assetToken}}/>
  </section>
  {{#if this.features.betaFeatures}}
    {{#if this.scrollToFeatures}}
      <ScrollHere />
    {{/if}}
    <section>
      <h3>
        Features
      </h3>
      <ul class="features-list">
        {{#each (sort-by "name" this.featureFlags) as |feature|}}
          <BetaFeature @feature={{feature}} />
        {{else}}
          Oops! It looks like we don't have any experimental features for you to try yet.
        {{/each}}
      </ul>
    </section>
  {{/if}}
  {{#if this.scrollToEmail}}
    <ScrollHere />
  {{/if}}
  <section class="email-settings" data-test-email-settings>
    <h3>
      Email notifications
    </h3>
    <div class="build-emails">
      <div class="row">
        <div class="name" data-test-email-settings-title>
          Build emails
        </div>
        <div class="description" data-test-email-settings-description>
          The status of your builds straight to your inbox
        </div>
        <div class="controls">
          <TravisSwitch
            @active={{this.buildEmails}}
            @disabled={{this.toggleBuildEmails.isRunning}}
            @onToggle={{perform this.toggleBuildEmails}}
            data-test-email-settings-toggle="true"
          />
        </div>
      </div>
    </div>
  </section>
  {{#if this.features.proVersion}}
    {{#if this.scrollToInsights}}
      <ScrollHere />
    {{/if}}
    <section class="insights-visibility-settings" data-test-insights-settings>
      <h3 data-test-insights-settings-title>
        Insights Visibility Settings
      </h3>
      <div class="insights-settings">
        <p class="description" data-test-insights-settings-description>
          Make more informed decisions about your development workflow using your build Insights. <br />
          <LinkTo
            @route="owner.repositories"
            @models={{array this.account.provider this.account.login}}
            @query={{hash tab="insights"}}
          >
            View {{this.account.fullName}}'s Insights
          </LinkTo>
        </p>
        <VisibilitySettingList
          @options={{this.insightsVisibilityOptions}}
          @initialKey={{this.privateInsightsVisibility}}
          @onConfirm={{action "setInsightsVis"}}
        />
      </div>
    </section>
  {{/if}}
</section>
