<section class="user-settings">
  {{#if this.scrollToAuth}}
    <ScrollHere />
  {{/if}}
  {{#unless this.userConfirmedAt}}
    <section>
      <h3>
        Confirm account
      </h3>
      <button class={{this.confirmationButtonClass}} {{action 'sendConfirmationEmail'}} >SEND CONFIRMATION TOKEN AGAIN</button>
      {{#if this.userHasNoEmails}}
      <div>
        We don’t have your email address.
        Please update your email at your Version Control System provider, run Sync Account and try again..
      </div>
      {{/if}}
    </section>
  {{/unless}}
  <section>
    <h3>
      API authentication
    </h3>
    <p>
      To learn more about using our API, please head to
      <ExternalLinkTo href="https://developer.travis-ci.com">
        developer.travis-ci.com
      </ExternalLinkTo>.
    </p>
    <AccountToken @token={{this.auth.token}}/>
  </section>
  <section>
    <h3>
      Assets authentication
    </h3>
    <p>
      Assets tokens could be used for embedding status images or getting atom and RSS feeds.
      To learn more about using our Asset tokens, please head to
      <ExternalLinkTo href="https://docs.travis-ci.com/user/status-images">
        docs
      </ExternalLinkTo>.
    </p>
    <AccountToken @token={{this.auth.assetToken}}/>
  </section>
  {{#if this.features.betaFeatures}}
    {{#if this.scrollToFeatures}}
      <ScrollHere />
    {{/if}}
    <section>
      <h3>
        Features
      </h3>
      <ul class="features-list">
        {{#each (sort-by "name" this.featureFlags) as |feature|}}
          <BetaFeature @feature={{feature}} />
        {{else}}
          Oops! It looks like we don't have any experimental features for you to try yet.
        {{/each}}
      </ul>
    </section>
  {{/if}}
  {{#if this.scrollToEmail}}
    <ScrollHere />
  {{/if}}
  <section class="email-settings" data-test-email-settings>
    <h3>
      Email notifications
    </h3>
    <div class="build-emails">
      <div class="row">
        <div class="name" data-test-email-settings-title>
          Build emails
        </div>
        <div class="description" data-test-email-settings-description>
          The status of your builds straight to your inbox
        </div>
        <div class="controls">
          <TravisSwitch
            @active={{this.buildEmails}}
            @disabled={{this.toggleBuildEmails.isRunning}}
            @onToggle={{perform this.toggleBuildEmails}}
            data-test-email-settings-toggle="true"
          />
        </div>
      </div>
    </div>
    {{#if this.showResubscribeList}}
      <div
        class="unsubscribed-emails"
        data-test-email-settings-resubscribe-list
      >
        <PaperBlock
          @title="Email notifications you've unsubscribed from"
          @elevation={{2}}
          @padding={{false}}
        >
          {{#each this.unsubscribedRepos as |repo|}}
            <div class="row" data-test-email-settings-resubscribe-item>
              <div class="name">
                <LinkTo @route="repo" @models={{array repo.provider repo.urlOwnerName repo.urlName}}>
                  {{repo.formattedSlug}}
                </LinkTo>
              </div>
              <div class="description"></div>
              <div class="controls">
                <button
                  class="button--white button--compact unsubscribe-button"
                  onclick={{perform repo.subscribe}}
                  data-test-email-settings-resubscribe-button
                >
                  {{#if repo.subscribe.isRunning}}
                    <LoadingIndicator @inline={{true}} />
                  {{else if repo.subscribe.last.error}}
                    Error! Try again.
                  {{else}}
                    <SvgImage @name="icon-email" @width="15px" @class="icon" />
                    Re-subscribe
                  {{/if}}
                </button>
              </div>
            </div>
          {{/each}}
        </PaperBlock>
      </div>
    {{else if this.fetchRepositories.isRunning}}
      <LoadingIndicator />
    {{/if}}
  </section>
  {{#if this.features.proVersion}}
    {{#if this.scrollToInsights}}
      <ScrollHere />
    {{/if}}
    <section class="insights-visibility-settings" data-test-insights-settings>
      <h3 data-test-insights-settings-title>
        Insights Visibility Settings
      </h3>
      <div class="insights-settings">
        <p class="description" data-test-insights-settings-description>
          Make more informed decisions about your development workflow using your build Insights. <br />
          <LinkTo
            @route="owner.repositories"
            @models={{array this.account.provider this.account.login}}
            @query={{hash tab="insights"}}
          >
            View {{this.account.fullName}}'s Insights
          </LinkTo>
        </p>
        <VisibilitySettingList
          @options={{this.insightsVisibilityOptions}}
          @initialKey={{this.privateInsightsVisibility}}
          @onConfirm={{action "setInsightsVis"}}
        />
      </div>
    </section>
  {{/if}}
</section>
