<section class='user-settings'>
  <section>
    <h3>API authentication</h3>

    <p>To learn more about using our API, please head to <a href='https://developer.travis-ci.com'>developer.travis-ci.com</a>.</p>

    {{account-token account=model}}
  </section>

  {{#if features.betaFeatures}}
    <section>
      <h3>Features</h3>
      <ul class="features-list">
        {{#each (sort-by "name" featureFlags) as |feature|}}
          {{beta-feature feature=feature}}
        {{else}}
          Oops! It looks like we don't have any experimental features for you
          to try yet.
        {{/each}}
      </ul>
    </section>
  {{/if}}

  {{#if scrollToEmail}}
    {{scroll-here}}
  {{/if}}
  <section class="email-settings" data-test-email-settings>
    <h3>Email notifications</h3>
    <div class="build-emails">
      <div class="row">
        <div class="name" data-test-email-settings-title>
          Build emails
        </div>
        <div class="description" data-test-email-settings-description>
          The status of your builds straight to your inbox
        </div>
        <div class="controls">
          {{travis-switch
            active=buildEmails
            disabled=toggleBuildEmails.isRunning
            onToggle=(perform toggleBuildEmails)
            data-test-email-settings-toggle=true
          }}
        </div>
      </div>
    </div>
    {{#if showResubscribeList}}
      <div class="unsubscribed-emails" data-test-email-settings-resubscribe-list>
        {{#paper-block title="Email notifications you've unsubscribed from" elevation=2 padding=false}}
          {{#each unsubscribedRepos as |repo|}}
            <div class="row" data-test-email-settings-resubscribe-item>
              <div class="name">
                {{#link-to 'repo' repo}}{{repo.formattedSlug}}{{/link-to}}
              </div>
              <div class="description"></div>
              <div class="controls">
                <button
                  class="button--white button--compact unsubscribe-button"
                  onclick={{perform repo.subscribe}}
                  data-test-email-settings-resubscribe-button
                >
                  {{#if repo.subscribe.isRunning}}
                    {{loading-indicator inline=true}}
                  {{else if repo.subscribe.last.error}}
                    Error! Try again.
                  {{else}}
                    {{svg-jar 'icon-email' class="icon" width="15px"}} Re-subscribe
                  {{/if}}
                </button>
              </div>
            </div>
          {{/each}}
        {{/paper-block}}
      </div>
    {{else if fetchRepositories.isRunning}}
      {{loading-indicator}}
    {{/if}}
  </section>
  {{#if features.proVersion}}
    <section class="active-visiblity-settings" data-test-active-visiblity-settings>
      <h3>Insights Visibility Settings</h3>
      <div class="insights-settings">
        {{!-- <div class="name" data-test-insights-settings-title>Insights</div> --}}
        <p class="description" data-test-insights-settings-description>
          Make more informed decisions about your development workflow using your build Insights.<br />
          {{#link-to 'owner.repositories' account.login (query-params tab='insights')}}View {{account.name}}'s Insights{{/link-to}}
        </p>

        <ul class='travis-radio-list'>
          <li class='travis-radio-list__item'>
            <label for="user_insight_private">Do not allow everyone to see insights from your private builds</label>
            <input
              type="radio"
              name="user_insight_vis"
              class="travis-radio-input"
              id="user_insight_private"
              value="private"
              checked={{eq privateInsightsVisibility 'private'}}
              onchange={{action (mut privateInsightsVisibility) 'private'}}
            />
            <label for="user_insight_private" class="travis-radio-label"></label>
          </li>
          <li class='travis-radio-list__item'>
            <label for="user_insight_public">Allow everyone to see insights from your private builds</label>
            <input
              type="radio"
              name="user_insight_vis"
              class="travis-radio-input"
              id="user_insight_public"
              value="public"
              checked={{eq privateInsightsVisibility 'public'}}
              onchange={{action (mut privateInsightsVisibility) 'public'}}
            />
            <label for="user_insight_public" class="travis-radio-label"></label>
          </li>
          <li class='travis-radio-list__item travis-radio-list__item--save'>
            <button class="settings-button" {{action 'toggleInsightsVisibilityModal'}} disabled={{eq visibilityChange 0}}>Save</button>
          </li>
        </ul>
      </div>
    </section>
  {{/if}}
</section>

{{#if (and features.proVersion isShowingInsightsVisibilityModal)}}
  {{#modal-dialog
    toggleInsightsVisibilityModal=(action 'toggleInsightsVisibilityModal')
    targetAttachment="center"
    translucentOverlay=true
  }}
    <button
      type="button"
      title="Close modal"
      class="modal-close pointer"
      {{action 'toggleInsightsVisibilityModal'}}
    >{{svg-jar 'icon-failed' class="icon"}}</button>

    <h3>
      {{#if (eq visibilityChange 1)}}Increase{{else if (eq visibilityChange -1)}}Restrict{{else}}Change{{/if}}
      visibility of your private build insights
    </h3>
    <p>
      {{#if (eq privateInsightsVisibility 'public')}}
        Allow everyone to see my private build insights.
      {{else}}
        Do not allow everyone to see my private insights.
      {{/if}}
    </p>

    <a
      data-test-insights-visibility-modal-cancel-button
      href="#"
      role="button"
      class="button button--red"
      {{action 'toggleInsightsVisibilityModal'}}
    >Cancel</a>

    <a
      data-test-insights-visibility-modal-confirm-button
      href="#"
      role="button"
      class="button button--blue"
      {{action (perform setPrivateInsights)}}
    >Confirm</a>
  {{/modal-dialog}}
{{/if}}