<h4>{{t layouts.application.sponsers}}</h4>

<ul class="sponsors top">
  {{#each deck in controller}}
    {{#each deck}}
      <li {{bindAttr class="type"}}>
        <a {{bindAttr href="url"}}>
          <img {{bindAttr src="image"}}>
        </a>
      </li>
    {{/each}}
  {{/each}}
</ul>

<p class="hint">
  <a href="https://love.travis-ci.org/sponsors">
    {{{t layouts.application.sponsors_link}}}
  </a>
</p>
