{{#each queue in controller}}
  <h4>{{t queue}}: {{queue.name}}</h4>
  <ul {{bindAttr id="queue.id"}}>
    {{#each queue}}
      <li>
        {{repository.slug}}
        {{#if number}}
          #{{number}}
        {{/if}}
      </li>
    {{else}}
      {{t no_job}}
    {{/each}}
  </ul>
{{/each}}
