{{view.logSubscriber}}

{{#if view.job.log.isLoaded}}
  <pre id="log" class="ansi"><a href="#" id="tail" {{action toggleTailing target="view"}}>
    <span class="status"></span>
    <label>Follow logs</label>
  </a>{{{formatLog log.body repo="repository" item="parentView.currentItem"}}}</pre>

  {{#if sponsor.name}}
    <p class="sponsor">
    {{t builds.messages.sponsored_by}}
      <a {{bindAttr href="sponsor.url"}}>{{sponsor.name}}</a>
    </p>
  {{/if}}

  <a href='#' class="to-top" {{action toTop target="view"}}>To top</a>
{{else}}
  <div id="log" class="loading">
    <span>Loading</span>
  </div>
{{/if}}
