{{#if job.isLoaded}}
  <div {{bindAttr class="view.color"}}>
    <dl id="summary">
      <div class="left">
        <dt>Job</dt>
        <dd class="number">
          <span class="status"></span>
          {{#if job.id}}
            {{#if job.repo.slug}}
              {{#linkTo job repo job}}{{job.number}}{{/linkTo}}
            {{/if}}
          {{/if}}
        </dd>
        <dt>{{t jobs.state}}</dt>
        <dd class="state">{{capitalize job.state}}</dd>
        <dt class="finished_at_label">{{t jobs.finished_at}}</dt>
        <dd class="finished_at timeago" {{bindAttr title="finishedAt"}}>{{formatTime job.finishedAt}}</dd>
        <dt>{{t jobs.duration}}</dt>
        <dd class="duration" {{bindAttr title="startedAt"}}>{{formatDuration job.duration}}</dd>
      </div>

      {{#with job.commit}}
        <div class="right">
          <dt>{{t jobs.commit}}</dt>
          <dd class="commit"><a {{bindAttr href="controller.urlGithubCommit"}}>{{formatCommit this}}</a></dd>
          {{#if ../job.build.pullRequest}}
            <dt>{{t builds.pull_request}}</dt>
            <dd class="pull_request">
              {{#if compareUrl}}
                <a {{bindAttr href="job.commit.compareUrl"}}>#{{job.build.pullRequestNumber}} {{job.build.pullRequestTitle}}</a>
              {{/if}}
            </dd>
          {{else}}
            {{#if compareUrl}}
              <dt>{{t jobs.compare}}</dt>
              <dd class="compare"><a {{bindAttr href="compareUrl"}}>{{pathFrom compareUrl}}</a></dd>
            {{/if}}
          {{/if}}
          {{#if authorName}}
            <dt>{{t jobs.author}}</dt>
            <dd class="author"><a {{bindAttr href="controller.urlAuthor"}}>{{authorName}}</a></dd>
          {{/if}}
          {{#if committerName}}
            <dt>{{t jobs.committer}}</dt>
            <dd class="committer"><a {{bindAttr href="controller.urlCommitter"}}>{{committerName}}</a></dd>
          {{/if}}
        </div>
      {{/with}}
      <dt>{{t jobs.message}}</dt>
      <dd class="message">{{formatMessage job.commit.message}}</dd>
      <dt>{{t jobs.config}}</dt>
      <dd class="config">{{formatConfig job.config}}</dd>
    </dl>

    {{view Travis.LogView jobBinding="job"}}
  </div>
{{else}}
  <div id="job" class="loading">
    <span>Loading</span>
  </div>
{{/if}}
