<ul class="tabs">
  <li><a {{action viewCurrent href=true context="repository"}} class="current">Current</a></li>
  <li><a {{action viewHistory href=true context="repository"}} class="history">History</a></li>
  {{#if build}}
    <li><a {{action viewBuild href=true context="build"}} class="build">Build #{{build.number}}</a></li>
  {{/if}}
  {{#if job}}
    <li><a {{action viewJob href=true context="job"}} class="job">Job #{job.number}}</a></li>
  {{/if}}
</ul>
