{{#if (or this.subscription.isStripe this.subscription.isManual)}}
  <section class="contact">
    {{#let this.subscription.billingInfo as |info|}}
      <Billing::ContactDetails
        @openEditContactForm={{this.openEditContactForm}}
        @editContact={{this.editContact}}
        @account={{this.account}}
        @info={{info}}
      />
      <Billing::BillingDetails
        @openEditBillingForm={{this.openEditBillingForm}}
        @editContact={{this.editContact}}
        @account={{this.account}}
        @info={{info}}
        @countries={{countries}}
        @hideEdit={{this.hideEdit}}
      />
    {{/let}}
  </section>
{{/if}}
