{{#if this.subscription.isStripe}}
  <section class="contact">
    {{#let this.subscription.billingInfo as |info|}}
      <Billing::ContactDetails 
        @openEditContactForm={{this.openEditContactForm}}
        @editContact={{this.editContact}}
        @info={{info}}
      />
      <Billing::BillingDetails 
        @openEditBillingForm={{this.openEditBillingForm}}
        @editContact={{this.editContact}}
        @info={{info}}
        @countries={{countries}}
      />
    {{/let}}
  </section>
{{/if}}
