{{#if this.requiresSourceAction}}
  <span class="notice-banner--yellow" data-test-payment-error='true'>
    <SvgImage @name='icon-help' @class='icon-help icon-help-yellow' />
    There was a problem authorizing your card. Please retry.
  </span>
  {{#if this.retryAuthorization.isRunning}}
    <LoadingIndicator/>
  {{else}}
    <button class="button--green" onClick={{action (perform this.retryAuthorization)}}>
      Retry authorization
    </button>
  {{/if}}
{{else if this.requiresSource}}
<div class="pt-24 stripe-error">
  {{#if this.stripeErrorMessage }}
  <span class="notice-banner--red" data-test-payment-error='true'>
    {{this.stripeErrorMessage}}
  </span>
  {{/if}}
  <TravisForm
    data-test-stripe-form='true'
    @onSubmit={{perform this.retryPayment}}
    as |form|
  >
    <StripeCard
      @onComplete={{action "complete"}}
      @options={{this.options}}
      as |stripeError|
    >
      {{#if stripeError}}
        <p>{{stripeError.message}}</p>
      {{/if}}
    </StripeCard>
      <span class="notice-banner--white" data-test-help-text='true'>
        Credit card details are never stored on nor reach our servers. Payment data is handled by Stripe.
      </span>
    <div class='billing-checkout__payment'>
      {{#if this.retryPayment.isRunning}}
        <LoadingIndicator/>
      {{else}}
        <button class='button--green' {{action form.submit}} data-test-complete-payment='true'>
          Pay {{format-currency this.subscription.plan.price}}
        </button>
      {{/if}}
    </div>
  </TravisForm>
</div>
{{else if this.isPending}}
  <span class="notice-banner--yellow" data-test-trial-running-out='true'>
    We are currently waiting for Stripe to finish processing your order.
  </span>
{{else if (and this.isComplete (or this.subscription.isStripe this.subscription.isManual))}}
  {{#if (or this.showPlansSelector this.showAddonsSelector)}}

    {{#if this.hasSubscriptionPermissions }}
    {{#if (not this.isV2Subscription)}}
      <Billing::Process
        @account={{this.account}}
        @subscription={{this.newV2Subscription}}
        @isProcessCompleted={{this.isProcessCompleted}}
        @v1SubscriptionId={{this.subscription.id}}
        @selectedPlan={{this.selectedPlan}}
        @showPlansSelector={{this.showPlansSelector}}
        @showCancelButton={{true}}
        @retryAuthorization={{this.retryAuthorization}}
      />
    {{else}}
      <Billing::Process
        @account={{this.account}}
        @subscription={{this.subscription}}
        @selectedPlan={{this.selectedPlan}}
        @selectedAddon={{this.selectedAddon}}
        @showPlansSelector={{this.showPlansSelector}}
        @showAddonsSelector={{this.showAddonsSelector}}
        @showCancelButton={{true}}
        @retryAuthorization={{this.retryAuthorization}}
      />
    {{/if}}
    {{/if}}
  {{else}}
    {{#if this.hasSubscriptionPermissions }}
    <div class="flex flex--wrap {{if this.account.hasSubscriptionPermissions 'billing-subscription__buttons'}}">
      {{#if this.isLoading}}
        <LoadingIndicator/>
      {{else}}
        <div class="billing-subscription__buttons--change">
          <BillingResubscribeButton
            @account={{this.account}}
            @githubSubscription={{this.githubSubscription}}
            @subscription={{this.subscription}}
            @resubscribe={{this.resubscribe}}
            @isV2Subscription={{this.isV2Subscription}}
            @openPlansSelector={{fn (mut this.showPlansSelector) true}}
          />
        </div>
        <div class='billing-subscription__buttons--addons'>
          {{#if (and this.isV2Subscription this.canBuyAddons (not this.deferPause))}}
              <button {{on 'click' (fn (mut this.showAddonsSelector) true)}}  class='button--white-and-teal button--hover' data-test-buy-addons='true'>
                Buy addons
              </button>
          {{/if}}
        </div>
        {{#if (and this.canCancelSubscription (not this.deferPause))}}
        <div class='billing-subscription__buttons--cancel'>
          <a {{on 'click' (action (perform this.cancelSubscription))}} href='javascript: void(0);' class='link' data-test-open-cancel-subscription-modal='true'>
            Cancel subscription
          </a>
        </div>
        {{else if this.subscription.cancellationRequested }}
        <div class='billing-subscription__buttons--cancel'>
          <a href='javascript: void(0);' class='link' data-test-cancellation-requested-button='true'>
            Cancellation requested
          </a>
        </div>
        {{else if this.deferPause }}
        <div>
          <a href='javascript: void(0);' class='link' style="display: flex" data-test-cancellation-requested-button='true'>
            <small><i>
              Cancellation will be processed<br>
              after the current billing period ends
            </i></small>
          </a>
        </div>
        {{/if}}
      {{/if}}
    </div>
    {{/if}}
  {{/if}}
{{/if}}
 <Dialogs::CancelSubscriptionModal
  @isOpen={{this.showCancelModal}}
  @onClose={{fn (mut this.showCancelModal) false}}
  @subscription={{this.subscription}}
/>
