{{#if this.show }}
<div class="auto-refill">
  <TravisSwitch
    @active={{this.autoRefillEnabled}}
    @disabled={{this.toggleAutoRefill.isRunning}}
    @onToggle={{perform this.toggleAutoRefill}}
  />
  <span class="auto-refill-name">
    Enable Auto-refill
  </span>
  <p class="auto-refill-description">
  Enable this option to ensure you never run out of credits and prevent unexpected builds stops.
  With this feature enabled, whenever your credit balance goes below {{format-number this.autoRefillMinimumCredits}} credits, your account will be replenished with {{format-number this.autoRefillCredits}} credits purchased at the cost of ${{this.autoRefillPrice}}.
  Auto-refill works with debit/credit cards. Read the <ExternalLinkTo @href={{config-get 'urls.docs'}} @title="Travis CI Docs">documentation</ExternalLinkTo> for more information.
  </p>
  {{#if this.autoRefillEnabled}}
    <h3 class='billing-refill-title'>When my credit balance falls bellow:</h3>
    <div class='billing-refill'>
      {{#each this.autoRefillThresholds as |value|}}
        <div
          class='billing-refill__box pointer {{if (eq value this.autoRefillThreshold) 'highlight'}}'
          onclick={{action (mut this.selectedThreshold) value}}
        >
          <p class='billing-refill__box--value'>
            {{format-number value}}
          </p>
          <p class='billing-refill__box--description'>
            Credits
          </p>
        </div>
      {{/each}}
    </div>
    <h3 class='billing-refill-title'>Top up my credits with:</h3>
    <div class='billing-refill'>
      {{#each this.autoRefillAmounts as |value|}}
        <div
          class='billing-refill__box pointer {{if (eq value.amount this.autoRefillAmount) 'highlight'}}'
          onclick={{action (mut this.selectedAmount) value.amount}}
        >
          <p class='billing-refill__box--value'>
            {{format-number value.amount}}
          </p>
          <p class='billing-refill__box--description'>
            Credits - {{format-currency value.price floor="true"}}
          </p>
        </div>
      {{/each}}
    </div>
    <button
      class='billing-refill__apply button--blue'
      disabled={{this.updateAutoRefill.isRunning}}
      onclick={{perform this.updateAutoRefill}}
    >
      Apply
    </button>
  {{/if}}
</div>
{{/if}}
