<div class="billing-subscription-section">
  <h3>
    Billing details
  </h3>
  {{#if this.openEditBillingForm}}
    <div class="edit-form" data-test-edit-billing-address-form='true'>
      <TravisForm
        @onSubmit={{perform this.editContact}}
        as |form|
      >
        <Billing::PostalAddress @billingInfo={{this.info}} @form={{form}} />
        <div class="form-elem mt-5">
          {{#if this.editContact.isRunning}}
            <LoadingIndicator />
          {{else}}
            <div class="flex flex--wrap">
              <button data-test-update-billing-address-button='true' onclick={{form.submit}} class="button--green">
                Update billing details
              </button>
              <a data-test-cancel-billing-address-button='true' onClick={{action (toggle 'openEditBillingForm' this)}} class='link cancel-link'>
                Cancel
              </a>
            </div>
          {{/if}}
        </div>
      </TravisForm>
    </div>
  {{else}}
    <div data-test-billing-details='true' class="flex flex--space-between flex--wrap">
      {{#if this.info.address}}
        <section>
          <h4>address</h4>
          <p>{{this.info.address}}</p>
        </section>
      {{/if}}
      {{#if this.info.city}}
        <section>
          <h4>city</h4>
          <p>{{this.info.city}}</p>
        </section>
      {{/if}}
      {{#if this.info.zipCode}}
        <section>
          <h4>post code</h4>
          <p>{{this.info.zipCode}}</p>
        </section>
      {{/if}}
      {{#if this.info.country}}
        <section>
          <h4>country</h4>
          <p>{{this.info.country}}</p>
        </section>
      {{/if}}
      {{#if this.info.vatId}}
        <section>
          <h4>vat id</h4>
          <p>{{this.info.vatId}}</p>
        </section>
      {{/if}}
    </div>
    {{#if (and this.account.hasSubscriptionPermissions (not this.hideEdit))}}
      <button class='button--blue billing-subscription__buttons'
        onClick={{action (toggle 'openEditBillingForm' this)}} data-test-edit-billing-address='true'
      >
        Edit billing details
      </button>
    {{/if}}
  {{/if}}
</div>
