<div class="billing-subscription-credits">
  {{#if this.lastInvoice}}
    <h3 class="with-invoice">
      Credits
    </h3>
    <a data-test-invoice-url='true' href={{this.lastInvoice.url}} class="invoice-link">
      Paid by invoice from {{moment-format invoice.createdAt 'YYYY-MM-DD'}}
    </a>
  {{else}}
    <h3>
      Credits
    </h3>
  {{/if}}
  <nav class="travistab-nav--secondary">
    <ul>
      <li>
        <a class="{{if (eq this.creditsTab 0) 'active' ''}}" onclick={{action "setPrivateCreditsTab"}}>Credits</a>
      </li>
      <li>
        <a class="{{if (eq this.creditsTab 1) 'active' ''}}" onclick={{action "setOSSCreditsTab"}}>OSS only credits</a>
      </li>
    </ul>
  </nav>

  <p class='avail-credits'>
    {{#if (eq this.creditsTab 1)}}
      {{#if (eq this.creditsAvailable 0)}}
        {{format-number this.creditsAvailable}} available credits
      {{else}}
        {{format-number this.creditsAvailable}} available credits (next replenish date: {{moment-format this.creditsPublicValidDate 'MMMM DD, YYYY'}})
      {{/if}}
    {{else}}
      {{#if this.subscription.isCanceled}}
        {{format-number this.creditsAvailable}} available credits (expiry date: {{moment-format this.creditsValidityDate 'MMMM DD, YYYY'}})
      {{else}}
        {{format-number this.creditsAvailable}} available credits (purchased on: {{moment-format this.creditsPrivatePurchaseDate 'MMMM DD, YYYY'}}
      {{#if this.creditsPrivateValidDate}}
        , valid until: {{this.formattedCreditsPrivateValidDate}}
      {{/if}})
      {{/if}}
    {{/if}}
  </p>
  <p class='used-credits'>
    {{#if (eq this.creditsTab 1)}}
      You have used {{format-number this.creditsUsed}} of your {{format-number this.creditsTotal}} monthly credits
    {{else}}
      You have used {{format-number this.creditsUsed}} of {{format-number this.creditsTotal}} credits
    {{/if}}
  </p>
  <div class='credits-bar-bg'>
    {{#if this.isNegativeBalance}}
      <div class='credits-bar-negative'></div>
    {{else}}
      <div class='credits-bar' style='width: {{this.creditsUsedPercentage}}%'></div>
    {{/if}}
  </div>
  <p class='credits-bar-left'>
    {{format-number this.creditsAvailable}} available <span class='credits-bar-right'>{{format-number this.creditsUsed}} used</span>
  </p>

  {{#if this.sharesPlan}}
    <p class='used-credits'>
    <span class='avail-credits'>Plan shares</span>
      <ul>
        <li>
        {{format-number this.planShareReceiversCredits}} credits used by plan share receivers
        </li>
        <li>
        {{format-number this.planShareDonorCredits}} credits used by this account
        </li>
      </ul>
    </p>
  {{/if}}
  {{#if (not this.hideToggle)}}
    <Billing::OssCreditToggle @account={{this.account}} />
  {{/if}}
  {{#if this.showAutoRefill}}
    <Billing::AutoRefill @subscription={{this.subscription}} @account={{this.account}}/>
  {{/if}}
</div>
<hr />
