<div class="billing-subscription-user-usage">
  <h3>
    Free Trial Period is active!
  </h3>
  <p class='used-users' data-test-user-usage-unique-users='true'>
    Trial Credits Allowance {{this.creditLimit}}
  </p>
  <p class='desc'>
    The credits section below states current usage of granted free trial allowance. More detailed information in 'Plans usage' tab
  </p>

  <p class='used-users' data-test-user-usage-unique-users='true'>
    Unique users limit during trial {{this.userLimit}}
  </p>
  <p class='desc'>
    The users section below states current number of unique users triggering builds during free trial period
  </p>

  <p class='used-users' data-test-user-usage-unique-users='true'>
    Builds: {{this.buildsTriggered}} of {{this.buildsAllowed}} trial builds triggered. {{this.jobsPerBuild}} build job(s) per single build, {{this.concurrencyLimit}} concurrent jobs allowed.
  </p>
  <p class='desc'>
    During free trial period limits to builds and concurrency do apply
  </p>
</div>
