<section class="billing-subscription">
  <div class="billing-subscription-section">
    <h3 class='plan-overview__header'>Overview</h3>
    <div class='plan'>
      <BillingSummaryStatus
        @subscription={{this.subscription}}
        @account={{this.account}}
      />
      <p class='plan-overview__description' data-test-plan-concurrency>1 concurrent job</p>
    </div>
  </div>
</section>
<hr />
<Billing::Process
  @account={{this.account}}
  @subscription={{this.newSubscription}}
  @showPlansSelector={{true}}
  @retryAuthorization={{this.retryAuthorization}}
  @isProcessCompleted={{this.isProcessCompleted}}
/>
