<section class="billing-subscription">
  <section class="billing-subscription-section">
    <h3 class='plan-overview__header'> Overview </h3>
    <div class='plan'>
      <BillingSummaryStatus 
        @subscription={{this.subscription}}
        @account={{this.account}}
      />
    </div>
  </section>
  <hr />
  <Billing::Process 
    @account={{this.account}} 
    @plans={{this.plans}} 
    @newSubscription={{this.newSubscription}}
  />
</section>
