{{#if this.account.isFetchV2PlansRunning }}
<LoadingIndicator />
{{else}}
<TravisForm data-test-stripe-form='true' class='edit-form' as |form|>

  <Modal @isVisible={{this.showPlansSelector}} @closeButton={{true}} @onClose={{action 'closePlansModal' }}>
    <Billing::SelectPlan @title="Select plan" @selectedPlan={{this.selectedPlan}} @isReactivation={{false}}
      @subscription={{this.subscription}} @account={{this.account}} @showPlansSelector={{true}}
      @showAddonsSelector={{false}} @next={{action 'closePlansModal' }} @showCancelButton={{this.showCancelButton}} />
  </Modal>
  <div class='flex flex--col flex-md-row form-elem'>
    <div class='full-width form-elem inline-form-elem'>
      <form.field @label='First Name' @value={{this.firstName}} @required={{true}} @showRequiredMark={{true}}
        @showValidationStatusIcons={{false}} @onChange={{action (mut this.firstName)}} as |Field|>
        <Field.input @name='first_name' />
      </form.field>
    </div>
    <div class='full-width form-elem'>
      <form.field @label='Last Name' @value={{this.lastName}} @required={{true}} @showRequiredMark={{true}}
        @showValidationStatusIcons={{false}} @onChange={{action (mut this.lastName)}} as |Field|>
        <Field.input @name='last_name' />
      </form.field>
    </div>
  </div>


  <div class='full-width cc-form-elem'>
    <form.field @label="Credit Card details"
      onSubmit={{perform this.createSubscription}} @required={{true}} @showRequiredMark={{true}} as |field|>
      <StripeCard  class="cc-form-internal" @onComplete={{action "complete" }} @options={{this.options}} as |stripeError|>
        {{#if stripeError}}
        <p>{{stripeError.message}}</p>
        {{/if}}
      </StripeCard>
      </form.field>
  </div>

  <div class='full-width form-elem'>

    <form.field @label="Billing e-mail address" @value={{this.billingEmail}} @onChange={{action (mut
      this.billingEmail)}} @required={{true}} @validator={{form-validator form.validators.email}}
      @showRequiredMark={{true}} as |field|>
      <field.input @type="text" />
    </form.field>
  </div>
  <div class='full-width not-required-form-elem'>
    <form.field @label="Company Name" @value="" @onChange={{action (mut this.company)}} @required={{false}} as |field|>
      <field.input @type="text" />
    </form.field>
  </div>

  <div class='full-width form-elem'>
    <form.field @label="Street Address" @value={{this.address}} @onChange={{action (mut this.address)}}
      @required={{true}} @showRequiredMark={{true}} as |field|>
      <field.input @type="text" />
    </form.field>
  </div>

  <div class='flex flex--col flex-md-row form-elem'>
    <div class='full-width form-elem inline-form-elem'>
      <form.field @label='Zip Code' @value={{this.zipCode}} @required={{true}} @showRequiredMark={{true}}
        @showValidationStatusIcons={{false}} @onChange={{action (mut this.zipCode)}} as |Field|>
        <Field.input @name='zip' />
      </form.field>
    </div>
    <div class='full-width form-elem'>
      <form.field @label='City' @value={{this.city}} @required={{true}} @showRequiredMark={{true}}
        @showValidationStatusIcons={{false}} @onChange={{action (mut this.city)}} as |Field|>
        <Field.input @name='city' />
      </form.field>
    </div>
  </div>

  <div class='form-elem full-width select form-elem-select' data-billing-form-select>
    <form.field @label='Country' @value={{this.country}} @required={{true}} class='billing-country'
      @showRequiredMark={{true}} @showValidationStatusIcons={{false}} @onChange={{action 'changeCountry' }} as |Field|>
      <Field.select @placeholder='Select country' @options={{this.countries}} as |country|>
        {{country}}
      </Field.select>
    </form.field>
  </div>
  {{#if this.isStateMandatory}}
  <div class='form-elem-half-width inline-form-elem'>
    <form.field @label='State' @required={{true}} @showRequiredMark={{true}} @value={{this.state}}
      @showValidationStatusIcons={{false}} @onChange={{action (mut this.state)}} as |Field|>
      <Field.select @placeholder='Select state' @options={{this.states}} as |state|>
        {{state}}
      </Field.select>
    </form.field>
  </div>
  {{/if}}
  {{#if this.showNonZeroVatConfirmation}}
  <div class='flex justify-between items-center mb-8'>
    <div class='w-4/6 pr-2'>
      Is your company registered locally for VAT/GST?
    </div>
    <div class='w-1/6 text-right'>
      <form.field @value={{this.hasLocalRegistration}} @showValidationStatusIcons={{false}} @disableFrame={{true}}
        @onChange={{action (mut this.hasLocalRegistration) true}} as |Field|>
        <Field.radio>Yes</Field.radio>
      </form.field>
    </div>
    <div class='w-1/6 text-right'>
      <form.field @value={{not this.hasLocalRegistration}} @showValidationStatusIcons={{false}} @disableFrame={{true}}
        @onChange={{action (mut this.hasLocalRegistration) false}} as |Field|>
        <Field.radio>No</Field.radio>
      </form.field>
    </div>
  </div>
  {{/if}}
  {{#if this.showVatField}}
  <div class='form-elem-half-width inline-form-elem billing-optional-field form-vatid'>
    <form.field @label='Vat Id' @required={{this.isVatMandatory}} @showRequiredMark={{this.isVatMandatory}}
      @value={{this.vatId}} @showValidationStatusIcons={{false}} @onChange={{action (mut this.vatId)}} as |Field|>
      <Field.input @name='vat' />
    </form.field>
  </div>
  {{/if}}
  <span data-test-coupon-code='true' class="form-label">coupon code</span>
    <div class="pb-3">
      <TravisForm @onSubmit={{perform this.validateCoupon}} as |form|>
        <div data-test-coupon-form='true' class="coupon-validation flex flex--left flex-v-center">
          <form.field
            class="coupon-validation__input"
            @value={{this.couponId}}
            @showValidationStatusIcons={{false}}
            @onFocus={{action 'handleCouponFocus'}}
            @onChange={{action (mut this.couponId)}}
            as |Field|
          >
            <Field.input @name='couponId' @placeholder='Coupon code'/>
          </form.field>
          <div class="coupon-validation__validate-button-wrapper {{if this.validateCoupon.isRunning 'coupon-loading'}}">
            {{#if this.validateCoupon.isRunning}}
              <LoadingIndicator/>
            {{else if this.isValidCoupon}}
              <p data-test-valid-coupon class="coupon-validation__valid-coupon">
                <SvgImage @name="icon-passed" @class="icon icon-passed" />
                Coupon applied
              </p>
            {{else if this.couponHasError}}
              <p data-test-invalid-coupon="true" class="coupon-validation__invalid-coupon">
                <SvgImage @name="form-error-icon" @class="icon icon-warn" />
                Coupon invalid
              </p>
            {{else}}
              <button class='button--white coupon-validation__validate-button' {{on 'click' form.submit}} data-test-coupon-button='true'>
                Validate coupon
              </button>
            {{/if}}
          </div>
        </div>
      </TravisForm>
    </div>
  <div class="framed-form framed-form-plan flex flex--col-2 flex--md-row">
      <div class='inline-form-elem full-width margin-left-s'>
        <h3 class="small-title"> {{this.selectedPlan.name}} </h3>
        {{#unless this.isTrial}}
        <p class="plan-desc">{{format-currency this.selectedPlan.startingPrice floor="true"}}{{ if this.selectedPlan.isAnnual '/annualy'
          '/monthly'}}</p>

         <button class=" no-button plan-details" {{action 'togglePlanDetails' }}>
          Plan details </button>
        {{#if this.planDetailsVisible}}
        <div class='selected-plan__details'>
          {{#if (eq this.selectedPlan.planType 'hybrid')}}
          <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
            <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{pluralize this.selectedPlan.concurrencyLimit "concurrent job"}}
          </p>
          {{/if}}
          <p class='billing-plans__box-v2--desc' data-test-selected-plan-repos="true">
            <SvgImage @name="stage-passed" @class="icon icon-desc" /> Private &amp; Open-Source repos
          </p>
          <p class='billing-plans__box-v2--desc cnowrap' data-test-selected-plan-os="true">
            <SvgImage @name="stage-passed" @class="icon icon-desc" />Linux, Windows, macOS, FreeBSD
          </p>

          {{#if this.selectedPlan.hasOSSCreditAddons}}
          <p class='billing-plans__box-v2--desc' data-test-selected-plan-oss-credits="true">
            <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{format-number  this.selectedPlan.publicCredits}} OSS Credits<span
              class='color-cement-grey'>/month</span>
          </p>
          {{/if}}
          {{#if this.selectedPlan.hasCreditAddons}}
          <p class='selected-plan__details--desc' data-test-selected-plan-credits>
            {{format-number this.selectedPlan.privateCreditsTotal}} Credits
          </p>
          {{/if}}
          {{#if this.selectedPlan.hasOSSCreditAddons}}
          <p class='selected-plan__details--desc' data-test-selected-plan-oss-credits>
            {{format-number this.selectedPlan.publicCredits}} OSS Only Credits<span class='color-cement-grey'>/month</span>
          </p>
          {{/if}}
          {{#if this.selectedPlan.hasUserLicenseAddons}}
          <p class='selected-plan__details--desc' data-test-selected-plan-users>
            {{#if this.selectedPlan.isUnlimitedUsers}}
              {{#if this.selectedPlan.hasPaidUserLicenseAddons}}
              Unlimited unique users.
              <div data-test-selected-plan-period='true' class='selected-plan__period'>
                Charged monthly per usage - check pricing
              </div>
              {{else}}
              Unlimited unique users.
              {{/if}}
            {{else}}
            Up to {{format-number this.selectedPlan.startingUsers}} unique users
          <div data-test-selected-plan-period='true' class='selected-plan__period'>
            Charged monthly per usage - check pricing
          </div>
          {{/if}}
          </p>
          {{/if}}
        </div>
        {{/if}}
        {{/unless}}
        {{#if this.isTrial}}
        <p class="plan-desc"> Free plan valid one month</p>
        {{/if}}
      </div>
      <div class='form-elem full-width margin-right-s'>
        <button class="no-button plan-change  float-right {{if this.planDetailsVisible 'plan-change-expanded'}}" {{action 'changePlan' }}>
          Change Plan </button>
      </div>
  </div>
  <div class="align-left font-size-s" id="first-plan-charge-info">
    {{#if this.isTrial}}
      <b class="font-bold">We will charge you $1 and refund you in 7 days</b>. This is needed to make sure your card

      is valid. By clicking on "Verify Your Account" you agree to <a href="{{this.travisTermsUrl}}" class="travis-link"  target="_blank">Travis CI
        Terms and Privacy
        Policy</a>.

      Your free Trial Plan ends on {{this.trialEndDate}}. If you cancel your free trial by that date you

      will not be able to use Travis CI features.

      <a href="{{this.dataProcessingAgreementUrl}}" class="travis-link"  target="_blank">Data Processing Agreement</a>.
    {{else}}

      You'll be charged {{format-currency this.selectedPlan.startingPrice floor="true"}} {{ if
      this.selectedPlan.isAnnual 'annualy' 'monthly'}} until you cancel your subscription. Previous

      charges won't be refunded when you cancel unless it's legally required. By clicking
      on "{{this.getActivateButtonText}}" you agree to <a href="{{this.travisTermsUrl}}" class="travis-link"  target="_blank">Travis CI Terms and Privacy
        Policy</a>.
    {{/if}}
    <br />

    <div class='mt-5 float-right' id="first-plan-activate-button">
      {{#if this.isLoading}}
      <LoadingIndicator />
      {{else}}
      <button class="{{if this.canActivate 'button--green' 'button disabled'}}" {{action 'subscribe' }}
        data-test-complete-payment='true'>
        {{this.getActivateButtonText}}
      </button>
      {{/if}}
    </div>

  </div>

  <div class='mt-5 float-right' id="first-plan-skip">
    {{#unless this.isLoading}}
    <button id="first-plan-skip-button" class="no-button" {{action 'skipActivation' }}
    data-test-skip-payment='true'>
    skip
    </button>
    {{/unless}}
  </div>


</TravisForm>
{{/if}}
