<div class='billing-information-form'>
  <Billing::SelectedPlan 
    @selectedPlan={{this.newSubscription.plan}} 
    @goToFirstStep={{action this.goToFirstStep}}
  />
  <TravisForm @onSubmit={{action next}} as |form|>
    <div data-test-billing-form>
      <h3 data-test-contact-details-title='true'>
        Contact details
      </h3>
      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='First Name'
            @value={{this.newSubscription.billingInfo.firstName}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.newSubscription.billingInfo.firstName)}} as |Field|
          >
            <Field.input @name='firstname'/>
          </form.field>
        </div>
        <div class='full-width form-elem'>
          <form.field
            @label='Last Name'
            @value={{this.newSubscription.billingInfo.lastName}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.newSubscription.billingInfo.lastName)}} as |Field|
          >
            <Field.input @name='lastname'/>
          </form.field>
        </div>
      </div>
      <div class='form-elem billing-optional-field'>
        <form.field
          @label='Company Name'
          @value={{this.newSubscription.billingInfo.company}}
          @showValidationStatusIcons={{false}}
          @onChange={{action (mut this.newSubscription.billingInfo.company)}} as |Field|
        >
          <Field.input @name='companyName'/>
        </form.field>
      </div>
      <div data-test-email-inputs-wrapper="true">
        {{#each this.billingEmails as |email|}}
          <div class="form-elem">
            <form.field
              @label={{email.label}}
              @value={{email.value}}
              @required={{email.required}}
              @showRequiredMark={{email.required}}
              @validator={{form-validator form.validators.email}}
              @showValidationStatusIcons={{false}}
              @onBlur={{action 'handleBlur'}}
              @onChange={{action (mut email.value)}} as |Field|
            >
              <div class="flex">
                <Field.input @name='email' data-test-email-input='true'/>
                {{#if (not email.required)}}
                  <button class='ml-3 button--white' {{on 'click' (action 'deleteEmail' email.label)}}>Delete Email</button>
                {{/if}}
              </div>
            </form.field>
          </div>
        {{/each}}
        <button {{on 'click' (action 'addEmail')}} class='button--blue mb-5' data-test-add-email>
          Add email
        </button>
      </div>
      <h3 data-test-billing-details-title='true'>
        Billing address
      </h3>
      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='Street Address'
            @value={{this.newSubscription.billingInfo.address}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.newSubscription.billingInfo.address)}} 
            as |Field|
          >
            <Field.input @name='address'/>
          </form.field>
        </div>
        <div class='full-width form-elem'>
          <form.field
            @label='City'
            @value={{this.newSubscription.billingInfo.city}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.newSubscription.billingInfo.city)}} 
            as |Field|
          >
            <Field.input @name='city'/>
          </form.field>
        </div>
      </div>
      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='Zip Code'
            @value={{this.newSubscription.billingInfo.zipCode}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.newSubscription.billingInfo.zipCode)}} 
            as |Field|
          >
            <Field.input @name='zip'/>
          </form.field>
        </div>
        <div class='form-elem full-width select' data-billing-form-select>
          <form.field
            @label='Country'
            @value={{this.newSubscription.billingInfo.country}}
            @required={{true}}
            class='billing-country'
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.newSubscription.billingInfo.country)}} 
            as |Field|
          >
            <Field.select
              @placeholder='Select country'
              @options={{countries}} as |country|
            >
              {{country}}
            </Field.select>
          </form.field>
      </div>
      </div>
      <div class='form-elem-half-width inline-form-elem billing-optional-field'>
        <form.field
          @label='Vat Id'
          @value={{newSubscription.billingInfo.vatId}}
          @showValidationStatusIcons={{false}}
          @onChange={{action (mut newSubscription.billingInfo.vatId)}} 
          as |Field|
        >
          <Field.input @name='vat'/>
        </form.field>
      </div>
      <div class='form-elem flex flex--wrap'>
        <button
          onclick={{action form.submit}}
          class='button--blue'
          data-test-proceed-to-payment-button
        >
          Proceed to Payment
        </button>
        <span data-test-back-to-plans='true' onClick={{action back}} class='link back-button'>
          Back to plans
        </span>
      </div>
    </div>
  </TravisForm>
</div>
