{{#if (eq this.skipBillingInfo true)}}
  {{action next}}
{{/if}}
<div class='billing-information-form'>
  <h3 data-test-contact-details-title='true'>
    Contact details
  </h3>
  <Billing::SelectedPlan
    @selectedPlan={{this.selectedPlan}}
    @totalPrice={{this.selectedPlan.startingPrice}}
    @goToFirstStep={{action this.goToFirstStep}}
  />
  <Billing::WarningMessage
    @selectedPlan={{this.selectedPlan}}
    @subscription={{this.subscription}}
  />
  <TravisForm @onSubmit={{action next}} as |form|>
    <div data-test-billing-form>
      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='First Name'
            @value={{this.subscription.billingInfo.firstName}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.subscription.billingInfo.firstName)}} as |Field|
          >
            <Field.input @name='firstname'/>
          </form.field>
        </div>
        <div class='full-width form-elem'>
          <form.field
            @label='Last Name'
            @value={{this.subscription.billingInfo.lastName}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.subscription.billingInfo.lastName)}} as |Field|
          >
            <Field.input @name='lastname'/>
          </form.field>
        </div>
      </div>
      <div class='form-elem billing-optional-field'>
        <form.field
          @label='Company Name'
          @value={{this.subscription.billingInfo.company}}
          @showValidationStatusIcons={{false}}
          @onChange={{action (mut this.subscription.billingInfo.company)}} as |Field|
        >
          <Field.input @name='companyName'/>
        </form.field>
      </div>
      <div data-test-email-inputs-wrapper="true">
        <form.field
          @label='Billing Email Address'
          @isMultipleInputsField={{true}}
          @disableFrame={{true}}
          @required={{true}}
          @showRequiredMark={{true}}
          @showValidationStatusIcons={{false}}
          @validator={{form-validator form.validators.email}}
          @initialValue={{this.subscription.billingInfo.billingEmail}}
          as |Field|
        >
          <Field.multipleInputs @updateValues={{action 'updateEmails'}}/>
        </form.field>
      </div>
      <h3 data-test-billing-details-title='true'>
        Billing address
      </h3>
      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='Street Address'
            @value={{this.subscription.billingInfo.address}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.subscription.billingInfo.address)}}
            as |Field|
          >
            <Field.input @name='address'/>
          </form.field>
        </div>
        <div class='full-width form-elem'>
          <form.field
            @label='City'
            @value={{this.subscription.billingInfo.city}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.subscription.billingInfo.city)}}
            as |Field|
          >
            <Field.input @name='city'/>
          </form.field>
        </div>
      </div>
      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='Zip Code'
            @value={{this.subscription.billingInfo.zipCode}}
            @required={{true}}
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.subscription.billingInfo.zipCode)}}
            as |Field|
          >
            <Field.input @name='zip'/>
          </form.field>
        </div>
        <div class='form-elem full-width select' data-billing-form-select>
          <form.field
            @label='Country'
            @value={{this.subscription.billingInfo.country}}
            @required={{true}}
            class='billing-country'
            @showRequiredMark={{true}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.subscription.billingInfo.country)}}
            as |Field|
          >
            <Field.select
              @placeholder='Select country'
              @options={{countries}} as |country|
            >
              {{country}}
            </Field.select>
          </form.field>
      </div>
      </div>
      <div class='form-elem-half-width inline-form-elem billing-optional-field'>
        <form.field
          @label='Vat Id'
          @value={{subscription.billingInfo.vatId}}
          @showValidationStatusIcons={{false}}
          @onChange={{action (mut subscription.billingInfo.vatId)}}
          as |Field|
        >
          <Field.input @name='vat'/>
        </form.field>
      </div>
      <div class='form-elem flex flex--wrap'>
        <button
          onclick={{action form.submit}}
          class='button--blue'
          data-test-proceed-to-payment-button
        >
          Proceed to Payment
        </button>
        <span data-test-back-to-plans='true' onClick={{action back}} class='link back-button'>
          Back to plans
        </span>
      </div>
    </div>
  </TravisForm>
</div>
