<div class='billing-checkout' data-test-payment-form='true'>
  {{#if this.subscriptionLoaded}}
  <p class="payment-details-header">
    You can update your payment method details here. Your credit card will be validated
    by placing test fee - $1, which will be returned to you within a week.
  </p>

  {{#if this.canViewBilling }}
  <div class='payment-details-form'>
    <TravisForm data-test-stripe-form='true' @onSubmit={{action "submit"}} as |form|>
      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='First Name'
            @value={{this.billingInfo.firstName}}
            @required={{true}}
            @showRequiredMark={{true}}
            @disabled={{this.disableForm}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.billingInfo.firstName)}}
            as |Field|
          >
            <Field.input @name='first_name'/>
          </form.field>
        </div>
        <div class='form-elem full-width'>
          <form.field
            @label='Last Name'
            @required={{true}}
            @showRequiredMark={{true}}
            @disabled={{this.disableForm}}
            @value={{this.billingInfo.lastName}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.billingInfo.lastName)}}
            as |Field|
          >
            <Field.input @name='last_name'/>
          </form.field>
        </div>
      </div>
      <span data-test-credit-card='true' class="payment-details-label">
        credit card details
        <span class="required">
          *
          <EmberTooltip @text="This field is required" @delay={{300}} />
        </span>
      </span>
      <StripeCard class='card-field' @onComplete={{action "complete"}} @disabled={{this.disableForm}} @options={{this.options}} as |stripeError|>
        {{#if stripeError}}
          <p>{{stripeError.message}}</p>
        {{/if}}
      </StripeCard>

      <form.field
        @label='Billing Email Address'
        @value={{this.billingInfo.billingEmail}}
        @required={{true}}
        @showRequiredMark={{true}}
        @disabled={{this.disableForm}}
        @showValidationStatusIcons={{false}}
        @onChange={{action (mut this.billingInfo.billingEmail)}}
        as |Field|
      >
        <Field.input @name='billing_email_address'/>
      </form.field>

      <form.field
        @label='Company Name'
        @value={{this.billingInfo.company}}
        @required={{false}}
        @showRequiredMark={{false}}
        @disabled={{this.disableForm}}
        @showValidationStatusIcons={{false}}
        @onChange={{action (mut this.billingInfo.company)}}
        as |Field|
      >
        <Field.input @name='company_name'/>
        <div class="travis-form__error-message">&nbsp;</div>
      </form.field>

      <form.field
        @label='Street Address'
        @value={{this.billingInfo.address}}
        @required={{true}}
        @showRequiredMark={{true}}
        @disabled={{this.disableForm}}
        @showValidationStatusIcons={{false}}
        @onChange={{action (mut this.billingInfo.address)}}
        as |Field|
      >
        <Field.input @name='address'/>
      </form.field>

      <div class='flex flex--col flex-md-row'>
        <div class='full-width form-elem inline-form-elem'>
          <form.field
            @label='City'
            @value={{this.billingInfo.city}}
            @required={{true}}
            @showRequiredMark={{true}}
            @disabled={{this.disableForm}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.billingInfo.city)}}
            as |Field|
          >
            <Field.input @name='city'/>
          </form.field>
        </div>
        <div class='full-width form-elem'>
          <form.field
            @label='Zip Code'
            @value={{this.billingInfo.zipCode}}
            @required={{true}}
            @showRequiredMark={{true}}
            @disabled={{this.disableForm}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.billingInfo.zipCode)}}
            as |Field|
          >
            <Field.input @name='zip'/>
          </form.field>
        </div>
      </div>
      <div class='flex flex--col flex-md-row'>
        <div class='form-elem full-width {{if this.isStateMandatory 'inline-form-elem'}} select' data-billing-form-select>
          <form.field
            @label='Country'
            @value={{this.billingInfo.country}}
            @required={{true}}
            class='billing-country'
            @showRequiredMark={{true}}
            @disabled={{this.disableForm}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.billingInfo.country)}}
            as |Field|
          >
            <Field.select
              @placeholder='Select country'
              @options={{this.countries}} as |country|
            >
              {{country}}
            </Field.select>
          </form.field>
        </div>
        {{#if this.isStateMandatory}}
        <div class='form-elem full-width'>
          <form.field
            @label='State'
            @required={{true}}
            @showRequiredMark={{true}}
            @disabled={{this.disableForm}}
            @value={{this.billingInfo.state}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.billingInfo.state)}}
            as |Field|
          >
            <Field.select
              @placeholder='Select state'
              @options={{this.states}} as |state|
            >
              {{state}}
            </Field.select>
          </form.field>
        </div>
        {{/if}}
      </div>

      {{#if this.showNonZeroVatConfirmation}}
        <div class='flex justify-between items-center mb-8'>
          <div class='w-4/6 pr-2'>
            Is your company registered locally for VAT/GST?
          </div>
          <div class='w-1/6 text-right'>
            <form.field
              @value={{this.billingInfo.hasLocalRegistration}}
              @showValidationStatusIcons={{false}}
              @disabled={{this.disableForm}}
              @disableFrame={{true}}
              @onChange={{action (mut this.billingInfo.hasLocalRegistration) true}}
              as |Field|
            >
              <Field.radio>Yes</Field.radio>
            </form.field>
          </div>
          <div class='w-1/6 text-right'>
            <form.field
              @value={{not this.billingInfo.hasLocalRegistration}}
              @showValidationStatusIcons={{false}}
              @disableFrame={{true}}
              @onChange={{action (mut this.billingInfo.hasLocalRegistration) false}}
              as |Field|
            >
              <Field.radio>No</Field.radio>
            </form.field>
          </div>
        </div>
      {{/if}}
      {{#if this.showVatField}}
        <div class='form-elem-half-width inline-form-elem billing-optional-field'>
          <form.field
            @label='Vat Id'
            @required={{this.isVatMandatory}}
            @showRequiredMark={{this.isVatMandatory}}
            @disabled={{this.disableForm}}
            @value={{this.billingInfo.vatId}}
            @showValidationStatusIcons={{false}}
            @onChange={{action (mut this.billingInfo.vatId)}}
            as |Field|
          >
            <Field.input @name='vat'/>
          </form.field>
        </div>
      {{/if}}

  {{#if this.canEditBilling }}
      <div class='billing-checkout__payment'>
        {{#if this.isLoading}}
          <LoadingIndicator/>
        {{else}}
          {{g-recaptcha onSuccess=(action "onCaptchaResolved") size="invisible"}}
          <button class='{{if this.enableSubmit 'button--green' 'button disabled'}}' {{on 'click' form.submit}} data-test-complete-payment='true'>
            Update payment details
          </button>
        {{/if}}
      </div>
  {{/if}}
    </TravisForm>
  </div>
  {{/if}}
    {{#if this.invoices}}
      {{#if this.hasV2Subscription}}
        {{#if this.v2subscription.isNotManual}}
          <Billing::Invoices
            @account={{this.account}}
            @invoices={{this.invoices}}
            @subscription={{this.v2subscription}}
          />
        {{/if}}
      {{else}}
        <Billing::Invoices
          @account={{this.account}}
          @invoices={{this.invoices}}
          @subscription={{this.subscription}}
        />
      {{/if}}
    {{else}}
      <h3 class='invoice-header'>Payment history</h3>
      <div class='flex flex--wrap flex--v-center flex--space-between'>
        <p class="invoice-issue-banner invoice-issue-banner-no-invoices" data-test-help-text='true'>
          <SvgImage @name='icon-help' @class='icon-help' />
          Having trouble with your invoices?
          <ExternalLinkTo @href={{config-get 'urls.resources'}} @title="Travis CI Resources">
            We’re happy to help
          </ExternalLinkTo> 
        </p>
      </div>
      <p class="no-invoices">You do not have any invoices yet</p>
    {{/if}}
  {{else}}
    <LoadingIndicator />
  {{/if}}
</div>
