<div class='billing-checkout' data-test-payment-form='true'>
  <h3 data-test-summary-title='true'>
    Order Summary
  </h3>
  {{#if this.selectedAddon}}
    <Billing::SelectedAddon
      @selectedAddon={{this.selectedAddon}}
      @goToFirstStep={{action this.goToFirstStep}}
    />
  {{else}}
    <Billing::SelectedPlan
      @selectedPlan={{this.selectedPlan}}
      @goToFirstStep={{action this.goToFirstStep}}
      @totalPrice={{this.totalPrice}}
    />
    <Billing::WarningMessage
      @selectedPlan={{this.selectedPlan}}
      @isReactivation={{this.isReactivation}}
      @subscription={{this.subscription}}
    />
  {{/if}}
  {{#if this.selectedPlan.isFree}}
    <div class='mt-5'>
      {{#if this.isLoading}}
        <LoadingIndicator/>
      {{else}}
        {{#if this.isNewSubscription}}
          <button class='button--green' {{on 'click' (perform this.createFreeSubscription)}} data-test-complete-payment='true' type='button'>
            Select plan
          </button>
        {{else}}
          <button class='button--green' {{on 'click' (perform this.updatePlan)}} data-test-complete-payment='true' type='button'>
            Switch plan
          </button>
        {{/if}}
      {{/if}}
    </div>
    <Notification
      @type='alert'
      @severity='info'
    >
      Trial users and other qualifying users are granted a small allocation of credits. Please see our <ExternalLinkTo @href={{config-get 'urls.planCreditDocs'}} @title="Travis CI Docs">documentation</ExternalLinkTo> for more details on allowances and its possible extension.
    </Notification>
  {{else}}
    <div class='billing-checkout__details' data-test-contact-details='true'>
      <div class='flex flex--wrap'>
        <div class='flex--col-2'>
          <h4 data-test-contact-heading='true'>contact details</h4>
          <p data-test-contact-firstName='true' class='billing-checkout__details--info'>{{concat this.firstName ' ' this.lastName}}</p>
          <p data-test-contact-company='true' class='billing-checkout__details--info'>{{this.company}}</p>
          <div class="flex flex--col">
            {{#each this.billingEmails as |email|}}
              <p data-test-contact-email='true' class='billing-checkout__details--email'>{{email}}</p>
            {{/each}}
          </div>
        </div>
        <div class='flex--col-2'>
          <h4 data-test-billing-heading='true'>billing details</h4>
          <p data-test-billing-address='true' class='billing-checkout__details--info'>{{this.address}}</p>
          <p data-test-billing-city='true' class='billing-checkout__details--info'>{{this.city}}</p>
          <p data-test-billing-country='true' class='billing-checkout__details--info'>{{this.country}}</p>
        </div>
        <button data-test-edit-billing-button='true' class='mt-3 button--white button--hover' {{on 'click' (action this.back)}}>Edit details</button>
      </div>
    </div>
    <h3>
      Payment
    </h3>
    <h4 data-test-coupon-code='true' class="pb-3">coupon code</h4>
    <div class="pb-3">
      <TravisForm @onSubmit={{perform this.validateCoupon}} as |form|>
        <div data-test-coupon-form='true' class="coupon-validation flex flex--center flex-v-center">
          <form.field
            class="coupon-validation__input"
            @value={{this.couponId}}
            @showValidationStatusIcons={{false}}
            @onFocus={{action 'handleCouponFocus'}}
            @onChange={{action (mut this.couponId)}}
            as |Field|
          >
            <Field.input @name='couponId' @placeholder='Coupon code'/>
          </form.field>
          <div class="coupon-validation__validate-button-wrapper {{if this.validateCoupon.isRunning 'coupon-loading'}}">
            {{#if this.validateCoupon.isRunning}}
              <LoadingIndicator/>
            {{else if this.isValidCoupon}}
              <p data-test-valid-coupon class="coupon-validation__valid-coupon">
                <SvgImage @name="icon-passed" @class="icon icon-passed" />
                Coupon applied
              </p>
            {{else if this.couponHasError}}
              <p data-test-invalid-coupon="true" class="coupon-validation__invalid-coupon">
                <SvgImage @name="form-error-icon" @class="icon icon-warn" />
                Coupon invalid
              </p>
            {{else}}
              <button class='button--white coupon-validation__validate-button' {{on 'click' form.submit}} data-test-coupon-button='true'>
                Validate coupon
              </button>
            {{/if}}
          </div>
        </div>
      </TravisForm>
    </div>

    <Notification
      @type='alert'
      @severity='info'
      @icon='info'
    >
        Credit card details are never stored on nor reach our servers. Payment data is handled by Stripe.
    </Notification>
    {{#if this.creditCardInfoEmpty}}
      <h4 data-test-credit-card='true' class="py-3">credit card details</h4>
      <TravisForm data-test-stripe-form='true' @onSubmit={{perform this.createSubscription}} as |form|>
        <StripeCard @onComplete={{action "complete"}} @options={{this.options}} as |stripeError|>
          {{#if stripeError}}
            <p>{{stripeError.message}}</p>
          {{/if}}
        </StripeCard>
        {{#if this.selectedPlan.hasTrialPeriod }}
          <span class="trial-no-charge-text">
            Your credit card will not be charged for 14 days. Enjoy your trial!
          </span>
        {{/if}}
        <div class='billing-checkout__payment'>
          {{#if this.isLoading}}
            <LoadingIndicator/>
          {{else}}
            <button class='{{if this.stripeElement 'button--green' 'button disabled'}}' {{on 'click' (perform this.createSubscription)}} data-test-complete-payment='true' type='button'>
              {{#if this.isReactivation}}
                Reactivate plan payments
              {{else if this.selectedPlan.isTrial}}
                Validate my account
              {{else}}
                Pay {{this.discountedPrice}} to complete order
              {{/if}}
            </button>
          {{/if}}
        </div>
      </TravisForm>
    {{else}}
      <div class='billing-checkout__details' data-test-credit-card-details='true'>
        <div class='flex flex--wrap'>
          <div class='flex--col-2'>
            <h4 data-test-credit-card='true'>credit card details</h4>
            <div class="flex flex--v-center">
            <SvgImage @name="icon-credit-card" @class="icon--color" />
            <p data-test-credit-card>
              •••• •••• ••••
              {{this.subscription.creditCardInfo.lastDigits}}
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class='mt-5'>
        {{#if this.isLoading}}
          <LoadingIndicator/>
        {{else}}
          <button class='button--green' {{on 'click' (perform this.updatePlan)}} data-test-complete-payment='true' type='button'>
            {{#if this.isReactivation}}
              Reactivate plan payments
            {{else if this.selectedPlan.isTrial}}
              Validate my account
            {{else}}
              Pay {{this.discountedPrice}} to complete order
            {{/if}}
          </button>
        {{/if}}
      </div>
    {{/if}}
    <Notification
      @type='alert'
      @severity='info'
      data-test-plan-notice='true'
    >
      {{#if this.selectedPlan.isTrial}}
        After credit authorization (which may result in a small fee being held on your card for a short duration),
        trial users are granted a small allotment of trial credits which may be used within the first 30 days of their trial. If you need to extend your trial, please contact support.
      {{else}}
        Notes about your selected plan: User licenses are charged credits based on <ExternalLinkTo @href={{config-get 'urls.planUsersDocs'}} @title="Travis CI Docs">monthly unique users.</ExternalLinkTo>
        Credits can be replenished during the month by purchasing add-ons. Credits will roll over from month to month as long as your plan remains active.
      {{/if}}
    </Notification>
  {{/if}}
</div>
<Dialogs::SwitchToFreeModal
  @isOpen={{this.showSwitchToFreeModal}}
  @onClose={{action this.closeSwitchToFreeModal}}
  @subscription={{this.subscription}}
/>
<Dialogs::PlanSwitchWarning
  @isOpen={{this.showPlanSwitchWarning}}
  @onClose={{action this.closePlanSwitchWarning}}
  @updatePlan={{this.updatePlan}}
/>
