{{#if this.subscription.plan}}
  <section class="payment billing-subscription-section">
    <h4>
      Payment details
    </h4>
    {{#if this.subscription.isStripe}}
      {{#if this.openCreditCardForm}}
        <div class="edit-form">
          <TravisForm @onSubmit={{perform this.updateCreditCard}} as |form|>
            <StripeCard @onComplete={{action "complete"}} @options={{this.options}} as |stripeError|>
              {{#if stripeError}}
                <p>{{stripeError.message}}</p>
              {{/if}}
            </StripeCard>
            <div class="flex flex--wrap billing-subscription__buttons">
              {{#if this.updateCreditCard.isRunning}}
                <LoadingIndicator/>
              {{else}}
                <button data-test-update-contact-address-button='true' onclick={{form.submit}} class="button--green">
                  Update payment details
                </button>
                <a onClick={{action (toggle 'openCreditCardForm' this)}} class='link cancel-link'>
                  Cancel
                </a>
              {{/if}}
            </div>
          </TravisForm>
        </div>
      {{else}}
        <div class="flex flex--v-center">
          <SvgImage @name="icon-credit-card" @class="icon--color" />
          <p data-test-credit-card> 
            •••• •••• ••••
            {{this.subscription.creditCardInfo.lastDigits}}
          </p>  
        </div>
        {{#if this.account.hasSubscriptionPermissions}}
          <button class='button--blue billing-subscription__buttons' onClick={{action (toggle 'openCreditCardForm' this)}}>
            Edit payment details
          </button>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if this.subscription.isManual}}
      <ManualSubscriptionHelp />
    {{/if}}
  </section>
{{/if}}
