{{#if this.isNotGithubTrial}}
  <div class='selected-plan__price'>
    <h6 class='selected-plan__price--total' data-test-plan-total='true'>
      Total:
    </h6>
    {{#if this.subscription.plan }}
      <p class='selected-plan__price--large' data-test-price>
        {{format-currency this.subscription.plan.price floor='true'}}
      </p>
      <span data-test-selected-plan-period='true' class='selected-plan__period'>
        {{if this.subscription.plan.annual '/year' '/month'}}
      </span>
    {{/if}}
  </div>
  <div class="discount" data-test-stripe-discount='true'>
    {{#if this.isValidDiscount}}
      <h6>Discount: </h6>
      <p> 
        {{#if this.percentOff}}
          {{this.percentOff}}%
        {{else if this.amountOff}}
          ${{this.amountOff}}
        {{/if}}
         off
      </p>
    {{/if}}
  </div>
{{/if}}
