{{#if this.account.hasSubscriptionPermissions}}
  {{#if this.isStepOne}}
    <Billing::SelectPlan
      @title="Edit plan"
      @selectedPlan={{this.selectedPlan}}
      @subscription={{this.subscription}}
      @account={{this.account}}
      @showPlansSelector={{this.showPlansSelector}}
      @next={{action 'next'}}
      @showCancelButton={{this.showCancelButton}}
    />
  {{else if this.isStepTwo}}
    <Billing::Information
      @subscription={{this.subscription}}
      @selectedPlan={{this.selectedPlan}}
      @goToFirstStep={{action 'goToFirstStep'}}
      @next={{action 'next'}}
      @back={{action 'back'}}
    />
  {{else if this.isStepThree}}
    <Billing::Payment
      @subscription={{this.subscription}}
      @selectedPlan={{this.selectedPlan}}
      @account={{this.account}}
      @goToFirstStep={{action 'goToFirstStep'}}
      @retryAuthorization={{this.retryAuthorization}}
      @showPlansSelector={{this.showPlansSelector}}
      @back={{action 'back'}}
    />
  {{/if}}
{{else}}
  <p data-test-no-permission-message>
    You don't have permission to create a subscription
  </p>
{{/if}}
