{{#if this.account.hasSubscriptionPermissions}}
  {{#if this.isStepOne}}
    <Billing::SelectPlan
      @title="Subscribe to a plan"
      @newSubscription={{this.newSubscription}}
      @account={{this.account}}
      @submit={{action 'next'}}
    />
  {{else if this.isStepTwo}}
    <Billing::Information
      @newSubscription={{this.newSubscription}}
      @scrollSection={{this.scrollSection}}
      @goToFirstStep={{action 'goToFirstStep'}}
      @next={{action 'next'}}
      @back={{action 'back'}}
    />
  {{else if this.isStepThree}}
    <Billing::Payment
      @newSubscription={{this.newSubscription}}
      @account={{this.account}}
      @goToFirstStep={{action 'goToFirstStep'}}
      @back={{action 'back'}}
    />
  {{/if}}
{{else}}
  <p data-test-no-permission-message>
    You don't have permission to create a subscription
  </p>
{{/if}}
