{{#if this.account.isFetchPlansRunning}}
  <LoadingIndicator/>
{{else if this.showPlansSelector}}
  <section class='billing-select-plan'>
    <TravisForm @onSubmit={{perform this.save}} as |form|>
      <h3 data-test-billing-info-title>
        Plan Select
      </h3>
      <div class='plan-selector'>
        <div class='billing-plans flex flex--wrap' data-test-billing-plan-choices>
          {{#each this.displayedPlans as |plan|}}
            <div
              data-test-plan-box='true'
              class='billing-plans__box-v2 pointer {{if (eq plan.id this.selectedPlan.id) 'highlight-plan'}}'
              onclick={{action (mut this.selectedPlan) plan}}
            >
              <p class='billing-plans__box-v2--name color-asphalt-grey' data-test-selected-plan-name="true">
                {{plan.name}}
              </p>
              <p class='billing-plans__box-v2--price' data-test-selected-plan-price="true">
                {{format-currency plan.price floor="true"}}
              </p>
              <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                <SvgImage @name="icon-passed" @class="icon blue" /> 10,000 Credits
              </p>
              <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                <SvgImage @name="icon-passed" @class="icon blue" /> 40,000 OSS Credits<span class='color-cement-grey'>/month</span>
              </p>
              <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                <SvgImage @name="icon-passed" @class="icon blue" /> Unlimited unique users
              </p>
              <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                <SvgImage @name="icon-passed" @class="icon blue" /> Private &amp; Open-Source repos
              </p>
              <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                <SvgImage @name="icon-passed" @class="icon blue" /> Linux, Windows, macOS
              </p>
              <button data-test-subscribe-button
                onclick={{action form.submit}}
                class='button--blue billing-plans__box-v2--button'
              >
                Upgrade
              </button>
              <a
                href="test"
                class="billing-plans__box-v2--link"
              >
                Learn more
              </a>
            </div>
          {{/each}}
        </div>
      </div>
      <div class='billing-plans__box-v2--desc'>
        {{#if this.isLoading}}
          <LoadingIndicator/>
        {{else}}
          {{#if this.showCancelButton}}
            I changed my mind, take me
            <a data-test-cancel-button
              onClick={{action (toggle 'showPlansSelector' this)}} class="billing-plans__box-v2--link-grey"
            >
              back to Plan page
            </a>
          {{/if}}
        {{/if}}
      </div>
    </TravisForm>
  </section>
{{/if}}
