<div class='selected-plan' data-test-selected-plan='true'>
  <div class='selected-plan__details'>
    <p class='selected-plan__details--name' data-test-selected-plan-name>
      {{this.selectedPlan.name}}
    </p>
    {{#if this.selectedPlan.hasCreditAddons}}
      <p class='selected-plan__details--desc' data-test-selected-plan-credits>
        {{format-number this.selectedPlan.privateCreditsTotal}} Credits
      </p>
      <div class='selected-plan__period'>
        Renewed {{#if this.selectedPlan.isAnnual}}annually{{else}}monthly{{/if}} -
        <a href="{{this.selectedPlan.travisPricingUrl}}" class="travis-link"  target="_blank">check details</a>
      </div>
    {{/if}}
    {{#if this.selectedPlan.hasOSSCreditAddons}}
      <p class='selected-plan__details--desc' data-test-selected-plan-oss-credits>
        {{format-number this.selectedPlan.publicCredits}} OSS Only Credits<span class='color-cement-grey'>/month</span>
      </p>
    {{/if}}
      <p class='selected-plan__details--desc' data-test-selected-plan-users>
        {{#if this.selectedPlan.hasUserLicenseAddons}}

          <div class='selected-plan__details--info'>
            {{#if this.selectedPlan.isUnlimitedUsers}}
              Unlimited unique users.
            {{else}}
              Up to {{format-number this.selectedPlan.startingUsers}} unique users
            {{/if}}
          </div>
           <div class='selected-plan__period'>
            User licenses incl. in price: {{this.selectedPlan.usersInPlan}}
          </div>
          <div class='selected-plan__period'>
            User licenses at discounted credits price: {{this.selectedPlan.discountedUsersInPlan}}
            <a href="{{this.selectedPlan.travisPricingUrl}}" class="travis-link"  target="_blank">check pricing</a>
          </div>

          <div class='selected-plan__period'>
            Users charged monthly per usage
            <a href="{{this.selectedPlan.travisPricingUrl}}" class="travis-link"  target="_blank">check pricing</a>
          </div>

        {{/if}}
      </p>

    {{#if this.hasPremiumVM }}
      <p class='selected-plan__details--desc'>
        Premium VMs on demand
        <div class='selected-plan__period'>
          For available options
            <a href="{{this.selectedPlan.travisPricingUrl}}" class="travis-link"  target="_blank">check details</a>
          </div>
      </p>
    {{/if}}
    {{#if (eq this.selectedPlan.planType 'hybrid')}}
      <p class='selected-plan__details--desc' data-test-selected-plan-concurrency>
        {{pluralize this.selectedPlan.concurrencyLimit "concurrent job"}}
      </p>
    {{/if}}
    <button onClick={{action this.goToFirstStep}} class='mt-3 button--white button--hover' data-test-change-selected-plan>
      Change plan
    </button>
  </div>
  <div>
    <div class='selected-plan__price'>
      <p class='selected-plan__price--total' data-test-plan-total='true'>
        Total:
      </p>
      {{#if (or this.selectedPlan.isFree this.selectedPlan.isTrial)}}
        <p class='selected-plan__price--large' data-test-selected-plan-price>
          Free
        </p>
      {{else}}
        <p class='selected-plan__price--large' data-test-selected-plan-price>
          {{format-currency this.price floor="true"}}
        </p>
        {{#if (eq this.selectedPlan.planType 'hybrid')}}
          <span class='color-cement-grey'>/month</span>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
