{{#if this.account.isFetchV2PlansRunning}}
  <LoadingIndicator/>
{{else if this.showPlansSelector}}
  <section class='billing-select-plan'>
    <TravisForm @onSubmit={{perform this.save}} as |form|>
      <h3 data-test-billing-info-title>
        Select Plan
      </h3>
      <h2>
        Questions about plans? <a class='credits-calculator-button' href="mailto:customer.success@travis-ci.com">Contact our Customer Success Team</a>
      </h2>
      <nav class="travistab-nav">
        <ul>
          {{#unless (or (and this.subscription.plan.isAnnual (or (not this.isCancellationMoreThanOneMonthOld this.isValidityMoreThanOneMonthOld))) this.areAllAnnualPlans)}}
            <li>
              <a class={{if (not this.showAnnual) 'active'}} onclick={{action 'showMonthlyPlans'}}>
                Monthly Plans
              </a>
            </li>
          {{/unless}}
          {{#unless (and (and this.subscription.plan.isAnnual (or (not this.isCancellationMoreThanOneMonthOld this.isValidityMoreThanOneMonthOld))) this.emptyAnnualPlans)}}
            <li>
              <a class={{if this.showAnnual 'active'}} onclick={{action 'showAnnualPlans'}}>
                Annual Plans
              </a>
            </li>
          {{/unless}}
        </ul>
      </nav>
      <div class='plan-selector'>
        <div class='billing-plans flex flex--wrap' data-test-billing-plan-choices>
          {{#each this.displayedPlans as |plan|}}
            {{#if (or (and plan.isAnnual this.showAnnual) (and (not plan.isAnnual) (not this.showAnnual)))}}
              <div
                data-test-plan-box='true'
                class='billing-plans__box-v2 pointer {{if (or (eq plan.id this.selectedPlan.id) (eq plan.concurrencyLimit 5)) "highlight-plan"}}'
                onclick={{action (mut this.selectedPlan) plan}}
              >
                <p class='billing-plans__box-v2--name billing-annual-plans' data-test-selected-plan-name="true">
                  {{plan.name}}
                  {{#if plan.isFree}}
                    <span>
                      <SvgImage @name="icon-help" @class="icon-help" />
                      <EmberTooltip @text="Free Plan is trial plan. The credits will be not replenished. Switch to Free Plan if you wish to cancel your subscription." />
                    </span>
                  {{/if}}
                </p>
                <p class='billing-plans__box-v2--price' data-test-selected-plan-price="true">
                  {{#if (or plan.isFree plan.isTrial)}}
                    Free
                  {{else}}
                    {{format-currency plan.startingPrice floor="true"}}<span class='color-cement-grey'>{{if plan.isAnnual '/annualy' '/monthly'}}</span>
                  {{/if}}
                </p>
                {{#if (eq plan.planType "metered")}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{pluralize plan.concurrencyLimit "concurrent job"}}
                  </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-minutes="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Credits for {{plan.planMinutes}} Linux build mins
                  </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-users="true">
                    {{#if (or plan.isFree plan.isTrial)}}
                      <SvgImage @name="stage-passed" @class="icon icon-desc" /> Unlimited users
                    {{else}}
                      <SvgImage @name="stage-passed" @class="icon icon-desc" /> Use credits for builds &amp; users
                    {{/if}}
                  </p>
                  {{#if (or plan.isFree plan.isTrial)}}
                    <p class='billing-plans__box-v2--desc' data-test-selected-plan-repos="true">
                      <SvgImage @name="stage-passed" @class="icon icon-desc" /> Unlimited repositories
                    </p>
                  {{/if}}
                  {{#unless plan.isTrial}}
                    <p class='billing-plans__box-v2--desc' data-test-selected-plan-refill="true">
                      <SvgImage @name="stage-passed" @class="icon icon-desc" /> Auto-refill credits or buy bundle
                    </p>
                  {{/unless}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-os="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Premium VMs available
                  </p>
                {{else}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{pluralize plan.concurrencyLimit "concurrent job"}}
                  </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-minutes="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Unlimited build minutes
                  </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-repos="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Unlimited repositories
                  </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-users="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Unlimited collaborators
                  </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-os="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Unlimited VMs available
                  </p>
                {{/if}}

                {{#if plan.hasOSSCreditAddons}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-oss-credits="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{plan.publicCredits}} OSS Credits<span class='color-cement-grey'>/month</span>
                  </p>
                {{/if}}
                {{#if (and (eq plan.id this.subscription.plan.id) this.allowReactivation)}}
                  <button data-test-subscribe-button
                    onclick={{action 'reactivatePlan' plan form}}
                    class='button--white-and-teal billing-plans__box-v2--button select-plan-{{plan.id}}'
                  >
                    Reactivate plan
                  </button>
                {{else if (eq plan.id this.subscription.plan.id)}}
                  <h4 class='billing-plans' data-test-current-plan-text>Your current plan</h4>
                {{else if (eq plan.id this.subscription.scheduledPlanName)}}
                  <h4 class='billing-plans' data-test-scheduled-plan-text>Your scheduled plan</h4>
                {{else}}
                  <button data-test-subscribe-button
                    onclick={{action 'selectAndSubmit' plan form}}
                    class='button--white-and-teal billing-plans__box-v2--button select-plan-{{plan.id}}'
                  >
                    {{#if (and this.allowedTrial plan.hasTrialPeriod) }}
                    Start Free Trial
                    {{else}}
                    Select plan
                    {{/if}}
                  </button>
                {{/if}}
                {{#if (and this.allowedTrial plan.hasTrialPeriod) }}
                  <span class="no-charges">No charges for 14 days</span>
                {{/if}}
                <ExternalLinkTo
                  @href={{config-get 'urls.planDocs'}}
                  class='billing-plans__box-v2--link'
                >
                  Learn more
                </ExternalLinkTo>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <h2>
        Looking for more credits, users or VM sizes? <a class='credits-calculator-button' href="mailto:sales@travis-ci.com">Contact our Sales Team</a>
      </h2>
      <p class="mac_os_additional_credits">
        MacOS builds need additional credits. See our
        <a class="documentation-link" href="https://docs.travis-ci.com/user/billing-overview/#usage---credits">
          documentation for details.
        </a>
      </p>
      {{#if this.showCalculator}}
        <Billing::CreditsCalculator
          @hideCalculator={{action 'hideCalculator'}}
          @plans={{this.displayedPlans}}
          @form={{form}}
          @selectedPlan={{this.selectedPlan}}
          @selectPlan={{this.submitForm}}
          @isAnnual={{this.showAnnual}}
        />
      {{/if}}
    </TravisForm>
  </section>
{{/if}}
