{{#if this.account.isFetchV2PlansRunning}}
  <LoadingIndicator/>
{{else if this.showPlansSelector}}
  <section class='billing-select-plan'>
    <TravisForm @onSubmit={{perform this.save}} as |form|>
      <h3 data-test-billing-info-title>
        Select monthly plan
      </h3>
      <div class='plan-selector'>
        <div class='billing-plans flex flex--wrap' data-test-billing-plan-choices>
          {{#each this.displayedPlans as |plan|}}
            {{#unless (eq plan.planType 'hybrid annual')}}
              <div
                data-test-plan-box='true'
                class='billing-plans__box-v2 pointer {{if (eq plan.id this.selectedPlan.id) 'highlight-plan'}}'
                onclick={{action (mut this.selectedPlan) plan}}
              >
                <p class='{{if (eq plan.id 'standard_tier_plan') 'billing-plans__box-v2--name-bold' 'billing-plans__box-v2--name' }}' data-test-selected-plan-name="true">
                  {{plan.name}}
                  {{#if plan.isFree}}
                    <span>
                      <SvgImage @name="icon-help" @class="icon-help" />
                      <EmberTooltip @text="Free Plan is trial plan. The credits will be not replenished. Switch to Free Plan if you wish to cancel your subscription." />
                    </span>
                  {{/if}}
                </p>
                <p class='billing-plans__box-v2--price' data-test-selected-plan-price="true">
                  {{#if plan.isFree}}
                    Free
                  {{else}}
                    {{#if (eq plan.planType 'hybrid')}}
                      {{format-currency plan.startingPrice floor="true"}}<span class='color-cement-grey'>/month</span>
                    {{else if (eq plan.planType 'hybrid annual')}}
                      {{format-currency plan.startingPrice floor="true"}}<span class='color-cement-grey'>/year</span>
                    {{else}}
                      <span class='color-asphalt-grey'>
                        Starting at
                      </span>
                      {{format-currency plan.startingPrice floor="true"}}
                    {{/if}}
                  {{/if}}
                </p>
                {{#if plan.hasCreditAddons}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-credits="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> <ExternalLinkTo @href={{config-get 'urls.planCreditDocs'}} class='billing-plans__box-v2--desclink'>{{plan.privateCredits}} Credits</ExternalLinkTo>
                  </p>
                {{/if}}
                {{#if plan.hasOSSCreditAddons}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-oss-credits="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{plan.publicCredits}} OSS Credits<span class='color-cement-grey'>/month</span>
                  </p>
                {{/if}}
                {{#if plan.hasUserLicenseAddons}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-users="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" />
                    {{#if plan.isUnlimitedUsers}}
                      <ExternalLinkTo @href={{config-get 'urls.planUsersDocs'}} class='billing-plans__box-v2--desclink'>Unlimited unique users</ExternalLinkTo>
                    {{else}}
                      <ExternalLinkTo @href={{config-get 'urls.planUsersDocs'}} class='billing-plans__box-v2--desclink'>Up to {{plan.startingUsers}} unique users</ExternalLinkTo>
                    {{/if}}
                  </p>
                {{/if}}
                {{#if (eq plan.planType 'hybrid')}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{pluralize plan.concurrencyLimit "concurrent job"}}
                  </p>
                {{else if (eq plan.planType 'hybrid annual')}}
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{pluralize plan.concurrencyLimit "concurrent job"}}
                  </p>
                {{/if}}
                <p class='billing-plans__box-v2--desc' data-test-selected-plan-repos="true">
                  <SvgImage @name="stage-passed" @class="icon icon-desc" /> Private &amp; Open-Source repos
                </p>
                <p class='billing-plans__box-v2--desc' data-test-selected-plan-os="true">
                  <SvgImage @name="stage-passed" @class="icon icon-desc" /> Linux, Windows, macOS, FreeBSD
                </p>
                {{#if (eq plan.id this.subscription.plan.id)}}
                  <h4 class='billing-plans' data-test-current-plan-text>Your current plan</h4>
                {{else}}
                  <button data-test-subscribe-button
                    onclick={{action 'selectAndSubmit' plan form}}
                    class='button--white-and-teal billing-plans__box-v2--button select-plan-{{plan.id}}'
                  >
                    Select plan
                  </button>
                {{/if}}
                <ExternalLinkTo
                  @href={{config-get 'urls.planDocs'}}
                  class='billing-plans__box-v2--link'
                >
                  Learn more
                </ExternalLinkTo>
              </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </TravisForm>
  </section>
  <hr>
  <section class='billing-select-plan'>
      <TravisForm @onSubmit={{perform this.save}} as |form|>
        <h3 data-test-billing-info-title>
          Select annual plan
        </h3>
        <div class='plan-selector'>
          <div class='billing-plans flex flex--wrap' data-test-billing-annual-plan-choices>
            {{#each this.displayedPlans as |plan|}}
              {{#if (eq plan.planType 'hybrid annual')}}
                <div
                  data-test-plan-box='true'
                  class='billing-plans__box-v2 pointer {{if (eq plan.id this.selectedPlan.id) 'highlight-plan'}}'
                  onclick={{action (mut this.selectedPlan) plan}}
                >
                  <p class='billing-plans__box-v2--name billing-annual-plans' data-test-selected-plan-name="true">
                    {{plan.name}}
                  </p>
                  <p class='billing-plans__box-v2--price' data-test-selected-plan-price="true">
                    {{#if (eq plan.planType 'hybrid annual')}}
                       {{format-currency plan.startingPrice floor="true"}}<span class='color-cement-grey'>/year</span>
                    {{/if}}
                  </p>
                  {{#if plan.hasCreditAddons}}
                    <p class='billing-plans__box-v2--desc' data-test-selected-plan-credits="true">
                      <SvgImage @name="stage-passed" @class="icon icon-desc" /> <ExternalLinkTo @href={{config-get 'urls.planCreditDocs'}} class='billing-plans__box-v2--desclink'>{{plan.privateCredits}} Credits</ExternalLinkTo>
                    </p>
                  {{/if}}
                  {{#if plan.hasOSSCreditAddons}}
                    <p class='billing-plans__box-v2--desc' data-test-selected-plan-oss-credits="true">
                      <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{plan.publicCredits}} OSS Credits<span class='color-cement-grey'>/month</span>
                    </p>
                  {{/if}}
                  {{#if plan.hasUserLicenseAddons}}
                    <p class='billing-plans__box-v2--desc' data-test-selected-plan-users="true">
                      <SvgImage @name="stage-passed" @class="icon icon-desc" />
                      {{#if plan.isUnlimitedUsers}}
                        <ExternalLinkTo @href={{config-get 'urls.planUsersDocs'}} class='billing-plans__box-v2--desclink'>Unlimited unique users</ExternalLinkTo>
                      {{else}}
                        <ExternalLinkTo @href={{config-get 'urls.planUsersDocs'}} class='billing-plans__box-v2--desclink'>Up to {{plan.startingUsers}} unique users</ExternalLinkTo>
                      {{/if}}
                    </p>
                  {{/if}}
                    <p class='billing-plans__box-v2--desc' data-test-selected-plan-jobs="true">
                      <SvgImage @name="stage-passed" @class="icon icon-desc" /> {{pluralize plan.concurrencyLimit "concurrent job"}}
                    </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-repos="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Private &amp; Open-Source repos
                  </p>
                  <p class='billing-plans__box-v2--desc' data-test-selected-plan-os="true">
                    <SvgImage @name="stage-passed" @class="icon icon-desc" /> Linux, Windows, macOS, FreeBSD
                  </p>
                  {{#if (eq plan.id this.subscription.plan.id)}}
                    <h4 class='billing-plans' data-test-current-plan-text>Your current plan</h4>
                  {{else}}
                    <button data-test-subscribe-button
                      onclick={{action 'selectAndSubmit' plan form}}
                      class='button--white-and-teal billing-plans__box-v2--button select-plan-{{plan.id}}'
                    >
                      Select plan
                    </button>
                  {{/if}}
                  <ExternalLinkTo
                    @href={{config-get 'urls.planDocs'}}
                    class='billing-plans__box-v2--link'
                  >
                    Learn more
                  </ExternalLinkTo>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class='billing-plans__box-v2--cancel'>
          {{#if this.isLoading}}
            <LoadingIndicator/>
          {{else}}
            {{#if this.showCancelButton}}
              I changed my mind, take me
              <a data-test-cancel-button
                onClick={{action (toggle 'showPlansSelector' this)}} class="billing-plans__box-v2--link-grey"
              >
                back to Plan page
              </a>
            {{/if}}
          {{/if}}
        </div>
      </TravisForm>
    </section>
{{/if}}
