<div class='selected-plan' data-test-selected-plan='true'>
  <div class='selected-plan__details'>
    <p class='selected-plan__details--plan' data-test-selected-plan-heading='true'>
      summary
    </p>
    <p class='selected-plan__details--name' data-test-selected-plan-name>
      {{this.selectedPlan.name}} plan
    </p>
    <p class='selected-plan__details--jobs' data-test-selected-plan-jobs>
      {{pluralize this.selectedPlan.builds 'concurrent job'}}
    </p>
    <button onClick={{action this.goToFirstStep}} class='mt-3 button--white button--hover' data-test-change-selected-plan>
      Change plan
    </button>
  </div>
  <div>
    <div class='selected-plan__price'>
      <p class='selected-plan__price--total' data-test-plan-total='true'>
        Total:
      </p>
      <p class='selected-plan__price--large' data-test-selected-plan-price>
        ${{this.price}}
      </p>
      <span data-test-selected-plan-period='true' class='selected-plan__period'>
        {{if this.annual '/year' '/month'}}
      </span>
    </div>
  </div>
</div>
