{{#if this.showPlansSelector}}
  <section class='billing-select-plan'>
    <TravisForm @onSubmit={{perform this.save}} as |form|>
      <h3 data-test-billing-info-title>
        {{this.title}}
      </h3>
      <div class='flex form-elem flex--v-center flex--wrap billing-plan-switch'>
        <div>
          <form.field
            @disableFrame={{true}}
            class='display-value-switch'
            @value={{this.showAnnual}}
            @onChange={{action "togglePlanPeriod"}} 
            as |Field|
          >
            <Field.switch 
              @text={{true}} 
              @offText='Monthly'
              @onText='Annual'
            />
          </form.field>
        </div>
        <div class='m-l-s'>
          {{#if this.showMonthly}}
            <h4>billing cycle recommendation:</h4>
            <p>
              Switch to annual billing to receive
              <span class='font--bolder'>one month free!</span>
            </p>
          {{else}}
            <p><span class='font--bolder'>One month free</span> now included!</p>
          {{/if}}
        </div>
      </div>
      <div class='plan-selector'>
        <h4 data-test-choose-plan-heading>Choose number of concurrent jobs</h4>
        <div class='billing-plans flex flex--wrap' data-test-billing-plan-choices>
          {{#each this.displayedPlans as |plan|}}
            <div
              data-test-plan-box='true'
              class='billing-plans__box pointer {{if (eq plan.id this.selectedPlan.id) 'highlight-plan'}}'
              onclick={{action (mut this.selectedPlan) plan}}
            >
              <p class='billing-plans__box--price' data-test-selected-plan-price>
                {{format-currency plan.price floor="true"}}
                <span class='color-asphalt-grey {{if (eq plan.id this.selectedPlan.id) 'highlight-plan'}}'>
                  {{if plan.annual '/year' '/month'}}
                </span>
              </p>
              <p class='billing-plans__box--name' data-test-selected-plan-name>
                {{plan.name}}
              </p>
              <p data-test-selected-plan-jobs
                class='billing-plans__box--jobs
                  {{if (eq plan.id this.selectedPlan.id) 'highlight-plan'}}'
              >
                {{pluralize plan.builds 'concurrent job'}}
              </p>
            </div>
          {{/each}}
        </div>
      </div>
      <div>
        {{#if this.isLoading}}
          <LoadingIndicator/>
        {{else}}
          <button data-test-subscribe-button
            onclick={{action form.submit}}
            class='{{if this.showCancelButton 'button--green' 'button--blue'}}'
          >
            Subscribe @{{ this.account.login }} to {{selectedPlan.builds}} job plan
          </button>
          {{#if this.showCancelButton}}
            <a data-test-cancel-button
              onClick={{action (toggle 'showPlansSelector' this)}} class="link cancel-link"
            >
              Cancel
            </a>
          {{/if}}
        {{/if}}
      </div>
    </TravisForm>
  </section>
{{/if}}
