<section>
  <section class="billing-subscription">
    <Billing::Summary
      @subscription={{this.subscription}}
      @account={{this.account}}
      @planMessage="Valid until"
    />
  </section>
  {{#if this.subscription.isGithubResubscribable}}
    <Billing::Process 
      @account={{this.account}} 
      @plans={{this.plans}} 
      @newSubscription={{this.newSubscription}}
    />
  {{/if}}
</section>
