<section>
  <section class="billing-subscription">
    {{#if this.v2subscription.isValid}}
      <Billing::SummaryV2
        @subscription={{this.v2subscription}}
        @newSubscription={{this.newSubscription}}
        @account={{this.account}}
      />
    {{else}}
      <Billing::Summary
        @subscription={{this.subscription}}
        @newSubscription={{this.newSubscription}}
        @account={{this.account}}
      />
    {{/if}}
  </section>
  {{#if (and this.subscription.isGithubResubscribable (not this.hasExpiredStripeSubscription))}}
    <Billing::Process
      @account={{this.account}}
      @newSubscription={{this.newSubscription}}
    />
  {{/if}}
</section>
