<section class="billing-subscription">
  {{#if this.isGithubTrial}}
    <p data-test-trial-message class="source plan-status-message">
      You're trialing Travis CI via your
      <ExternalLinkTo
        @href={{config-get "marketplaceEndpoint"}}
        class="billing-section-link"
      >
        Github Marketplace subscription.
      </ExternalLinkTo>
    </p>
  {{/if}}
  {{#if this.subscription.isSubscribed}}
  {{!-- Should be exempted for Stripe and Manual subscription --}}
    {{#if (and (not this.subscription.isStripe) this.subscription.activeManagedSubscription)}}
      <ManageSubscriptionButton
        @subscription={{this.subscription}}
        @account={{this.account}}
      />
    {{else}}
      <Billing::Summary
        @subscription={{this.subscription}}
        @account={{this.account}}
        @price={{this.price}}
        @planMessage="Valid until"
      />
    {{/if}}
  {{else if this.subscription.isCanceled}}
    <Billing::Summary 
      @subscription={{this.subscription}} 
      @price={{this.price}}
      @account={{this.account}}
      @planMessage="Expires"
    />
  {{else if this.subscription.isIncomplete}}
     <Billing::Summary 
      @subscription={{this.subscription}} 
      @price={{this.price}}
      @account={{this.account}}
      @planMessage="Incomplete"
    />
  {{else if this.isPending}}
    <Billing::Summary 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @isPending={{true}}
    />
  {{else if this.subscription.isExpired}}
    <Billing::Summary 
      @subscription={{this.subscription}}
      @account={{this.account}}
      @price={{this.price}}
      @planMessage="Expired"
    />
  {{/if}}
  {{#if (not this.subscription.isStripe)}}
    <p
      class="source {{if this.subscription.isManual 'alert-status-message'}}"
      data-test-source
    >
      {{#if (eq this.subscription.source 'manual')}}
        This is a manual subscription.
      {{else if (eq this.subscription.source 'github')}}
        This subscription is managed by GitHub Marketplace.
      {{else}}
        This plan is paid through Stripe.
      {{/if}}
    </p>
  {{/if}}
  {{#if this.subscription.isGithubResubscribable}}
    {{#if this.newSubscriptionProcess}}
      <Billing::Process 
        @account={{this.account}} 
        @plans={{this.plans}} 
        @newSubscription={{this.newSubscription}}
      />
    {{else}}
      <ExternalLinkTo @href={{config-get "marketplaceEndpoint"}} class="button--blue marketplace-button">
        Continue with GitHub Marketplace
      </ExternalLinkTo>
      <p class="new-subscription-message">
        Or subscribe directly with Travis CI
      </p>
      {{#if this.account.hasSubscriptionPermissions}}
        <button onClick={{action (mut this.newSubscriptionProcess) true}} class="button--green" data-test-manage-button='true'>
          New subscription
        </button>
      {{else}}
        <div class="button--green manage-subscription disabled new" data-test-manage-button='true'>
          New subscription
        </div>
        <EmberTooltip @text="You do not have permission to create a subscription" />
      {{/if}}
    {{/if}}
  {{/if}}
</section>
