<div class='billing-subscription-section plan-overview'>
  {{#if (not this.account.hasSubscriptionPermissions)}}
    <span class="notice-banner--yellow" data-test-help='true'>
      <SvgImage @name='icon-help' @class='icon-help icon-help-yellow' />
      You don't have admin permissions to edit this subscription.
    </span>
  {{/if}}
  {{#if this.showPlanInfo}}
    {{#if (and this.subscription.isNotManual (eq this.subscription.plan.planType 'metered'))}}
      <span class="notice-banner--white block" data-test-plan-notice='true'>
        {{#if this.subscription.plan.isFree}}
          Please note that additional add-ons are not available for this plan. Please see our <ExternalLinkTo @href={{config-get 'urls.planCreditDocs'}} @title="Travis CI Docs">documentation</ExternalLinkTo> for more details on allowances in Free Plan.
        {{else}}
          <div>
            Please note that you will ONLY be charged monthly for the
            <ExternalLinkTo @href={{config-get 'urls.planUsersDocs'}} @title="Travis CI Docs">unique users who triggered builds!</ExternalLinkTo>
            You can replenish your Credit balance anytime by Buying add-ons. Credits are timeless and can be used in any month.
            Your OSS Credit balance will be replenished monthly.
          </div>
        {{/if}}
      </span>
    {{/if}}
    <div class="flex flex--space-between flex--wrap plan-overview__details">
      <section>
        {{#if this.subscription.isManual}}
          <div class="info-message" data-test-plan-manual-message='true'>
            You are on <b>Manual Plan</b>, you have
            {{#if this.subscription.plan.isUnlimitedUsers}}
              unlimited
            {{else}}
              {{this.subscription.addonUsage.user.totalCredits}}
            {{/if}}
            users,
            {{#if this.subscription.plan.hasCreditAddons}}
                {{this.subscription.addonUsage.private.totalCredits}} private credits
            {{/if}}
            {{#if (and this.subscription.plan.hasCreditAddons this.subscription.plan.hasOSSCreditAddons)}}
            ,
            {{/if}}
            {{#if this.subscription.plan.hasOSSCreditAddons}}
                {{this.subscription.addonUsage.public.totalCredits}} public credits
            {{/if}}
            per month with access
            to Linux, Windows, macOs and FreeBSD builds on the standard infrastructure size.
          </div>
        {{/if}}
        <h3 class='plan-overview__header'> Plan information </h3>
        <div class='plan'>
          <div>
            <p class='plan-overview__name flex flex--v-center' data-test-plan-name='true'>
              {{#if this.subscription.isManual}}
                Manual plan
                {{#if this.subscription.isSubscribed}}
                  <span class="badge green square" data-test-active-status='true'>
                    active
                  </span>
                {{else if this.subscription.isExpired}}
                  <span class="badge red square" data-test-expired-status='true'>
                    expired
                  </span>
                {{else}}
                  <span class="badge grey square grey-badge" data-test-grey-status='true'>
                    {{this.subscription.status}}
                  </span>
                {{/if}}
                <span class="valid-until" data-test-renews='true'>
                    Valid until
                    {{#if this.subscription.validTo}}
                      {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
                    {{else}}
                      {{moment-format this.subscription.validToFromUserLicenseAddon "MMMM D, YYYY"}}
                    {{/if}}
                  </span>
              {{else}}
                {{#if this.subscription.plan}}
                  {{this.subscription.plan.name}}
                {{else}}
                  Unknown plan
                {{/if}}

                {{#if (eq this.subscription.plan.planType 'hybrid')}}
                  {{#if this.subscription.isSubscribed}}
                    <span class="badge green square" data-test-active-status='true'>
                      active
                    </span>
                  {{else if this.subscription.isExpired}}
                    <span class="badge red square" data-test-expired-status='true'>
                      expired
                    </span>
                  {{else}}
                    <span class="badge grey square grey-badge" data-test-grey-status='true'>
                      {{this.subscription.status}}
                    </span>
                  {{/if}}
                  <span data-test-plan-message='true' class='plan-overview__description--validity ml-3
                    {{if this.canceledOrExpired 'dark-red' 'cement-grey'}}'
                  >
                    {{#if this.isSubscribed}}
                      Valid until {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
                    {{else if this.isIncomplete}}
                      Incomplete
                    {{else if (and this.isComplete this.isCanceled)}}
                      Expires {{moment-from-now this.subscription.validTo}} on {{moment-format this.subscription.validTo "MMMM DD"}}
                    {{else if (and this.isComplete this.isExpired)}}
                      Expired {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
                    {{/if}}
                  </span>
                {{/if}}
              {{/if}}
            </p>
            <div class='plan-overview__description' data-test-plan-description>
              {{#if this.subscription.plan.hasUserLicenseAddons}}
                <p>
                  {{#if this.subscription.plan.isUnlimitedUsers}}
                    Unlimited unique users
                  {{else}}
                    {{#if this.subscription.isManual}}
                      {{this.subscription.addonUsage.user.totalCredits}} unique users
                    {{else}}
                      Up to {{this.subscription.plan.startingUsers}} unique users
                    {{/if}}
                  {{/if}}
                </p>
              {{/if}}
              {{#if this.subscription.plan.hasCreditAddons}}
                <p>
                  {{#if this.subscription.isManual}}
                    {{this.subscription.addonUsage.private.totalCredits}} Credits
                  {{else}}
                    {{this.subscription.plan.privateCredits}} Credits
                  {{/if}}
                </p>
              {{/if}}
              {{#if this.subscription.plan.hasOSSCreditAddons}}
                <p>
                  {{#if this.subscription.isManual}}
                    {{this.subscription.addonUsage.public.totalCredits}} OSS Credits per month
                  {{else}}
                    {{this.subscription.plan.publicCredits}} OSS Credits per month
                  {{/if}}
                </p>
              {{/if}}
              {{#if (eq this.subscription.plan.planType 'hybrid')}}
                <p>
                  {{pluralize this.subscription.plan.concurrencyLimit "concurrent job"}}
                </p>
              {{/if}}
              {{#if (eq this.subscription.plan.planType 'hybrid')}}
                <p>
                  Linux, Windows, FreeBSD builds
                </p>
                {{else if (eq this.subscription.plan.planType 'hybrid annual')}}
                  <p>
                    Linux, Windows, FreeBSD builds
                  </p>
                {{else}}
                <p>
                  Linux, Windows, macOS, FreeBSD builds
                </p>
               {{/if}}
            </div>
          </div>
        </div>
      </section>
      {{#if this.subscription.isNotManual}}
        <section>
          <div class='selected-plan__price'>
            <h6 class='selected-plan__price--total' data-test-plan-total='true'>
              Total:
            </h6>
            {{#if this.subscription.plan }}
              {{#if this.subscription.plan.isFree}}
                <p class='selected-plan__price--large' data-test-price>
                  Free
                </p>
              {{else}}
                <p class='selected-plan__price--large' data-test-price>
                  {{format-currency this.subscription.plan.startingPrice floor="true"}}
                </p>
                {{#if (eq this.subscription.plan.planType 'hybrid')}}
                  <span class='color-cement-grey'>/month</span>
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
        </section>
      {{/if}}
    </div>
  {{/if}}
  {{#if this.subscription.isGithub}}
    <ManageSubscriptionButton
      @subscription={{this.subscription}}
      @account={{this.account}}
    />
  {{/if}}
  {{#if this.subscription.isNotManual}}
    {{#if (and this.subscription.isGithub this.hasExpiredStripeSubscription)}}
      <h4 class="resubscribe-stripe-heading">resubscribe via travis ci:</h4>
      <Billing::Authorization
        @githubSubscription={{this.subscription}}
        @subscription={{this.expiredStripeSubscription}}
        @isV2Subscription={{true}}
        @account={{this.account}}
        @isPending={{this.isPending}}
        @showPlansSelector={{this.showPlansSelector}}
        @showAddonsSelector={{this.showAddonsSelector}}
      />
    {{/if}}
    {{#if (or this.subscription.isStripe this.subscription.isManual)}}
      <Billing::Authorization
        @selectedPlan={{this.selectedPlan}}
        @selectedAddon={{this.selectedAddon}}
        @subscription={{this.subscription}}
        @isV2Subscription={{true}}
        @account={{this.account}}
        @isPending={{this.isPending}}
        @showPlansSelector={{this.showPlansSelector}}
        @showAddonsSelector={{this.showAddonsSelector}}
      />
    {{/if}}
  {{/if}}
</div>
<hr />
{{#if (and this.subscription.isStripe this.showPlanInfo)}}
  {{#if this.subscription.hasUserLicenseAddons}}
    <Billing::UserUsage @subscription={{this.subscription}} @account={{this.account}}/>
    {{#if this.account.isOrganization}}
      <button class="button--blue" {{on 'click' (fn (mut this.showUserManagementModal) true)}} data-test-plan-show-user-management-modal='true'>
        User management
      </button>
      <Dialogs::UserManagementModal
        @isOpen={{this.showUserManagementModal}}
        @onClose={{fn (mut this.showUserManagementModal) false}}
        @context={{this.account}}
      />
    {{/if}}
    <br />
    <hr />
  {{/if}}
  {{#if this.subscription.hasCredits}}
    <Billing::CreditBalance @subscription={{this.subscription}} @account={{this.account}}/>
  {{/if}}
  {{#if (not this.subscription.plan.isFree)}}
    <Billing::Address @subscription={{this.subscription}} @account={{this.account}}/>
    {{#if this.subscription.isNotManual}}
      <Billing::PaymentDetails @subscription={{this.subscription}} @account={{this.account}}//>
    {{/if}}
    <hr />
  {{/if}}
{{/if}}

{{#if this.subscription.isManual}}
  <Billing::Address @subscription={{this.subscription}} @account={{this.account}} @hideEdit={{true}}/>
  <div class="yellow-message" data-test-plan-yellow-message='true'>
    This manual subscription is paid to Travis CI by bank transfer. If you have any questions or would like to update your plan,
    <LinkTo @route="help" @query={{hash anchor="form"}}>
      contact our support team.
    </LinkTo>
  </div>
  <br />
  {{#if (and this.subscription.hasUserLicenseAddons)}}
    <Billing::UserUsage @subscription={{this.subscription}} @account={{this.account}}/>
    {{#if this.account.isOrganization}}
      <button class="button--blue" {{on 'click' (fn (mut this.showUserManagementModal) true)}} data-test-plan-show-user-management-modal='true'>
        User management
      </button>
      <Dialogs::UserManagementModal
        @isOpen={{this.showUserManagementModal}}
        @onClose={{fn (mut this.showUserManagementModal) false}}
        @context={{this.account}}
      />
    {{/if}}
    <br />
    <hr />
  {{/if}}
  {{#if (and this.subscription.hasCredits)}}
    <Billing::CreditBalance @subscription={{this.subscription}} @account={{this.account}}/>
  {{/if}}
{{/if}}
