<div class='billing-subscription-section plan-overview'>
  <div class="flex flex--space-between flex--wrap plan-overview__details">
    <section>
      <h3 class='plan-overview__header'> Overview </h3>
      <div class='plan'>
        <div>
          <BillingSummaryStatus @subscription={{this.subscription}}/>
          <p class='plan-overview__description' data-test-plan-concurrency>
            {{#if this.subscription.plan}}
              {{pluralize this.subscription.plan.builds "concurrent job"}}
            {{else}}
              Unknown concurrent jobs
            {{/if}}
            {{#if (and this.subscription.isManual (not this.subscription.manualSubscriptionExpired))}}
              <span class='plan-overview__description--validity dark-red display mt-4' data-test-plan-message='true'>
                Renews on {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
              </span>
            {{else}}
              <span data-test-plan-message='true' class='plan-overview__description--validity ml-3
                {{if (or this.subscription.manualSubscriptionExpired this.canceledOrExpired) 'dark-red' 'cement-grey'}}'
              >
                {{this.planMessage}} 
                {{#if (and this.isComplete this.isNotPending)}}
                  {{#if this.isCanceled}}
                    {{moment-from-now this.subscription.validTo}} on {{moment-format this.subscription.validTo "MMMM DD"}}
                  {{else}}
                    {{moment-format this.subscription.validTo "MMMM D, YYYY"}}
                  {{/if}}
                {{/if}}
              </span>
            {{/if}}
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class='selected-plan__price'>
        <p class='selected-plan__price--total' data-test-plan-total='true'>
          Total:
        </p>
        {{#if this.subscription.plan }}
          <p class='selected-plan__price--large' data-test-price>
            {{format-currency this.subscription.plan.price floor='true'}}
          </p>
          <span data-test-selected-plan-period='true' class='selected-plan__period'>
            {{if this.subscription.plan.annual '/year' '/month'}}
          </span>
        {{/if}}
      </div>
    </section>
  </div>
  {{#if (and (not this.subscription.isStripe) this.subscription.activeManagedSubscription)}}
    <ManageSubscriptionButton
      @subscription={{this.subscription}}
      @account={{this.account}}
    />
  {{else}}
    <Billing::Authorization 
      @subscription={{this.subscription}} 
      @account={{this.account}}
      @isPending={{this.isPending}}
      @isComplete={{this.isComplete}}
    />
  {{/if}}
</div>
<hr />
{{#if this.showBillingInfo}}
  <Billing::Address @subscription={{this.subscription}} @account={{this.account}}/>
  <Billing::PaymentDetails @subscription={{this.subscription}} @account={{this.account}}//>
  <hr />
{{/if}}
