{{#if (not this.trial)}}
  {{#if (not this.hasNoSubscriptionPermissions)}}
    <Billing::Process
      @account={{this.account}}
      @subscription={{this.newSubscription}}
      @selectedPlan={{this.selectedPlan}}
      @showPlansSelector={{true}}
      @isProcessCompleted={{this.isProcessCompleted}}
    />
  {{else}}
    <p data-test-no-permission-message>
      You don't have permission to create a subscription
    </p>
  {{/if}}
{{else}}
<div class="billing-trial">
  <span class="notice-banner--white flex flex--v-center" data-test-help-text='true'>
    <div>
      <SvgImage @name='icon-help' @class='icon-help' />
    </div>
    <span class="pl-3">
      Open source builds are always free. If you'd like more concurrency, start a trial or subscribe to a plan.
    </span>
  </span>
  <div class="initial-billing-view">
    <div class="overview">
      <div class="overview__heading">
        <h3 data-test-overview-heading='true'>Overview</h3>
      </div>
      <div class="flex flex--v-center flex--col flex-md-row overview__body">
        <div class="get-started">
          {{#if this.trial.hasActiveTrial}}
            {{#if (eq this.trial.buildsRemaining 100)}}
              <p class="get-started__message color-asphalt-grey" data-test-trial-message='true'>
                Your trial is active!
              </p>
              <p class="get-started__start-trial color-asphalt-grey" data-test-trial-subtext='true'>
                Start building by triggering a build on
                <LinkTo @route="dashboard" class="get-started-link">
                  your dashboard
                </LinkTo>
                or head over to our docs for
                <ExternalLinkTo
                  @href={{config-get "urls.gettingStarted"}}
                  class="get-started-link"
                >
                  information on running your first build
                </ExternalLinkTo>.
              </p>
            {{else}}
              <p class="get-started__message {{if this.isBuildLessThanEleven 'red' 'color-asphalt-grey'}}" data-test-trial-message='true'>
                You have {{pluralize this.trial.buildsRemaining "trial build"}} left
              </p>
              <p class="get-started__start-trial color-asphalt-grey" data-test-trial-subtext='true'>
                The trial includes 2 concurrent jobs for both public and private projects.
              </p>
            {{/if}}
          {{else if this.trial}}
            <p class="source plan-status-message color-asphalt-grey"  data-test-trial-subtext='true'>
              Your trial has just ended.<br />
              To get the most out of Travis CI, set up a plan below!
            </p>
          {{/if}}
        </div>
        <div class="icon-wrapper flex flex--v-center">
          {{svg-jar "icon-plus" class="icon icon-wrapper__plus"}}
        </div>
        <div class="billing-trial-info" data-test-open-source-box='true'>
          <div class="billing-trial-info__box">
            <p class="billing-trial-info__box--open-source" data-test-open-source-header='true'>5 concurrent jobs, free!</p>
            <p class="billing-trial-info__box--jobs" data-test-open-source-jobs='true'>
              We &lt;3 open source! You will always get 3 free additional concurrent jobs for your open source projects.
            </p>
          </div>
        </div>
      </div>
      {{#if this.showBuildRunningOutBanner}}
        <Notification
          @type='global'
          @severity='warning'
          data-test-trial-running-out='true'
        >
          Your trial is almost finished. Subscribe to a plan before your free builds run out!
        </Notification>
      {{else if this.isBuildFinished}}

        <Notification
          @type='global'
          @severity='error'
          data-test-trial-ran-out='true'
        >
          Your trial has ended. Subscribe to a plan to continue building your project!
        </Notification>
      {{/if}}
    </div>
    <hr />
  </div>
</div>
<Billing::Process
  @account={{this.account}}
  @subscription={{this.newSubscription}}
  @selectedPlan={{this.selectedPlan}}
  @showPlansSelector={{true}}
  @isProcessCompleted={{this.isProcessCompleted}}
/>
{{/if}}
