{{#if builds.isLoaded}}
  <table id="builds" class="list">
    <thead>
      <tr>
        <th>{{t builds.name}}</th>
        <th>{{t builds.commit}}</th>
        <th>{{t builds.message}}</th>
        <th>{{t builds.duration}}</th>
        <th>{{t builds.finished_at}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each build in builds}}
        {{#view Travis.BuildsItemView contextBinding="build"}}
          <tr {{bindAttr class="view.color"}}>
            <td class="number">
              <span class="status"></span>
              {{#if id}}
                <a {{action showBuild this href=true}}>
                  {{number}}
                </a>
              {{/if}}
            </td>
            <td class="commit">
              <a {{bindAttr href="view.urlGithubCommit"}}>
                {{formatCommit commit}}
              </a>
            </td>
            <td class="message">
              {{{formatMessage commit.message short="true"}}}
            </td>
            <td class="duration" {{bindAttr title="duration"}}>
              {{formatDuration duration}}
            </td>
            <td class="finished_at timeago" {{bindAttr title="finishedAt"}}>
              {{formatTime finishedAt}}
            </td>
          </tr>
        {{/view}}
      {{/each}}
    </tbody>
  </table>
  <p>
    <button {{action showMore on="click" target="this" isVisibleBinding="hasMore"}}>
      {{t builds.show_more}}
    </button>
  </p>
{{else}}
  <div class="loading"><span>Loading</span></div>
{{/if}}
