{{#with view}}
  {{#if build.isLoaded}}
    <div id="build" {{bindAttr class="color"}}>
      <dl id="summary">
        <div class="left">
          <dt>{{t builds.name}}</dt>
          <dd class="number">
            <a {{bindAttr href="urlBuild"}} {{action route}}>
              <span class="status"></span>
              {{build.number}}
            </a>
          </dd>
          <dt class="finished_at_label">{{t builds.finished_at}}</dt>
          <dd class="finished_at timeago" {{bindAttr title="finishedAt"}}>{{formatTime build.finishedAt}}</dd>
          <dt>{{t builds.duration}}</dt>
          <dd class="duration" {{bindAttr title="startedAt"}}>{{formatDuration build.duration}}</dd>
        </div>

        <div class="right">
          <dt>{{t builds.commit}}</dt>
          <dd class="commit"><a {{bindAttr href="urlGithubCommit"}}>{{formatCommit build.commit}}</a></dd>
          {{#if commit.compareUrl}}
            <dt>{{t builds.compare}}</dt>
            <dd class="compare"><a {{bindAttr href="commit.compareUrl"}}>{{pathFrom build.commit.compareUrl}}</a></dd>
          {{/if}}
          {{#if commit.authorName}}
            <dt>{{t builds.author}}</dt>
            <dd class="author"><a {{bindAttr href="urlAuthor"}}>{{build.commit.authorName}}</a></dd>
          {{/if}}
          {{#if commit.committerName}}
            <dt>{{t builds.committer}}</dt>
            <dd class="committer"><a {{bindAttr href="urlCommitter"}}>{{build.commit.committerName}}</a></dd>
          {{/if}}
        </div>

        <dt>{{t builds.message}}</dt>
        <dd class="message">{{{formatMessage build.commit.message}}}</dd>

        {{#unless isMatrix}}
          <dt>{{t builds.config}}</dt>
          <dd class="config">{{formatConfig build.config}}</dd>
        {{/unless}}
      </dl>

      {{#if build.isMatrix}}
        {{view Travis.JobsView jobsBinding="build.requiredJobs" required="true"}}
        {{view Travis.JobsView jobsBinding="build.allowedFailureJobs"}}
      {{else}}
        {{view Travis.LogView contextBinding="build.jobs.firstObject"}}
      {{/if}}
    </div>
  {{else}}
    <div id="build" class="loading">
      <span>Loading</span>
    </div>
  {{/if}}
{{/with}}
