<div class="user-plugins" id="user-plugins">
  <section class="user-plugins__content">
    {{#basic-dropdown as |dd|}}
      {{#dd.trigger class='modal-field active-probe-filter browser-default plugin-input-filter dropdown-trigger'}}
        <span id="active-plugin-text">{{this.pluginsFilterLabel}}</span>
      {{/dd.trigger}}

      {{#dd.content class='dropdown-content'}}
        <li>
          <a {{on 'click' (action 'setFilter' 'all' dd)}} class='{{if (eq this.pluginsFilter 'all') 'dropdown-selected'}} dropdown-list-elements' id="all-plugins">All Plugins</a>
        </li>
        <li>
          <a {{on 'click' (action 'setFilter' 'active' dd)}} class='{{if (eq this.pluginsFilter 'active') 'dropdown-selected'}} active-plugins dropdown-list-elements'>Active Plugins</a>
        </li>
        <li>
          <a {{on 'click' (action 'setFilter' 'inactive' dd)}} class='{{if (eq this.pluginsFilter 'inactive') 'dropdown-selected'}} inactive-plugins dropdown-list-elements'>Inactive Plugins</a>
        </li>
      {{/dd.content}}
    {{/basic-dropdown}}
    <Insights::PluginsList
      @plugins={{this.plugins}}
    />
  </section>
</div>

