<div class='migrate-beta-dialog'>

  <div class='migrate-beta-dialog__image'>
    {{svg-jar 'migrate-beta' width='311px'}}
  </div>

  <h3 class='h3--teal align-center'>
    Register for the beta
  </h3>

  <p>
    Migrate all of your public repositories to travis-ci.com
  </p>

  <p>
    Your account will be registered automatically once you apply. Also you can add any organizations.
  </p>

  <p>
    {{#travis-form as |form| }}
      {{#form.field
        label='Add Organizations'
        value=selectedOptions
        multiple=true
        onChange=(action 'selectOptions')
        data-test-migrate-accounts-select=true
        as |field|
      }}
        {{#field.select
          placeholder='Search organizations'
          options=selectableOptions
          searchField='title'
          onkeydown=(action 'preventErase')
          as |option|
        }}
          <div
            class='migrate-beta-dialog__option'
            data-state={{option.state}}
            data-test-account-option=true
          >
            {{option.title}}
          </div>
        {{/field.select}}
      {{/form.field}}
    {{/travis-form}}
  </p>

  <p class='subtle'>
    We’ll email you and update your organization page once you can start migrating.
  </p>

  <div class='modal-controls'>
    <button
      class='button--blue {{if register.isRunning 'disabled'}}'
      disabled={{register.isRunning}}
      onclick={{perform register}}
      data-test-migrate-submit="true"
    >
      {{#if register.isRunning }}
        {{loading-indicator white=true inline=true }} Joining...
      {{else}}
        Join the waitlist
      {{/if}}
    </button>
  </div>

  <button
    type="button"
    title="Close modal"
    class="modal-close pointer"
    onclick={{action 'onClose'}}
  >
    {{svg-jar 'icon-failed' class="icon"}}
  </button>

</div>
