<div id="actions" class="repo-main-tools">

  {{#if view.displayCancelBuild}}
      <a href="#" {{action "cancelBuild" target=view}} class="button-circle"
        {{bind-attr class="view.canCancelBuild::disabled"}} title="Cancel Build">
        <span class="icon icon--cancel"></span>
      </a>
  {{/if}}
  {{#if view.displayCancelJob}}
      <a href="#" {{action "cancelJob" target=view}} class="button-circle"
        {{bind-attr class="view.canCancelJob::disabled"}} title="Cancel Job">
        <span class="icon icon--cancel"></span>
      </a>
  {{/if}}
  {{#if view.displayRequeueBuild}}
      {{#if view.requeueing}}
        <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
      {{else}}
        <a href="#" {{action "requeueBuild" target=view}} class="button-circle"
          {{bind-attr class="view.canRequeueBuild::disabled"}} title="Restart Build">
          <span class="icon icon--trigger">
        </a>
      {{/if}}
  {{/if}}
  {{#if view.displayRequeueJob}}
      {{#if view.requeueing}}
        <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
      {{else}}
        <a href="#" {{action "requeueJob" target=view}} class="button-circle"
          {{bind-attr class="view.canRequeueJob::disabled"}} title="Restart Job">
          <span class="icon icon--trigger">
        </a>
      {{/if}}
  {{/if}}
  {{#if view.displayCodeClimate}}
      <a href="#" name="code-climate"
        {{action "codeClimatePopup" target=view}} class="button-circle open-popup"
        {{bind-attr class=":open-popup"}} title="Test Coverage with Code Climate">
        <span class="icon icon--codeclimate"></span>
      </a>
  {{/if}}

</div>


<div id="remove-log-popup" class="popup">
  <a href="#" class="close" {{action "popupClose" target=view}}></a>
  <p><strong>This action will remove the log permanently!</strong></p>
  <p>Do you want to continue?</p>
  <p>
    <a class="sync_now button" {{action "removeLog" target="view"}}>Yes, please!</a>
    <span class="or">or</span>
    <a href="#" class="cancel" {{action "popupClose" target=view}}>Cancel</a>
  </p>
</div>
