<div id="actions">
  <ul>
    {{#if view.displayCancelBuild}}
      <li class="icon cancel-build" title="Cancel Build">
        <a href="#" {{action "cancelBuild" target=view}}
          {{bind-attr class="view.canCancelBuild::disabled"}}></a>
      </li>
    {{/if}}
    {{#if view.displayCancelJob}}
      <li class="icon cancel-job" title="Cancel Job">
        <a href="#" {{action "cancelJob" target=view}}
          {{bind-attr class="view.canCancelJob::disabled"}}></a>
      </li>
    {{/if}}
    {{#if view.displayRequeueBuild}}
      <li class="icon restart-build" title="Restart Build">
        {{#if view.requeueing}}
          <span class="icon loading"></span>
        {{else}}
          <a href="#" {{action "requeueBuild" target=view}}
            {{bind-attr class="view.canRequeueBuild::disabled"}}></a>
        {{/if}}
      </li>
    {{/if}}
    {{#if view.displayRequeueJob}}
      <li class="icon restart-job" title="Restart Job">
        {{#if view.requeueing}}
          <span class="icon loading"></span>
        {{else}}
          <a href="#" {{action "requeueJob" target=view}}
            {{bind-attr class="view.canRequeueJob::disabled"}}></a>
        {{/if}}
      </li>
    {{/if}}
    {{#if view.displayCodeClimate}}
      <li class="icon code-climate" title="Test Coverage with Code Climate">
        <a href="#" name="code-climate"
          {{action "codeClimatePopup" target=view}}
          {{bind-attr class=":open-popup"}}></a>
      </li>
    {{/if}}

  </ul>
</div>

<div id="remove-log-popup" class="popup">
  <a href="#" class="close" {{action "popupClose" target=view}}></a>
  <p><strong>This action will remove the log permanently!</strong></p>
  <p>Do you want to continue?</p>
  <p>
    <a class="sync_now button" {{action "removeLog" target="view"}}>Yes, please!</a>
    <span class="or">or</span>
    <a href="#" class="cancel" {{action "popupClose" target=view}}>Cancel</a>
  </p>
</div>
