<div class="dropdown dropdown--classic" id="tools">
  <a href="#" {{action "menu" target=view}} class="menu-popup-button dropdown-button btn" type=""><span class="icon icon-cog-light"></span> Settings <span class="icon icon-arrow-down"></span></a>
  <ul class="dropdown-menu menu">
    {{#if view.displaySettingsLink}}
      <li>
        {{#link-to "settings" view.repo}}Settings{{/link-to}}
      </li>
    {{/if}}
    <li>
      {{#link-to "requests" view.repo}}Requests{{/link-to}}
    </li>
    {{#if view.displayCachesLink}}
      <li>
        {{#link-to "caches" view.repo}}Caches{{/link-to}}
      </li>
    {{/if}}
  </ul>
</div>

<div id="regenerate-key" class="popup">
  <a href="#" class="close" {{action "popupClose" target=view}}></a>
  <p>
    Do you really want to regenerate ssl keys for this repository? Please note that
    any data, which is encrypted, such as notification services credentials or secure
    environment variables will not be accessible during the builds until you re-encrypt
    it with the new key.
  </p>

  <p>
    <a class="sync_now button" {{action "regenerateKey" target=view}}>Yes, do it!</a>
    <span class="or">or</span>
    <a href="#" class="cancel" {{action "popupClose" target=view}}>Cancel</a>
  </p>
</div>

<div id="regeneration-success" class="popup">
  <a href="#" class="close" {{action "popupClose" target=view}}></a>
  <p>
    Key for this repository has been regenerated. If you used previous key
    for encryption, you will need encrypt your data again with the new key.
  </p>

  <p>
    You can read more about encryption keys <a href="http://about.travis-ci.org/docs/user/encryption-keys/">in Travis documentation</a>
  </p>
</div>
