<div class="tabnav tabnav--sidebar" role="tablist">
  <ul class="tab tabs--sidebar">
    <li id="tab_owned" {{bind-attr class="view.classOwned"}}>
      <a href="#" {{action "showMyRepositories"}}>My Repositories</a>
    </li>

    {{#unless config.pro}}
      {{!-- <li id="tab_recent" {{bind-attr class="view.classRecent"}}>
        {{#link-to "main.recent"}}Recent{{/link-to}}
      </li> --}}

      <li id="tab_running" {{bind-attr class="view.classRunning"}}>
        <a href="#" {{action "showRunningJobs"}}>Running</a>
      </li>
    {{/unless}}

    <li id="tab_new" {{bind-attr class="view.classNew :float-right"}}>
      {{#link-to "profile" trackEvent="add-repository-from-list" title="Add New Repository"}}
        <span class="icon icon--plus"></span>
      {{/link-to}}
    </li>
  </ul>
</div>
