<section
  data-test-dashboard-active-repositories
  class="dashboard-section dashboard-active"
>
  <ul class="repo-list">
    {{#each this.filteredRepos as |repo|}}
      <DashboardRow
        @repo={{repo}}
        @star={{this.dashboardController.star}}
        @unstar={{this.dashboardController.unstar}}
      />
    {{else}}
      <NoRepos />
    {{/each}}
  </ul>
  <PaginationNavigation
    data-test-components-pagination-navigation="true"
    @collection={{this.model.repos}}
    @route="dashboard.repositories"
  />
</section>
