<div class="inner">
<!--  <div class="dashboard-header">
    {{orgs-filter orgs=model.accounts selected=selectedOrg action="selectOrg"}}
    {{sync-button}}
  </div> -->

  <div class="dashboard-repos">
    <section class="dashboard-section dashboard-starred">
      <h2 class="small-title">Starred repositories</h2>
      <ul class="repo-list">
      {{#each starredRepos as |repo|}}
        {{dashboard-row repo=repo unstar=unstar}}
      {{else}}
        <div class="starred-empty">
          {{inline-svg 'icon-star' class="icon--big"}} You can keep track of your favorite repositories here once you start starring!
        </div>
      {{/each}}
      </ul>
    </section>

    <section class="dashboard-section dashboard-active">
      <h2 class="small-title">All active repositories</h2>
      <ul class="repo-list">
        {{#each filteredRepos as |repo|}}
          {{dashboard-row repo=repo star=star unstar=unstar}}
        {{else}}
          {{no-repos}}
        {{/each}}
      </ul>
    </section>

    <!-- <section class="dashboard-section dashboard-inactive">
      <h2 class="small-title">Inactive repositories</h2>
      <ul class="repo-list">
      </ul>
    </section> -->
  </div>
</div>
