{{!FIXME this is double-wrapped}}

<div class="dashboard-repos">
  <section data-test-dashboard-active-repositories class="dashboard-section dashboard-active">
    <header class='tabs'>
      <h2 class='small-title'>Active repositories</h2>
      <h2 class='small-title'>{{link-to 'My builds' 'dashboard.my-builds' data-test-my-builds-tab}}</h2>
    </header>

    <ul class="repo-list">
      {{#each filteredRepos as |repo idx|}}
        {{dashboard-row repo=repo idx=idx star=star unstar=unstar}}
      {{else}}
        {{no-repos}}
      {{/each}}
    </ul>

    {{pagination-navigation data-test-components-pagination-navigation collection=model.repos route="dashboard.repositories"}}
  </section>
</div>
