<div class="dashboard-repos">
  <section data-test-dashboard-starred-repositories class="dashboard-section dashboard-starred">
    <h2 class="small-title">Starred repositories</h2>
    <ul class="repo-list">
      {{#each starredRepos as |repo idx|}}
        {{dashboard-row repo=repo idx=idx star=star unstar=unstar}}
      {{else}}
        <div class="starred-empty">
          {{svg-jar 'icon-star' class="icon--m"}} You can keep track of your favorite repositories here once you start starring!
        </div>
      {{/each}}
    </ul>
  </section>

  <section data-test-dashboard-active-repositories class="dashboard-section dashboard-active">
    <header class='tabs'>
      <h2 class="small-title">All active repositories</h2>
      <h2 class='small-title'>{{link-to 'My builds' 'dashboard.my-builds' data-test-my-builds-tab}}</h2>
    </header>

    <ul class="repo-list">
      {{#each filteredRepos as |repo idx|}}
        {{dashboard-row repo=repo idx=idx star=star unstar=unstar}}
      {{else}}
        {{no-repos}}
      {{/each}}
    </ul>

    {{pagination-navigation data-test-components-pagination-navigation collection=model.repos route="dashboard.repositories"}}
  </section>
</div>
