<section
  data-test-dashboard-active-repositories
  class="dashboard-section dashboard-active"
>
  <ul class="repo-list">
    {{#each filteredRepos as |repo|}}
      <DashboardRow
        @repo={{repo}}
        @star={{dashboardController.star}}
        @unstar={{dashboardController.unstar}}
      />
    {{else}}
      <NoRepos />
    {{/each}}
  </ul>
  <PaginationNavigation
    data-test-components-pagination-navigation
    @collection={{model.repos}}
    @route="dashboard.repositories"
  />
</section>