<div id="filters" class="dashboard-filter">
  <div class="row">
      {{orgs-filter orgs=orgs selected=selectedOrg action="selectOrg"}}
    <div class="float-right">
      {{sync-button user=auth.currentUser}}
    </div>
  </div>
</div>

<div class="dashboard centered">
  {{!-- <section class="dashboard-starred">
    <div class="row">
      <div class="dashboard--empty">
        <p><span class="icon icon-star"></span>Want to keep an eye on certain projects? Star repositories below to add them in this section.</p>
      </div>
    </div>
  </section> --}}

  <ul class="dashboard-active">
    {{#each repo in filteredRepositories}}
      {{dashboard-row repo=repo}}
    {{else}}
      {{no-repos}}
    {{/each}}
  </ul>
  {{!-- <hr> --}}

  <ul class="dashboard-inactive">
  </ul>
</div>
