<div id="filters" class="section section--white section--maxheight">
  <div class="row">
      {{orgs-filter orgs=orgs selected=selectedOrg action="selectOrg"}}
    <div class="float-right">
      {{sync-button user=auth.currentUser}}
    </div>
  </div>
</div>

<div class="dashboard">
  <section class="dashboard-starred">
    <div class="row">
      <div class="dashboard--empty">
        <p><span class="icon icon-star"></span>Want to keep an eye on certain projects? Star repositories below to add them in this section.</p>
      </div>
    </div>
  </section>

  <section class="dashboard-active">

    {{#each repo in filteredRepositories}}
      <div {{bind-attr class=":db :row repo.last_build.state"}}>
        {{#if repo.private }}
          <div class="db-lock"><span class="icon icon-lock"></span></div>
        {{/if}}
        <div class="db-status">
          <span {{bind-attr class=":icon :icon-status repo.last_build.state"}}></span>
          <span class="icon icon-star"></span>
        </div>
        <div class="db-repo column medium-3 small-12">
          <h3>{{repo.owner.login}}</h3>
          <h2>{{#link-to "repo" repo.owner.login repo.name}}{{repo.name}}{{/link-to}}</h2>
        </div>
        <div class="db-controls column medium-9 small-12 end">
          <p class="db-job column medium-3 small-6"><span class="icon icon-hash"></span>
            {{#link-to "build" repo.owner.login repo.name repo.last_build.id}}
              {{repo.last_build.number}} {{repo.last_build.state}}
            {{/link-to}}</p>
          <p class="db-branch column medium-3 small-6"><span class="icon icon-branch"></span>master</p>
          <p class="db-commit column medium-3 small-6"><span class="icon icon-github"></span>394348a</p>
          <p class="db-timeago column medium-3 small-6"><span class="icon icon-cal"></span>{{format-time repo.last_build.finished_at}}</p>
        </div>
        <div class="db-burger">
          <span class="icon icon-burger"></span>
        </div>
        <ul class="dropdown--db">
          <li><a href="#" title="">Deactivate repository</a></li>
          <li><a href="#" title="">Trigger a build</a></li>
        </ul>
      </div>
    {{/each}}
  </section>
  <hr>

  <section class="dashboard-inactive">
  </section>
</div>
