<section class="dashboard-section dashboard-active">
  <ul class="repo-list">
    {{#each model.runningJobs as |job|}}
      <li>
        {{job.state}}
        {{job.number}}
        {{job.startedAt}}
        {{job.repo.slug}}
      </li>
    {{else}}
      <li>No active repos found</li>
    {{/each}}
  </ul>
</section>
