<div id="actions">
  <ul>
    {{#if view.displayStatusImages}}
    <li id="status-image-popup">
      <a href="#" name="status-images" class="open-popup" {{action "statusImages" target="view"}} style="margin-top: 0px;">
        <img {{bindAttr src="view.statusImageUrl"}} title="Build Status Images"/>
      </a>
    </li>
    {{/if}}
    {{#if view.displayCancelBuild}}
      <li class="icon">
        <a href="#" {{action "cancelBuild" target="view"}}
          {{bindAttr class="view.canCancelBuild::disabled"}}><img class="icon" src="/images/icons/off.png" width="20" title="Cancel Build"></a>
      </li>
    {{/if}}
    {{#if view.displayCancelJob}}
      <li class="icon">
        <a href="#" {{action "cancelJob" target="view"}}
          {{bindAttr class="view.canCancelJob::disabled"}}><img class="icon" width="20" src="/images/icons/off.png" title="Cancel Job"/></a>
      </li>
    {{/if}}
    {{#if view.displayRequeueBuild}}
      <li class="icon">
        <a href="#" {{action "requeueBuild" target="view"}}
          {{bindAttr class="view.canRequeueBuild::disabled"}}><img class="icon" src="/images/icons/repeat.png" width="20"
          title="Restart Build"></a>
      </li>
    {{/if}}
    {{#if view.displayRequeueJob}}
      <li class="icon">
        <a href="#" {{action "requeueJob" target="view"}}
          {{bindAttr class="view.canRequeueJob::disabled"}}><img src="/images/icons/repeat.png" width="20" title="Restart Job"></a>
      </li>
    {{/if}}
    {{!TODO: for some reason showDownloadLog, which just delegates to jobIdForLog
             does not refresh 'if' properly, need further investigation}}
    {{#if view.jobIdForLog}}
      <li class="icon">
        <a class="download-log" {{bindAttr href="view.plainTextLogUrl"}}><img class="icon" src="/images/icons/align-justify.png" width="20" title="Download Log"/></a>
      </li>
    {{/if}}
    {{#if view.displayCodeClimate}}
      <li class="icon">
        <a href="#" name="code-climate"
          {{action "codeClimatePopup" target="view"}}
          {{bindAttr class=":open-popup"}}>
          <img src="/images/icons/code-climate-icon.png" title="Test Coverage with Code Climate"/>
        </a>
      </li>
    {{/if}}

  </ul>
</div>
