<div id="actions">
  <ul>
    {{#if view.displayRemoveLog}}
      <li class="icon" title="Remove Log">
        <a href="#" {{action "removeLog" target="view"}}
          {{bind-attr class="view.canRemoveLog::disabled"}}><img class="icon" src="/images/icons/off.svg" width="20"></a>
      </li>
    {{/if}}
    {{#if view.displayCancelBuild}}
      <li class="icon" title="Cancel Build">
        <a href="#" {{action "cancelBuild" target="view"}}
          {{bind-attr class="view.canCancelBuild::disabled"}}><img class="icon" src="/images/icons/off.svg" width="20"></a>
      </li>
    {{/if}}
    {{#if view.displayCancelJob}}
      <li class="icon" title="Cancel Job">
        <a href="#" {{action "cancelJob" target="view"}}
          {{bind-attr class="view.canCancelJob::disabled"}}><img class="icon" width="20" src="/images/icons/off.svg"/></a>
      </li>
    {{/if}}
    {{#if view.displayRequeueBuild}}
      <li class="icon" title="Restart Build">
        {{#if view.requeueing}}
          <span class="icon loading"></span>
        {{else}}
          <a href="#" {{action "requeueBuild" target="view"}}
            {{bind-attr class="view.canRequeueBuild::disabled"}}><img class="icon" src="/images/icons/repeat.svg" width="20"></a>
        {{/if}}
      </li>
    {{/if}}
    {{#if view.displayRequeueJob}}
      <li class="icon" title="Restart Job">
        {{#if view.requeueing}}
          <span class="icon loading"></span>
        {{else}}
          <a href="#" {{action "requeueJob" target="view"}}
            {{bind-attr class="view.canRequeueJob::disabled"}}><img src="/images/icons/repeat.svg" width="20"></a>
        {{/if}}
      </li>
    {{/if}}
    {{!TODO: for some reason showDownloadLog, which just delegates to jobIdForLog
             does not refresh 'if' properly, need further investigation}}
    {{#if view.jobIdForLog}}
      <li class="icon" title="Download Log">
        <a class="download-log" {{bind-attr href="view.plainTextLogUrl"}}><img class="icon" src="/images/icons/logs.svg" width="20"/></a>
      </li>
    {{/if}}
    {{#if view.displayCodeClimate}}
      <li class="icon" title="Test Coverage with Code Climate">
        <a href="#" name="code-climate"
          {{action "codeClimatePopup" target="view"}}
          {{bind-attr class=":open-popup"}}>
          <img src="/images/icons/code-climate-icon.svg"/>
        </a>
      </li>
    {{/if}}

  </ul>
</div>
