<div id="actions">
  <ul>
    {{#if view.displayCancelBuild}}
      <li class="icon cancel-build" title="Cancel Build">
        <a href="#" {{action "cancelBuild" target="view"}}
          {{bind-attr class="view.canCancelBuild::disabled"}}></a>
      </li>
    {{/if}}
    {{#if view.displayCancelJob}}
      <li class="icon cancel-job" title="Cancel Job">
        <a href="#" {{action "cancelJob" target="view"}}
          {{bind-attr class="view.canCancelJob::disabled"}}></a>
      </li>
    {{/if}}
    {{#if view.displayRequeueBuild}}
      <li class="icon restart-build" title="Restart Build">
        {{#if view.requeueing}}
          <span class="icon loading"></span>
        {{else}}
          <a href="#" {{action "requeueBuild" target="view"}}
            {{bind-attr class="view.canRequeueBuild::disabled"}}></a>
        {{/if}}
      </li>
    {{/if}}
    {{#if view.displayRequeueJob}}
      <li class="icon restart-job" title="Restart Job">
        {{#if view.requeueing}}
          <span class="icon loading"></span>
        {{else}}
          <a href="#" {{action "requeueJob" target="view"}}
            {{bind-attr class="view.canRequeueJob::disabled"}}></a>
        {{/if}}
      </li>
    {{/if}}
    {{!TODO: for some reason showDownloadLog, which just delegates to jobIdForLog
             does not refresh 'if' properly, need further investigation}}
    {{#if view.jobIdForLog}}
      <li class="icon download-log" title="Download Log">
        <a class="download-log" {{bind-attr href="view.plainTextLogUrl"}}></a>
      </li>
       <!-- {{#if view.displayRemoveLog}}
        <li class="icon remove-log" title="Remove Log">
          <a href="#" {{action "removeLog" target="view"}}
            {{bind-attr class="view.canRemoveLog::disabled"}}></a>
        </li>
      {{/if}} -->
    {{/if}}
    {{#if view.displayCodeClimate}}
      <li class="icon code-climate" title="Test Coverage with Code Climate">
        <a href="#" name="code-climate"
          {{action "codeClimatePopup" target="view"}}
          {{bind-attr class=":open-popup"}}></a>
      </li>
    {{/if}}

  </ul>
</div>
