<ul class="github-stats">
  <!-- <li class="language">
    {{lastBuildLanguage}}
  </li> -->
  <li>
    <a class="watchers" title="Watchers" {{bindAttr href="view.urlGithubWatchers"}}>
      {{view.stats.watchers}}
    </a>
  </li>
  <li>
    <a class="forks" title="Forks" {{bindAttr href="view.urlGithubNetwork"}}>
      {{view.stats.forks}}
    </a>
  </li>
</ul>


