<ul class="tabs">
  <li id="tab_current" {{bindAttr class="view.classCurrent"}}>
    <h5>
      {{#if slug}}
        {{#linkTo "repo" this currentWhen="repo.index"}}
          {{t repositories.tabs.current}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_builds" {{bindAttr class="view.classBuilds"}}>
    <h5>
      {{#if slug}}
        {{#linkTo "builds" this}}
          {{t repositories.tabs.build_history}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_pull_requests" {{bindAttr class="view.classPullRequests"}}>
    <h5>
      {{#if slug}}
        {{#linkTo "pullRequests" this}}
          {{t repositories.tabs.pull_requests}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_branches" {{bindAttr class="view.classBranches"}}>
    <h5>
      {{#if view.repo.slug}}
      <a {{action showBranches view.repo href=true}}>
        {{t repositories.tabs.branches}}
      </a>
      {{/if}}
    </h5>
  </li>
  <li id="tab_build" {{bindAttr class="view.classBuild"}}>
    <h5>
      {{#with view.build}}
        {{#if id}}
          <a {{action showBuild repo this href=true}}>
            {{t repositories.tabs.build}} #{{number}}
          </a>
        {{/if}}
      {{/with}}
    </h5>
  </li>
  <li id="tab_job" {{bindAttr class="view.classJob"}}>
    <h5>
      {{#with view.job}}
        {{#if id}}
          <a {{action showJob repo this href=true}}>
            {{t repositories.tabs.job}} #{{number}}
          </a>
        {{/if}}
      {{/with}}
    </h5>
  </li>
</ul>
