<ul class="tabs">
  <li id="tab_current" {{bind-attr class="view.classCurrent"}}>
    <h5>
      {{#if repo.slug}}
        {{#link-to "repo" repo currentWhen="repo.index"}}
          Current
        {{/link-to}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_builds" {{bind-attr class="view.classBuilds"}}>
    <h5>
      {{#if repo.slug}}
        {{#link-to "builds" repo}}
          Build History
        {{/link-to}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_pull_requests" {{bind-attr class="view.classPullRequests"}}>
    <h5>
      {{#if repo.slug}}
        {{#link-to "pullRequests" repo}}
          Pull Requests
        {{/link-to}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_branches" {{bind-attr class="view.classBranches"}}>
    <h5>
      {{#if repo.slug}}
        {{#link-to "branches" repo}}
          Branch Summary
        {{/link-to}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_build" {{bind-attr class="view.classBuild"}}>
    <h5>
      {{#if build.id}}
        {{#if repo.slug}}
          {{#link-to "build" repo build}}
            Build #{{build.number}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_job" {{bind-attr class="view.classJob"}}>
    <h5>
      {{#if job.id}}
        {{#if repo.slug}}
          {{#link-to "job" repo job}}
            Job #{{job.number}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_requests" {{bind-attr class="view.classRequests"}}>
    <h5>
      {{#if repo.slug}}
        {{#link-to "requests" repo}}
          Requests
        {{/link-to}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_request" {{bind-attr class="view.classRequest"}}>
    <h5>
      {{#if request.id}}
        {{#if repo.slug}}
          {{#link-to "request" repo request}}
            Request #{{request.id}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    </h5>
  </li>
</ul>
