<ul class="tabs">
  <li id="tab_current" {{bindAttr class="view.classCurrent"}}>
    <h5>
      {{#if repo.slug}}
        {{#linkTo "repo" repo currentWhen="repo.index"}}
          {{t repositories.tabs.current}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_builds" {{bindAttr class="view.classBuilds"}}>
    <h5>
      {{#if repo.slug}}
        {{#linkTo "builds" repo}}
          {{t repositories.tabs.build_history}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_pull_requests" {{bindAttr class="view.classPullRequests"}}>
    <h5>
      {{#if repo.slug}}
        {{#linkTo "pullRequests" repo}}
          {{t repositories.tabs.pull_requests}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_branches" {{bindAttr class="view.classBranches"}}>
    <h5>
      {{#if repo.slug}}
        {{#linkTo "branches" repo}}
          {{t repositories.tabs.branches}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_build" {{bindAttr class="view.classBuild"}}>
    <h5>
      {{#if build.id}}
        {{#if repo.slug}}
          {{#linkTo "build" repo build}}
            {{t repositories.tabs.build}} #{{build.number}}
          {{/linkTo}}
        {{/if}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_job" {{bindAttr class="view.classJob"}}>
    <h5>
      {{#if job.id}}
        {{#if repo.slug}}
          {{#linkTo "job" repo job}}
            {{t repositories.tabs.job}} #{{job.number}}
          {{/linkTo}}
        {{/if}}
      {{/if}}
    </h5>
  </li>
</ul>
