<ul class="tabs">
  <li id="tab_current" {{bindAttr class="view.classCurrent"}}>
    <h5>
      {{#if view.repo.slug}}
      <a {{action showRepo view.repo href=true}}>
        {{t repositories.tabs.current}}
      </a>
      {{/if}}
    </h5>
  </li>
  <li id="tab_builds" {{bindAttr class="view.classBuilds"}}>
    <h5>
      {{#if view.repo.slug}}
      <a {{action showBuilds view.repo href=true}}>
        {{t repositories.tabs.build_history}}
      </a>
      {{/if}}
    </h5>
  </li>
  <li id="tab_pull_requests" {{bindAttr class="view.classPullRequests"}}>
    <h5>
      {{#if view.repo.slug}}
      <a {{action showPullRequests view.repo href=true}}>
        {{t repositories.tabs.pull_requests}}
      </a>
      {{/if}}
    </h5>
  </li>
  <li id="tab_branches" {{bindAttr class="view.classBranches"}}>
    <h5>
      {{#if view.repo.slug}}
      <a {{action showBranches view.repo href=true}}>
        {{t repositories.tabs.branches}}
      </a>
      {{/if}}
    </h5>
  </li>
  <li id="tab_build" {{bindAttr class="view.classBuild"}}>
    <h5>
      {{#with view.build}}
      <a {{action showBuild repo this href=true}}>
        {{t repositories.tabs.build}} #{{number}}
      </a>
      {{/with}}
    </h5>
  </li>
  <li id="tab_job" {{bindAttr class="view.classJob"}}>
    <h5>
      {{#with view.job}}
      <a {{action showJob repo this href=true}}>
        {{t repositories.tabs.job}} #{{number}}
      </a>
      {{/with}}
    </h5>
  </li>
</ul>
