<ul class="tabs">
  <li id="tab_current" {{bindAttr class="view.classCurrent"}}>
    <h5>
      {{#if slug}}
        {{#linkTo "repo" this currentWhen="repo.index"}}
          {{t repositories.tabs.current}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_builds" {{bindAttr class="view.classBuilds"}}>
    <h5>
      {{#if slug}}
        {{#linkTo "builds" this}}
          {{t repositories.tabs.build_history}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_pull_requests" {{bindAttr class="view.classPullRequests"}}>
    <h5>
      {{#if slug}}
        {{#linkTo "pullRequests" this}}
          {{t repositories.tabs.pull_requests}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_branches" {{bindAttr class="view.classBranches"}}>
    <h5>
      {{#if slug}}
        {{#linkTo "branches" this}}
          {{t repositories.tabs.branches}}
        {{/linkTo}}
      {{/if}}
    </h5>
  </li>
  <li id="tab_build" {{bindAttr class="view.classBuild"}}>
    <h5>
      {{#with view.build}}
        {{#if repo.slug}}
          {{#linkTo "build" repo this}}
            {{t repositories.tabs.build}} #{{number}}
          {{/linkTo}}
        {{/if}}
      {{/with}}
    </h5>
  </li>
  <li id="tab_job" {{bindAttr class="view.classJob"}}>
    <h5>
      {{#with view.job}}
        {{#if repo.slug}}
          {{#linkTo "job" repo this}}
            {{t repositories.tabs.job}} #{{number}}
          {{/linkTo}}
        {{/if}}
      {{/with}}
    </h5>
  </li>
</ul>
