<div id="tools">
  <a href="#" {{action menu target="view"}}></a>
  <ul class="menu">
    <li>
      <a href="#" name="status-images" class="open-popup" {{action statusImages target="view"}}>Status Images</a>
    </li>
    {{#if view.canRequeueBuild}}
      <li>
        <a href="#" {{action requeueBuild target="view"}}>Rebuild</a>
      </li>
    {{/if}}
    {{#if view.canRequeueJob}}
      <li>
        <a href="#" {{action requeueJob target="view"}}>Rebuild</a>
      </li>
    {{/if}}
  </ul>
</div>

<div id="status-images" class="popup">
  <a href="#" class="close" {{action popupClose target="view"}}></a>
  <p>
    <label>{{t repositories.branch}}:</label>
    {{#if view.branches.isLoaded}}
      {{view Ember.Select contentBinding="view.branches" selectionBinding="view.branch" optionLabelPath="content.commit.branch" optionValuePath="content.commit.branch"}}
    {{else}}
      <span class="loading"></span>
    {{/if}}
  </p>
  <p>
    <label>{{t repositories.image_url}}:</label>
    <input type="text" class="url" {{bindAttr value="view.urlStatusImage"}}></input>
  </p>
  <p>
    <label>{{t repositories.markdown}}:</label>
    <input type="text" class="markdown" {{bindAttr value="view.markdownStatusImage"}}></input>
  </p>
  <p>
    <label>{{t repositories.textile}}:</label>
    <input type="text" class="textile" {{bindAttr value="view.textileStatusImage"}}></input>
  </p>
  <p>
    <label>{{t repositories.rdoc}}:</label>
    <input type="text" class="rdoc" {{bindAttr value="view.rdocStatusImage"}}></input>
  </p>
</div>
