<div id="tools">
  <a href="#" {{action menu target="view"}}></a>
  <ul class="menu">
    <li>
      <a href="#" name="status-images" class="open-popup" {{action statusImages target="view"}}>Status Images</a>
    </li>
    {{#if view.canCancelBuild}}
      <li>
        <a href="#" {{action cancelBuild target="view"}}>Cancel Build</a>
      </li>
    {{/if}}
    {{#if view.canCancelJob}}
      <li>
        <a href="#" {{action cancelJob target="view"}}>Cancel Job</a>
      </li>
    {{/if}}
    {{#if view.canRequeueBuild}}
      <li>
        <a href="#" {{action requeueBuild target="view"}}>Rebuild</a>
      </li>
    {{/if}}
    {{#if view.canRequeueJob}}
      <li>
        <a href="#" {{action requeueJob target="view"}}>Rebuild</a>
      </li>
    {{/if}}
    {{#if view.canRegenerateKey}}
      <li>
        <a href="#" name="regenerate-key" class="open-popup" {{action regenerateKeyPopup target="view"}}>Regenerate Key</a>
      </li>
    {{/if}}
  </ul>
</div>

<div id="status-images" class="popup">
  <a href="#" class="close" {{action popupClose target="view"}}></a>
  <p>
    <label>{{t repositories.branch}}:</label>
    {{#if view.branches.isLoaded}}
      {{view Ember.Select contentBinding="view.branches" selectionBinding="view.branch" optionLabelPath="content.commit.branch" optionValuePath="content.commit.branch"}}
    {{else}}
      <span class="loading"></span>
    {{/if}}
  </p>
  <p>
    <label>{{t repositories.image_url}}:</label>
    <input type="text" class="url" {{bindAttr value="view.urlStatusImage"}}></input>
  </p>
  <p>
    <label>{{t repositories.markdown}}:</label>
    <input type="text" class="markdown" {{bindAttr value="view.markdownStatusImage"}}></input>
  </p>
  <p>
    <label>{{t repositories.textile}}:</label>
    <input type="text" class="textile" {{bindAttr value="view.textileStatusImage"}}></input>
  </p>
  <p>
    <label>{{t repositories.rdoc}}:</label>
    <input type="text" class="rdoc" {{bindAttr value="view.rdocStatusImage"}}></input>
  </p>
</div>

<div id="regenerate-key" class="popup">
  <a href="#" class="close" {{action popupClose target="view"}}></a>
  <p>
    Do you really want to regenerate ssl keys for this repository? Please note that
    any data, which is encrypted, such as notification services credentials or secure
    environment variables will not be accessible during the builds until you re-encrypt
    it with the new key.
  </p>

  <p>
    <a class="sync_now button" {{action regenerateKey target="view"}}>Yes! Do it!</a>
    <span class="or">or</span>
    <a href="#" class="cancel" {{action popupClose target="view"}}>Cancel</a>
  </p>
</div>

<div id="regeneration-success" class="popup">
  <a href="#" class="close" {{action popupClose target="view"}}></a>
  <p>
    Key for this repository has been regenerated. If you used previous key
    for encryption, you will need encrypt your data again with the new key.
  </p>

  <p>
    You can read more about encryption keys <a href="http://about.travis-ci.org/docs/user/encryption-keys/">in Travis documentation</a>
  </p>
</div>
