<div class="wrapper layout-striped {{if this.useTailwind 'tailwind-overrides'}}">
  <TopBar @isWhite={{this.isTopBarWhite}} />
  <FlashDisplay />
  <GlobalNotification @model={{this.model}} />
  <div id="main" class="main {{if this.isFlush 'main--flush'}}" role="main">
    {{yield (hash section=(component "layouts/striped-section"))}}
  </div>
</div>