<div data-test-active_on_org-display class="missing-notice">
  <SvgImage @name="hammer" @class="page-graphic snapshot-hide" />
  <h2 class="text-big">
    You can now start building this repository, right here at travis-ci.com!
  </h2>
  {{#if this.auth.signedIn}}
    <button
      disabled={{this.isMigrateButtonDisabled}}
      onclick={{action "migrate"}}
      class="button button--flex button--blue {{if isMigrateButtonDisabled 'disabled'}}"
    >
      {{#if this.repo.isMigrationInProgress}}
        Migrating...
      {{else if this.repo.isMigrationSucceeded}}
        Done!
      {{else}}
        Migrate <SvgImage @name="icon-migrate" @class="icon icon--m white icon--right" />
      {{/if}}
    </button>
    {{#if this.isMigrationNotAllowed}}
      <p>
        {{#if (not this.permissions.admin)}}
          Migration requires admin permissions.
        {{else if (not this.permissions.migrate)}}
          This repository cannot be migrated. Most likely migration feature is not enabled for your account.
        {{else}}
          This repository cannot be migrated yet.
        {{/if}}
      </p>
    {{/if}}
  {{else}}
    <button class="auth-button signed-out" type="button" onclick={{action "signIn"}}>
      Sign in with GitHub
    </button>
  {{/if}}
</div>
