{{#if selected}}
  {{#if yaml}}
    {{textarea value=yaml rows=20}}

    Event type: {{input value=eventType}}

    <button type='submit' {{action (perform fetch)}} class='button--white'>
      Submit {{#if fetch.isRunning}}{{loading-indicator}}{{/if}}
    </button>

    {{build-messages-list messagesRequest=build.request}}

    {{#if stages}}
      {{#each stages as |stage|}}
        {{jobs-list stage=stage build=build repo=selected.repo stages=stages}}
      {{/each}}
    {{/if}}
  {{else}}
    {{loading-indicator}}
  {{/if}}
{{else}}
  Click a request
{{/if}}

<ul>
  {{#each model as |request|}}
    <li onclick={{action 'chooseRequest' request}}>
      <span style='{{if (eq request selected) 'font-weight: bold'}}'>{{request.commit.sha}}</span>
      {{{format-message request.commit.message short="true" repo=build.repo}}}
    </li>
  {{/each}}
</ul>