{{#if selected}}
  {{#if yaml}}
    <YamlEditor @yaml={{yaml}} @messages={{build.request.messages}} />

    Event type: {{input value=eventType}}

    Commit message: {{input value=commitMessage}}

    <button type='submit' {{action (perform fetch)}} class='button--white'>
      Submit {{#if fetch.isRunning}}{{loading-indicator}}{{/if}}
    </button>

    {{build-messages-list messagesRequest=build.request}}

    {{#if stages}}
      {{#each stages as |stage|}}
        {{jobs-list stage=stage build=build repo=selected.repo stages=stages}}
      {{/each}}
    {{else}}
      {{jobs-list jobs=(reject-by 'allow_failure' build.jobs) repo=repo required="true"}}
      {{jobs-list jobs=(filter-by 'allow_failure' build.jobs) repo=repo}}
    {{/if}}
  {{else}}
    {{loading-indicator}}
  {{/if}}

  <hr>
{{else}}
  Click a request
{{/if}}

<ul class='requests'>
  {{#each model as |request|}}
    {{requests-item request=request highlightedRequestId=requestId click=(action 'chooseRequest' request)}}
  {{/each}}
</ul>