{{#if selected}}
  {{#if yaml}}
    <YamlEditor @yaml={{yaml}} @highlightedKey={{highlightedKey}} />

    {{!-- FIXME why the margin?? --}}
    <div class='yaml-editor-margin'>Event type:</div>
    {{input value=eventType}}

    Commit message: {{input value=commitMessage}}

    <button type='submit' {{action (perform fetch)}} class='button--white'>
      Submit {{#if fetch.isRunning}}{{loading-indicator}}{{/if}}
    </button>

    {{build-messages-list messagesRequest=build.request viewMessage=(action 'viewMessage')}}

    {{#if stages}}
      {{#each stages as |stage|}}
        {{jobs-list stage=stage build=build repo=selected.repo stages=stages}}
      {{/each}}
    {{/if}}
  {{else}}
    {{loading-indicator}}
  {{/if}}
{{else}}
  Click a request
{{/if}}

<ul class='requests'>
  {{#each model as |request|}}
    {{requests-item request=request highlightedRequestId=requestId click=(action 'chooseRequest' request)}}
  {{/each}}
</ul>