<form class="env-var" {{action "save" on="submit"}}>
  {{#travis-field "name"}}
    {{#label for="name" class="name"}}Name:{{/label}}
    {{input value=name class="env-name" placeholder="Name"}} {{travis-errors "name"}}
  {{/travis-field}}
  <span class="equals">=</span>
  {{#if showValueField}}
    <div class="field value">
      {{#label for="value" class="value"}}Value:{{/label}}
      {{input value=value class="env-value" placeholder="Value"}}
    </div>
  {{else}}
    <span class="value value-display secure">{{value}}</span>
  {{/if}}
  <div class="clear"></div>
  <div class="field">
    {{travis-switch active=public class="value"}}
    {{#label for="secure" class="public"}}Display value in build logs{{/label}}
  </div>

  <div class="actions">
    <input type="submit" {{bind-attr value=actionType class=":submit-env-var isSaving:saving" disabled=isSaving}} />
    <span class="or">or</span>
    <a href="#" class="cancel-env-var" {{action "cancel"}}>Cancel</a>
  </div>
</form>
