<div id="search_box">
  {{view Ember.TextField valueBinding="controller.search"}}
</div>

{{view Travis.ReposListTabsView}}

<div class="tab">
  {{#collection Travis.ReposListView contentBinding="controller"}}
    {{#with view.repo}}
      <div class="slug-and-status">
        <span class="status"></span>
        {{#if slug}}
          <a {{action showRepo this href=true}} class="slug">{{slug}}</a>
        {{/if}}
      </div>
      {{#if lastBuildId}}
        <a {{action showBuild this lastBuildId href=true}} class="last_build">{{lastBuildNumber}}</a>
      {{/if}}

      <p class="summary">
        <span class="duration_label">{{t repositories.duration}}:</span>
        <abbr class="duration" {{bindAttr title="lastBuildStartedAt"}}>{{formatDuration lastBuildDuration}}</abbr>,
        <span class="finished_at_label">{{t repositories.finished_at}}:</span>
        <abbr class="finished_at timeago" {{bindAttr title="lastBuildFinishedAt"}}>{{formatTime lastBuildFinishedAt}}</abbr>
      </p>

      <div class="indicator"><span></span></div>

      {{#if description}}
        <div class="info">
          <p class="description">{{description}}</p>
        </div>
      {{/if}}
    {{/with}}
  {{else}}
    <p class="empty"></p>
  {{/collection}}
</div>
