<div id="search_box">
  {{view Ember.TextField valueBinding="controller.search" placeholder="Search all repositories"}}
</div>

{{view Travis.ReposListTabsView}}

<div class="tab">
  {{#if isLoaded}}
    {{#collection Travis.ReposListView contentBinding="this"}}
      {{#with view.repo}}
        <div class="slug-and-status">
          <span class="status"></span>
          {{#if slug}}
            {{#linkTo "repo" this class="slug"}}{{slug}}{{/linkTo}}
          {{/if}}
        </div>

        {{#if lastBuild}}
          {{#with lastBuildHash}}
            {{#if repo.slug}}
              {{#linkTo "build" repo id class="last_build"}}{{number}}{{/linkTo}}
            {{/if}}
          {{/with}}
        {{/if}}

        <p class="summary">
          <span class="duration-icon"></span><span class="duration_label">{{t repositories.duration}}:</span>
          <abbr class="duration" {{bindAttr title="lastBuildStartedAt"}}>{{formatDuration lastBuildDuration}}</abbr>
        </p>
        <p class="summary">
          <span class="finished-icon"></span><span class="finished_at_label">{{t repositories.finished_at}}:</span>
          <abbr class="finished_at timeago" {{bindAttr title="lastBuildFinishedAt"}}>{{formatTime lastBuildFinishedAt}}</abbr>
        </p>

        <div class="indicator"><span></span></div>
      {{/with}}
    {{else}}
      <p class="empty">{{noReposMessage}}</p>
    {{/collection}}
  {{else}}
    <div class="loading"><span>Loading</span></div>
  {{/if}}
</div>
