<div id="search_box">
  {{view Ember.TextField valueBinding="controller.search"}}
</div>

{{view Travis.ReposListTabsView}}

<div class="tab">
  {{#collection Travis.ReposListView contentBinding="this"}}
    {{#with view.repo}}
      <div class="slug-and-status">
        <span class="status"></span>
        {{#linkTo repo this class="slug"}}{{slug}}{{/linkTo}}
      </div>
      {{#with lastBuildHash}}
        {{#linkTo build repo id class="last_build"}}{{number}}{{/linkTo}}
      {{/with}}

      <p class="summary">
        <span class="duration_label">{{t repositories.duration}}:</span>
        <abbr class="duration" {{bindAttr title="lastBuildStartedAt"}}>{{formatDuration lastBuildDuration}}</abbr>,
        <span class="finished_at_label">{{t repositories.finished_at}}:</span>
        <abbr class="finished_at timeago" {{bindAttr title="lastBuildFinishedAt"}}>{{formatTime lastBuildFinishedAt}}</abbr>
      </p>

      <div class="indicator"><span></span></div>

      {{#if description}}
        <div class="info">
          <p class="description">{{description}}</p>
        </div>
      {{/if}}
    {{/with}}
  {{else}}
    <p class="empty"></p>
  {{/collection}}
</div>
