<div id="search_box">
  {{view Ember.TextField valueBinding="controller.search" placeholder="Search all repositories"}}
</div>

{{view Travis.ReposListTabsView}}

<div class="tab">
  {{#if isLoaded}}
    {{#collection Travis.ReposListView contentBinding="this"}}
      {{#with view.repo}}
        <div class="slug-and-status">
          <span class="status"></span>
          {{#if slug}}
            {{#link-to "repo" this class="slug"}}{{slug}}{{/link-to}}
          {{/if}}
        </div>
        {{#with lastBuildHash}}
          {{#if repo.slug}}
            {{#link-to "build" repo id class="last_build"}}{{number}}{{/link-to}}
          {{/if}}
        {{/with}}

        {{#if lastBuildHash.number }}
        <p class="summary">
          <span class="duration_label">Duration:</span>
          <abbr class="duration" {{bind-attr title="lastBuildStartedAt"}}>{{formatDuration lastBuildDuration}}</abbr>
        </p>
        <p class="summary">
          <span class="finished-icon"></span><span class="finished_at_label">Finished:</span>
          <abbr class="finished_at timeago" {{bind-attr title="lastBuildFinishedAt"}}>{{formatTime lastBuildFinishedAt}}</abbr>
        </p>
        {{/if}}

        <div class="indicator"><span></span></div>
      {{/with}}
    {{else}}
      <p class="empty">{{noReposMessage}}</p>
    {{/collection}}
  {{else}}
    <div class="loading"><span>Loading</span></div>
  {{/if}}
</div>
