<div id="repo" {{bind-attr class="view.className"}}>
  {{#if view.isEmpty}}
    {{view Travis.ReposEmptyView}}
  {{else}}
    {{#if repo.isLoaded}}
      {{#with repo}}
        <div id="repo-header">
          <h3>{{#link-to "repo" this}}{{slug}}{{/link-to}}</h3>
          <div class="github-icon"><a {{bind-attr href="controller.urlGithub"}}><img src="/images/icons/github.png" width="21" height="21"/></a></div>
          {{view Travis.RepoShowToolsView}}
        </div>

        <p class="description">{{description}}</p>

        {{view Travis.RepoShowTabsView}}
        {{view Travis.RepoActionsView}}
      {{/with}}

      <div class="tab">
        {{outlet pane}}
      </div>
    {{else}}
      <div class="loading"><span>Loading</span></div>
    {{/if}}
  {{/if}}
</div>
