<div id="repo" {{bindAttr class="view.class"}}>
  {{#if view.isEmpty}}
    {{view Travis.ReposEmptyView}}
  {{else}}
    {{#if repo.isLoaded}}
      {{#with repo}}
        <h3>
          <a {{bindAttr href="urlGithub"}}>{{slug}}</a>
        </h3>

        <p class="description">{{description}}</p>

        {{view Travis.RepoShowTabsView}}
        {{view Travis.RepoShowToolsView}}
      {{/with}}

    {{else}}
      <span>Loading</span>
    {{/if}}

    <div class="tab">
      {{outlet pane}}
    </div>
  {{/if}}
</div>

