<p class="tip">
  {{{t profiles.show.message.your_repos}}}
</p>

{{#if hooks.isLoaded}}
  {{#if user.isSyncing}}
    <p class="message loading">
      <span>Please wait while we sync from GitHub</span>
    </p>
  {{else}}
    <p class="message">
      Last synchronized from GitHub: {{formatTime user.syncedAt}}
      <button class="sync_now" {{action sync target="user"}}>
        Sync now
      </button>
    </p>

    <ul id="hooks">
      {{#each hook in hooks}}
        <li {{bindAttr class="active"}}>
          <a {{bindAttr href="hook.urlGithub"}} rel="nofollow">{{hook.slug}}</a>
          <p class="description">{{hook.description}}</p>

          <div class="controls">
            <a {{bindAttr href="hook.urlGithubAdmin"}} class="github-admin tool-tip" title="Github service hooks admin page"></a>
            <a {{action toggle target="hook"}} class="switch"></a>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{else}}
  <p class="message loading">
    <span>Loading</span>
  </p>
{{/if}}


