<ul id="queues">
{{#each queue in controller}}
  <li class="queue">
    <h4>{{t queue}}: {{queue.name}}</h4>
    <ul {{bindAttr id="queue.id"}}>
      {{#each job in queue}}
        {{#view Travis.QueueItemView jobBinding="job"}}

          {{#if job.repo.slug}}
            <a {{action showJob job.repo job target="Travis.app.router" href=true}}>
              <span class="slug">
                {{job.repo.slug}}
              </span>
              #{{job.number}}
            </a>
          {{/if}}
        {{/view}}
      {{else}}
        {{t no_job}}
      {{/each}}
    </ul>
  </li>
{{/each}}
</ul>
