<ul id="queues">
{{#each queue in controller}}
  <li class="queue">
    <h4>{{t queue}}: {{queue.name}}</h4>
    <ul {{bindAttr id="queue.id"}}>
      {{#each job in queue}}
        {{#view Travis.QueueItemView jobBinding="job"}}
          {{#if job.repo.slug}}
            {{#linkTo "job" job.repo job}}
              <span class="slug">
                {{job.repo.slug}}
              </span>
              #{{job.number}}
            {{/linkTo}}
          {{/if}}
        {{/view}}
      {{else}}
        {{t no_job}}
      {{/each}}
    </ul>

    {{#if queue.isMore}}
      <a {{action "showAll" queue}} class="show-more-jobs">
        {{queue.leftLength}} more jobs - show all
      </a>
    {{/if}}
  </li>
{{/each}}
</ul>
