<ul class="tabs">
  <li id="tab_hooks" {{bindAttr class="view.classHooks"}}>
    <h5>
      <a {{bindAttr href="view.urlAccount"}} {{action route}}>Repositories</a>
    </h5>
  </li>
  {{#if view.displayUser}}
    <li id="tab_user" {{bindAttr class="view.classUser"}}>
      <h5>
        <a {{bindAttr href="view.urlUser"}} {{action route}}>Profile</a>
      </h5>
    </li>
  {{/if}}
</ul>
