<ul class="tabs">
  <li id="tab_current" {{bindAttr class="classCurrent"}}>
    <h5><a {{bindAttr href="urlRepository"}}>{{t repositories.tabs.current}}</a></h5>
  </li>
  <li id="tab_builds" {{bindAttr class="classBuilds"}}>
    <h5><a {{bindAttr href="urlBuilds"}}>{{t repositories.tabs.build_history}}</a></h5>
  </li>
  <li id="tab_pull_requests" {{bindAttr class="classPullRequests"}}>
    <h5><a {{bindAttr href="urlPullRequests"}}>{{t repositories.tabs.pull_requests}}</a></h5>
  </li>
  <li id="tab_branches" {{bindAttr class="classBranches"}}>
    <h5><a {{bindAttr href="urlBranches"}}>{{t repositories.tabs.branches}}</a></h5>
  </li>
  <li id="tab_build" {{bindAttr class="classBuild"}}>
    <h5><a {{bindAttr href="urlBuild"}}>{{t repositories.tabs.build}} #{{build.number}}</a></h5>
  </li>
  <li id="tab_job" {{bindAttr class="classJob"}}>
    <h5><a {{bindAttr href="urlJob"}}>{{t repositories.tabs.job}} #{{job.number}}</a></h5>
  </li>
</ul>

<div id="tools">
  <a href="#" {{action toggleTools}}></a>
  <div class="pane">
    <p><label>{{t repositories.branch}}:</label><select></select></p>
    <p><label>{{t repositories.image_url}}:</label><input type="text" class="url"></input></p>
    <p><label>{{t repositories.markdown}}:</label><input type="text" class="markdown"></input></p>
    <p><label>{{t repositories.textile}}:</label><input type="text" class="textile"></input></p>
    <p><label>{{t repositories.rdoc}}:</label><input type="text" class="rdoc"></input></p>
  </div>
</div>
