<ul id="repositories">
  {{#each repository in content}}
    {{#view Travis.Views.RepositoriesItemView contextBinding="repository"}}
      <li {{bindAttr class="view.classes"}}>
        <a {{bindAttr href="view.urlRepository"}} class="current">{{slug}}</a>
        <a {{bindAttr href="view.urlLastBuild"}} class="last_build">#{{lastBuildNumber}}</a>

        <p class="summary">
          <span class="duration_label">{{t repositories.duration}}:</span>
          <abbr class="duration" {{bindAttr title="lastBuildStartedAt"}}>{{formatDuration lastBuildDuration}}</abbr>,
          <span class="finished_at_label">{{t repositories.finished_at}}:</span>
          <abbr class="finished_at timeago" {{bindAttr title="lastBuildFinishedAt"}}>{{formatTime lastBuildFinished_at}}</abbr>
        </p>
        {{#if description}}
          <p class="description">{{description}}</p>
        {{/if}}
        <span class="indicator"></span>
      </li>
    {{/view}}
  {{else}}
    <li class="loading">
      <p>Loading</p>
    </li>
  {{/each}}
<ul>
