{{#if content.lastObject.isLoaded}}
  <ul>
    {{#each repository in content}}
      {{#view Travis.RepositoriesItemView contextBinding="repository"}}
        <li {{bindAttr class="view.classes"}}>
          <div class="wrapper">
            <a {{action viewCurrent href=true}} class="slug">{{slug}}</a>
            <a {{action viewBuild href=true context="lastBuild"}} class="build">#{{lastBuildNumber}}</a>
          </div>

          <p class="summary">
            <span class="duration_label">{{t repositories.duration}}:</span>
            <abbr class="duration" {{bindAttr title="lastBuildStartedAt"}}>{{formatDuration lastBuildDuration}}</abbr>,
            <span class="finished_at_label">{{t repositories.finished_at}}:</span>
            <abbr class="finished_at timeago" {{bindAttr title="lastBuildFinishedAt"}}>{{formatTime lastBuildFinished_at}}</abbr>
          </p>
          {{#if description}}
            <p class="description">{{description}}</p>
          {{/if}}
          <span class="indicator"></span>
        </li>
      {{/view}}
    {{/each}}
  <ul>
{{/if}}
