<div id="repository">
  <h3>
    <a {{bindAttr href="urlGithub"}}>{{slug}}</a>
  </h3>

  <p class="description">{{description}}</p>

  <ul class="github-stats">
    <li class="language">{{last_build_language}}</li>
    <li><a class="watchers" title="Watches" {{bindAttr href="urlGithubWatchers"}}>{{stats.watchers}}</a></li>
    <li><a class="forks" title="Forks" {{bindAttr href="urlGithubNetwork"}}>{{stats.forks}}</a></li>
  </ul>

  {{outlet tabs}}

  <div class="tab">
    {{outlet tab}}
  </div>
</div>
