<ul class="tabs">
  <li><a {{bindAttr href="view.urlRepository"}} class="current">Current</a></li>
  <li><a {{bindAttr href="view.urlBuilds"}} class="history">History</a></li>
  {{#if build}}
    <li><a {{bindAttr href="view.urlBuild"}} class="build">Build #{{build.number}}</a></li>
  {{/if}}
  {{#if job}}
    <li><a {{bindAttr href="view.urlJob"}} class="job">Job #{{job.number}}</a></li>
  {{/if}}
</ul>
