<ul class="tabs">
  <li id="tab_current" {{bindAttr class="view.classCurrent"}}>
    <h5><a {{bindAttr href="view.urlRepository"}}>{{t repositories.tabs.current}}</a></h5>
  </li>
  <li id="tab_builds" {{bindAttr class="view.classBuilds"}}>
    <h5><a {{bindAttr href="view.urlBuilds"}}>{{t repositories.tabs.build_history}}</a></h5>
  </li>
  <li id="tab_pull_requests" {{bindAttr class="view.classPullRequests"}}>
    <h5><a {{bindAttr href="view.urlPullRequests"}}>{{t repositories.tabs.pull_requests}}</a></h5>
  </li>
  <li id="tab_branches" {{bindAttr class="view.classBranches"}}>
    <h5><a {{bindAttr href="view.urlBranches"}}>{{t repositories.tabs.branches}}</a></h5>
  </li>
  {{#with controller.build}}
    {{#if isLoaded}}
      <li id="tab_build" {{bindAttr class="view.classBuild"}}>
        <h5><a {{bindAttr href="view.urlBuild"}}>{{t repositories.tabs.build}} #{{number}}</a></h5>
      </li>
    {{/if}}
  {{/with}}
  {{#with controller.job}}
    {{#if isLoaded}}
      <li id="tab_job" {{bindAttr class="view.classJob"}}>
        <h5><a {{bindAttr href="view.urlJob"}}>{{t repositories.tabs.job}} #{{number}}</a></h5>
      </li>
    {{/if}}
  {{/with}}
</ul>

<div id="tools">
  <a href="#" {{action toggleTools}}></a>
  <div class="pane">
    <p><label>{{t repositories.branch}}:</label><select></select></p>
    <p><label>{{t repositories.image_url}}:</label><input type="text" class="url"></input></p>
    <p><label>{{t repositories.markdown}}:</label><input type="text" class="markdown"></input></p>
    <p><label>{{t repositories.textile}}:</label><input type="text" class="textile"></input></p>
    <p><label>{{t repositories.rdoc}}:</label><input type="text" class="rdoc"></input></p>
  </div>
</div>
