<div class="row-item">
  {{status-icon status=requestClass}}
</div>

<div class="row-item fade-out {{requestClass}}">
  {{request-icon event=request.event_type state=requestClass}}
  {{#if request.isPullRequest}}
    <strong class="label-align">#{{request.pullRequestNumber}}</strong>
  {{/if}}
  {{#if request.branchName}}
      <strong class="label-align">{{request.branchName}}</strong>
  {{/if}}
  <span class="label-align">
    {{#if request.commit}}
      {{github-commit-link request.repo.slug request.commit.sha}}
    {{else}}
      <em>No commit available</em>
    {{/if}}
  </span>
</div>

<div class="row-item fade-out">
  {{inline-svg 'icon-calendar' class="icon"}}
  <span class="label-align">{{format-time request.created_at}}</span></div>

<div class="row-item fade-out">
  {{{format-message request.commit.message short="true" repo=request.build.repo}}}
</div>

<div class="row-item">
  {{#if request.build}}
    {{#link-to "build" request.build}}
      {{inline-svg 'icon-hash' class="icon"}}
      <span class="label-align">{{request.build.number}}</span>{{/link-to}}
  {{else}}
    -
  {{/if}}
</div>

<div class="row-item fade-out">
  <span class="label-align" title="{{message}}">{{message}}</span>
</div>

{{#if isGHPages}}
  <a class="tooltip" href="https://docs.travis-ci.com/user/customizing-the-build/#Whitelisting-or-blacklisting-branches" title="Branch whitelisting - Travis CI Docs" data-tooltip="Read about branch whitelisting">
    {{inline-svg 'icon-help' class="icon-help"}}
  </a>
{{/if}}
