<div id="log-container">
  <a href="#" id="tail" {{action "toggleTailing" target=view}}>
    <span class="status"></span>

    <label>
      {{#if view.job.isFinished}}
        Scroll to End of Log
      {{else}}
        Follow Log
      {{/if}}
    </label>
  </a>

  {{! we need to have this element for log engine to work properly, but we
      can hide it with css }}
  <pre id="log" {{bind-attr class=":ansi view.job.notStarted:hidden"}}></pre>

  {{#if view.job.notStarted}}
    <div>NOT STARTED</div>
  {{/if}}

  {{#if view.log.hasContent}}
    <a href='#' class="to-top" {{action "toTop" target=view}}>Top</a>
  {{/if}}

  {{#if view.limited}}
    <p class="warning">
      This log is too long to be displayed. Please reduce the verbosity of your
      build or download the <a {{bind-attr href="view.plainTextLogUrl"}}>raw log</a>.
    </p>
  {{/if}}
</div>
