{{#if account.subscribed}}
  <a class="button" href={{account.billingUrl}}>
    Subscription active!
  </a>
{{else}}
  {{#if account.education}}
    <a class="button" href={{account.billingUrl}}>
      Educational account!
    </a>
  {{else}}
    <a class="button" href={{account.billingUrl}}>
      Sign up this account!
    </a>
  {{/if}}
{{/if}}
