<form class="ssh-key" {{action "save" on="submit"}}>
  <div class="field">
    {{label for="description" content="Description:"}}
    {{input value=description}}
  </div>
  {{#travis-field "value"}}
    {{label for="value" class="value" content="Private key:"}}
    {{textarea value=value}} {{travis-errors "value"}}
  {{/travis-field}}

  <div class="actions">
    <input type="submit" value="Add" class="submit-ssh-key {{if isSaving 'saving'}}" {{if isSaving 'dsabled="disabled"'}} />
    <span class="or">or</span>
    <a href="#" class="cancel-ssh-key" {{action "cancel"}}>Cancel</a>
  </div>
</form>
