<div class="option-button">
  <button title="Open account filter" class="option-display" {{action 'toggleOrgFilter'}} type="button">
    <span class="label-align">
      {{#if selected}}
        {{user-avatar url=selected.avatarUrl name=selected.name small=true}}
        {{selected.displayName}}
      {{else}}
        All accounts
      {{/if}}
    </span><span class="option-arrow"></span>
  </button>
  <div class="option-dropdown">
    <!--<div class="option-search">
      <input type="text">
    </div>-->
    <ul class="option-list">
      {{#if selected }}
        <li><a title="Select all accounts" {{action 'select'}}>All accounts</a></li>
      {{/if}}
      {{#each orgs as |org|}}
      <li>
        <a title="Select {{org.login}}" {{action 'select' org}}>
          {{user-avatar url=org.avatarUrl name=org.name small=true}}
          <span class="label-align">
          {{org.displayName}}
          </span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
