<img {{bind-attr src="view.gravatarUrl"}}>

<dl class="profile">
  <div>
    <dt>
      {{t profiles.show.github}}:
    </dt>
    <dd>
      <a {{bind-attr href="urlGithub"}}>{{user.login}}</a>
    </dd>
  </div>
  <div>
    <dt>
      {{t profiles.show.email}}:
    </dt>
    <dd>
      {{user.email}}
    </dd>
  </div>
  <div>
    <dt>
      {{t profiles.show.token}}:
    </dt>
    <dd>
      {{user.token}}
    </dd>
  </div>
  <div>
    <dt>
      {{t profiles.show.locale}}:
    </dt>
    <dd>
      {{view Ember.Select id="locale"
        contentBinding="view.locales"
        valueBinding="user.locale"
        optionLabelPath="content.name"
        optionValuePath="content.key"}}
    </dd>
  </div>
</dl>
