<button
  role={{this.role}}
  class="
    rounded uppercase px-3 py-2 font-bold border border-solid
    bg-{{this.bgColor}}
    hover:bg-{{this.hoverBgColor}}
    text-{{this.labelColor}}
    border-{{this.borderColor}}
  "
  ...attributes
>{{yield}}</button>