<div
  class="
    {{if this.inline 'inline-flex' 'flex'}}
    flex-{{this.dir}}
    flex-{{this.wrap}}
    items-{{this.alignItems}}
    justify-{{this.justify}}
  "
>
  {{yield (hash
    item=(component "ui-kit/grid-item" grid=this)
  )}}
</div>