{{#if (eq this.tag 'div')}}
  <div ...attributes>{{yield}}</div>
{{else if (eq this.tag 'header')}}
  <header ...attributes>{{yield}}</header>
{{else if (eq this.tag 'section')}}
  <section ...attributes>{{yield}}</section>
{{else if (eq this.tag 'span')}}
  <span ...attributes>{{yield}}</span>
{{else if (eq this.tag 'h1')}}
  <h1 ...attributes>{{yield}}</h1>
{{else if (eq this.tag 'h2')}}
  <h2 ...attributes>{{yield}}</h2>
{{else if (eq this.tag 'h3')}}
  <h3 ...attributes>{{yield}}</h3>
{{else if (eq this.tag 'h4')}}
  <h4 ...attributes>{{yield}}</h4>
{{else if (eq this.tag 'h5')}}
  <h5 ...attributes>{{yield}}</h5>
{{else if (eq this.tag 'h6')}}
  <h6 ...attributes>{{yield}}</h6>
{{else if (eq this.tag 'p')}}
  <p ...attributes>{{yield}}</p>
{{else}}
  {{!--
    If all goes according to plan, it shouldn't be possible to
    get here. But if someone adds a tag to the supported list and forgets
    to add actual support for the tag here, then let's display an error message.
  --}}
  <span class="text-red-300">Error: Tag not supported</span>
  {{yield}}
{{/if}}