{{#if (eq this.tag 'div')}}
  <div class={{this.class}} ...attributes>{{yield}}</div>
{{else if (eq this.tag 'header')}}
  <header class={{this.class}} ...attributes>{{yield}}</header>
{{else if (eq this.tag 'section')}}
  <section class={{this.class}} ...attributes>{{yield}}</section>
{{else if (eq this.tag 'span')}}
  <span class={{this.class}} ...attributes>{{yield}}</span>
{{else if (eq this.tag 'h1')}}
  <h1 class={{this.class}} ...attributes>{{yield}}</h1>
{{else if (eq this.tag 'h2')}}
  <h2 class={{this.class}} ...attributes>{{yield}}</h2>
{{else if (eq this.tag 'h3')}}
  <h3 class={{this.class}} ...attributes>{{yield}}</h3>
{{else if (eq this.tag 'h4')}}
  <h4 class={{this.class}} ...attributes>{{yield}}</h4>
{{else if (eq this.tag 'h5')}}
  <h5 class={{this.class}} ...attributes>{{yield}}</h5>
{{else if (eq this.tag 'h6')}}
  <h6 class={{this.class}} ...attributes>{{yield}}</h6>
{{else if (eq this.tag 'p')}}
  <p class={{this.class}} ...attributes>{{yield}}</p>
{{else}}
  {{yield}}
{{/if}}