{{#if (eq this.tag 'div')}}
  <div class={{this.class}} ...attributes>{{yield}}</div>
{{else if (eq this.tag 'section')}}
  <section class={{this.class}} ...attributes>{{yield}}</section>
{{else if (eq this.tag 'span')}}
  <span class={{this.class}} ...attributes>{{yield}}</span>
{{else}}
  {{yield}}
{{/if}}