<ul class="tabs">
  <li id="tab_owned" {{bind-attr class="view.classOwned"}}>
    <h5><a {{action "activate" "owned" target="view"}}>{{t layouts.application.my_repositories}}</a></h5>
  </li>

  <li id="tab_recent" {{bind-attr class="view.classRecent"}}>
    <h5><a {{action "activate" "recent" target="view"}}>{{t layouts.application.recent}}</a></h5>
  </li>

  <li id="tab_search" {{bind-attr class="view.classSearch"}}>
    <h5><a {{action "activate" "search" target="view"}}>{{t layouts.application.search}}</a></h5>
  </li>
</ul>
