<ul class="tabs">
  <li id="tab_owned" {{bind-attr class="view.classOwned"}}>
    <h5><a {{action "activate" "owned"}}>My Repositories</a></h5>
  </li>

  <li id="tab_recent" {{bind-attr class="view.classRecent"}}>
    <h5><a {{action "activate" "recent"}}>Recent</a></h5>
  </li>

  <li id="tab_search" {{bind-attr class="view.classSearch"}}>
    <h5><a {{action "activate" "search"}}>Search</a></h5>
  </li>

  <li id="tab_new" {{bind-attr class="view.classNew"}}>
    <h5>{{#link-to "profile" trackEvent="add-repository-from-list" title="Add New Repository"}}+{{/link-to}}</h5>
  </li>
</ul>
