<div class='plans-container'>
  {{#each plans as |plan|}}
    {{plans-item plan=plan}}
  {{/each}}
</div>

<h2>Contact details</h2>

<p>All fields are required unless marked as optional.</p>

<div class='form-elem'>
  <label for='subscription-first-name' class='form-label'>First name</label>
  {{input id='subscription-first-name' name='firstName' value=firstName}}
</div>

<div class='form-elem'>
  <label for='subscription-last-name' class='form-label'>Last name</label>
  {{input id='subscription-last-name' name='lastName' value=lastName}}
</div>

<div class='form-elem'>
  <label for='subscription-company' class='form-label optional'>Company name</label>
  {{input id='subscription-company' name='company' value=company}}
</div>

<div class='form-elem'>
  <label for='subscription-email' class='form-label'>Billing email address</label>
  {{input id='subscription-email' name='email' value=email}}
</div>

<h2>Billing address</h2>

<p>All fields are required unless marked as optional.</p>

<div class='form-elem'>
  <label for='subscription-address' class='form-label'>Street address</label>
  {{input id='subscription-address' name='address' value=address}}
</div>

<div class='form-elem'>
  <label for='subscription-address2' class='form-label'>Suite, Apt.</label>
  {{input id='subscription-address2' name='address2' value=address2}}
</div>

<div class='form-elem'>
  <label for='subscription-city' class='form-label'>City</label>
  {{input id='subscription-city' name='city' value=city}}
</div>

<div class='form-elem'>
  <label for='subscription-zip-code' class='form-label'>Zip code</label>
  {{input id='subscription-zip-code' name='zipCode' value=zipCode}}
</div>

<div class='form-elem'>
  <label for='subscription-state' class='form-label'>State</label>
  {{input id='subscription-state' name='state' value=state}}
</div>

<div class='form-elem'>
  <label for='subscription-country' class='form-label'>Country</label>
  {{input id='subscription-country' name='country' value=country}}
</div>

<div class='form-elem'>
  <label for='subscription-vat-id' class='form-label'>VAT ID</label>
  {{input id='subscription-vat-id' name='vatId' value=vatId}}
</div>

<h2>Credit card details</h2>

<p>Your credit card details are never stored on or even reach our servers. Payments and credit card data are handled by <a href='https://example.com/FIXME'>Stripe</a>.</p>

<div class='form-elem'>
  <label for='subscription-card-number' class='form-label'>Card number</label>
  {{input id='subscription-card-number' name='number' value=number}}
</div>

<div class='form-elem'>
  <label for='subscription-name-on-card' class='form-label'>Name on card</label>
  {{input id='subscription-name-on-card' name='name' value=name}}
</div>

<div class='form-elem'>
  <label class='form-label'>Expiry date of card</label>

  {{#x-select name='expiryMonth' value=expiryMonth on-change=(action (mut expiryMonth)) as |xs|}}
    {{#xs.option value=1}}January{{/xs.option}}
    {{#xs.option value=2}}February{{/xs.option}}
    {{#xs.option value=3}}March{{/xs.option}}
    {{#xs.option value=4}}April{{/xs.option}}
    {{#xs.option value=5}}May{{/xs.option}}
    {{#xs.option value=6}}June{{/xs.option}}
    {{#xs.option value=7}}July{{/xs.option}}
    {{#xs.option value=8}}August{{/xs.option}}
    {{#xs.option value=9}}September{{/xs.option}}
    {{#xs.option value=10}}October{{/xs.option}}
    {{#xs.option value=11}}November{{/xs.option}}
    {{#xs.option value=12}}December{{/xs.option}}
  {{/x-select}}

  {{!FIXME hardcoded years}}
  {{#x-select name='expiryYear' value=expiryYear on-change=(action (mut expiryYear)) as |xs|}}
    {{#xs.option value=2018}}2018{{/xs.option}}
    {{#xs.option value=2019}}2019{{/xs.option}}
    {{#xs.option value=2020}}2020{{/xs.option}}
    {{#xs.option value=2021}}2021{{/xs.option}}
    {{#xs.option value=2022}}2022{{/xs.option}}
    {{#xs.option value=2023}}2023{{/xs.option}}
    {{#xs.option value=2024}}2024{{/xs.option}}
    {{#xs.option value=2025}}2025{{/xs.option}}
    {{#xs.option value=2026}}2026{{/xs.option}}
    {{#xs.option value=2027}}2027{{/xs.option}}
  {{/x-select}}
</div>

<div class='form-elem'>
  <label for='subscription-cvc' class='form-label'>CVC</label>
  {{input id='subscription-cvc' name='cvc' value=cvc}}
</div>

Hardcoded plan: {{plan}}


<button {{action 'save'}} class='button save'>save??? not greyed out 😆</button>

{{#if result}}
result:
{{result}}
{{/if}}
