<section class="billing">
  {{#if this.isEducation}}
    <BillingEducation
      @model={{this.model}}
      @account={{this.account}}
      @config={{this.config}}
    />
  {{/if}}
  {{#if this.isTrial}}
    <BillingTrial
      @model={{this.model}}
      @account={{this.account}}
      @config={{this.config}}
    />
  {{/if}}
  {{#if this.model.subscriptions.isManual}}
    <BillingManual @model={{this.model}} />
  {{/if}}
  {{#if this.model.subscriptions.managedSubscription}}
    <BillingSubscription
      @model={{this.model}}
      @account={{this.account}}
      @config={{this.config}}
    />
  {{/if}}
</section>
{{#if this.invoices}}
  <BillingInvoices @invoices={{this.invoices}} />
{{/if}}
