<section class="billing">
  {{#if isEducation}}
    <BillingEducation
      @model={{model}}
      @account={{account}}
      @config={{config}}
    />
  {{/if}}
  {{#if isTrial}}
    <BillingTrial @model={{model}} @account={{account}} @config={{config}} />
  {{/if}}
  {{#if model.subscriptions.isManual}}
    <BillingManual @model={{model}} />
  {{/if}}
  {{#if model.subscriptions.managedSubscription}}
    <BillingSubscription
      @model={{model}}
      @account={{account}}
      @config={{config}}
    />
  {{/if}}
</section>
{{#if invoices}}
  <BillingInvoices @invoices={{invoices}} />
{{/if}}