<section class='billing'>
  {{#unless model.subscriptions}}
    <h2>Plan Overview</h2>
    {{#if model.trials}}
      {{#if model.trials.hasTrial}}
        <p data-test-trial-message class="source alert-status-message">
          You are on a trial subscription with {{pluralize model.trials.buildsRemaining 'build'}} remaining.
        </p>
      {{else}}
        <p data-test-trial-message class="source alert-status-message">
           Your trial period has ended, please start a new subscription.
        </p>
      {{/if}}
    {{else}}
      <p data-test-trial-message class="source alert-status-message">
        Please, run your first build to start your trial.
      </p>
    {{/if}}
    {{#if model.subscriptions.isGithub}}
      <a href={{config.marketplaceEndpoint}} class='button--blue marketplace-button'>Manage on GitHub Marketplace</a>
    {{else}}
      {{new-subscription-button trial=model.trials account=account}}
    {{/if}}
  {{/unless}}
  {{#if model.subscriptions.manageSubscription}}
    {{manage-subscription-button subscription=model.subscriptions account=account}}
  {{/if}}
  {{#if model.subscriptions.isSubscribed}}
    <div>{{model.subscriptions.permissions.write}}</div>
    <section class='plan'>
      <h2>Plan Overview</h2>
      <h3 data-test-plan-name>{{model.subscriptions.plan.name}}</h3>
      <p data-test-plan-concurrency>{{pluralize model.subscriptions.plan.builds 'concurrent job'}}</p>
      <p>Renewing on {{moment-format model.subscriptions.validTo 'MMMM D, YYYY'}}</p>
    </section>
    <h2>Billing Information</h2>
    <section class='row'>
      {{#if model.subscriptions.isStripe}}
        <section class='contact'>
          <h3>Billing Contact</h3>
          {{billing-address billingInfo=model.subscriptions.billingInfo}}
        </section>
      {{/if}}
      <section class='payment'>
        <h3>Payment details</h3>
        {{payment-details subscription=model.subscriptions}}
      </section>
    </section>
  {{else if model.subscriptions}}
    <span data-test-expiry-message>
      {{#if model.subscriptions.isExpired}}
        You had a {{model.subscriptions.sourceWords}} subscription that expired on {{moment-format model.subscriptions.validTo 'MMMM D, YYYY'}}.
      {{else}}
        This subscription has been canceled by you and is valid through {{moment-format model.subscriptions.validTo 'MMMM D, YYYY'}}.
      {{/if}}
      {{#if model.subscriptions.isManual}}
        {{manual-subscription-help}}
      {{/if}}
    </span>
    {{#if model.subscriptions.isResubscribable}}
      {{resubscribe-button subscription=model.subscriptions account=account}}
    {{/if}}
    {{#if model.subscriptions.isGithub}}
      <a href={{config.marketplaceEndpoint}} class='button--blue marketplace-button'>Manage on GitHub Marketplace</a>
    {{/if}}
  {{/if}}
</section>

{{#if invoices}}
  <section class='invoices'>
    <h2>Invoice History</h2>
    <p>
      {{svg-jar 'icon-help' class='icon-help' alt=''}} Having trouble with your invoices?
      <a href='{{ config.urls.support }}' title='Email the Travis support team' {{action 'helpscoutTrigger'}}>We’re happy to help</a>.
    </p>
      <ul>
        {{#each (sort-by 'createdAt:desc' invoices) as |invoice|}}
          <li><a data-test-invoice href={{invoice.url}}>{{svg-jar 'icon-invoice' class='icon'}} {{invoice.id}} {{moment-format invoice.createdAt 'MMMM YYYY'}}</a></li>
        {{/each}}
      </ul>
  </section>
{{/if}}
