<section class='billing'>
  {{#if account.education}}
    {{billing-subscription model=model account=account config=config}}
  {{/if}}
  
  {{#if isTrial}}
    {{billing-trial model=model account=account config=config}}
  {{/if}}

  {{#if model.subscriptions.isManual}}
    {{billing-manual model=model}}
  {{/if}}

  {{#if model.subscriptions.managedSubscription}}
    {{billing-subscription model=model account=account config=config}}
  {{/if}}
</section>

{{#if invoices}}
  {{billing-invoices invoices=invoices}}
{{/if}}
