<div>
  {{outlet}}
</div>

{{#link-to "env_vars.new" class="env_var_add"}}Add a new variable{{/link-to}}

{{#each controller itemController="envVar"}}
  {{#if isEditing}}
    {{! TODO: reuse it with "new", it's almost identical }}
    <form {{action "save" on="submit"}}>
      <p>Name: {{input value=name}}</p>
      {{#if public}}<p>Value: {{input value=value}}</p>{{/if}}
      <p>Public: {{input type="checkbox" checked=public}}</p>

      <p>
        {{input type="submit" value="Save"}} or <a href="#" {{action "cancel"}}>Cancel</a>
      </p>
    </form>
  {{else}}
    <p>
      Name: {{name}}<br/>
      Value: {{value}}<br/>
      <a href="#" class="edit_var"{{action "edit"}}>Edit</a>
      <a href="#" class="delete_var"{{action "delete"}}>Delete</a>
    </p>
  {{/if}}
{{/each}}
