<div>
  {{outlet}}
</div>

{{#link-to "env_vars.new" class="env_var_add"}}Add a new variable{{/link-to}}

{{#each controller itemController="envVar"}}
  {{#if isEditing}}
    {{! TODO: reuse it with "new", it's almost identical }}
    <form {{action "save" on="submit"}}>
      {{label value=name}}: {{input value=name}}
      {{#if public}}{{label value=value}}: {{input value=value}}{{/if}}
      {{label value=public}}: {{input type="checkbox" checked=public}}

      {{input type="submit" value="Wat"}} or <a href="#" {{action "cancel"}}>Cancel</a>
    </form>
  {{else}}
    <p>
      Name: {{name}}<br/>
      Value: {{value}}<br/>
      <a href="#" class="edit_var"{{action "edit"}}>Edit</a>
      <a href="#" class="delete_var"{{action "delete"}}>Delete</a>
    </p>
  {{/if}}
{{/each}}
