{{outlet}}

<ul class="env-vars">
  {{#each controller itemController="envVar"}}
    {{#if isEditing}}
      {{partial 'env_vars/form'}}
    {{else}}
      <li class="env-var">
        <div class="row">
          <span class="label">Name:</span>
          <span class="value">{{name}}</span>
        </div>
        <div class="row">
          <span class="label">Value:</span>
          <span class="value">{{value}}</span>
        </div>
        <div class="actions">
          <a href="#" class="edit-var" {{action "edit"}}>Edit</a>
          <a href="#" {{action "delete"}} {{bind-attr class=":delete-var isDeleting:deleting"}}>
            Delete
          </a>
        </div>
      </li>
    {{/if}}
  {{/each}}
</ul>
