<a href="#" class="close" {{action close target="view"}}></a>
<p>
  <label>{{t repositories.branch}}:</label>
  {{#if view.branches.isLoaded}}
    {{view Ember.Select contentBinding="view.branches" selectionBinding="view.statusImageBranch" optionLabelPath="content.commit.branch" optionValuePath="content.commit.branch"}}
  {{else}}
    <span class="loading"></span>
  {{/if}}
</p>
<p>
  <label>{{t repositories.image_url}}:</label>
  <input type="text" class="url" {{bindAttr value="view.statusImageUrl"}}></input>
</p>
<p>
  <label>{{t repositories.markdown}}:</label>
  <input type="text" class="markdown" {{bindAttr value="view.markdownStatusImage"}}></input>
</p>
<p>
  <label>{{t repositories.textile}}:</label>
  <input type="text" class="textile" {{bindAttr value="view.textileStatusImage"}}></input>
</p>
<p>
  <label>{{t repositories.rdoc}}:</label>
  <input type="text" class="rdoc" {{bindAttr value="view.rdocStatusImage"}}></input>
</p>
<p>
  <label>{{t repositories.asciidoc}}:</label>
  <input type="text" class="asciidoc" {{bindAttr value="view.asciidocStatusImage"}}></input>
</p>
<p>
  <label>{{t repositories.rst}}:</label>
  <input type="text" class="rst" {{bindAttr value="view.rstStatusImage"}}></input>
</p>
