<a href="#" class="close" {{action "close" target="view"}}></a>
<p>
  <label>Branch:</label>
  {{#if view.branches.isLoaded}}
    {{view Ember.Select contentBinding="view.branches" selectionBinding="view.statusImageBranch" optionLabelPath="content.commit.branch" optionValuePath="content.commit.branch"}}
  {{else}}
    <span class="loading"></span>
  {{/if}}
</p>
<p>
  <label>Image URL:</label>
  <input type="text" class="url" {{bind-attr value="view.statusImageUrl"}}></input>
</p>
<p>
  <label>Markdown:</label>
  <input type="text" class="markdown" {{bind-attr value="view.markdownStatusImage"}}></input>
</p>
<p>
  <label>Textile:</label>
  <input type="text" class="textile" {{bind-attr value="view.textileStatusImage"}}></input>
</p>
<p>
  <label>RDOC:</label>
  <input type="text" class="rdoc" {{bind-attr value="view.rdocStatusImage"}}></input>
</p>
<p>
  <label>AsciiDoc:</label>
  <input type="text" class="asciidoc" {{bind-attr value="view.asciidocStatusImage"}}></input>
</p>
<p>
  <label>Rst:</label>
  <input type="text" class="rst" {{bind-attr value="view.rstStatusImage"}}></input>
</p>
<p>
  <label>POD:</label>
  <input type="text" class="pod" {{bind-attr value="view.podStatusImage"}}></input>
</p>
