<TravisLayout @layoutName="layouts/center" class="tailwind-overrides">

  {{!-- Header section --}}
  <UiKit::Box
    @tag='section'
    @margin={{hash top=3 bottom=16}}
    @textAlign='center'
    data-test-plans-page-header-section="true"
  >
    <UiKit::Text @tag='h1' @variant='h1' data-test-plans-page-header-title="true">
      Built for every team
    </UiKit::Text>
    <UiKit::Text data-test-plans-page-header-body="true">
      Set up your first project in just one minute.
      <br />
      Your first 100 builds are free! No credit card required.
    </UiKit::Text>
  </UiKit::Box>

  {{!-- Product section --}}
  <UiKit::Box @tag='section' @margin={{hash bottom=16}} data-test-plans-page-product-section="true">
    <UiKit::Grid @align='center' @justify='start'>
      <UiKit::Text @tag='span' @variant='smallcaps' @margin={{hash right=2}}>
        Monthly
      </UiKit::Text>

      <UiKit::Switch @onClick={{fn (mut showAnnual)}} @active={{showAnnual}} data-test-plans-page-product-switch="true" />

      <UiKit::Text @tag='span' @color='blue' @margin={{hash left=2}} @size='xs'>
        <UiKit::Text @tag='span' @color='blue' @variant='smallcaps'>
          Annual
        </UiKit::Text>
        (Get 1 month free!)
      </UiKit::Text>
    </UiKit::Grid>

    <UiKit::Box @position={{hash type='relative'}} @margin={{hash top=3}}>
      <UiKit::Box
        @position={{hash type='absolute' top=0 right=0}}
        @margin={{hash top=-16 right=-10}}
        @height={{64}}
      >
        <SvgImage @name="grey-blob" @height={{224}} />
      </UiKit::Box>

      <UiKit::Box
        @color='white'
        @layer='10'
        @overflow={{hash all='hidden'}}
        @position={{hash type='relative'}}
        @radius='md'
        @shadow='md'
      >
        <UiKit::Grid
          @base={{1}}
          @sm={{2}}
          @md={{4}}
          data-test-plans-page-product-list="true"
          as |grid|
        >
          {{#each plansToDisplay as |plan|}}
            <grid.item>
              <UiKit::Box
                @borderWidth={{hash all='xs'}}
                @height='full'
                @padding={{hash all=4}}
                @textAlign={{hash base='center' sm='left'}}
              >
                <UiKit::Text @tag='h3' @size='4xl' @weight='bold'>
                  {{plan.name}}
                </UiKit::Text>

                <UiKit::Text
                  @tag='h4'
                  @color='grey'
                  @leading='lg'
                  @margin={{hash bottom=6}}
                  @variant='smallcaps'
                >
                  {{plan.description}}
                </UiKit::Text>
                <div>
                  <UiKit::Text @tag='span' @color='green' @weight='bold'>
                    {{plan.builds}}
                  </UiKit::Text>
                  <UiKit::Text @tag='span'>
                    {{pluralize plan.builds "Concurrent job" without-count=true}}
                  </UiKit::Text>
                </div>
                <div>
                  <UiKit::Box @display='inline-block' @width={{3}}>
                    <SvgImage @name="features-check" />
                  </UiKit::Box>
                  <UiKit::Text @tag='span'>Unlimited build minutes</UiKit::Text>
                </div>
                <div>
                  <UiKit::Box @display='inline-block' @width={{3}}>
                    <SvgImage @name="features-check" />
                  </UiKit::Box>
                  <UiKit::Text @tag='span'>Unlimited repositories</UiKit::Text>
                </div>
                <UiKit::Box @margin={{hash bottom=6}}>
                  <UiKit::Box @display='inline-block' @width={{3}}>
                    <SvgImage @name="features-check" />
                  </UiKit::Box>
                  <UiKit::Text @tag='span'>Unlimited collaborators</UiKit::Text>
                </UiKit::Box>
                <UiKit::Box @margin={{hash bottom=6}}>
                  <UiKit::Text @tag='span' @color='green' @size='xl' @weight='bold'>
                    ${{plan.monthlyPriceRounded}}
                  </UiKit::Text>
                  <UiKit::Text @tag='span' @size='2xs'>
                    {{plan.currency}}
                    per month
                    {{if showAnnual 'billed annually'}}
                  </UiKit::Text>
                </UiKit::Box>
              </UiKit::Box>
            </grid.item>
          {{/each}}
        </UiKit::Grid>

        <UiKit::Box @borderWidth={{hash all='xs'}} @padding={{hash all=4}} @textAlign='center'>
          <UiKit::Button @onClick={{action 'gaCta' 'plans-table'}} data-test-plans-page-product-button="true">
            Start Your Free Trial
          </UiKit::Button>
        </UiKit::Box>
      </UiKit::Box>

      <UiKit::Box
        @layer='0'
        @margin={{hash bottom=-10 left=-10}}
        @position={{hash type='absolute' bottom=0 left=0}}
        @width={{56}}
      >
        <SvgImage @name="yellow-waves" />
      </UiKit::Box>
    </UiKit::Box>
  </UiKit::Box>

  {{!-- Open Source Section --}}
  <UiKit::Box @tag='section' @margin={{hash bottom=20}} data-test-plans-page-oss-section="true">
    <UiKit::Grid @sm={{2}} @align='center' @gap={{4}} @justify='around' as |grid|>
      <grid.item>
        <UiKit::Box
          @margin={{hash x='auto'}}
          @maxWidth='2xs'
          @padding={{hash base=(hash y=4)}}
        >
          <SvgImage @name='always-free' @width='100%'/>
        </UiKit::Box>
      </grid.item>
      <grid.item>
        <UiKit::Box
          @maxWidth={{hash base='full' sm='md'}}
          @padding={{hash y=4}}
          @textAlign={{hash base='center' sm='left'}}
        >
          <UiKit::Text @tag='h2' @leading='xs' @margin={{hash bottom=3}} @size='5xl' @weight='bold'>
            Free for Open Source
          </UiKit::Text>
          <UiKit::Text @margin={{hash bottom=6}}>
            We love Open Source and offer a free plan for your projects.
            You will receive unlimited builds and 3 concurrent jobs for free,
            along with all the other features you've come to love from Travis CI.
          </UiKit::Text>

          <UiKit::Button @onClick={{action 'gaCta' 'plans-oss'}} @color='grey' @invert={{true}} data-test-plans-page-oss-button="true">
            Set up your open source project now
          </UiKit::Button>
        </UiKit::Box>
      </grid.item>
    </UiKit::Grid>
  </UiKit::Box>

  {{#if this.scrollToContact}}<ScrollHere />{{/if}}

  {{!-- Contact form section --}}
  <UiKit::Box @tag='section' @margin={{hash bottom=20}} data-test-plans-page-contact-section="true">
    <UiKit::Grid  @sm={{2}} @align='center' @gap={{4}} @justify='around' as |grid|>
      <grid.item>
        <UiKit::Box
          @maxWidth={{hash base='full' sm='md'}}
          @padding={{hash y=4}}
          @textAlign={{hash base='center' sm='left'}}
        >
          <UiKit::Text @tag='h2' @leading='xs' @margin={{hash bottom=3}} @size='5xl' @weight='bold'>
            Looking for something custom or on-prem?
          </UiKit::Text>
          <UiKit::Text>
            We can create a plan that's customized to your team's size and needs.
            Just use this form to contact us!
          </UiKit::Text>
        </UiKit::Box>
      </grid.item>
      <grid.item>
        <SalesContactForm
          @referralSource={{this.referralSourceName}}
          @utm_source={{this.utm_source}}
          @utm_campaign={{this.utm_campaign}}
          @utm_medium={{this.utm_medium}}
          @utm_term={{this.utm_term}}
          @utm_content={{this.utm_content}}
          @onSuccess={{action 'contactSuccess'}}
        />
      </grid.item>
    </UiKit::Grid>
  </UiKit::Box>

  {{!-- Enterprise section --}}
  <UiKit::Box @tag='section' @margin={{hash bottom=20}} data-test-plans-page-enterprise-section="true">
    <UiKit::Grid  @sm={{2}} @align='center' @gap={{4}} @justify='around' as |grid|>
      <grid.item>
        <UiKit::Box
          @margin={{hash x='auto'}}
          @maxWidth='2xs'
          @padding={{hash base=(hash y=4)}}
        >
          <SvgImage @name='travis-enterprise' @width='100%'/>
        </UiKit::Box>
      </grid.item>
      <grid.item>
        <UiKit::Box
          @maxWidth={{hash base='full' sm='md'}}
          @padding={{hash y=4}}
          @textAlign={{hash base='center' sm='left'}}
        >
          <UiKit::Text @tag='h2' @leading='xs' @margin={{hash bottom=3}} @size='5xl' @weight='bold'>
            Travis CI Enterprise
          </UiKit::Text>
          <UiKit::Text @margin={{hash bottom=6}}>
            Our on-premises product is perfect for companies who
            want to keep using the same features of Travis CI with
            additional on-site security needs.
          </UiKit::Text>

          <ExternalLinkTo @href={{this.enterpriseUrl}}>
            <UiKit::Button @color='grey' @invert={{true}} data-test-plans-page-enterprise-button="true">
              Learn more about Travis CI Enterprise
            </UiKit::Button>
          </ExternalLinkTo>
        </UiKit::Box>
      </grid.item>
    </UiKit::Grid>
  </UiKit::Box>

  {{!-- FAQ Section --}}
  <UiKit::Box @position={{hash type='relative'}} data-test-plans-page-faq-section="true">
    <UiKit::Box
      @position={{hash type='absolute' top=0 right=0}}
      @margin={{hash top=-10 right=-16}}
      @width={{64}}
    >
      <SvgImage @name="red-blob" />
    </UiKit::Box>

    <UiKit::Box
      @color='white'
      @layer='10'
      @margin={{hash bottom=16}}
      @position={{hash type='relative'}}
      @radius='md'
      @shadow='md'
    >
      <UiKit::Text @tag='h2' @size='5xl' @weight='bold' @padding={{hash all=5}}>
        Frequently asked questions
      </UiKit::Text>

      <UiKit::Grid
        @base={{1}}
        @sm={{2}}
        data-test-plans-page-faq-list="true"
        as |grid|
      >
        {{!-- FAQ set 1 --}}
        <grid.item @borderWidth={{hash bottom='xs'}} @padding={{hash all=5}}>
          <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
            What is a concurrent job?
          </UiKit::Text>
          <UiKit::Text>
            Every commit triggers a build composed of a single job by default. If two commits have been pushed while on the
            Startup plan (2 concurrent jobs), they'll be run right away. Subsequent commits have to wait until the builds finished.
          </UiKit::Text>
        </grid.item>

        <grid.item @borderWidth={{hash bottom='xs'}} @padding={{hash y=5}}>
          <UiKit::Box @borderWidth={{hash sm=(hash left='xs')}} @padding={{hash x=5}}>
            <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
              Are there any restrictions on build time?
            </UiKit::Text>
            <UiKit::Text>
              A build has 120 minutes to run. Should your build take longer, you can split it up using a
              <UiKit::Link @href={{buildMatrixUrl}}>build matrix</UiKit::Link>.
            </UiKit::Text>
          </UiKit::Box>
        </grid.item>

        {{!-- FAQ set 2 --}}
        <grid.item @borderWidth={{hash bottom='xs'}} @padding={{hash all=5}}>
          <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
            Can I pay annually?
          </UiKit::Text>
          <UiKit::Text>
            You most certainly can! And you get 1 month for free &mdash; 12 months for the price of 11!
            Simply select the annual option when signing up for a subscription, or go to
            <UiKit::Link @href={{billingUrl}}>{{format-domain billingUrl}}</UiKit::Link>
            if you want to switch your current plan to annual.
          </UiKit::Text>
        </grid.item>

        <grid.item @borderWidth={{hash bottom='xs'}} @padding={{hash y=5}}>
          <UiKit::Box @borderWidth={{hash sm=(hash left='xs')}} @padding={{hash x=5}}>
            <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
              Can I cancel anytime?
            </UiKit::Text>
            <UiKit::Text>
              Absolutely! You can manage your account on your billing page. Go to
              <UiKit::Link @href={{billingUrl}}>{{format-domain billingUrl}}</UiKit::Link>
              and choose the account you want to cancel.
            </UiKit::Text>
          </UiKit::Box>
        </grid.item>

        {{!-- FAQ set 3 --}}
        <grid.item @borderWidth={{hash bottom='xs'}} @padding={{hash all=5}}>
          <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
            Am I able to upgrade my plan?
          </UiKit::Text>
          <UiKit::Text>
            Yes! We have many plans available for your concurrency needs. You can change your plan subscription at any time on the billing page or
            <UiKit::Link onclick={{fn (mut scrollToContact true)}}>contact us</UiKit::Link>
            if you’re looking for something custom.
          </UiKit::Text>
        </grid.item>

        <grid.item @borderWidth={{hash bottom='xs'}} @padding={{hash y=5}}>
          <UiKit::Box @borderWidth={{hash sm=(hash left='xs')}} @padding={{hash x=5}}>
            <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
              Do the listed prices include VAT?
            </UiKit::Text>
            <UiKit::Text>
              Prices listed are excluding VAT, which will be added depending on origin (Germany and Europe). Make sure to have your company's
              VAT ID ready when entering billing details to remove VAT!
            </UiKit::Text>
          </UiKit::Box>
        </grid.item>

        {{!-- FAQ set 4 --}}
        <grid.item @padding={{hash all=5}}>
          <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
            How does the trial work?
          </UiKit::Text>
          <UiKit::Text>
            Your free trial includes 100 builds and starts as soon as you set up your first project and push a commit. The trial
            is limited to two concurrent jobs.
          </UiKit::Text>
        </grid.item>

        <grid.item @padding={{hash y=5}}>
          <UiKit::Box @borderWidth={{hash sm=(hash left='xs')}} @padding={{hash x=5}}>
            <UiKit::Text @tag='h4' @size='xl' @weight='bold' @color='blue-light' @margin={{hash bottom=2}}>
              Do you have plans for students?
            </UiKit::Text>
            <UiKit::Text>
              We most certainly do! You can find all details on
              <UiKit::Link @href={{config.urls.education}}>
                {{format-domain config.urls.education}}
              </UiKit::Link>
            </UiKit::Text>
          </UiKit::Box>
        </grid.item>
      </UiKit::Grid>
    </UiKit::Box>

    <UiKit::Box
      @layer='0'
      @margin={{hash bottom=-16 left=-4}}
      @position={{hash type='absolute' bottom=0 left=0}}
      @width={{64}}
    >
      <SvgImage @name="green-gradient-circle" />
    </UiKit::Box>
  </UiKit::Box>

  {{!-- Final message section --}}
  <UiKit::Box @tag='section' @textAlign='center' data-test-plans-page-message-section="true">
    <UiKit::Box @margin={{hash bottom=6}}>
      <UiKit::Text>
        Have a question you don't see answered above?
      </UiKit::Text>
      <UiKit::Text>
        Our support and sales teams are very happy to help.
      </UiKit::Text>
    </UiKit::Box>

    <UiKit::Button {{on 'click' (action 'toggleContactScroll')}} data-test-plans-page-message-button="true">
      Shoot us a Message
    </UiKit::Button>
  </UiKit::Box>
</TravisLayout>
