<section class="organization-settings">
  {{#if this.showOrganizationSettings}}
    {{#if this.scrollToInsights}}
      <ScrollHere />
    {{/if}}
    <section class="insights-visibility-settings" data-test-insights-settings>
      <h3 data-test-insights-settings-title>
        Insights Visibility Settings
      </h3>
      <div class="insights-settings">
        <p class="description" data-test-insights-settings-description>
          Make more informed decisions about your development workflow using your build Insights. <br />
          <LinkTo
            @route="owner.repositories"
            @models={{array this.organization.provider this.organization.login}}
            @query={{hash tab="insights"}}
          >
            View {{this.organization.fullName}}'s Insights
          </LinkTo>
        </p>
        <VisibilitySettingList
          @options={{this.insightsVisibilityOptions}}
          @initialKey={{this.privateInsightsVisibility}}
          @onConfirm={{action "setInsightsVis"}}
        />
      </div>
    </section>
  {{/if}}
  <section class="settings-section" data-test-custom-key-settings>
    <div class="custom-keys-header">
      <h3 class="custom-keys-title" data-test-custom-keys-title>
        SSH Key for build jobs
      </h3>
      <button
        data-test-custom-key-modal-add-button
        role="button"
        class="button button--blue custom-keys-add-button"
        {{action "toggleAddKeyModal"}}
      >
        Add new SSH Key
      </button>
    </div>
    {{#unless this.showOrganizationSettings}}
      <p>
        You don't have sufficient permissons to add or remove ssh keys for build jobs.
      </p>
    {{else}}
      {{#each this.customKeys as |key|}}
        <CustomKey @key={{key}} @customKeyDeleted={{action "customKeyDeleted"}} />
      {{/each}}
      <Modal
        @isVisible={{this.isShowingAddKeyModal}}
        @onClose={{action "toggleAddKeyModal"}}
        @closeButton={{true}}
      >
        <AddCustomKey @owner={{this.organization}} @ownerType='Organization' @customKeyAdded={{action "customKeyAdded"}} @onClose={{action "toggleAddKeyModal"}} />
      </Modal>
    {{/unless}}
  </section>
  <section class="settings-section account-env-vars-section">
    <h2 class="small-title">
      Account Environment Variables
    </h2>
    <p>
      Customize your build using environment variables. For secure tips on generating private keys
      <ExternalLinkTo @href={{config-get "urls.bestpracticessecurity"}}>
        read our documentation
      </ExternalLinkTo>
    </p>
    <div id="env-var-secrecy">
      <p>
        <span class="label-align">
          If your secret variable has special characters like <code>&amp;</code>,
          escape them by adding <code>\</code> in front of each special character.
          For example, <code>ma&amp;w!doc</code> would be entered as <code>ma\&amp;w\!doc</code>.
        </span>
      </p>
    </div>
    <AddAccountEnvVar @owner={{this.organization}} @envVarAdded={{action "envVarAdded"}} @ownerType='Organization' />

    <ul class="settings-list--envvars">
      {{#each this.envVars as |envVar|}}
        <AccountEnvVar @envVar={{envVar}} @envVarDeleted={{action "envVarDeleted"}}  />
      {{/each}}
    </ul>
  </section>
</section>
