<section class="organization-settings">
  {{#if this.showOrganizationSettings}}
    {{#if this.scrollToInsights}}
      <ScrollHere />
    {{/if}}
    <section class="insights-visibility-settings" data-test-insights-settings>
      <h3 data-test-insights-settings-title>
        Insights Visibility Settings
      </h3>
      <div class="insights-settings">
        <p class="description" data-test-insights-settings-description>
          Make more informed decisions about your development workflow using your build Insights. <br />
          <LinkTo
            @route="owner.repositories"
            @models={{array this.organization.provider this.organization.login}}
            @query={{hash tab="insights"}}
          >
            View {{this.organization.fullName}}'s Insights
          </LinkTo>
        </p>
        <VisibilitySettingList
          @options={{this.insightsVisibilityOptions}}
          @initialKey={{this.privateInsightsVisibility}}
          @onConfirm={{action "setInsightsVis"}}
        />
      </div>
    </section>
  {{/if}}
  <section class="settings-section" data-test-custom-key-settings>
    <div class="custom-keys-header">
      <h3 class="custom-keys-title" data-test-custom-keys-title>
        SSH Key for build jobs
      </h3>
      <button
        data-test-custom-key-modal-add-button class="button button--blue custom-keys-add-button" type="button" {{action "toggleAddKeyModal"}}
      >
        Add new SSH Key
      </button>
    </div>
    {{#if this.showOrganizationSettings}}
      {{#each this.customKeys as |key|}}
        <CustomKey @key={{key}} @customKeyDeleted={{action "customKeyDeleted"}} />
      {{/each}}
      <Modal
        @isVisible={{this.isShowingAddKeyModal}}
        @onClose={{action "toggleAddKeyModal"}}
        @closeButton={{true}}
      >
        <AddCustomKey @owner={{this.organization}} @ownerType='Organization' @customKeyAdded={{action "customKeyAdded"}} @onClose={{action "toggleAddKeyModal"}} />
      </Modal>
    {{else}}
      <p>
        You don't have sufficient permissons to add or remove ssh keys for build jobs.
      </p>
    {{/if}}
  </section>
</section>
