{{#job-wrapper repo=repo job=job}}
{{#if job.isLoaded}}

  {{build-header item=job commit=job.commit repo=repo}}

  {{job-infrastructure-notification job=job}}
  {{job-tabs job=job repo=repo}}

{{else}}
  <div id="job">
    {{loading-indicator}}
  </div>
{{/if}}
{{/job-wrapper}}
