<BuildMessagesList
  @request={{@request}}
  @viewMessage={{action (mut this.viewingMessage)}}
/>
<div class="raw-configs">
  {{#each @request.uniqRawConfigs as |rawConfig|}}
    <RawConfig
      @rawConfig={{rawConfig}}
      @build={{@request.build}}
      @slug={{@request.repo.slug}}
    />
  {{else}}
    <div class="starred-empty">
      The .travis.yml file used for this job is not available
    </div>
  {{/each}}
  <Request::Config @config={{@request.config}} />
</div>
