{{#if this.showNewConfigView}}
  {{#if this.canTriggerBuild}}
    <div class="request-configs-buttons" data-test-request-configs-button='true'>
      <a
        data-test-request-configs-button-cancel="true"
        class="request-configs-button request-configs-button-cancel"
        {{on 'click' (action this.onCancel)}}
      >
        Cancel
      </a>
      <a
        data-test-request-configs-button-customize="true"
        class="request-configs-button request-configs-button-customize"
        {{on 'click' (action this.onCustomize)}}
      >
        Customize
      </a>
      <a
        data-test-request-configs-button-preview="true"
        class="request-configs-button request-configs-button-preview"
        {{on 'click' (action this.onPreview)}}
      >
        Preview
      </a>
      <Request::ConfigsButtonTrigger
        @processing={{this.processing}}
        @onTriggerBuild={{action this.onTriggerBuild}}
      />
    </div>
  {{/if}}

  {{#if this.closed}}
    <Request::Messages
      @request={{this.request}}
      @messages={{this.request.messages}}
      @viewMessage={{action (mut this.viewingMessage)}}
    />
  {{else}}
    <Request::ConfigsTriggerBuildNotice
      @configs={{this.rawConfigs.length}}
      @status={{this.status}}
    />
  {{/if}}

  {{#if this.customizing}}
    <Request::ConfigForm
      @request={{this.request}}
      @config={{this.config}}
      @refType={{this.refType}}
      @branch={{this.branch}}
      @sha={{this.sha}}
      @message={{this.message}}
      @mergeMode={{this.mergeMode}}
      @loading={{this.loading}}
      @messages={{this.messages}}
      @onChange={{action "formFieldChanged"}}
      @onSubmit={{action "submit"}}
    />

    {{#unless this.replacing}}
      <h4>
        Build {{pluralize this.rawConfigs.length 'Config' without-count=true}}
      </h4>
    {{/unless}}
  {{/if}}

  {{#if this.previewing}}
    <Request::ConfigsPreview
      @repo={{this.repo}}
      @request={{this.request}}
      @ref={{this.ref}}
      @mergeMode={{this.mergeMode}}
      @config={{this.config}}
    />
  {{/if}}

  {{#unless (or this.replacing this.previewing)}}
    {{#each this.rawConfigs as |config|}}
      <Request::RawConfig
        @source={{config.source}}
        @config={{get config 'config'}}
        @loading={{this.loading}}
        @build={{@request.build}}
        @slug={{@request.repo.slug}}
      />
    {{/each}}

    <Request::Config
      @config={{this.request.config}}
    />
  {{/unless}}

{{else}}
  <Request::Messages
    @request={{this.request}}
    @messages={{this.request.messages}}
    @viewMessage={{action (mut this.viewingMessage)}}
  />

  <div class="raw-configs">
    {{#each @request.uniqRawConfigs as |config|}}
      <Request::RawConfig
        @source={{config.source}}
        @config={{get config 'config'}}
        @loading={{this.loading}}
        @build={{@request.build}}
        @slug={{@request.repo.slug}}
      />
    {{else}}
      <div class="starred-empty">
        The .travis.yml file used for this job is not available
      </div>
    {{/each}}

    <Request::Config
      @config={{this.request.config}}
    />
  </div>
{{/if}}
