<div class="request-configs {{this.status}} {{if this.invalid 'flash-invalid-fields'}}">
  {{#if (and this.canTriggerBuild this.repo.configValidation)}}
    <Request::ConfigsButtons
      @onCancel={{action this.onCancel}}
      @onCustomize={{action this.onCustomize}}
      @onPreview={{action this.onPreview}}
      @onTrigger={{action this.onTrigger}}
      @closed={{this.closed}}
      @submitting={{this.submitting}}
    />
  {{/if}}

  {{#if (or this.closed this.open)}}
    <Request::Messages
      @request={{this.request}}
      @messages={{this.request.messages}}
    />
  {{else}}
    <Request::Messages
      @request={{this.request}}
      @messages={{this.preview.messages}}
      @loading={{this.loading}}
    />
  {{/if}}

  {{#unless this.closed}}
    <Request::ConfigsTriggerBuildNotice
      @configs={{increment this.rawConfigs.length}}
      @view={{this.status}}
      @build={{this.build}}
      @onTrigger={{action this.onTrigger}}
    />
  {{/unless}}

  {{#if this.customizing}}
    <Request::ConfigForm
      @request={{this.request}}
      @config={{this.config}}
      @branch={{this.branch}}
      @sha={{this.sha}}
      @message={{this.message}}
      @mergeMode={{this.mergeMode}}
      @preview={{this.preview}}
      @loading={{this.loading}}
      @messages={{this.messages}}
      @onChange={{action "formFieldChanged"}}
      @onSubmit={{action "submit"}}
    />
  {{else if this.previewing}}
    <Request::ConfigsPreview
      @preview={{this.preview}}
    />
  {{/if}}

  {{#if (or this.closed this.open)}}
    {{#each this.rawConfigs as |config|}}
      <Request::RawConfig
        data-test-raw-config="true"
        @source={{config.source}}
        @config={{get config 'config'}}
        @loading={{this.loading}}
        @build={{@request.build}}
        @slug={{@request.repo.slug}}
      />
    {{/each}}

    <Request::Config
      data-test-request-config="true"
      @config={{this.request.config}}
    />
  {{/if}}
</div>
