<div class="request-configs-form">
  <TravisForm
    @onSubmit={{perform this.triggerBuild}}
    as |form|
  >
    <div class="request-configs-fields {{this.configMode}}" data-test-request-config-form='true'>
      <div class="request-configs-fields-container">
        <div class="form-elem">
          <form.field
            data-test-request-configs-branch="true"
            @label="Branch"
            @classNames="ref-type-branch"
            @placeholder="Select a branch"
            @value={{this.branch}}
            @showValidationStatusIcons={{false}}
            @onChange={{action "change" "branch"}}
            as |field|
          >
            <field.select
              @search={{perform this.searchBranches}}
              as |branch|
            >
              {{branch}}
            </field.select>
          </form.field>
        </div>

        <div class="form-elem">
          <form.field
            data-test-request-configs-sha="true"
            @label="Commit"
            @placeholder="Specify a Git sha (optional)"
            @value={{this.sha}}
            @showValidationStatusIcons={{false}}
            @onChange={{action "change" "sha"}}
            as |field|
          >
            {{field.input}}
          </form.field>
        </div>
      </div>

      <div class="form-elem">
        <form.field
          data-test-request-configs-message="true"
          @classNames="ref-type-sha"
          @value={{this.message}}
          @label="Message"
          @onChange={{action "change" "message"}}
          @placeholder="Overwrite the commit message (optional)"
          as |field|
        >
          {{field.input}}
        </form.field>
      </div>

      <div class="form-elem">
        <form.field
          data-test-request-configs-config="true"
          @label="Custom Build Config"
          as |field|
        >
          <div class="config-type tooltip-wrapper">
            <span class="yaml">YAML</span>
            <span class="javascript">JSON</span>
            <EmberTooltip @text="Detected build config format" />
          </div>

          <IvyCodemirror
            @value={{this.config}}
            @valueUpdated={{action "change" "config"}}
            @options={{hash
              mode=this.configMode
              lineNumbers=true
              tabSize=2
              indentWithTabs=false
              placeholder="Overwrite build config"
            }}
          />

        </form.field>
      </div>

      <div class="form-elem">
        <h4 class="request-configs-heading">
          Merge mode
        </h4>

        <form.field
          @disableFrame={{true}}
          @value={{eq @mergeMode 'deep_merge_append'}}
          @onChange={{action 'change' 'mergeMode' 'deep_merge_append'}}
          class="inline-block mr-6"
          as |field|
        >
          <field.checkbox>
            Deep Merge &amp; Append
          </field.checkbox>
        </form.field>
        <form.field
          @disableFrame={{true}}
          @value={{eq @mergeMode 'deep_merge_prepend'}}
          @onChange={{action 'change' 'mergeMode' 'deep_merge_prepend'}}
          class="inline-block mr-6"
          as |field|
        >
          <field.checkbox>
            Deep Merge &amp; Prepend
          </field.checkbox>
        </form.field>
        <form.field
          @disableFrame={{true}}
          @value={{eq @mergeMode 'deep_merge'}}
          @onChange={{action 'change' 'mergeMode' 'deep_merge'}}
          class="inline-block mr-6"
          as |field|
        >
          <field.checkbox>
            Deep Merge
          </field.checkbox>
        </form.field>
        <form.field
          @disableFrame={{true}}
          @value={{eq @mergeMode 'merge'}}
          @onChange={{action 'change' 'mergeMode' 'merge'}}
          class="inline-block mr-6"
          as |field|
        >
          <field.checkbox>
            Merge
          </field.checkbox>
        </form.field>
        <form.field
          @disableFrame={{true}}
          @value={{eq @mergeMode 'replace'}}
          @onChange={{action 'change' 'mergeMode' 'replace'}}
          class="inline-block mr-10"
          as |field|
        >
          <field.checkbox>
            Replace
          </field.checkbox>
        </form.field>

        <ExternalLinkTo class="hint" href="{{config-get 'urls.triggerBuildMergeModes'}}">
          <SvgImage @name='icon-help' @class='icon-help' />
        </ExternalLinkTo>
      </div>
    </div>
  </TravisForm>


  {{#unless this.replacing}}
    <h4 class="request-configs-heading">
      Build {{pluralize this.rawConfigs.length 'Config' without-count=true}}
    </h4>

    {{#each this.rawConfigs as |config|}}
      <Request::RawConfig
        data-test-raw-config="true"
        @source={{config.source}}
        @config={{get config 'config'}}
        @loading={{this.loading}}
        @build={{@request.build}}
        @slug={{@request.repo.slug}}
      />
    {{/each}}

    <Request::Config
      data-test-request-config="true"
      @config={{this.requestConfig}}
    />
  {{/unless}}
</div>
