{{#if this.showConfigValidation}}
  <div class="request-messages">
    <div class="header" {{action 'toggle'}}>
      <span class="tooltip-wrapper level-icon">
        <SvgImage @name="msg-{{this.maxLevel}}"  @class={{this.iconClass}} />
        <EmberTooltip @text={{this.summary}} />
      </span>
      Build config validation
      {{#if this.displaySummary}}
        &mdash; {{this.summary}}
      {{/if}}
      <div class="tools">
        <ExternalLinkTo href="{{config-get 'urls.buildConfigValidation'}}">
          <SvgImage @name='icon-help' @class='icon-help' />
        </ExternalLinkTo>
        {{#if this.messages}}
          <SvgImage @name="icon-dropdown-arrow" @class="icon-toggle icon-{{this.toggleStatus}}" />
        {{/if}}
      </div>
    </div>
    {{#if this.expanded}}
      <div class="list">
        {{#each this.messages as |message|}}
          <Request::Message @message={{message}} />
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}
