<div class="request-message">
  {{#if this.isLinkable}}
    <a
      href={{this.lineLink}}
      class="request-message-link"
      tabindex="0"
      data-test-request-message-link="true"
    >
      <Request::MessageLine
        @iconClass={{this.iconClass}}
        @level={{this.message.level}}
        @code={{this.message.code}}
        @message={{this.readableMessage}}
        @tooltipText={{this.tooltipText}}
      />
    </a>
  {{else}}
    <div tabindex="0">
      <Request::MessageLine
        @iconClass={{this.iconClass}}
        @level={{this.message.level}}
        @code={{this.message.code}}
        @message={{this.readableMessage}}
        @tooltipText={{this.tooltipText}}
      />
    </div>
  {{/if}}
</div>
