{{#if content.isLoaded}}
  <table id="builds" class="list">
    <thead>
      <tr>
        <th>Build</th>
        <th>Message</th>
        <th>
          Commit
        </th>
        <th class="committer">
          Committer
        </th>
        {{#if isPullRequestsList}}
          <th>
            PR
          </th>
        {{/if}}
        <th>Duration</th>
        <th>Finished</th>
      </tr>
    </thead>

    <tbody>
      {{#each build in controller itemController="buildsItem"}}
        {{#view Travis.BuildsItemView contextBinding="build"}}
          <td class="number">
            <span class="status"></span>
            {{#if id}}
              {{#link-to "build" repo this}}
                {{number}}
              {{/link-to}}
            {{/if}}
          </td>
          <td class="message">
            {{{formatMessage commit.message short="true" repoBinding=build.repo}}}
          </td>
          <td class="commit">
            <a {{bind-attr href="urlGithubCommit"}}>
              {{formatCommit commit}}
            </a>
          </td>
          <td class="committer">
            {{commit.committerName}}
          </td>
          {{#if isPullRequestsList}}
            <td>
              <a {{bind-attr href="urlGithubPullRequest"}}>
                #{{pullRequestNumber}}
              </a>
            </td>
          {{/if}}
          <td class="duration" {{bind-attr title="duration"}}>
            {{formatDuration duration}}
          </td>
          <td class="finished_at timeago" {{bind-attr title="formattedFinishedAt"}}>
            {{formatTime finishedAt}}
          </td>
        {{/view}}
      {{/each}}
    </tbody>
  </table>
  {{#if displayShowMoreButton}}
    <p>
      {{view view.ShowMoreButton}}
      {{#if isLoading}}
        <span class="loading"></span>
      {{/if}}
    </p>
  {{/if}}
{{else}}
  <div class="loading"><span>Loading</span></div>
{{/if}}
