{{#if builds.isLoaded}}
  <table id="builds" class="list">
    <thead>
      <tr>
        <th>{{t builds.name}}</th>
        {{#if view.isPullRequestsList}}
          <th>{{t builds.pr}}</th>
        {{else}}
          <th>{{t builds.message}}</th>
        {{/if}}
        <th>
          {{t builds.commit}}
        </th>
        <th class="committer">
          {{t builds.commiter}}
        </th>
        <th>{{t builds.duration}}</th>
        <th>{{t builds.finished_at}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each build in builds}}
        {{#view Travis.BuildsItemView contextBinding="build"}}
          <td class="number">
            <span class="status"></span>
            {{#if id}}
              <a {{action showBuild repo this href=true}}>
                {{number}}
              </a>
            {{/if}}
          </td>
          {{#if view.parentView.isPullRequestsList}}
            <td class="message">
              <a {{bindAttr href="view.urlGithubPullRequest"}}>
                  #{{commit.pullRequestNumber}} - {{commit.pullRequestName}}
                </a>
            </td>
          {{else}}
            <td class="message">
              {{{ formatMessage commit.message short="true"}}}
            </td>
          {{/if}}
          <td class="commit">
            <a {{bindAttr href="view.urlGithubCommit"}}>
              {{formatCommit commit}}
            </a>
          </td>
          <td class="committer">
            {{commit.committerName}}
          </td>
          <td class="duration" {{bindAttr title="duration"}}>
            {{formatDuration duration}}
          </td>
          <td class="finished_at timeago" {{bindAttr title="finishedAt"}}>
            {{formatTime finishedAt}}
          </td>
        {{/view}}
      {{/each}}
    </tbody>
  </table>
  <p>
    {{view view.ShowMoreButton}}
  </p>
{{else}}
  <div class="loading"><span>Loading</span></div>
{{/if}}
