{{#if loading}}
  <span>Loading</span>
{{else}}
  <div id="new-summary">
    <div class="right">
      <div class="build-status">
        {{#link-to "build" repo build}}#{{build.number}} {{build.state}}{{/link-to}}
      </div>

      <div class="runtime">
         ran for {{formatDuration build.duration}} 
      </div>

      <div class="finished">
        {{formatTime build.finishedAt}}
      </div>
    </div>
 
    <div class="branch" {{bind-attr title="build.commit.branch"}}>
      {{build.commit.branch}}
    </div>
    -
    <div class="subject">
      {{formatMessage build.commit.subject repoBinding=build.repo}}
    </div>

    <pre class="body">
{{formatMessage build.commit.body repoBinding=build.repo pre=true}}
    </pre>

    <div class="footer">
      <div class="author">
        {{#if commit.authorName}}
          <img src="https://travis-ci.org/images/mailer/mascot-avatar-40px.png"/>{{commit.authorName}} authored
        {{/if}}
        {{#if commit.committerName}}
          <img src="https://travis-ci.org/images/mailer/mascot-avatar-40px.png"/>{{commit.committerName}} committed
        {{/if}}
      </div>

      <div class="commit">
        <div class=""><a class="github commit" {{bind-attr href="controller.urlGithubCommit"}}>Commit {{formatSha commit.sha}}</a></div><img src="/images/icons/github.png" height="15"/>
        {{#if build.pullRequest}}
          <div><a class="compare" {{bind-attr href="build.commit.compareUrl"}} >#{{build.pullRequestNumber}}: {{build.pullRequestTitle}}</a></div>
        {{else}}
          {{#if build.commit.compareUrl}}
            <div><a class="compare" {{bind-attr href="build.commit.compareUrl"}}>Compare {{shortCompareShas build.commit.compareUrl}}</a></div>
          {{/if}}
        {{/if}}
        <img src="/images/icons/github.png" height="15"/>
      </div>
    </div>
  </div>

  {{#unless build.isMatrix}}
    {{view Travis.AnnotationsView annotationsBinding="build.jobs.firstObject.annotations"}}
  {{/unless}}

  {{#if build.isMatrix}}
    {{view Travis.JobsView jobsBinding="build.requiredJobs" required="true"}}
    {{view Travis.JobsView jobsBinding="build.allowedFailureJobs"}}
  {{else}}
    {{view Travis.LogView jobBinding="build.jobs.firstObject"}}
  {{/if}}
{{/if}}
