<form class="env-var" {{action "save" on="submit"}}>
  {{#travis-field "name"}}
    {{#label for="name"}}Name:{{/label}}
    {{input value=name class="env-name"}} {{travis-errors "name"}}
  {{/travis-field}}
  {{#if showValueField}}
    <div class="field">
      {{#label for="value"}}Value:{{/label}}
      {{input value=value class="env-value"}}
    </div>
  {{/if}}
  <div class="field">
    {{travis-switch active=public class="value"}}
    {{#label for="secure" class="value"}}Display value in build logs{{/label}}
  </div>

  <div class="actions">
    <input type="submit" {{bind-attr value=actionType class=":submit-env-var isSaving:saving" disabled=isSaving}} />
    <span class="or">or</span>
    <a href="#" class="cancel-env-var" {{action "cancel"}}>Cancel</a>
  </div>
</form>
