<div class="migrate" data-test-migrate-page>
    <h1 data-test-title>
      Bring your public repositories here
    </h1>
    <p data-test-common-intro>
      Below you can migrate all your repositories to build on travis-ci.com and view all of your builds in one place.
    </p>
    {{#if this.showActivationStep}}
      <p data-test-step1-intro>
        The first step is activating your repositories on GitHub Apps to later migrate them here.
      </p>
      <div class="migrate__activate">
        <ButtonActivateAllGithub />
      </div>
      <p class="migrate__activate-note" data-test-manual-note>
        *Keep in mind that you can also select the specific repositories you’d like to migrate.
      </p>
    {{else}}
      {{#if this.owner.allowMigration}}
        <p data-test-step2-intro>
          If a repository you’d like to migrate is missing, please first
          <ExternalLinkTo
            data-test-activate-link="true"
            @href={{this.activateAllUrl}}
            @target="_self"
            class="migrate__activate-all"
          >
            activate it on Github Apps
          </ExternalLinkTo>
          <SvgImage @name={{vcs-icon this.owner.vcsType}} @class="migrate__github-icon" />
        </p>
      {{/if}}
      <div class="migrate__repo-list">
        <RepositoryFilter @repositories={{this.repositories}} as |filter|>
          {{#if this.showFilter}}
            <filter.form as |form|>
              <div class="profile-repositories-filter">
                <form.searchField
                  data-test-repo-filter="true"
                  @placeholder="Filter repositories"
                  @title="Filter repositories"
                />
              </div>
            </filter.form>
          {{/if}}
          <div>
            <LoadingOverlay @visible={{filter.isLoading}}>
              <TravisForm as |form|>
                {{#if this.showSelectAll}}
                  <div class="migrate__select-all">
                    <form.field
                      data-test-select-all="true"
                      @disableFrame={{true}}
                      @value={{this.isAllSelected}}
                      @onChange={{action "toggleAll"}}
                      as |field|
                    >
                      <field.checkbox>
                        Select all repositories below
                      </field.checkbox>
                    </form.field>
                  </div>
                {{/if}}
                <ul class="profile-repositorylist" data-test-repo-list>
                  {{#each filter.results as |repository|}}
                    <li class="profile-repolist-item">
                      <form.field
                        data-test-repo="true"
                        @disableFrame={{true}}
                        @disabled={{not repository.isMigratable}}
                        @value={{contains repository this.selectedRepositories}}
                        @onChange={{action "toggleRepository" repository}}
                        as |field|
                      >
                        <field.checkbox>
                          <RepositoryVisibilityIcon
                            @repository={{repository}}
                          />
                          <span class="profile-repo">
                            {{compute filter.computeName repository.name filter.query}}
                          </span>
                          {{#if (not this.owner.allowMigration)}}
                            <EmberTooltip @text="Migration is not available for this account" />
                          {{else if (not repository.permissions.admin)}}
                            <EmberTooltip @text="Requires admin permissions" />
                          {{/if}}
                        </field.checkbox>
                      </form.field>
                      <div data-test-migration-status={{repository.migrationStatus}} class="migrate__status {{repository.migrationStatus}}">
                        {{#if (or repository.isMigrationQueued repository.isMigrationMigrating)}}
                          <LoadingIndicator
                            data-test-repository-migration-loading-animation="true"
                            @inline={{true}}
                          />
                          <EmberTooltip @text="Migrating" />
                        {{else if repository.isMigrationSucceeded}}
                          <span>
                            <SvgImage @name="stage-passed" @class="icon" />
                            <EmberTooltip @text="This repository has been migrated" />
                          </span>
                        {{else if repository.isMigrationFailed}}
                          <span>
                            <SvgImage @name="stage-failed" @class="icon" />
                            <EmberTooltip @text="This repository couldn’t be migrated, please try again" />
                          </span>
                        {{/if}}
                      </div>
                    </li>
                  {{else if filter.isFiltering}}
                    <li class="no-results">
                      Sorry, no repositories fit the criteria.
                    </li>
                  {{/each}}
                </ul>
              </TravisForm>
            </LoadingOverlay>
          </div>
          <PaginationNavigation
            @collection={{this.repositories}}
            @route={{this.router.currentRouteName}}
          />
          <div class="migrate__submit">
            {{#if this.owner.allowMigration}}
              {{#if (or this.repositories.length filter.isFiltering)}}
                <button
                  data-test-migrate-button
                  disabled={{not this.selectedRepositories.length}}
                  class="button--blue {{unless this.selectedRepositories.length 'disabled'}}"
                  onclick={{action (mut this.isShowingRepositoryMigrationModal) true}}
                >
                  Migrate selected repositories to travis-ci.com
                </button>
              {{/if}}
            {{else}}
              <PaperBlock>
                <p>
                  Your account needs to be part of the beta to start migrating public repositories here. Please, sign up for the beta below.
                </p>
                <div>
                  <button
                    class="button--blue"
                    {{on 'click' (fn (mut this.isShowingMigrateBetaDialog) true)}}
                  >
                    Sign up for the beta
                  </button>
                </div>
              </PaperBlock>
            {{/if}}
          </div>
        </RepositoryFilter>
        <Modal
          @isVisible={{this.isShowingRepositoryMigrationModal}}
          @onClose={{action "closeMigrateModal"}}
        >
          <RepositoryMigrationModal
            data-test-repository-migration-modal="true"
            @repositories={{this.selectedRepositories}}
            @onClose={{action "closeMigrateModal"}}
          />
        </Modal>
      </div>
    {{/if}}
</div>

<Dialogs::MigrateBeta
  @isOpen={{this.isShowingMigrateBetaDialog}}
  @onClose={{fn (mut this.isShowingMigrateBetaDialog) false}}
/>
