{{#if this.showMigrationStatusBanner}}
  {{#if this.owner.isMigrationBetaAccepted}}
    <PaperBlock
      @elevation={{2}}
      class="text-medium no-margin"
      data-test-migrate-banner-accepted="true"
    >
      {{#if this.owner.isOrganization}}
        The {{this.owner.title}} {{vcs-vocab this.owner.vcsType 'organization'}}
      {{else}}
        Your account
      {{/if}}
      is signed up for the beta! Now you can
      <ExternalLinkTo @href={{this.migrateURL}}>
        start migrating
      </ExternalLinkTo>
      your open source repositories to
      <ExternalLinkTo @href="https://travis-ci.com">
        travis-ci.com
      </ExternalLinkTo>
    </PaperBlock>
  {{else if this.owner.isMigrationBetaRequested}}
    <PaperBlock
      @elevation={{2}}
      class="text-medium no-margin"
      data-test-migrate-banner-requested="true"
    >
      The request for
      {{#if this.owner.isOrganization}}
        {{this.owner.title}}
      {{else}}
        your account
      {{/if}}
      to participate in Migration Beta is pending.
      We'll let you know, when it's accepted!
    </PaperBlock>
  {{else}}
    <p class="text-medium">
      We're only showing your public repositories.
      You can find your private projects on
      <ExternalLinkTo @href="https://travis-ci.com">
        travis-ci.com
      </ExternalLinkTo>.
    </p>
  {{/if}}
{{/if}}
{{#if this.showGitHubApps}}
  {{#if this.skipGitHubAppsInstallation }}
    <div id="github-apps-repositories" data-test-github-app-repos>
      {{#if this.isGithubRepository}}
        <header class="space-between" data-test-github-apps-integration-header>
          <h2>
            GitHub Apps Integration
          </h2>
          <ExternalLinkTo
            @href={{this.appsManagementURL}}
            class="button--white migrate"
          >
            <SvgImage @name={{vcs-icon this.owner.vcsType}} />
            Manage repositories on GitHub
          </ExternalLinkTo>
        </header>
      {{/if}}
      <RepositoryFilter @repositories={{this.appsRepos}} as |filter|>
        {{#if this.showAppsReposFilter}}
          <filter.form as |form|>
            <div class="not-locked-profile-repositories-filter">
              <form.searchField
                @placeholder="Filter {{vcs-name this.owner.vcsType}} repositories"
                @title="Filter {{vcs-name this.owner.vcsType}} repositories"
              />
            </div>
          </filter.form>
        {{/if}}
        <div>
          <LoadingOverlay @visible={{filter.isLoading}}>
            <ul class="profile-repositorylist">
              {{#each filter.results as |repository|}}
                <GithubAppsRepository
                  @repository={{repository}}
                  @name={{compute filter.computeName repository.name filter.query}}
                />
              {{else if filter.isLoading}}
                {{!  show nothing  }}
              {{else if filter.isFiltering}}
                <li class="no-results">
                  Sorry, no results found.
                </li>
              {{else}}
                <li class="empty">
                  <p>
                    We couldn’t find any active repositories you have access to.
                  </p>
                  {{#if this.isMatchGithub}}
                    <p>
                      You can add repositories by clicking the “Manage repositories on GitHub” button above.
                    </p>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </LoadingOverlay>
        </div>
        {{#if this.owner.isOrganization}}
          <PaginationNavigation
            @collection={{this.appsRepos}}
            @route="organization.repositories"
            @queryParam="apps-page"
            @inner={{6}}
            @outer={{2}}
          />
        {{else}}
          <PaginationNavigation
            @collection={{this.appsRepos}}
            @route="account.repositories"
            @queryParam="apps-page"
            @inner={{6}}
            @outer={{2}}
          />
        {{/if}}
      </RepositoryFilter>
    </div>
  {{else}}
    <div id="github-apps-invitation" class="{{unless this.hasLegacyRepos 'expanded'}}">
      <h2>
        GitHub Apps Integration
      </h2>
      <p>
        Activate the GitHub Apps integration to start testing and deploying on Travis CI.
      </p>
      <p>
        The GitHub Apps integration supports both private and open source repositories,
        while providing enhanced security when interacting with GitHub.
      </p>
      {{#if this.canMigrate}}
        <button
          class="button--green migrate-or-activate"
          type="button"
          onclick={{perform this.migrate}}
          data-test-migrate-github-apps
        >
          {{#if this.migrate.isRunning}}
            <LoadingIndicator class="loading-indicator--white migrate" />
          {{else}}
            <SvgImage @name={{vcs-icon this.owner.vcsType}} @class="icon--github" />
          {{/if}}
          Activate &amp; Migrate
        </button>
        <p>
          We will pass to GitHub the repositories that should be included in the activation list for the installation.
        </p>
      {{else}}
        <ExternalLinkTo
          @target='_self'
          @href={{this.appsActivationURL}}
          class="button--green migrate-or-activate"
        >
          <SvgImage @name={{vcs-icon this.owner.vcsType}} @class="icon--github" />
          Activate
        </ExternalLinkTo>
        <p>
          We are only able to migrate accounts that have {{this.migrationRepositoryCountLimit}}
          or fewer repositories using the Legacy Services Integration. Please
          <ExternalLinkTo @href="https://docs.travis-ci.com/user/travis-migrate-to-apps-gem-guide/">
            refer to our documentation
          </ExternalLinkTo>
          on how to migrate your account.
        </p>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
{{#if this.showLegacyRepos}}
  <div data-test-legacy-repos>
    <header class="legacy-services-integration">
      <h2>
        Legacy Services Integration
        {{#if this.showGitHubApps}}
          <ExternalLinkTo
            @href="https://docs.travis-ci.com/user/open-source-on-travis-ci-com/"
            @title="Read our documentation on open source migration"
            class="badge deprecated square"
          >
            Deprecated
          </ExternalLinkTo>
        {{/if}}
      </h2>
    </header>
    <RepositoryFilter @repositories={{this.legacyRepos}} as |filter|>
      {{#if this.showLegacyReposFilter}}
        <filter.form as |form|>
          <div class="profile-repositories-filter">
            <form.searchField
              @placeholder="Filter repositories"
              @title="Filter repositories"
            />
          </div>
        </filter.form>
      {{/if}}
      <div id="administerable-repositories">
        <LoadingOverlay @visible={{filter.isLoading}}>
          <ul class="profile-repositorylist">
            {{#each filter.results as |repository|}}
              <RepositoryStatusToggle
                @repository={{repository}}
                @name={{compute filter.computeName repository.name filter.query}}
              />
            {{else if filter.isLoading}}
              {{!  show nothing  }}
            {{else if filter.isFiltering}}
              <li class="no-results">
                Sorry, no results found.
              </li>
            {{else}}
              <li>
                Sorry, it seems like we couldn't find any repositories you have access to on GitHub.
              </li>
            {{/each}}
          </ul>
        </LoadingOverlay>
      </div>
      {{#if this.owner.isOrganization}}
        <PaginationNavigation
          @collection={{this.legacyRepos}}
          @route="organization.repositories"
          @queryParam="legacy-page"
          @inner={{6}}
          @outer={{2}}
        />
      {{else}}
        <PaginationNavigation
          @collection={{this.legacyRepos}}
          @route="account.repositories"
          @queryParam="legacy-page"
          @inner={{6}}
          @outer={{2}}
        />
      {{/if}}
    </RepositoryFilter>
  </div>
{{/if}}
