{{#if view.events.isLoaded}}
  <table id="events" class="list">
    <thead>
      <tr>
        <th>Time</th>
        <th>Event</th>
        <th>Result</th>
        <th>Message</th>
      </tr>
    </thead>

    <tbody>
      {{#each view.events as |event|}}
        {{#view "events-item" context="event"}}
          <td class="created_at">
            {{format-time createdAt}}
          </td>
          <td class="event">
            {{event.event_}}
          </td>
          <td class="state">
            {{event.state}}
          </td>
          <td class="message">
            {{event.message}}
          </td>
        {{/view}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  {{loading-indicator}}
{{/if}}

