<img {{bind-attr src="view.gravatarUrl"}}>

<dl class="profile">
  <div>
    <dt>
      GitHub
    </dt>
    <dd>
      <a {{bind-attr href="urlGithub"}}>{{user.login}}</a>
    </dd>
  </div>
  <div>
    <dt>
      Email
    </dt>
    <dd>
      {{user.email}}
    </dd>
  </div>
  <div>
    <dt>
      Token
    </dt>
    <dd>
      {{user.token}}
    </dd>
  </div>
</dl>
