<div id="search_box">
  {{view Ember.TextField valueBinding="controller.search"}}
</div>

{{view Travis.ReposListTabsView}}

<a {{action toggleInfo}} class="toggle-info"></a>

<div class="tab">
  {{#collection Travis.RepositoriesListView contentBinding="controller"}}
    {{#with view.repository}}
      <span class="status"></span>
      <a {{bindAttr href="view.urlRepository"}} {{action route}} class="current">{{slug}}</a>
      <a {{bindAttr href="view.urlLastBuild"}} {{action route}} class="last_build">{{lastBuildNumber}}</a>

      <p class="summary">
        <span class="duration_label">{{t repositories.duration}}:</span>
        <abbr class="duration" {{bindAttr title="lastBuildStartedAt"}}>{{formatDuration lastBuildDuration}}</abbr>,
        <span class="finished_at_label">{{t repositories.finished_at}}:</span>
        <abbr class="finished_at timeago" {{bindAttr title="lastBuildFinishedAt"}}>{{formatTime lastBuildFinishedAt}}</abbr>
      </p>

      <span class="indicator"></span>

      {{#if description}}
        <div class="info">
          <p class="description">{{description}}</p>
        </div>
      {{/if}}
    {{/with}}
  {{/collection}}
</div>
