<form class='settings-form'>
  <p class="settings-row">
    Build only if .travis.yml is present
    {{travis-switch action="save" active=settings.builds_only_with_travis_yml}}
  </p>

  <p class="settings-row">
    Build pushes
    {{travis-switch action="save" active=settings.build_pushes}}
  </p>

  <p class="settings-row">
    Build pull requests
    {{travis-switch action="save" active=settings.build_pull_requests}}
  </p>

  <p class="settings-row">
    <p class="short-settings-element {{settings.maximum_number_of_builds_valid}}">
      {{input value=settings.maximum_number_of_builds size="4" pattern='/^[0-9]+$/'}}
    </p>
    <label>
      Concurrent jobs
    </label>
  </p>
</form>
