<h4>{{t workers}}</h4>
<ul>
  {{#each group in workers.groups}}
    <li class="group">
      <h5>{{group.firstObject.host}}</h5>
      <ul>
      {{#each group}}
        <li class="worker">
          {{#if isTesting}}
            <a {{bindAttr href="urlJob"}} {{bindAttr title="lastSeenAt"}}>{{display}}</a>
          {{else}}
            <span {{bindAttr title="lastSeenAt"}}>{{display}}</span>
          {{/if}}
        </li>
      {{/each}}
      </ul>
    </li>
  {{else}}
    No workers
  {{/each}}
</ul>

