<h4>{{t workers}}</h4>
<ul id="workers">
  {{#each group in controller.groups}}
    {{#view Travis.WorkersView contextBinding="repository"}}
      <li class="group">
        <h5 {{action toggle}}>
          {{group.firstObject.host}}
        </h5>
        <ul>
        {{#each worker in group}}
          <li class="worker">
            <div class="icon"></div>
            <a {{bindAttr href="worker.urlJob"}} {{bindAttr title="worker.lastSeenAt"}}>{{worker.display}}</a>
          </li>
        {{/each}}
        </ul>
      </li>
    {{/view}}
  {{else}}
    No workers
  {{/each}}
</ul>

