{{#view Travis.WorkersView}}
  <h4>
    {{t workers}}
    <a id="toggle-workers" {{action toggleWorkers target="parentView.parentView"}}></a>
  </h4>
  <ul id="workers">
    {{#each group in controller.groups}}
      {{#view Travis.WorkersListView}}
        <li class="group">
          <h5 {{action toggle target="view"}}>
            {{group.firstObject.host}}
          </h5>
          <ul>
          {{#each worker in group}}
            {{#view Travis.WorkersItemView workerBinding="worker"}}
              <li class="worker">
                <div class="status"></div>
                {{#if worker.isWorking}}
                  {{#if view.job.id}}
                    <a {{bindAttr title="worker.lastSeenAt"}} {{action showJob view.job href=true}}>
                      {{view.display}}
                    </a>
                  {{/if}}
                {{else}}
                  {{view.display}}
                {{/if}}
              </li>
            {{/view}}
          {{/each}}
          </ul>
        </li>
      {{/view}}
    {{else}}
      No workers
    {{/each}}
  </ul>
{{/view}}
