  {{#if yaml}}
    <div class='yaml-editor-and-controls'>
      <YamlEditor @yaml={{buffer.yaml}} @messages={{build.request.messages}} />
      <div class='controls'>
        Event type: {{input value=buffer.eventType}}

        Commit message: {{input value=buffer.commitMessage}}

        <button type='submit' disabled={{unless buffer.hasChanges 'disabled'}} {{action 'submit'}} class='button--white {{unless buffer.hasChanges 'disabled'}}'>
          Submit {{#if fetch.isRunning}}{{loading-indicator}}{{/if}}
        </button>
      </div>
    </div>

    {{build-messages-list messagesRequest=build.request}}

    {{#if stages}}
      {{#each stages as |stage|}}
        {{jobs-list stage=stage build=build repo=selected.repo stages=stages}}
      {{/each}}
    {{else}}
      {{jobs-list jobs=(reject-by 'allow_failure' build.jobs) repo=repo required="true"}}
      {{jobs-list jobs=(filter-by 'allow_failure' build.jobs) repo=repo}}
    {{/if}}
  {{else}}
    {{loading-indicator}}
  {{/if}}

  <hr>
