<Styleguides::GridContainer @base={{2}} @md={{4}} as |Grid|>
  {{#each products as |product|}}
    <Grid.item class="p-4 border-grey-150 border">
      <h3>
        {{product.name}}
      </h3>
      <h4>
        {{product.description}}
      </h4>
      <div>
        {{product.builds}}
        {{pluralize product.builds "Concurrent job" without-count=true}}
      </div>
      <div>
        {{svg-jar "features-check" class="w-4 inline-block"}}
        Unlimited build minutes
      </div>
      <div>
        {{svg-jar "features-check" class="w-4 inline-block"}}
        Unlimited repositories
      </div>
      <div>
        {{svg-jar "features-check" class="w-4 inline-block"}}
        Unlimited collaborators
      </div>
      <div>
        {{product.currencySymbol}}
        {{product.displayPrice}}
        {{product.currency}}
        {{product.interval}}
      </div>
    </Grid.item>
  {{/each}}
</Styleguides::GridContainer>
<div class="text-center p-4 border-grey-150 border">
  <Styleguides::TravisButton @onToggle={{action ctaAction}}>
    Start Your Free Trial
  </Styleguides::TravisButton>
</div>