{{#styleguides/grid-container
  auto=4
  as |grid|
}}
  {{#each products as |product|}}
    {{#grid.item class="p-4 border-grey-150 border"}}
      <h3>{{product.name}}</h3>
      <h4>{{product.description}}</h4>

      <div>
        {{product.builds}}
        {{pluralize product.builds 'Concurrent job' without-count=true}}
      </div>
      <div>{{svg-jar 'features-check' class="w-4 inline-block"}} Unlimited build minutes</div>
      <div>{{svg-jar 'features-check' class="w-4 inline-block"}} Unlimited repositories</div>
      <div>{{svg-jar 'features-check' class="w-4 inline-block"}} Unlimited collaborators</div>

      <div>
        {{product.currencySymbol}}{{product.displayPrice}}
        {{product.currency}}
        {{product.interval}}
      </div>
    {{/grid.item}}
  {{/each}}
  {{#grid.item class="text-center p-4 border-grey-150 border" sm='1/1' md='1/1' lg='full' xl='full'}}
    <button>Start Your Free Trial</button>
  {{/grid.item}}
{{/styleguides/grid-container}}