<div id="top">
  {{render "top"}}
</div>

<div id="main">
  {{render "flash"}}
  {{yield}}
</div>

<div id="left">
  {{outlet "left"}}
</div>

{{#if config.pro}}
  <div id="right">
    {{render "sidebar"}}
  </div>
{{/if}}
