<div id="top">
  {{render "top"}}
</div>

<div id="left">
  {{outlet "left"}}
</div>

<div id="main">
  {{render "flash"}}
  {{yield}}
</div>

{{#if Travis.config.pro}}
  <div id="right">
    {{outlet right}}
  </div>
{{/if}}
