<div id="top">
  {{outlet top}}
</div>

<div id="page">
  <div id="left">
    {{outlet left}}
  </div>

  <div id="main">
    {{outlet flash}}
    {{outlet main}}
  </div>

  <div id="right">
    {{outlet right}}
  </div>
</div>
