<div id="top">
  {{render "top"}}
</div>

<div id="left">
  {{outlet left}}
</div>

<div id="main">
  {{outlet flash}}
  {{outlet main}}
</div>

<div id="right">
  <div id="slider" {{action "toggle" target="Travis.slider"}}>
    <div class='icon'></div>&nbsp;
  </div>

  <div class="box">
    <h4>Getting started?</h4>
    <p>
      Please read our <a href="http://docs.travis-ci.com/user/getting-started">guide</a>.
      You'll be up and running in no time!
    </p>
    <p>
      You can find detailed docs on our <a href="http://docs.travis-ci.com">documentation</a> site.
    </p>
    <p>
      If you need help please don&rsquo;t hesitate to join
      <a href="irc://irc.freenode.net#travis">#travis</a> on irc.freenode.net
      or our <a href="http://groups.google.com/group/travis-ci">mailing list</a>.
    </p>
  </div>
</div>
