<div id="github-wrapper">
  <a id="github" href="https://github.com/travis-ci" title="Fork me on GitHub">
    {{t layouts.application.fork_me}}
  </a>
</div>

<div id="slider" {{action toggle target="Travis.slider"}}>
  <div class='icon'></div>&nbsp;
</div>

{{view view.DecksView}}

<ul class="tabs">
  <li id="tab_queues" {{bindAttr class="view.classQueues"}}>
    <h5><a href="#" {{action activate "queues" target="view"}}>{{t layouts.application.queues}}</a></h5>
  </li>
  <li id="tab_jobs" {{bindAttr class="view.classJobs"}}>
    <h5><a href="#" {{action activate "jobs" target="view"}}>{{t layouts.application.jobs}}</a></h5>
  </li>
  <li id="tab_workers" {{bindAttr class="view.classWorkers"}}>
    <h5><a href="#" {{action activate "workers" target="view"}}>{{t layouts.application.workers}}</a></h5>
  </li>
</ul>

<div class="pane">
  {{outlet pane}}
</div>

{{view view.LinksView}}

<div id="about" class="box">
  <h4>{{t layouts.about.join}}</h4>
  <ul>
    <li>{{t layouts.about.repository}}: <a href="http://github.com/travis-ci">Github</a></li>
    <li>{{t layouts.about.twitter}}: <a href="http://twitter.com/travisci">@travisci</a></li>
    <li>{{t layouts.about.mailing_list}}: <a href="http://groups.google.com/group/travis-ci">travis-ci</a></li>
    <li><a href="irc://irc.freenode.net#travis">irc.freenode.net#travis</a></li>
  </ul>
</div>
