<div id="slider" {{action toggle target="Travis.slider"}}>
  <div class='icon'></div>&nbsp;
</div>

{{#if tip}}
  <div class="tip box">
    <h4>Tip:</h4>

    <p>{{{tip}}}</p>
  </div>
{{/if}}

{{#if config.sidebar_support_box}}
  {{view templateName="layouts/support"}}
{{/if}}

{{render "runningJobs"}}

{{view Travis.QueueView}}
