{{#linkTo "index.current"}}
  <h1>Travis</h1>
{{/linkTo}}

<ul id="navigation">
  <li class="home">
    {{#linkTo "index.current"}}{{t layouts.top.home}}{{/linkTo}}
  </li>
  <li>
    <a href="http://about.travis-ci.org/blog">{{t layouts.top.blog}}</a>
  </li>
  <li>
    <a href="http://status.travis-ci.com">{{t layouts.top.status}}</a>
  </li>
  <li class="menu community">
    <p class="handle">
      <a href="#">Help</a>
    </p>
    <ul>
      <li><a href="http://about.travis-ci.org/docs">{{t layouts.top.docs}}</a></li>
      <li><a href="http://about.travis-ci.org/newsletter">Newsletter</a></li>
      <li><a href="https://github.com/travis-ci/travis-ci/issues/new">File an Issue</a></li>
      <li><a href="https://twitter.com/travisci">{{t layouts.about.twitter}}</a></li>
      <li><a href="https://groups.google.com/group/travis-ci">{{t layouts.about.mailing_list}}</a></li>
      <li><a href="irc://irc.freenode.net#travis">IRC</a></li>
      <li><a href="mailto:support@travis-ci.com">E-Mail us</a></li>
    </ul>
  </li>
  <li class="traviscicom">
    <a href="http://travis-ci.com">Travis CI for Private Repositories</a>
  </li>
  <li {{bind-attr class="view.classProfile"}}>
    <p class="handle">
      {{#if signedOut}}
        <a class="signed-out" href="#" {{action "signIn" target="Travis"}}>{{t layouts.top.github_login}}</a>
      {{/if}}
      {{#if signedIn}}
        {{#linkTo "profile" class="signed-in"}}<img {{bind-attr src="gravatarUrl"}}/>{{userName}}{{/linkTo}}
      {{/if}}
      {{#if signingIn}}
        <span class="signing-in">{{t layouts.top.signing_in}}</span>
      {{/if}}
    </p>
    <ul>
      <li>
        {{#linkTo "profile.index" class="signed-in"}}{{t layouts.top.accounts}}{{/linkTo}}
      </li>
      <li>
        <a href="/" {{action "signOut" target="Travis"}}>{{t layouts.top.sign_out}}</a>
      </li>
    </ul>
  </li>
</ul>
