{{#link-to "index.current"}}
  <h1>Travis</h1>
{{/link-to}}

<ul id="navigation">
  <li class="home">
    {{#link-to "index.current"}}Home{{/link-to}}
  </li>
  <li>
    <a href="http://blog.travis-ci.com">Blog</a>
  </li>
  <li>
    <a href="http://status.travis-ci.com">Status</a>
  </li>
  <li class="menu community">
    <p class="handle">
      <a href="#">Help</a>
    </p>
    <ul>
      <li><a href="http://docs.travis-ci.com">Docs</a></li>
      <li><a href="http://docs.travis-ci.com/newsletter">Newsletter</a></li>
      <li><a href="https://github.com/travis-ci/travis-ci/issues/new">File an Issue</a></li>
      <li><a href="https://twitter.com/travisci">Twitter</a></li>
      <li><a href="https://groups.google.com/group/travis-ci">Mailing List</a></li>
      <li><a href="irc://irc.freenode.net#travis">IRC</a></li>
      <li><a href="mailto:support@travis-ci.com">E-Mail us</a></li>
    </ul>
  </li>
  <li class="traviscicom">
    <a href="http://travis-ci.com">Travis CI for Private Repositories</a>
  </li>
  <li {{bind-attr class="view.classProfile"}}>
    <p class="handle">
      {{#if auth.signedOut}}
        <a class="signed-out" href="#" {{action "signIn" target="auth"}}>Sign in with GitHub</a>
      {{/if}}
      {{#if auth.signedIn}}
        {{#link-to "profile" class="signed-in"}}<img {{bind-attr src="gravatarUrl"}}/>{{userName}}{{/link-to}}
      {{/if}}
      {{#if auth.signingIn}}
        <span class="signing-in">Signing In</span>
      {{/if}}
    </p>
    <ul>
      <li>
        {{#link-to "profile.index" class="signed-in"}}Accounts{{/link-to}}
      </li>
      <li>
        <a href="/" {{action "signOut" target="auth"}}>Sign Out</a>
      </li>
    </ul>
  </li>
</ul>
