<a {{action showRoot href=true}}>
  <h1>Travis</h1>
</a>

<ul id="navigation">
  <li class="home">
    <a {{action showRoot href=true}}>{{t layouts.top.home}}</a>
  </li>
  <li class="stats">
    <a {{action showStats href=true}}>{{t layouts.top.stats}}</a>
  </li>
  <li>
    <a href="http://about.travis-ci.org/blog">{{t layouts.top.blog}}</a>
  </li>
  <li>
    <a href="http://about.travis-ci.org/docs">{{t layouts.top.docs}}</a>
  </li>
  <li>
    <a href="http://status.travis-ci.com">Status</a>
  </li> 
  <li {{bindAttr class="view.classProfile"}}>
    <p class="handle">
      <a class="signed-out" href="#" {{action signIn target="Travis.app"}}>{{t layouts.top.github_login}}</a>
      <a class="signed-in" {{action showProfile href=true}}><img {{bindAttr src="view.gravatarUrl"}}>{{view.userName}}</a>
      <span class="signing-in">{{t layouts.top.signing_in}}</span>
    </p>
    <ul>
      <li>
        <a {{action showProfile href=true}}>{{t layouts.top.accounts}}</a>
      </li>
      <li>
        <a href="/" {{action signOut target="Travis.app"}}>{{t layouts.top.sign_out}}</a>
      </li>
    </ul>
  </li>
</ul>
