<div data-test-account-page></div>
{{#unless model.error}}
  {{#if loadingError}}
    There was a problem while loading the repositories list, please try again. In case
    the problem persists, please contact support.
  {{else}}
    <header class="profile-header">
      <div class='avatar-wrapper'>
        {{user-avatar url=model.avatarUrl name=model.name size=96}}
        {{#if (and checkSubscriptionStatus isSubscribed)}}
          {{svg-jar 'avatar-checkmark' class='checkmark'}}
          {{tooltip-on-element text='This account has an active subscription'}}
        {{/if}}
      </div>
      <div class='account-details'>
        <h1 class="h2--grey">{{accountName}}</h1>
        <div class='addenda'>
          <span class='login'>@{{model.login}}</span>
          {{#if model.education}}<span class='badge square grey'>Education</span>{{/if}}
        </div>
      </div>
    </header>

    {{#if checkSubscriptionStatus}}
      {{#if subscriptionError}}
        {{subscription-status-banner color="yellow" message="There was an error determining your subscription status." billingLinkText="Visit billing" billingUrl=billingUrl}}
      {{else if (and checkSubscriptionStatus isNotSubscribed)}}
        {{subscription-status-banner color="yellow" message="This account does not have an active subscription." billingLinkText="Sign this account up!" billingUrl=billingUrl}}
      {{/if}}
    {{/if}}

    {{outlet}}

  {{/if}}
{{else}}
  {{no-account name=model.login}}
{{/unless}}
