<div data-test-account-page></div>
{{#unless model.error}}
  {{#if loadingError}}
    There was a problem while loading the repositories list, please try again. In case
    the problem persists, please contact support.
  {{else}}
    <header class="profile-header">
      <h1 class="h2--grey">{{accountName}}</h1>
      {{#if model.education}}<span class='badge square grey'>Education</span>{{/if}}
    </header>

    {{#unless features.enterpriseVersion}}
      {{#if config.billingEndpoint}}
        {{#if (eq subscription.status 'subscribed')}}
          {{subscription-status-banner color="green" message="This account has an active subscription." billingLinkText="Manage your subscription!" billingUrl=billingUrl}}
        {{else}}
          {{#unless model.education}}
            {{subscription-status-banner color="yellow" message="This account does not have an active subscription." billingLinkText="Sign this account up!" billingUrl=billingUrl}}
          {{/unless}}
        {{/if}}
      {{/if}}
    {{/unless}}

    {{outlet}}

  {{/if}}
{{else}}
  {{no-account name=model.login}}
{{/unless}}
