{{#unless model.account.error}}
  {{#if loadingError}}
    There was a problem while loading the repositories list, please try again. In case
    the problem persists, please contact support.
  {{else}}
    {{#unless config.enterprise}}
      {{#if config.billingEndpoint}}
        {{#if subscribeButtonInfo.subscribed}}
          {{subscription-status-banner color="green" message="This account has an active subscription." billingLinkText="Manage your subscription!" billingUrl=billingUrl}}
        {{else}}
          {{#if subscribeButtonInfo.education}}
            {{subscription-status-banner color="green" message="This account's subscription is flagged as educational." billingLinkText="Take a look!" billingUrl=billingUrl}}
          {{else}}
            {{subscription-status-banner color="yellow" message="This account does not have an active subscription." billingLinkText="Sign up this account!" billingUrl=billingUrl}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/unless}}

    <header class="profile-header">
      <h1 class="h2--grey">{{accountName}}</h1>
      {{sync-button}}
    </header>

    {{#unless config.enterprise}}
      {{#if features.proVersion}}
        <p class="text-medium">We're only showing your private repositories. You can find your public projects on <a href="https://travis-ci.org" title="travis-ci.org">travis-ci.org</a>.</p>
      {{else}}
        <p class="text-medium">We're only showing your public repositories. You can find your private projects on <a href="https://travis-ci.com" title="travis-ci.com">travis-ci.com</a>.</p>
      {{/if}}
    {{/unless}}

    <ol class="profile-getstarted">
      <li>
        <figure>
          {{svg-jar 'hooks-step-1-01'}}
          <figcaption>Flick the repository switch on</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          {{svg-jar 'hooks-step-2-01'}}
          <figcaption>Add .travis.yml file to your repository</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          {{svg-jar 'hooks-step-3-01'}}
          <figcaption>Trigger your first build with a git push</figcaption>
        </figure>
      </li>
    </ol>

    {{#repository-filter repositories=sortedRepositories
        login=model.account.login as |filter| }}
      {{#component filter.form as |form|}}
        {{#if features.repositoryFiltering}}
          <div class="repository-filter">
            <label>Filter repositories:</label>
            {{component form.searchField}}
          </div>
        {{/if}}
      {{/component}}
      <div id="administerable-repositories">
        {{#if filter.isLoading}}
          {{loading-indicator}}
        {{else}}
          <ul class="profile-repositorylist">
            {{#each filter.repositories as |repository|}}
              {{repository-status-toggle repository=repository}}
            {{else}}
              <li>Sorry, it seems like we couldn't find any repositories you have access to on GitHub.</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
      {{#unless filter.isFiltering}}
        {{pagination-navigation collection=model.repos route="account" inner=6 outer=2}}
      {{/unless}}
    {{/repository-filter}}
  {{/if}}
{{else}}
  {{no-account name=model.account.login}}
{{/unless}}
