{{#unless model.account.error}}
  {{#if loadingError}}
    There was a problem while loading the repositories list, please try again. In case
    the problem persists, please contact support.
  {{else}}
    {{#unless config.enterprise}}
      {{#if config.billingEndpoint}}
        {{#if subscribeButtonInfo.subscribed}}
          {{subscription-status-banner color="green" message="This account has an active subscription." billingLinkText="Manage your subscription!" billingUrl=billingUrl}}
        {{else}}
          {{#if subscribeButtonInfo.education}}
            {{subscription-status-banner color="green" message="This account's subscription is flagged as educational." billingLinkText="Take a look!" billingUrl=billingUrl}}
          {{else}}
            {{subscription-status-banner color="yellow" message="This account does not have an active subscription." billingLinkText="Sign up this account!" billingUrl=billingUrl}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/unless}}

    <header class="profile-header">
      <h1 class="h2--grey">{{accountName}}</h1>
      {{sync-button}}
    </header>

    {{link-to 'Analytics' 'account.analytics'}}

    {{outlet}}

  {{/if}}
{{else}}
  {{no-account name=model.account.login}}
{{/unless}}
