{{#if allHooks.isLoaded}}
  <header>

  <div class="profile-header">
    <h1>{{view.name}}</h1>
  </div>

  {{#if user.isSyncing}}
    <div class="sync-button">
      <button class="button is-syncing">
        <span class="sync-spinner"><i></i><i></i><i></i></span>Syncing from Github
      </button>
    </div>
  </header>
  {{else}}
    <div class="sync-button">
      <button {{action sync}} class="button">
        <span class="icon icon-sync"></span>Sync
      </button>
      <p class="sync-last">last synced {{format-time user.syncedAt}}</p>
    </div>
    {{#if config.billingEndpoint}}
      <div class="cta-btn">
      {{#if view.subscribed}}
        <a class="btn btn-activated" {{bind-attr href="billingUrl"}}>
          Subscription active!
        </a>
      {{else}}
        {{#if view.education}}
          <a class="btn btn-activated" {{bind-attr href="billingUrl"}}>
            Educational account!
          </a>
        {{else}}
          <a class="btn btn-activate" {{bind-attr href="billingUrl"}}>
            Sign up this account!
          </a>
        {{/if}}
      {{/if}}
      </div>
    {{/if}}
    {{#if config.pro}}
      <p>We're only showing your private repositories. You can find your public projects on <a href="https://travis-ci.org" title="travis-ci.org">travis-ci.org</a>.</p>
      {{else}}
      <p>We're only showing your public repositories. You can find your private projects on <a href="https://travis-ci.com" title="travis-ci.com">travis-ci.com</a>.</p>
    {{/if}}

  </header>

  <section class="profile-getstarted">
    {{!-- <a href="#" class="dismiss"><span class="icon icon--dismiss-grey"></span></a> --}}
    <ol class="row">
      <li class="columns medium-4">
        <figure>
          <img src="/images/svg/hooks-step-1-01.svg" alt="">
          <figcaption>Flick the repository switch on</figcaption>
        </figure>
      </li>
      <li class="columns medium-4">
        <figure>
          <img src="/images/svg/hooks-step-2-01.svg" alt="">
          <figcaption>Add .travis.yml file to your repository</figcaption>
        </figure>
      </li>
      <li class="columns medium-4">
        <figure>
          <img src="/images/svg/hooks-step-3-01.svg" alt="">
          <figcaption>Trigger your first build with a git push</figcaption>
        </figure>
      </li>
    </ol>
  </section>

  <div>
    <ul class="profile-hooklist">
      {{#each hook in hooks}}
        <li {{bind-attr class="hook.active:active :row"}}>
          <div class="columns">
            {{travis-switch action="toggle" target=hook toggleAutomatically="false"}}
            {{!-- <button class="switch is-on"></button> --}}
            {{#link-to "settings" hook.ownerName hook.name class="profile-settings" title="Repository settings"}}<span class="icon icon--cog"></span>{{/link-to}}
          </div>
          <a {{bind-attr href="hook.urlGithub"}} rel="nofollow" class="profile-repo columns">
            {{#if hook.isSaving}}
              <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
            {{/if}}
            {{hook.slug}}
            <span>{{hook.description}}</span></a>
        </li>
      {{else}}
        <li>
          {{#if hooksWithoutAdmin.length}}
            Sorry, but we can't find any repositories you have admin access to.
          {{else}}
            Sorry, it seems like we couldn't find any repositories you have access to on GitHub.
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>

    {{#if hooksWithoutAdmin.length}}
      <div id="unadministerable-hooks">
        <p>You require admin rights to enable these repositories</p>

        <ul class="profile-hooklist">
          {{#each hook in hooksWithoutAdmin}}
            <li {{bind-attr class="hook.active:active :row"}}>
              <div class="columns">
                <button class="switch disabled"></button>
              </div>
              <a {{bind-attr href="hook.urlGithub"}} rel="nofollow" class="profile-repo columns">
                {{hook.slug}}
                <span>{{hook.description}}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/if}}
{{else}}
  <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
{{/if}}


