{{#if branchesExist}}
  <div class="branches">
    {{#if defaultBranch}}
      <section class="default-branch">
        <h2 class="small-title">
          Default Branch
        </h2>
        <ul class="blank-list">
          <BranchRow @branch={{defaultBranch}} />
        </ul>
      </section>
    {{/if}}
    {{#if activeBranches.length}}
      <section class="active-branches">
        <h2 class="small-title">
          Active Branches
        </h2>
        <ul class="blank-list">
          {{#each activeBranches as |branch|}}
            <BranchRow @branch={{branch}} />
          {{/each}}
        </ul>
      </section>
    {{/if}}
    {{#if inactiveBranches.length}}
      <section class="inactive-branches">
        <h2 class="small-title">
          Inactive Branches
        </h2>
        <ul class="blank-list">
          {{#each inactiveBranches as |branch|}}
            <BranchRow @branch={{branch}} @inactive={{true}} />
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </div>
{{else}}
  <MissingNotice @title="No other branches for this repository" />
{{/if}}