{{#if this.branchesExist}}
  <div class="branches">
    {{#if this.defaultBranch}}
      <section class="default-branch">
        <h2 class="small-title">
          Default Branch
        </h2>
        <ul class="blank-list">
          <BranchRow @branch={{this.defaultBranch}} @vcsType={{this.repo.vcsType}} />
        </ul>
      </section>
    {{/if}}
    {{#if this.activeBranches.length}}
      <section class="active-branches">
        <h2 class="small-title">
          Active Branches
        </h2>
        <ul class="blank-list">
          {{#each this.activeBranches as |branch|}}
            <BranchRow @branch={{branch}} @vcsType={{this.repo.vcsType}} />
          {{/each}}
        </ul>
      </section>
    {{/if}}
    {{#if this.inactiveBranches.length}}
      <section class="inactive-branches">
        <h2 class="small-title">
          Inactive Branches
        </h2>
        <ul class="blank-list">
          {{#each this.inactiveBranches as |branch|}}
            <BranchRow @branch={{branch}} @inactive={{true}} @vcsType={{this.repo.vcsType}} />
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </div>
{{else}}
  <MissingNotice @title="No other branches for this repository" />
{{/if}}
