{{#if defaultBranch}}
  <div class="branches">
    <section>
      <h2 class="small-title">Default Branch</h2>
      <ul class="blank-list">
        {{branch-row build=defaultBranch}}
      </ul>
    </section>

    {{#if activeBranches.length}}
      <section>
        <h2 class="small-title">Active Branches</h2>
        <ul class="blank-list">
          {{#each activeBranches as |branch|}}
            {{branch-row build=branch}}
          {{/each}}
        </ul>
      </section>
    {{/if}}

    {{#if inactiveBranches.length}}
      <section>
        <h2 class="small-title">Inactive Branches</h2>
        <ul class="blank-list">
          {{#each inactiveBranches as |branch|}}
            {{branch-row build=branch inactive=true}}
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </div>
{{else}}
  {{no-builds}}
{{/if}}
