<div class="branches">
    <section class="default-branch">
      {{branch-list branchList=defaultBranch listTitle="Default Branch" class="default-branch"}}
    </section>

    <section class="active-branches">
      {{#branch-list branchList=nonDefaultBranches listTitle="Active Branches" class="default-branch"}}
        <p class="helptext">Displaying
          <span>{{nonDefaultBranches.length}}</span> of
          <span>{{model.activeBranchesCount}}</span> active branches.</p>
      {{/branch-list}}

      {{#unless canLoadMoreActive}}
        <button type="button" class="button" onclick={{perform fetchActiveTask  nonDefaultBranches.length}}>
        {{inline-svg 'icon-seemore' class="icon white"}}
        <span class="label-align">Load more branches</span></button>
      {{/unless}}

      {{#if fetchActiveTask.isRunning}}
        {{loading-indicator}}
      {{/if}}
  </section>

  <section class="deleted-branches">
    {{#if model.deletedBranches.length}}
      {{#branch-list branchList=model.deletedBranches listTitle="Inactive Branches" class="default-branch"}}
        <p class="helptext">Displaying
          <span>{{model.deletedBranches.length}}</span> of
          <span>{{model.deletedBranchesCount}}</span> deleted branches.</p>
      {{/branch-list}}

      {{#unless canLoadMoreInactive}}
        <button type="button" class="button" onclick={{perform fetchInactiveTask model.deletedBranches.length}}>
          {{inline-svg 'icon-seemore' class="icon white"}}
          <span class="label-align">Get more deleted branches</span></button>
      {{/unless}}

    {{else}}
        <h2 class="small-title" id="deleted-branches">Inactive Branches</h2>
        <aside class="deleted-branches-notice">
          <p class="helptext">
            <span class="deleted-branch-count">{{model.deletedBranchesCount}}</span>
            branches have been hidden as they were removed from GitHub.</p>
          <button type="button" class="button" onclick={{perform fetchInactiveTask 0}}>
            {{inline-svg 'icon-seemore' class="icon white"}}
            <span class="label-align">Show deleted branches</span></button>
        </aside>
    {{/if}}

    {{#if fetchInactiveTask.isRunning}}
      {{loading-indicator}}
    {{/if}}
  </section>
</div>
