{{#build-wrapper build=build}}
{{#if loading}}
  {{loading-indicator}}
{{else}}

  {{#if build}}
    {{build-header item=build commit=build.commit repo=repo}}


    {{#if build.isMatrix}}
      {{#if jobsLoaded}}
        {{jobs-list jobs=build.requiredJobs repo=repo required="true"}}
        {{jobs-list jobs=build.allowedFailureJobs repo=repo}}
      {{else}}
        {{loading-indicator center=true}}
      {{/if}}
    {{else}}

      <div class="travistab">
        <nav class="travistab-nav">
          <ul>
            <li><a href="#" title="Look at this job's log">Job Log</a></li>
            <li><a href="#" id="tab_config" title="Look at this job's config">View Config</a></li>
          </ul>
        </nav>
        <div class="travistab-body">
          {{job-log job=build.jobs.firstObject}}

          <div>
            <pre id="config_pre" class="codedisplay">{{formatConfig build.jobs.firstObject._config}}</pre>
          </div>
        </div>
      </div>

    {{/if}}
  {{else}}
    {{no-builds}}
  {{/if}}

{{/if}}
{{/build-wrapper}}
