{{#if content.isLoaded}}
{{!-- <table id="builds" class="list"> --}}
  {{#each build in controller itemController="buildsItem"}}
    <div {{bind-attr class="build.state :tile :tile--small :tile--build :row"}}>
      <div class="tile-status">
        <span {{bind-attr class=":icon :icon-status build.state"}}></span>
        <span {{bind-attr class=":request-kind build.eventType :icon"}}></span>
      </div>
      <div class="column tile-main medium-6">
        <h2>
          {{#if isPullRequestsList}}
            <small>PR #{{build.pullRequestNumber}}</small>
          {{else}}
            <a {{bind-attr href="build.urlGithubPullRequest"}}>
              <small>insert branch</small>
            </a>
          {{/if}}
          {{{format-message build.commit.message short="true" repoBinding=build.repo}}}
        </h2>
        <p class="tile-author"><img {{bind-attr src="build.urlAuthorGravatarImage"}} alt="">{{build.commit.committerName}} commited</p>
      </div>
      <div class="column tile-additional medium-6 end">
        <div class="column small-6">
          <p class="build-id">
            {{#if build.id}}
              {{#link-to "build" build.repo build}}
                <span class="icon icon-hash"></span>
                {{build.number}} {{build.state}}
              {{/link-to}}
            {{/if}}
          </p>
          <p class="">
            <a {{bind-attr href="build.urlGithubCommit"}}>
              <span class="icon icon-github"></span>
              {{format-sha build.commit.sha}}
            </a>
          </p>
        </div>
        <div class="column small-6">
          <p class="" {{bind-attr title="build.duration"}}>
            <span class="icon icon-clock"></span>
            {{format-duration build.duration}}
          </p>
          <p class="" {{bind-attr title="build.formattedFinishedAt"}}>
            <span class="icon icon-cal"></span>
            {{format-time build.finishedAt}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
  {{#if displayShowMoreButton}}
    <p>
      {{view 'show-more-button'}}
      {{#if isLoading}}
        <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
      {{/if}}
    </p>
  {{/if}}
{{else}}
  <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
{{/if}}
