{{#if model.isLoaded}}
  <ul class="build-list">
    {{#each builds as |build|}}
      <BuildsItem @build={{build}} />
    {{else}}
      <NoBuilds />
    {{/each}}
  </ul>
  <div class="flex flex--center flex--space-between flex--v-center">
    {{#if showBuildHistoryLink}}
      <div>
        Previous build runs are available at
        <ExternalLinkTo
          @href={{buildHistoryLink}}
          class="link link--underline link--teal"
        >
          travis-ci.org
        </ExternalLinkTo>
      </div>
    {{/if}}
    {{#if displayShowMoreButton}}
      <p>
        {{#if loadMoreBuilds.isRunning}}
          <LoadingIndicator />
        {{else}}
          <ShowMoreButton @click={{perform loadMoreBuilds}} />
        {{/if}}
      </p>
    {{/if}}
  </div>
{{else}}
  <LoadingIndicator />
{{/if}}