{{#build-wrapper build=build}}
{{#if loading}}
  {{loading-indicator}}
{{else}}

  {{#if build}}
    {{build-header item=build commit=build.commit repo=repo}}

    {{#if build.isMatrix}}
      {{#if jobsLoaded}}
        {{jobs-list jobs=build.requiredJobs repo=repo required="true"}}
        {{jobs-list jobs=build.allowedFailureJobs repo=repo}}
      {{else}}
        {{loading-indicator center=true}}
      {{/if}}
    {{else}}

      <div class="travistab">
        <nav class="travistab-nav">
          <ul>
            <li>{{link-to 'Job log' 'build.log' build title="Look at this job's log"}}</li>
            <li>{{link-to 'View Config' 'build.config' build id="tab_config" title="Look at this job's config"}}</li>
          </ul>
        </nav>
        <div class="travistab-body">

          {{outlet}}

        </div>
      </div>

    {{/if}}
  {{else}}
    {{no-builds}}
  {{/if}}

{{/if}}
{{/build-wrapper}}
