{{#if model.isLoaded}}
  <ul class="build-list">
    {{#each builds as |build|}}
      {{builds-item build=build}}
    {{else}}
      {{no-builds}}
    {{/each}}
  </ul>
  {{#if displayShowMoreButton}}
    <p>
      {{#if loadMoreBuilds.isRunning}}
        {{loading-indicator}}
      {{else}}
        {{show-more-button click=(perform loadMoreBuilds)}}
      {{/if}}
    </p>
  {{/if}}

{{else}}
  {{loading-indicator}}
{{/if}}
