{{#if content.isLoaded}}
{{!-- <table id="builds" class="list"> --}}
  {{#each controller as |build|}}
    {{builds-item build=build}}
  {{else}}
    {{no-builds}}
  {{/each}}
  {{#if displayShowMoreButton}}
    <p>
      {{view 'show-more-button'}}
      {{#if isLoading}}
        {{loading-indicator}}
      {{/if}}
    </p>
  {{/if}}

{{else}}
  {{loading-indicator}}
{{/if}}
