{{#build-wrapper build=build}}
{{#if loading}}
  {{loading-indicator}}
{{else}}

  {{#if build}}
    {{build-header item=build commit=build.commit repo=repo}}

    {{#if noJobsError}}
      <p class="notice-banner--red">Sorry, we're having troubles fetching jobs. Please try again later.</p>
    {{else}}
      {{#if build.isMatrix}}
        {{#if jobsLoaded}}
          {{#if build.stages}}
            <p class="notice-banner--yellow spaced">
              <span class="label-align">
                <strong>Beta Feature</strong> Thank you for trying Build Stages!
              </span>
              <a href="https://github.com/travis-ci/beta-features/issues/11" title="Build stages feedback thread">We’d love your feedback</a>
            </p>
            {{#each sortedBuildStages as |stage|}}
              {{jobs-list stage=stage build=build repo=repo stages=sortedBuildStages}}
            {{/each}}
          {{else}}
            {{jobs-list jobs=build.requiredJobs repo=repo required="true"}}
            {{jobs-list jobs=build.allowedFailureJobs repo=repo}}
          {{/if}}
        {{else}}
          {{loading-indicator center=true}}
        {{/if}}
      {{else}}
        {{job-infrastructure-notification job=build.jobs.firstObject}}
        {{job-tabs job=build.jobs.firstObject repo=repo}}
      {{/if}}
    {{/if}}

  {{else}}
    {{no-builds}}
  {{/if}}

{{/if}}
{{/build-wrapper}}
