{{#if model.isLoaded}}
  <ul class="build-list">
    {{#each builds as |build|}}
      {{builds-item build=build}}
    {{else}}
      {{no-builds}}
    {{/each}}
  </ul>
  {{#if displayShowMoreButton}}
    <p>
      {{show-more-button isLoading=isLoading showMore=(action 'showMoreBuilds')}}
      {{#if model.isLoading}}
        {{loading-indicator}}
      {{/if}}
    </p>
  {{/if}}

{{else}}
  {{loading-indicator}}
{{/if}}
