{{#build-wrapper build=build}}
{{#if loading}}
  {{loading-indicator}}
{{else}}

  {{#if build}}
    {{build-header item=build commit=build.commit repo=repo}}


    {{#if build.isMatrix}}
      {{#if jobsLoaded}}
        {{jobs-list jobs=build.requiredJobs repo=repo required="true"}}
        {{jobs-list jobs=build.allowedFailureJobs repo=repo}}
      {{else}}
        {{loading-indicator center=true}}
      {{/if}}
    {{else}}
      {{#if build.jobs}}
        {{job-log job=build.jobs.firstObject}}
      {{/if}}
    {{/if}}

<div id="tab_config">View Config</div>
<pre id="config_pre">{{formatConfig build.jobs.firstObject._config}}</pre>

  {{else}}
    {{no-builds}}
  {{/if}}

{{/if}}
{{/build-wrapper}}
