{{#if isLoaded}}
  <ul class="build-list">
    {{#each builds as |build|}}
      {{builds-item build=build}}
    {{else}}
      {{#error-messages/missing-notice
        title="No builds for this repository"
        subtitle="Want to start testing this project on Travis CI?"}}
        <a href="http://docs.travis-ci.com/user/getting-started/" class="button" title="Travis documentation on getting set up">Read the Docs on Getting Started</a>
      {{/error-messages/missing-notice}}
    {{/each}}
  </ul>
  {{#if displayShowMoreButton}}
    <p>
      {{show-more-button isLoading=isLoading showMore=(action 'showMoreBuilds')}}
      {{#if isLoading}}
        {{loading-indicator}}
      {{/if}}
    </p>
  {{/if}}

{{else}}
  {{loading-indicator}}
{{/if}}
