{{#if length}}
  <a href="#" {{action "deleteRepoCache"}} {{bind-attr class="isDeleting:deleting :delete-repo-caches"}}>
    Delete all repository caches
  </a>

  <ul id="caches">
    {{#each controller itemController="cachesByBranch"}}
      <li class="caches-group">
        <span class="branch">Branch: {{branch}}</span>

        <a href="#" {{action "delete"}} {{bind-attr class="isDeleting:deleting :delete-by-branch :delete"}}>
          (delete)
        </a>

        <ul class="caches-list">
          {{#each cache in caches itemController="cachesItem"}}
            <li class="cache-info">
              <span class="label">Slug:</span> {{cache.slug}},
              <span class="label">Last modified:</span> {{cache.last_modified}},
              <span class="label">Size:</span> {{mb cache.size}}MB

              <a href="#" {{action "delete"}} {{bind-attr class="isDeleting:deleting :delete-by-slug :delete"}}>
                (delete)
              </a>
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
{{else}}
  There are no caches for this repository.
{{/if}}
