{{#if length}}
  <div class="align-right">
    <a href="#" {{action "deleteRepoCache"}} {{bind-attr class="isDeleting:deleting :delete-repo-caches :button--delete"}}>
      Delete all repository caches
    </a>
  </div>
  {{!-- <h2 class="build-title">Pushes</h2> --}}
  <ul id="caches" class="caches">
    {{#each controller itemController="cachesByBranch"}}
      {{#each cache in caches itemController="cachesItem"}}
        <li {{bind-attr class=":tile :tile--xs :tile :row" }}>

          <p class="tile-item caches-branch column">
            <span {{bind-attr class=":icon :icon--grey :push"}}></span>
            {{cache.branch}}
          </p>

          <p class="tile-item caches-date column">{{pretty-date cache.last_modified}}</p>

          <p class="tile-item caches-size column">{{mb cache.size}}MB</p>

          <p class="tile-item caches-button column">
            <a href="#" {{action "delete"}} {{bind-attr class="isDeleting:deleting :delete-by-slug :delete :button--delete"}}>
              Delete
            </a>
          </p>
        </li>
      {{/each}}
    {{/each}}
  </ul>

{{!--   <h2 class="build-title">Pull Requests</h2>
  <ul class="caches">
    {{#each controller itemController="cachesByBranch"}}
      {{#each cache in caches itemController="cachesItem"}}
        <li {{bind-attr class=":tile :tile--xs :tile :row" }}>

          <p class="tile-item column">
            <span {{bind-attr class=":icon :icon--grey pull_request"}}></span>
            {{cache.branch}}
          </p>

          <p class="tile-item column">{{format-time cache.last_modified}}</p>

          <p class="tile-item column">{{mb cache.size}}MB</p>

          <p class="tile-item column">
            <a href="#" {{action "delete"}} {{bind-attr class="isDeleting:deleting :delete-by-slug :delete :button--delete"}}>
              delete
            </a>
          </p>
        </li>
      {{/each}}
    {{/each}} --}}
  </ul>
{{else}}
  <p>No caches have been created yet, <a href="http://docs.travis-ci.com/user/caching/" title="">read more</a> on how to setup caching with your build</p>
{{/if}}
