{{#if cachesExist}}
  <div class="caches-header">
    <h1 class="small-title">All caches <small>(<a href="http://docs.travis-ci.com/user/caching/" title="Read about caching">Read the docs</a>)</small></h1>
    <a {{action "deleteRepoCache"}} href="#" class="{{if isDeleting 'deleting'}} delete-cache-button" title="Delete all repository caches">
      Delete all repository caches
    </a>
  </div>
  {{#if model.pushes.length}}
    <h2 class="small-title">Pushes</h2>
    <ul id="caches" class="caches-list">
      {{#each  model.pushes as |cache|}}
        {{caches-item cache=cache repo=repo caches=model.pushes}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if model.pullRequests.length}}
    <h2 class="small-title">Pull Requests</h2>
    <ul class="caches-list">
      {{#each model.pullRequests as |cache|}}
        {{caches-item cache=cache repo=repo caches=model.pullRequests}}
      {{/each}}
    </ul>
  {{/if}}

{{else}}
  <p class="helptext">No caches have been created yet,<br>read more on <a href="http://docs.travis-ci.com/user/caching/" title="Documentation on caching">how to setup caching with your build</a>.</p>
{{/if}}
