<TravisLayout @layoutName="layouts/center" class="dashboard">
  <div class="dashboard-repos">
    <section
      data-test-dashboard-starred-repositories
      class="dashboard-section dashboard-starred"
    >
      <h2 class="small-title">
        Starred repositories
      </h2>
      <ul class="repo-list">
        {{#each this.starredRepos as |repo|}}
          <DashboardRow @repo={{repo}} @star={{this.star}} @unstar={{this.unstar}} />
        {{else}}
          <div class="starred-empty">
            <SvgImage @name="icon-star" @class="icon--m" />
            You can keep track of your favorite repositories here once you start starring!
          </div>
        {{/each}}
      </ul>
    </section>
  </div>
  <header class="dashboard tabs">
    <h2 class="small-title">
      <LinkTo @route="dashboard.repositories" data-test-active-repos-tab="true">
        Active repositories
      </LinkTo>
    </h2>
    <h2 class="small-title">
      <LinkTo @route="dashboard.builds" data-test-my-builds-tab="true">
        My builds
      </LinkTo>
    </h2>
  </header>
  {{outlet}}
</TravisLayout>
