{{outlet}}

<ul class="env-vars">
  {{#each vars itemController="envVar"}}
    {{#unless isNew}}
      <li class="env-var">
        {{#if isEditing}}
          {{partial 'env_vars/form'}}
        {{else}}
          <a class="edit-var" {{action "edit"}} title="Edit env var">Edit</a>
          <a {{action "delete"}} class="delete-var {{if isDeleting 'deleting'}}" title="Delete env var">
            Delete
          </a>
          <span class="name">{{name}}</span>
          <span class="value value-display {{unless public 'secure'}}">{{value}}</span>
        {{/if}}
      </li>
    {{/unless}}
  {{/each}}
</ul>
