<header id="top" class="top">
  <div class="centered">
    {{render "top"}}
  </div>
</header>

<div class="centered" style="background: white;">
  <div class="wrapper-main">
    <div id="main" class="mail" role="main">
      <div class="features-hero">
        <h1 class="profile-header">Experimental Features</h1>
        <p class="helptext">We'd love to get your feedback on some features we're working on.
          To enable a feature, simply toggle the corresponding switch. You can
          return to our standard experience at any time by disabling a given
          flag.</p>
      </div>
      <div class="profile-header">
        <h1>{{accountName}}</h1>
      </div>

      <div id="administerable-hooks">
        <ul class="profile-hooklist">
          {{#each model as |feature|}}
            <article class="feature">
              <h2>{{feature.name}}</h2>
              {{feature-toggle feature=feature}}
              {{hook-switch hook=feature onToggleError="handleToggleError" onToggle="resetErrors"}}
              <p>{{feature.description}}</p>
            </article>
          {{else}}
            <li>
              {{#if hooksWithoutAdmin.length}}
                Sorry, but we can't find any repositories you have admin access to.
              {{else}}
                Sorry, it seems like we couldn't find any repositories you have access to on GitHub.
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="{{if auth.signedIn 'hidden'}}">
  {{render "footer"}}
</footer>
