<Layouts::Sidebar>
  <UiKit::Box @margin={{hash x='auto'}} @maxWidth='5xl' @padding={{hash all=4}}>
    <UiKit::Text @tag='h1' @color='grey-dark' @margin={{hash bottom=12}} @size='5xl' @weight='light'>
      First time here? Let's get you started!
    </UiKit::Text>

    <div>
      {{!-- Step 1 --}}
      <GettingStartedStep
        @number={{1}}
        @provider={{'github'}}
        @title='Activate your repositories'
      >
        <UiKit::Text @variant='p'>
          Once you're signed in, go to your profile page to see all the organizations you're a member of.<br>
          You can integrate your repositories with Travis Cl by clicking the Activate button for
          each organization you want to use.
        </UiKit::Text>

        <UiKit::Note @variant='warn'>
          <UiKit::Text @tag='span' @color={{null}} @weight='bold'>NOTE:</UiKit::Text>
          You need to be an admin for any repositories you want to integrate with Travis CI.
        </UiKit::Note>

        <LinkTo @route='account.repositories'>
          <UiKit::Button
            @color={{vcs-color this.provider 'main'}}
            @invert={{true}}
          >
            Activate All Repositories
          </UiKit::Button>
        </LinkTo>
      </GettingStartedStep>

      {{!-- Step 2 --}}
      <GettingStartedStep
        @number={{2}}
        @provider={{'github'}}
        @title='Select the best plan for your needs'
      >
        <UiKit::Text @variant='p'>
          If you haven't selected a plan yet, try our free plan or choose a paid one to unlock
          the full capabilities of Travis Cl. For the free plan, we'll ask for your credit card
          information and charge a small fee for verification, which we'll refund within a few
          days.
        </UiKit::Text>

        <UiKit::Text @variant='p'>
          Read our <UiKit::Link @href={{config-get 'urls.docs'}} @variant='link-oxide-blue'>documentation</UiKit::Link> for more details.
        </UiKit::Text>
      </GettingStartedStep>

      {{!-- Step 3 --}}
      <GettingStartedStep
        @number={{3}}
        @provider={{'github'}}
        @title='Add a .travis.yml file to your repository'
      >
        <UiKit::Text @variant='p'>
          In order for Travis CI to build your project, you'll need to add a
          <UiKit::Code>.travis.yml</UiKit::Code>
          configuration file to the root directory of your repository.
        </UiKit::Text>

        <UiKit::Text @variant='p'>
          If a
          <UiKit::Code>.travis.yml</UiKit::Code>
          is not in your repository, or is not valid YAML, Travis CI will ignore it.
        </UiKit::Text>

        <UiKit::Text @variant='p'>
          You can find some of our
          <UiKit::Link @href={{config-get 'urls.languages'}} @variant='link-oxide-blue'>Basic language examples</UiKit::Link> in our documentation.
        </UiKit::Text>
      </GettingStartedStep>

      {{!-- Step 4 --}}
      <GettingStartedStep
        @number={{4}}
        @provider={{'github'}}
        @title='Trigger your first build'
      >
        <UiKit::Text @variant='p'>
          So you've configured the repository integration and added a <UiKit::Code>.travis.yml</UiKit::Code> file.
          Now, simply commit the changes to your local git history and push them to your repository.
          That's it! Happy Building!
        </UiKit::Text>

        <UiKit::Text @variant='p'>
          Want to learn more?
          <UiKit::Link @href={{config-get 'urls.docs'}} @variant='link-oxide-blue'>Read up on our docs</UiKit::Link>.
        </UiKit::Text>
      </GettingStartedStep>
    </div>
  </UiKit::Box>
</Layouts::Sidebar>
