{{#if toTop}}{{scroll-here}}{{/if}}
{{#travis-layout layoutName="layouts/striped" class="help-page" as |layout| }}

  {{#layout.section class="help-page__top"}}
    <h1 class="header-main align-center">
      How can we help{{#if isLoggedIn}}, <strong>{{auth.userName}}</strong>{{/if}}?
    </h1>

    <div class="subheading align-center">
      Find our
      <a href={{docsUrl}} target="_blank" ref="noopener noreferrer">most used resources</a>,
      <a href={{communityUrl}} target="_blank" ref="noopener noreferrer">popular topics in our Community forum</a>,
      <a class="pointer" onclick={{action 'setAnchor' 'form'}}>
        or talk with us!
      </a>
    </div>

    <div class="status align-center">
      {{travis-status colorizeText=true }}
    </div>
  {{/layout.section}}

  {{#layout.section class="help-page__support" hasBackground=(not isLoggedIn) }}
    {{#if toForm}}{{scroll-here}}{{/if}}

    {{#if isLoggedIn}}
      <div class="section-divider"></div>
    {{/if}}

    <h1 class="header-main align-center">
      Get help from our support engineers
    </h1>

    <div class="subheading align-center">
      Expect a reply between {{startTime}} {{timezone}} – {{endTime}} {{timezone}} Monday through Friday
    </div>

    {{#if isLoggedIn}}
      Request Form placeholder
    {{else}}

      <div class="sign-in-image align-center">
        {{svg-jar 'hard-hat'}}
      </div>

      <div class="sign-in align-center">
        <button
          title="Sign into Travis CI"
          class="hero-button"
          {{action (route-action 'signIn' false)}}
        >
          {{svg-jar 'icon-repooctocat' }} Sign in with GitHub
        </button>
      </div>

    {{/if}}
  {{/layout.section}}

{{/travis-layout}}
