{{#travis-layout layoutName="layouts/center" class="help-page"}}

  <section class="help-page__top">
    <h1 class="header-main align-center">
      How can we help{{#if isLoggedIn}}, <strong>{{auth.userName}}</strong>{{/if}}?
    </h1>

    <div class="subheading align-center">
      Find our most used resources, popular topics in our Community forum or talk with us!
    </div>

    <div class="status align-center">
      {{travis-status colorizeText=true }}
    </div>
  </section>

  <section class="help-page__support">
    <h1 class="header-main align-center">
      Get help from our support engineers
    </h1>

    <div class="subheading align-center">
      Expect a reply between {{startTime}} {{timezone}} – {{endTime}} {{timezone}} Monday through Friday
    </div>

    {{#if isLoggedIn}}
      Logged in help
    {{else}}
      Not logged in stub
    {{/if}}
  </section>

{{/travis-layout}}
