{{#if toTop}}{{scroll-here}}{{/if}}
{{#travis-layout layoutName="layouts/striped" class="help-page" as |layout| }}

  {{#layout.section class="help-page__top" data-test-help-page-greeting-section=true }}
    <h1 class="header-main align-center" data-test-help-page-greeting-header>
      How can we help{{#if isLoggedIn}}, <strong data-test-help-page-greeting-username>{{auth.userName}}</strong>{{/if}}?
    </h1>

    <div class="subheading align-center" data-test-help-page-navigation-links>
      View our most read
      <a href={{docsUrl}} target="_blank" ref="noopener noreferrer">documentation</a>,
      popular topics in our
      <a href={{communityUrl}} target="_blank" ref="noopener noreferrer">Community forum</a>,
      or
      <a class="pointer" onclick={{action 'setAnchor' 'form'}}>talk with us!</a>
    </div>

    <div class="status align-center" data-test-help-page-status>
      {{travis-status colorizeText=true }}
    </div>
  {{/layout.section}}
  {{#layout.section class="help-page__resources section-columns" data-test-help-page-resources-section=true}}
    {{svg-jar 'docs'}}
    <div class="links-list">
      <h2>Handy Resources</h2>
      <ul>
        <li><a href={{tutorialUrl}}>Travis CI Tutorial</a></li>
        <li><a href={{dockerUrl}}>Using Docker with Travis CI</a></li>
        <li><a href={{nodeJsUrl}}>Setting up a Node.js project</a></li>
        <li><a href={{operatingSystemUrl}}>Adding more Operating Systems</a></li>
        <li><a href={{buildNotRunningUrl}}>Why is my build not running?</a></li>
      </ul>
      <a href="{{docsUrl}}" class="call-to-action-button">CHECK OUR DOCUMENTATION</a>
    </div>
  {{/layout.section}}
  {{#layout.section class="help-page__community section-columns" data-test-help-page-community-topics-section=true}}
    <div class="links-list">
      <h2>Community Top Topics</h2>
      <ul>
        <li><a href={{tutorialUrl}}>Travis CI Tutorial</a></li>
        <li><a href={{dockerUrl}}>Using Docker with Travis CI</a></li>
        <li><a href={{nodeJsUrl}}>Setting up a Node.js project</a></li>
        <li><a href={{operatingSystemUrl}}>Adding more Operating Systems</a></li>
        <li><a href={{buildNotRunningUrl}}>Why is my build not running?</a></li>
      </ul>
      <a href="{{docsUrl}}" class="call-to-action-button">ASK THE TRAVIS COMMUNITY</a>
    </div>
  {{svg-jar 'community'}}
  {{/layout.section}}
  {{#layout.section class="help-page__support" hasBackground=(not isLoggedIn) data-test-help-page-support-section=true }}
    {{#if toForm}}{{scroll-here}}{{/if}}

    {{#if isLoggedIn}}
      <div class="section-divider"></div>
    {{/if}}

    {{zendesk-request-form page=page }}

  {{/layout.section}}

{{/travis-layout}}
