{{#if toTop}}{{scroll-here}}{{/if}}
{{#travis-layout layoutName="layouts/striped" class="help-page" as |layout| }}

  {{#layout.section class="help-page__top" data-test-help-page-greeting-section=true }}
    <h1 class="header-main align-center" data-test-help-page-greeting-header>
      How can we help{{#if isLoggedIn}}, <strong data-test-help-page-greeting-username>{{auth.userName}}</strong>{{/if}}?
    </h1>

    <div class="subheading align-center" data-test-help-page-navigation-links>
      View our most read
      <a class="pointer" onclick={{action 'setAnchor' 'docs'}}>documentation</a>,
      popular topics in our
      <a class="pointer" onclick={{action 'setAnchor' 'community'}}>Community forum</a>,
      or
      <a class="pointer" onclick={{action 'setAnchor' 'form'}}>talk with us</a>!
    </div>

    <div class="status align-center" data-test-help-page-status>
      {{travis-status colorizeText=true }}
    </div>
  {{/layout.section}}

  {{#layout.section class="help-page__resources" hasBackground=true data-test-help-page-resources-section=true}}
    {{#if toDocs}}{{scroll-here}}{{/if}}
    <div class="help-duo">
      <div class="help-duo-image" data-test-help-page-resources-image>{{svg-jar 'docs'}}</div>
      <div class="help-duo-text">
        <h1 class="header-main" data-test-help-page-resources-header>
          Handy Resources
        </h1>
        <ul class="help-duo-list" data-test-help-page-resources-list>
          <li>{{#external-link-to href=tutorialUrl }}Travis CI Tutorial{{/external-link-to}}</li>
          <li>{{#external-link-to href=dockerUrl }}Using Docker with Travis CI{{/external-link-to}}</li>
          <li>{{#external-link-to href=nodeUrl }}Setting up a Node.js project{{/external-link-to}}</li>
          <li>{{#external-link-to href=multiOsUrl }}Adding more Operating Systems{{/external-link-to}}</li>
          <li>{{#external-link-to href=noRunUrl }}Why is my build not running?{{/external-link-to}}</li>
        </ul>
        {{#external-link-to href=docsUrl class="button" data-test-help-page-resources-button=true}}Check Our Documentation{{/external-link-to}}
      </div>
    </div>
  {{/layout.section}}

  {{#layout.section class="help-page__topics" data-test-help-page-topics-section=true}}
    {{#if toCommunity}}{{scroll-here}}{{/if}}
    <div class="help-duo">
      <div class="help-duo-text">
        <h1 class="header-main" data-test-help-page-topics-header>
          Popular Topics
        </h1>
        {{top-forum-post-list class="help-duo-list" data-test-help-page-topics-list=true}}
        {{#external-link-to href=communityUrl class="button" data-test-help-page-topics-button=true}}Ask the Travis Community{{/external-link-to}}
      </div>
      <div class="help-duo-image" data-test-help-page-topics-image>{{svg-jar 'community'}}</div>
    </div>
  {{/layout.section}}

  {{#layout.section class="help-page__support" hasBackground=(not showSupportForm) data-test-help-page-support-section=true }}
    {{#if toForm}}{{scroll-here}}{{/if}}

    {{#if showSupportForm}}
      {{zendesk-request-form page=page }}
    {{else if showLoginPrompt}}
      <h1 class="header-main align-center">
        Get help from the experts
      </h1>
      <div class="subheading align-center">
        Logging into your account and finding an example of your problem will speed up getting an answer
      </div>

      <div class="sign-in-image align-center" data-test-zendesk-form-log-in-image>
        {{svg-jar 'hard-hat'}}
      </div>

      <div class="sign-in align-center">
        <button
          title="Sign into Travis CI"
          class="hero-button"
          {{action (action 'signIn' false target=auth)}}
          data-test-zendesk-form-log-in-button
        >
          {{svg-jar 'icon-repooctocat' }} Sign in with GitHub
        </button>
      </div>
    {{else}}
      <h1 class="header-main align-center">
        Get help in our Community forum
      </h1>

      <div class="subheading align-center">
        Talk with developers and experts,
        submit {{#external-link-to href=featureRequestUrl}}feature requests{{/external-link-to}},
        and more in our {{#external-link-to href=communityUrl}}Community forum{{/external-link-to}}
      </div>

      <div class="sign-in-image align-center" data-test-zendesk-form-log-in-image>
        {{svg-jar 'hard-hat'}}
      </div>
    {{/if}}

  {{/layout.section}}

{{/travis-layout}}
