{{#if toTop}}{{scroll-here}}{{/if}}
{{#travis-layout layoutName="layouts/striped" class="help-page" as |layout| }}

  {{#layout.section class="help-page__top" data-test-help-page-greeting-section=true }}
    <h1 class="header-main align-center" data-test-help-page-greeting-header>
      How can we help{{#if isLoggedIn}}, <strong data-test-help-page-greeting-username>{{auth.userName}}</strong>{{/if}}?
    </h1>

    <div class="subheading align-center" data-test-help-page-navigation-links>
      View our most read
      <a href={{docsUrl}} target="_blank" ref="noopener noreferrer">documentation</a>,
      {{#if isPro}}
        popular topics in our
        <a href={{communityUrl}} target="_blank" ref="noopener noreferrer">Community forum</a>,
        or
        <a class="pointer" onclick={{action 'setAnchor' 'form'}}>talk with us!</a>
      {{else}}
        or talk with us in our
        <a href={{communityUrl}} target="_blank" ref="noopener noreferrer">Community forum</a>!
      {{/if}}
    </div>

    <div class="status align-center" data-test-help-page-status>
      {{travis-status colorizeText=true }}
    </div>
  {{/layout.section}}

  {{#layout.section class="help-page__resources" hasBackground=true data-test-help-page-resources-section=true}}
    {{#if toDocs}}{{scroll-here}}{{/if}}
    <div class="help-duo">
      <div class="help-duo-image">{{svg-jar 'docs'}}</div>
      <div class="help-duo-text">
        <h1 class="header-main" data-test-help-page-resources-header>Handy Resources</h1>
        <ul class="help-duo-list">
          <li>{{#external-link-to href=tutorialUrl }}Travis CI Tutorial{{/external-link-to}}</li>
          <li>{{#external-link-to href=dockerUrl }}Using Docker with Travis CI{{/external-link-to}}</li>
          <li>{{#external-link-to href=nodeUrl }}Setting up a Node.js project{{/external-link-to}}</li>
          <li>{{#external-link-to href=multiOsUrl }}Adding more Operating Systems{{/external-link-to}}</li>
          <li>{{#external-link-to href=noRunUrl }}Why is my build not running?{{/external-link-to}}</li>
        </ul>
        {{#external-link-to href=docsUrl class="button"}}Check Our Documentation{{/external-link-to}}
      </div>
    </div>
  {{/layout.section}}

  {{#layout.section class="help-page__topics" data-test-help-page-topics-section=true}}
    {{#if toCommunity}}{{scroll-here}}{{/if}}
    <div class="help-duo">
      <div class="help-duo-text">
        <h1 class="header-main" data-test-help-page-topics-header>Popular Topics</h1>
        {{top-forum-post-list class="help-duo-list"}}
        {{#external-link-to href=communityUrl class="button"}}Ask the Travis Community{{/external-link-to}}
      </div>
      <div class="help-duo-image">{{svg-jar 'community'}}</div>
    </div>
  {{/layout.section}}

  {{#if isPro}}
    {{#layout.section class="help-page__support" hasBackground=(not isLoggedIn) data-test-help-page-support-section=true }}
      {{#if toForm}}{{scroll-here}}{{/if}}

      {{#if isLoggedIn}}
        <div class="section-divider"></div>
      {{/if}}

      {{zendesk-request-form page=page }}

    {{/layout.section}}
  {{/if}}

{{/travis-layout}}
