{{#if this.toTop}}
  <ScrollHere />
{{/if}}
<TravisLayout @layoutName="layouts/striped" class="help-page" as |layout|>
  <layout.section class="help-page__top" data-test-help-page-greeting-section="true">
    <h1 class="header-main align-center" data-test-help-page-greeting-header>
      How can we help{{#if this.isSignedIn}},
        <strong data-test-help-page-greeting-username>
          {{this.auth.userName}}
        </strong>
      {{/if}}?
    </h1>
    <div class="subheading align-center" data-test-help-page-navigation-links>
      View our most read
      <a class="pointer" onclick={{action "setAnchor" "docs"}}>
        documentation
      </a>,
      popular topics in our
      <a class="pointer" onclick={{action "setAnchor" "community"}}>
        Community forum
      </a>,
      or
      <a class="pointer" onclick={{action "setAnchor" "form"}}>
        talk with us
      </a>!
    </div>
    <div class="status align-center" data-test-help-page-status>
      <TravisStatus @colorizeText={{true}} />
    </div>
  </layout.section>
  <layout.section
    @hasBackground={{true}}
    class="help-page__resources"
    data-test-help-page-resources-section="true"
  >
    {{#if this.toDocs}}
      <ScrollHere />
    {{/if}}
    <div class="help-duo">
      <div class="help-duo-image" data-test-help-page-resources-image>
        <SvgImage @name="docs" />
      </div>
      <div class="help-duo-text">
        <h1 class="header-main" data-test-help-page-resources-header>
          Handy Resources
        </h1>
        <ul class="help-duo-list" data-test-help-page-resources-list>
          <li>
            <ExternalLinkTo @href={{this.tutorialUrl}}>
              Travis CI Tutorial
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href={{this.dockerUrl}}>
              Using Docker with Travis CI
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href={{this.nodeUrl}}>
              Setting up a Node.js project
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href={{this.multiOsUrl}}>
              Adding more Operating Systems
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href={{this.noRunUrl}}>
              Why is my build not running?
            </ExternalLinkTo>
          </li>
        </ul>
        <ExternalLinkTo
          @href={{this.docsUrl}}
          class="button"
          data-test-help-page-resources-button="true"
        >
          Check Our Documentation
        </ExternalLinkTo>
      </div>
    </div>
  </layout.section>
  <layout.section
    class="help-page__topics"
    data-test-help-page-topics-section="true"
  >
    {{#if this.toCommunity}}
      <ScrollHere />
    {{/if}}
    <div class="help-duo">
      <div class="help-duo-text">
        <h1 class="header-main" data-test-help-page-topics-header>
          Popular Topics
        </h1>
        <TopForumPostList
          class="help-duo-list"
          data-test-help-page-topics-list="true"
        />
        <ExternalLinkTo
          @href={{this.communityUrl}}
          class="button"
          data-test-help-page-topics-button="true"
        >
          Ask the Travis Community
        </ExternalLinkTo>
      </div>
      <div class="help-duo-image" data-test-help-page-topics-image>
        <SvgImage @name="community" />
      </div>
    </div>
  </layout.section>
  <layout.section
    @hasBackground={{false}}
    class="help-page__support"
    data-test-help-page-support-section="true"
  >
    {{#if this.toForm}}
      <ScrollHere />
    {{/if}}
    <ZendeskRequestForm @page={{this.page}} @utmParams={{this.utmParams}} />
  </layout.section>
</TravisLayout>
