{{#travis-layout layoutName="layouts/landing-page" class="landing-pro"}}
<div id="landing" class="landing wrapper">
  <section class="section--hero section--grey">
    <div class="inner">
      <div class="section-text">
        <h1 class="h1--teal">Build apps <br class="br-small"> with confidence</h1>
        <p class="text-big">Focus on writing code. Let Travis CI take care<br class="br-small"> of running your tests and deploying your apps.</p>
        <a href="https://travis-ci.com/signin" class="hero-button cta-index-page" {{action 'gaCta' 'index'}} title="Start your free trial">
          {{inline-svg 'sign-in-mascot.svg'}}
          <span class="label-align">Start your free trial</span></a>
      </div>
      <div class="section-image">
        {{inline-svg 'hero-screen' class="hero-computer"}}
      </div>
    </div>
  </section>
  <section class="section--white section--center">
    <div class="inner">
      <h3 class="h3">Some pretty awesome companies and projects are a few of our users</h3>
      <ul class="list--customers">
        <li><a href="https://www.zendesk.com/" title="Zendesk" class="customer">
          {{inline-svg 'customer-logos-zendesk'}}</a></li>
        <li><a href="http://www.heroku.com/" title="Heroku" class="customer">
          {{inline-svg 'customer-logos-heroku'}}</a></li>
        <li><a href="https://www.engineyard.com/" title="Engine Yard" class="customer">
          {{inline-svg 'customer-logos-engineyard'}}</a></li>
        <li><a href="http://www.bittorrent.com/" title="BitTorrent" class="customer">
          {{inline-svg 'customer-logos-bittorrent'}}</a></li>
        <li><a href="https://moz.com/" title="moz" class="customer">
          {{inline-svg 'customer-logos-moz'}}</a></li>
      </ul>
    </div>
  </section>
  <section class="section--feature section--grey">
    <div class="inner">
      <div class="section-text">
        <h2 class="h2--green">Features created to help your projects and teams</h2>
        <ul class="list--check">
          <li>{{inline-svg 'icon-passed' class="icon green"}} Watch your tests as they run</li>
          <li>{{inline-svg 'icon-passed' class="icon green"}} Keep your config with your code</li>
          <li>{{inline-svg 'icon-passed' class="icon green"}} Slack, HipChat, Emails and more</li>
          <li>{{inline-svg 'icon-passed' class="icon green"}} A clean VM for every build</li>
          <li>{{inline-svg 'icon-passed' class="icon green"}} Run your tests in parallel</li>
          <li>{{inline-svg 'icon-passed' class="icon green"}} Linux and Mac (and iOS) supported</li>
          <li>{{inline-svg 'icon-passed' class="icon green"}} Great API and command line tool</li>
        </ul>
      </div>
      <div class="section-list section--center">
        <ul class="list--features">
          <li>
            {{inline-svg 'feature-icon-github' class="feature-github"}}      
            <h3 class="h3">Get set up in seconds</h3>
            <p class="text-small">Login with GitHub, tell Travis CI to test a project, and then push to GitHub. Could it be any simpler!</p>
          </li>
          <li>
            {{inline-svg 'feature-icon-platform' class="feature-db"}}
            <h3 class="h3">Supports your platform</h3>
            <p class="text-small">Many databases and services are pre-installed and can be enabled in your build configuration.</p>
          </li>
          <li>
            {{inline-svg 'feature-icon-pullrequests' class="feature-pr"}}
            <h3 class="h3">Test your pull requests</h3>
            <p class="text-small">Make sure every Pull Request to your project is tested before it's merged.</p>
          </li>          
          <li>
            {{inline-svg 'feature-icon-heroku' class="feature-heroku"}}
            <h3 class="h3">Deploy anywhere</h3>
            <p class="text-small">Updating staging or production as soon as your tests pass has never been easier!</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section--white section--center">
    <div class="inner">
      <h3 class="h3">Supported languages</h3>
      <p class="text-small">These are just a few of our most popular languages, check out the full list <a href="http://docs.travis-ci.com/user/languages/" title="Supported languages">in our docs</a>.</p>
      <ul class="list--languages">
        <li><a href="http://docs.travis-ci.com/user/languages/clojure/" title="Read about Clojure at Travis CI">
          {{inline-svg 'lang-clojure' class="language"}}Clojure</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/javascript-with-nodejs/" title="Read about NodeJS at Travis CI">
          {{inline-svg 'lang-nodejs' class="language"}}Node</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/php/" title="Read about PHP at Travis CI">
            {{inline-svg 'lang-php' class="language"}}PHP</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/objective-c/" title="Read about ObjectiveC at Travis CI">
            {{inline-svg 'lang-xcode' class="language"}}Xcode</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/ruby/" title="Read about Ruby at Travis CI">
            {{inline-svg 'lang-ruby' class="language"}}Ruby</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/python/" title="Read about Python at Travis CI">
            {{inline-svg 'lang-python' class="language"}}Python</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/java/" title="Read about Java at Travis CI">
            {{inline-svg 'lang-java' class="language"}}Java</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/erlang/" title="Read about Erlang at Travis CI">
            {{inline-svg 'lang-erlang' class="language"}}Erlang</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/go/" title="Read about Go at Travis CI">
            {{inline-svg 'lang-go' class="language"}}Go</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/scala/" title="Read about Scala at Travis CI">
            {{inline-svg 'lang-scala' class="language"}}Scala</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/perl/" title="Read about Perl at Travis CI">
            {{inline-svg 'lang-perl' class="language"}}Perl</a></li>
      </ul>
    </div>
  </section>
  <section class="section--grey section--center">
    <div class="inner">
      <h2 class="h2--teal">Interested in running your <br class="br-small"> private projects with Travis CI?</h2>
      <a href="https://travis-ci.com/signin" class="landing-button cta-index-bottom" {{action 'gaCta' 'index-bottom'}}>Start your free trial</a>
    </div>
  </section>
</div>
{{/travis-layout}}
