{{#if this.auth.signedIn}}
  <div class="wrapper {{if this.auth.signedOut 'centered'}}">
    <TopBar @repo={{this.repo}} />
    <FlashDisplay />
    <div class="wrapper-main">
      <div id="main" role="main" class="main">
        {{#if this.repo.isLoaded}}
          <RepositoryLayout
            @repo={{this.repo}}
            @build={{this.build}}
            @job={{this.job}}
            @tab={{this.tab}}
          />
        {{else}}
          <LoadingIndicator />
        {{/if}}
      </div>
    </div>
    {{#if this.auth.signedIn}}
      {{#unless this.features.dashboard}}
        <aside id="left" class="{{unless this.auth.signedIn 'hidden'}}">
          <RepositorySidebar />
        </aside>
      {{/unless}}
    {{/if}}
  </div>
{{else}}
  <div class="wrapper centered">
    {{component this.landingPage
      signIn=(action "signIn" target=this.auth)
      signOut=(action "signOut" target=this.auth)
    }}
  </div>
{{/if}}
