<JobWrapper @repo={{this.repo}} @job={{this.job}}>
  {{#if this.job.isLoaded}}
    <BuildHeader
      data-test-build-header
      @item={{this.job}}
      @commit={{this.job.commit}}
      @repo={{this.repo}}
    />
    <JobInfrastructureNotification @job={{this.job}} />
    <JobTabs
      @repo={{this.repo}}
      @request={{this.job.build.request}}
      @job={{this.job}}
    />
  {{else}}
    <div id="job">
      <LoadingIndicator />
    </div>
  {{/if}}
</JobWrapper>
