{{#job-wrapper repo=repo job=job}}
{{#if job.isLoaded}}

  {{build-header item=job commit=job.commit repo=repo}}

   <div class="travistab">
     <nav class="travistab-nav travistab-nav--underline">
       <ul>
         <li>{{link-to 'Job log' 'job.index' job id="tab_log" title="Look at this job's log"}}</li>
         <li>{{link-to 'View Config' 'job.config' job id="tab_config" title="Look at this job's config"}}</li>
       </ul>
     </nav>
     <div class="travistab-body">

       {{outlet}}

     </div>
   </div>

{{else}}
  <div id="job">
    {{loading-indicator}}
  </div>
{{/if}}
{{/job-wrapper}}
