<JobWrapper @repo={{repo}} @job={{job}}>
  {{#if job.isLoaded}}
    <BuildHeader
      data-test-build-header
      @item={{job}}
      @commit={{job.commit}}
      @repo={{repo}}
    />
    <JobInfrastructureNotification @job={{job}} />
    <JobTabs @job={{job}} @repo={{repo}} />
  {{else}}
    <div id="job">
      <LoadingIndicator />
    </div>
  {{/if}}
</JobWrapper>