{{#if view.jobs.length}}
  <section {{bind-attr id=view.jobTableId}}>

  {{#if view.required}}
    <h2 class="build-title">Build Jobs</h2>
  {{else}}
    <h2 class="build-title">Allowed Failures
      <span class="btn button-circle button--help"><span class="icon icon--question"></span></span>
      <div class="tooltip">
        <p class="tooltip-inner">These are jobs you can allow to fail without failing your entire build</p>
      </div>
    </h2>
  {{/if}}

    {{#each job in view.jobs}}
      {{#view 'jobs-item' context=job}}
        <div {{bind-attr class=":tile :tile--small :tile--jobs :row job.state" }}>
          <div class="tile-status tile-status--job">
            <span {{bind-attr class=":icon :icon--job job.state"}}></span>
          </div>

          <div class="tile-main medium-4 columns">
          {{#if config.env}}
            <p class="build-env tile-single-line"><span class="icon icon--env"></span>{{config.global_env}} {{config.env}}</p>
          {{/if}}
          {{#if view.languages}}
            <p class="build-lang tile-single-line"><span class="icon icon--lang"></span>{{view.languages}}</p>
          {{/if}}
          </div>

          <div class="tile-additional medium-8 columns end">
            <p class="columns small-6 medium-2 large-3 tile-single-line build-status">
              <span class="icon icon--hash"></span>
              {{#if job.id}}
                {{#if job.repo.slug}}
                  {{#link-to "job" repo job}}{{number}}{{/link-to}}
                {{/if}}
              {{/if}}
            </p>
            <p class="columns small-6 medium-4 large-3 tile-single-line" {{bind-attr title="startedAt"}}>
              <span class="icon icon--clock"></span>
              {{format-duration duration}}
            </p>
            <p class="columns small-6 medium-5 large-5 tile-single-line" {{bind-attr title="formattedFinishedAt"}}>
              <span class="icon icon--cal"></span>
              {{format-time finishedAt}}
            </p>
            <p {{bind-attr class=":columns :small-6 :medium-1 :large-1 :tile-single-line :build-os config.os"}}><span {{bind-attr class=":icon config.os"}}></span>{{config.os}}</p>
          </div>
        </div>

      {{/view}}
      {{job.configKeys}}
    {{/each}}
  </section>
{{/if}}
