{{#if view.jobs.length}}
  <section {{bind-attr id=view.jobTableId}}>

  {{#if view.required}}
    <h2 class="build-title">Build Jobs</h2>
  {{else}}
    <h2 class="build-title">Allowed Failures
      <a title="What's this?" class="open-popup" name="help-allowed_failures" {{action "openHelpPopup" target=view}}>
        <span class="icon icon--env"></span>
      </a>
    </h2>
  {{/if}}

    {{#each job in view.jobs}}
      {{#view 'jobs-item' context=job}}
        <div class="tile tile--small tile--jobs row">
          <div class="tile-status tile-status--job">
            <span {{bind-attr class=":icon :icon--job job.state"}}></span>
          </div>

          <div class="tile-main medium-4 columns">
            <p class="build-env"><span class="icon icon--env"></span>{{config.global_env}} {{config.env}}</p>
            <p class="build-lang"><span class="icon icon--lang"></span>{{config.language}}</p>
          </div>

          <div class="tile-additional medium-8 columns end">
            <p class="columns small-6 medium-2">
              <span class="icon icon--hash"></span>
              {{#if job.id}}
                {{#if job.repo.slug}}
                  {{#link-to "job" repo job}}{{number}}{{/link-to}}
                {{/if}}
              {{/if}}
            </p>
            <p class="columns small-6 medium-4" {{bind-attr title="startedAt"}}>
              <span class="icon icon--clock"></span>
              {{format-duration duration}}
            </p>
            <p class="columns small-6 medium-5" {{bind-attr title="formattedFinishedAt"}}>
              <span class="icon icon--cal"></span>
              {{format-time finishedAt}}
            </p>
            <p class="columns small-6 medium-1"><span {{bind-attr class=":icon :icon--linux config.os"}}></span>{{config.os}}</p>
          </div>
        </div>

      {{/view}}
      {{job.configKeys}}
    {{/each}}
  </section>

  {{#unless view.required}}
    <div id="help-allowed_failures" class="popup">
      <a href="#" class="close" {{action "popupClose" target=view}}></a>
      <h4></h4>
      <p>
        Allowed Failures are items in your build matrix that are allowed to
        fail without causing the entire build to be shown as failed.
      </p>
      <p>
        You can define allowed failures in the build matrix as follows:
      </p>
      <pre>matrix:
  allow_failures:
    - rvm: ruby-head</pre>
      <p>
        This lets you add in experimental and preparatory builds to test against versions or
        configurations that you are not ready to officially support.
      </p>
    </div>
  {{/unless}}
{{/if}}
