<div class="loading-page">
  <header class="top">
    <div class="topbar {{if is-open 'has-autoheight'}} {{if showBroadcasts 'has-autoheight'}}">
      <h1 id="logo" class="logo">{{#link-to "index"}}Travis CI{{/link-to}}</h1>
      <div class="navigation-toggle">
        <button type="button" class="tofuburger no-button" {{action 'toggleBurgerMenu'}}>
          {{svg-jar 'icon-tofuburger'}}
        </button>
      </div>

      {{#unless features.enterpriseVersion}}
        {{#if auth.signedIn}}

          {{broadcast-tower toggleBroadcasts="toggleBroadcasts" status=broadcasts.lastBroadcastStatus count=broadcasts.length}}

          <ul class="broadcasts {{if showBroadcasts 'is-open'}}">
            {{#each broadcasts.content as |broadcast|}}
              <li>
                <p>
                  <span class="broadcast-status {{broadcast.category}}" title="Transmitted on {{broadcast.updated_at}}"></span>
                  <span class='message'>{{{broadcast.message}}}</span>
                  <button {{action 'markBroadcastAsSeen' broadcast}} title="hide this broadcast" class="broadcast-close no-button" type="button">
                    {{svg-jar 'icon-failed' class="icon"}}
                  </button>
                </p>
              </li>
            {{else}}
              <li><p>There are no broadcasts</p></li>
            {{/each}}
          </ul>
        {{/if}}
      {{/unless}}

      {{header-nav}}
    </div>
  </header>

  {{#if showCta}}
    <div class="cta">
      <p class="row">
        Help make Open Source a better place and start building better software today!
      </p>
    </div>
  {{/if}}

  <div class="main">
    <div class="content-page">
      {{loading-screen}}
    </div>
  </div>

  {{app-footer}}
</div>
