<div class="loading-page">
  <header class="top">
    <div class="topbar {{if is-open 'has-autoheight'}} {{if showBroadcasts 'has-autoheight'}}">
      <h1 id="logo" class="logo">{{#link-to "index"}}Travis CI{{/link-to}}</h1>
      {{header-burger-menu is-open=is-open}}
      {{header-broadcasts showBroadcasts=showBroadcasts}}
      {{header-links}}
    </div>
  </header>

  {{#if showCta}}
    <div class="cta">
      <p class="row">
        Help make Open Source a better place and start building better software today!
      </p>
    </div>
  {{/if}}

  <div class="main">
    <div class="content-page">
      {{loading-screen}}
    </div>
  </div>

  {{app-footer}}
</div>
