{{#travis-layout layoutName="layouts/profile" class="owner"}}
<header class="owner-header row">
  <div class="owner-avatar">
    <img src={{avatarURL}} alt="" width="125" height="125">
  </div>
  <div class="owner-info">
    <h1 class="owner-title">{{owner.name}}</h1>
    <p class="owner-handle"><a href={{githubProfile}} title="{{owner.name}} on GitHub"><span class="icon-github-circle"></span><span class="label-align">{{owner.login}}</span></a></p>
    {{!-- {{owner-sync-button owner=owner}} --}}
  </div>
</header>

<div class="tabs--owner">
  <div class="tabbody">
    <section role="tabpanel">
      {{outlet}}
    </section>
  </div>
</div>
{{/travis-layout}}
