{{!-- {{outlet}} --}}

<header class="owner-header row">
  <section class="columns small-10 medium-6">
      <div class="owner-avatar">
        <img {{bind-attr src="avatarURL"}} alt="" width="125" height="125">
      </div>
      <div class="owner-info">
        <h1 class="owner-title">{{owner.name}}</h1>
        <p class="owner-handle"><a {{bind-attr href="githubProfile"}} title=""><span class="icon icon--github-circle"></span> {{owner.login}}</a></p>
        {{!-- {{owner-sync-button owner=owner}} --}}
      </div>
  </section>
</header>

<div class="tabs--owner">
  <nav class="tabnav tabnav--owner row" role="tablist">
    <ul class="tab">
      <li role="presentational">{{!-- <a href="#" title="" role="tab">--}}All Repositories{{!-- </a> --}}</li>
{{!--       <li role="presentational"><a href="#" title="" role="tab">Running Builds (2/5)</a></li>
      <li role="presentational"><a href="#" title="" role="tab">Members</a></li> --}}
    </ul>
  </nav>

  <div class="tabbody">

    <section role="tabpanel">
      <ul class="owner-tiles">
        {{#each repo in repos}}
          {{owner-repo-tile repo=repo}}
        {{else}}
          <li>No active repos</li>
        {{/each}}
      </ul>
    </section>

{{!--     <section role="tabpanel">
      <ul class="owner-tiles">
        {{#each repo in running}}
          {{owner-repo-tile repo=repo}}
        {{else}}
          <li>No running builds</li>
        {{/each}}
      </ul>
    </section>
 --}}
    {{!-- <section role="tabpanel">
      <ul class="memberlist">
        <li class="columns small-6 large-4">
          <img src="//placehold.it/50x50" alt="">
          <div class="memberlist-names">
            <h2>Firstname Lastname</h2>
            <p>githubhandle</p>
          </div>
        </li>
      </ul>
    </section> --}}
  </div>
</div>