{{#travis-layout layoutName="layouts/center" class="owner"}}
  <header class="owner-header row">
    <div class="owner-avatar">
      {{user-avatar url=owner.avatar name=owner.name size=126}}
    </div>
    <div class="owner-info">
      <h1 class="owner-title">{{model.name}}</h1>
      <p class="owner-handle">
        {{svg-jar 'icon-repooctocat' class="icon--l"}}
        <a href={{githubProfile}} title="{{model.name}} on GitHub">
          <span class="label-align">{{model.login}}</span></a></p>
      {{!-- {{owner-sync-button owner=owner}} --}}
    </div>
  </header>

  <div class="travistab">
    <nav class="travistab-nav--underline">
      <ul>
        <li>{{#link-to "owner.repositories"}}Repositories <span class="message-label badge">{{model.repositories.length}}</span>{{/link-to}}</li>
        <li>{{#link-to "owner.running"}}Job Queue{{/link-to}}</li>
      </ul>

    </nav>
    <div class="travistab-body">
      {{outlet}}
    </div>
  </div>
{{/travis-layout}}
