{{!-- {{outlet}} --}}

<header class="row">
  <section class="columns large-4">
    <div class="media">
      <div class="media-elem">
        <img src="//placehold.it/120x120" alt="">
      </div>
      <div class="media-body">
        <h1>Travis CI GmbH</h1>
        <p><a href="//gtihub" title=""><span class="icon icon--github"></span> travis-pro</a></p>
        {{sync-button}}
      </div>
    </div>
  </section>
</header>

<div>
  <nav class="tabnav row" role="tablist">
    <ul class="tab tabs--owner">
      <li role="presentational"><a href="#" title="" role="tab">All Repositories</a></li>
      <li role="presentational"><a href="#" title="" role="tab">Running Builds (2/5)</a></li>
      <li role="presentational"><a href="#" title="" role="tab">Members</a></li>
    </ul>
  </nav>

  <div class="tabbody">

    <section role="tabpanel">
      <ul class="owner-tiles">
        <li {{bind-attr class=":tile :tile--small :row repo.last_build.state :passed"}}>
          {{#if repo.private }}
            <div class="tile-lock"><span class="icon icon-lock"></span></div>
          {{/if}}
          <div class="tile-status">
            <span {{bind-attr class=":icon :icon-status repo.last_build.state :passed"}}></span>
            <span {{bind-attr class=":icon :request-kind repo.last_build.state :push"}}></span>
          </div>
          <div class="tile-main tile-header column medium-3 small-12">
            <h3>owner</h3>
            <h2>{{#link-to "repo" repo.owner.login repo.name}}repo namerepo namerepo namerepo namerepo namerepo namerepo name{{/link-to}}</h2>
          </div>
          <div class="tile-additional tile-single column medium-9 small-12 end">
            <p class="tile-job build-status column medium-3 small-6"><span class="icon icon-hash"></span>
              {{#link-to "build" repo.owner.login repo.name repo.last_build.id}}
                {{!-- {{repo.last_build.number}} {{repo.last_build.state}} --}}
                1234 passed
              {{/link-to}}</p>
            <p class="tile-commit column medium-3 small-6">
              <span class="icon icon-github"></span><a href="#">394348a</a></p>
            <p class="tile-timeago column medium-3 small-6">
              <span class="icon icon-clock"></span>ran for 3 min 23 sec</p>
            <p class="tile-timeago column medium-2 small-6">
              <span class="icon icon-cal"></span>3 days ago{{!-- {{format-time repo.last_build.finished_at}} --}}</p>
          </div>
        </li>
      </ul>
    </section>

    <section role="tabpanel">
      <ul class="owner-tiles">
        <li {{bind-attr class=":tile :tile--small :row repo.last_build.state :started"}}>
          {{#if repo.private }}
            <div class="tile-lock"><span class="icon icon-lock"></span></div>
          {{/if}}
          <div class="tile-status">
            <span {{bind-attr class=":icon :icon-status repo.last_build.state :started"}}></span>
            <span {{bind-attr class=":icon :request-kind repo.last_build.state :push"}}></span>
          </div>
          <div class="tile-main tile-header column medium-3 small-12">
            <h3>owner</h3>
            <h2>{{#link-to "repo" repo.owner.login repo.name}}repo name{{/link-to}}</h2>
          </div>
          <div class="tile-additional tile-single column medium-9 small-12 end">
            <p class="tile-job build-status column medium-3 small-6"><span class="icon icon-hash"></span>
              {{#link-to "build" repo.owner.login repo.name repo.last_build.id}}
                {{!-- {{repo.last_build.number}} {{repo.last_build.state}} --}}
                1234 passed
              {{/link-to}}</p>
            <p class="tile-commit column medium-3 small-6">
              <span class="icon icon-github"></span><a href="#">394348a</a></p>
            <p class="tile-timeago column medium-3 small-6">
              <span class="icon icon-clock"></span>currently running</p>
            <p class="tile-timeago column medium-2 small-6">
              <span class="icon icon-cal"></span>in queue{{!-- {{format-time repo.last_build.finished_at}} --}}</p>
          </div>
        </li>
      </ul>
    </section>

    <section role="tabpanel">
      <ul class="memberlist">
        <li class="columns small-6 large-4">
          <img src="//placehold.it/50x50" alt="">
          <div class="memberlist-names">
            <h2>Firstname Lastname</h2>
            <p>githubhandle</p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>