<TravisLayout @layoutName="layouts/center">

  {{!-- Header section --}}
  <UiKit::Box
    @tag='section'
    @margin={{hash top=3 bottom=16}}
    @textAlign='center'
  >
    <UiKit::Font @tag='h1' @size='6xl' @weight='bold'>
      Built for every team
    </UiKit::Font>
    <p>
      Set up your first project in just one minute.
      <br />
      Your first 100 builds are free! No credit card required.
    </p>
  </UiKit::Box>

  {{!-- Product section --}}
  <UiKit::Box @tag='section' @margin={{hash bottom=16}}>
    <UiKit::Grid @alignItems='center' @justify='start'>
      <UiKit::Font @transform='uppercase' @weight='bold' @margin={{hash right=2}}>
        Monthly
      </UiKit::Font>

      <UiKit::Switch @onClick={{fn (mut showAnnual)}} @active={{showAnnual}} />

      <UiKit::Font @color='blue-400' @margin={{hash left=2}}>
        <UiKit::Font @transform='uppercase' @weight='bold'>Annual</UiKit::Font>
        (Get 1 month free!)
      </UiKit::Font>
    </UiKit::Grid>

    <UiKit::Box @position={{hash type='relative'}} @margin={{hash top=3}}>
      <UiKit::Box
        @position={{hash type='absolute' top=0 right=0}}
        @margin={{hash top=-16 right=-10}}
        @height={{64}}
      >
        <SvgImage @name="grey-blob" @height={{224}} />
      </UiKit::Box>

      <UiKit::Box
        @color='white'
        @layer='10'
        @overflow='hidden'
        @position={{hash type='relative'}}
        @radius='base'
        @shadow='base'
      >
        <UiKit::Grid @base={{2}} @md={{4}} as |grid|>
          {{#each plansToDisplay as |plan|}}
            <grid.item>
              <UiKit::Box @borderColor='grey-150' @borderWidth={{1}} @padding={{hash all=4}}>
                <UiKit::Font @tag='h3' @size='3xl' @weight='bold'>
                  {{plan.name}}
                </UiKit::Font>

                <UiKit::Font
                  @tag='h4'
                  @color='grey-400'
                  @margin={{hash bottom=6}}
                  @size='lg'
                  @transform='uppercase'
                  @weight='bold'
                >
                  {{plan.description}}
                </UiKit::Font>
                <div>
                  <UiKit::Font @color='green-400' @weight='bold'>
                    {{plan.builds}}
                  </UiKit::Font>
                  {{pluralize plan.builds "Concurrent job" without-count=true}}
                </div>
                <div>
                  <UiKit::Box @display='inline-block' @width={{3}}>
                    <SvgImage @name="features-check" />
                  </UiKit::Box>
                  Unlimited build minutes
                </div>
                <div>
                  <UiKit::Box @display='inline-block' @width={{3}}>
                    <SvgImage @name="features-check" />
                  </UiKit::Box>
                  Unlimited repositories
                </div>
                <UiKit::Box @margin={{hash bottom=6}}>
                  <UiKit::Box @display='inline-block' @width={{3}}>
                    <SvgImage @name="features-check" />
                  </UiKit::Box>
                  Unlimited collaborators
                </UiKit::Box>
                <UiKit::Box @margin={{hash bottom=6}}>
                  <UiKit::Font @color='green-400' @size='xl' @weight='bold'>
                    ${{plan.monthlyPriceRounded}}
                  </UiKit::Font>
                  <UiKit::Font @size='sm'>
                    {{plan.currency}}
                    per month
                    {{if showAnnual 'billed annually'}}
                  </UiKit::Font>
                </UiKit::Box>
              </UiKit::Box>
            </grid.item>
          {{/each}}
        </UiKit::Grid>

        <UiKit::Box @borderColor='grey-150' @borderWidth={{hash all=1}} @padding={{hash all=4}} @textAlign='center'>
          <UiKit::Button @onClick={{action 'gaCta' 'plans-table'}}>
            Start Your Free Trial
          </UiKit::Button>
        </UiKit::Box>
      </UiKit::Box>

      <UiKit::Box
        @layer='0'
        @margin={{hash bottom=-10 left=-10}}
        @position={{hash type='absolute' bottom=0 left=0}}
        @width={{56}}
      >
        <SvgImage @name="yellow-waves" />
      </UiKit::Box>
    </UiKit::Box>
  </UiKit::Box>

  <UiKit::Button @onClick={{action 'gaCta' 'plans-oss'}} @color='grey-700' @invert={{true}}>
    Set up your Open Source project now
  </UiKit::Button>

  <section class="inner section--two section--os">
    <div>
      <h2 class="h2--grey section-headline">Always <span class="em--yellow">free</span> for open source projects</h2>
      <a href="https://travis-ci.com/signin" class="plans-button--grey" title="Open Source projects on Travis CI" {{action 'gaCta' 'plans-table'}}>Set up your open source project now</a>
    </div>
    <div>
      <h2 class="h2--grey section-headline">In need of a bigger plan?</h2>
      <p class="text-big">We can customize a plan based on the needs of your team. We'll work with you to get you started.</p>
      <a href="mailto:sales@travis-ci.com" title="Email the Travis CI sales team" class="plans-button--green">Contact Travis CI sales</a>
    </div>
  </section>
  <section class="inner section--enterprise section--two">
    <div>
      <h2 class="h2--teal">Travis CI Enterprise</h2>
      <p class="text-big">
        Our on-premises product is perfect for companies who want to keep using the same features of Travis CI with additional on-site security needs.
      </p>
      <a href="https://enterprise.travis-ci.com" title="learn more about Travis CI" class="plans-button--blue">Learn more about Travis CI Enterprise</a>
    </div>
    <div>
      <SvgImage @name='enterprise-servers'/>
    </div>
  </section>

  <section class="inner section--faq">
    <h3 class="h2--grey section--center">Frequently asked questions</h3>
    <ul class="list--faq">
      <li>
        <h4 class="h3--green">What is a concurrent job?</h4>
        <p class="faq-text">Every commit triggers a single job by default. If two commits have been pushed on the Startup plan, they'll be run right away. Subsequent commits have to wait until the builds finished.</p>
      </li>
      <li>
        <h4 class="h3--yellow">Are there any restrictions on build time?</h4>
        <p class="faq-text">A build has 120 minutes to run. Should your build take longer, you can split it up using a build matrix.</p>
      </li>
      <li>
        <h4 class="h3--red">Can I pay annually?</h4>
        <p class="faq-text">You most certainly can! When signing up for a subscription, simply select the annual option. You get 1 month for free &mdash; 12 months for the price of 11!</p>
      </li>
      <li>
        <h4 class="h3--teal">Can I cancel anytime?</h4>
        <p class="faq-text">Absolutely! Contact us and we'll make sure your subscription gets cancelled as you want.</p>
      </li>
      <li>
        <h4 class="h3--green">Am I able to upgrade my plan?</h4>
        <p class="faq-text">Yes, you can change your plan subscription at any time.</p>
      </li>
      <li>
        <h4 class="h3--red">Do the listed prices include VAT?</h4>
        <p class="faq-text">Prices listed are excluding VAT, which will be added depending on origin (Germany and Europe). Make sure to have your company's VAT ID ready when entering billing details to remove VAT!</p>
      </li>
      <li>
        <h4 class="h3--yellow">How does the trial work?</h4>
        <p class="faq-text">Your free trial includes 100 builds and starts as soon as you set up your first project and push a commit. The trial is limited to two concurrent jobs.</p>
      </li>
      <li>
        <h4 class="h3--teal">Do you have plans for students?</h4>
        <p class="faq-text">We most certainly do! You can find all details on <a href="https://education.travis-ci.com">education.travis-ci.com</a></p>
      </li>
    </ul>
  </section>
</TravisLayout>
