{{#travis-layout layoutName="layouts/landing-page" class="landing-pro"}}
<div id="landing" class="landing wrapper">
  <section class="inner">
    <header class="section--center  plans-hero">
      <h1 class="h1--green">Built for every team</h1>
      <p class="text-big">Set up your first project in just one minute.<br>
        Your first 100 builds are free! No credit card required.
      </p>
    </header>

    <ul class="list--plans">
      <li class="plan">
        <p class="plans-price">$69</p>
        <p class="plans-label plans-timeframe">per month</p>
        <h2 class="plans-name">Bootstrap</h2>
        <h3 class="plans-label">Ideal for hobby projects</h3>
        <ul class="list">
          <li><span class="list-em">1</span>Concurrent job</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited build minutes</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited repositories</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited collaborators</li>
        </ul>
      </li>
      <li class="plan--important">
        <p class="plans-price">$129</p>
        <p class="plans-label plans-timeframe">per month</p>
        <h2 class="plans-name">Startup</h2>
        <h3 class="plans-label">Best for small teams</h3>
        <ul class="list">
          <li><span class="list-em">2</span>Concurrent jobs</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited build minutes</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited repositories</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited collaborators</li>
        </ul>
        <div class="align-center">
          <a href="https://travis-ci.com/signin" class="plans-button--blue" {{action 'gaCta' 'plans-table'}}>Start Trial</a>
        </div>
      </li>

      <li class="plan">
        <p class="plans-price">$249</p>
        <p class="plans-label plans-timeframe">per month</p>
        <h2 class="plans-name">Small Business</h2>
        <h3 class="plans-label">Great for growing teams</h3>
        <ul class="list">
          <li><span class="list-em">5</span>Concurrent jobs</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited build minutes</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited repositories</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited collaborators</li>
        </ul>
      </li>
      <li class="plan">
        <p class="plans-price">$489</p>
        <p class="plans-label plans-timeframe">per month</p>
        <h2 class="plans-name">Premium</h2>
        <h3 class="plans-label">Perfect for larger teams</h3>
        <ul class="list">
          <li><span class="list-em">10</span>Concurrent jobs</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited build minutes</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited repositories</li>
          <li>{{inline-svg 'icon-passed' class="plan-icon"}} Unlimited collaborators</li>
        </ul>
      </li>
    </ul>
    <p class="plans-label align-right plans-prices">All prices shown in USD</p>
  </section>
  <section class="inner section--two section--os">
    <div>
      <h2 class="h2--grey section-headline">Always <span class="em--yellow">free</span> for open source projects</h2>
      <a href="https://travis-ci.org/signin" class="plans-button--grey" title="Open Source projects on Travis CI" {{action 'gaCta' 'plans-table'}}>Set up your open source project now</a>
    </div>
    <div>
      <h2 class="h2--grey section-headline">In need of a bigger plan?</h2>
      <p class="text-big">We can customize a plan based on the needs of your team. We'll work with you to get you started.</p>
      <a href="mailto:contact@travis-ci.com" title="Email the Travis CI support team" class="plans-button--green">Contact Travis CI support</a>
    </div>
  </section>
  <section class="inner section--enterprise section--two">
    <div>
      <h2 class="h2--teal">Travis CI Enterprise</h2>
      <p class="text-big">
        Our Enterprise plan is perfect for companies who want to keep using the same features of Travis CI with additional on-site security needs.
      </p>
      <a href="https://enterprise.travis-ci.com" title="learn more about Travis CI" class="plans-button--blue">Learn more about Travis CI Enterprise</a>
    </div>
    <div>
      {{inline-svg 'enterprise-servers'}}
    </div>
  </section>

  <section class="inner section--faq">
    <h3 class="h2--grey section--center">Frequently asked questions</h3>
    <ul class="list--faq">
      <li>
        <h4 class="h3--green">What is a concurrent job?</h4>
        <p class="faq-text">Every commit triggers a single job by default. If two commits have been pushed on the Startup plan, they'll be run right away. Subsequent commits have to wait until the builds finished.</p>
      </li>
      <li>
        <h4 class="h3--yellow">Are there any restrictions on build time?</h4>
        <p class="faq-text">A build has 120 minutes to run. Should your build take longer, you can split it up using a build matrix.</p>
      </li>
      <li>
        <h4 class="h3--red">Can I pay annually?</h4>
        <p class="faq-text">You most certainly can! When signing up for a subscription, simply select the annual option. You get 1 month for free &mdash; 12 months for the price of 11!</p>
      </li>
      <li>
        <h4 class="h3--teal">Can I cancel anytime?</h4>
        <p class="faq-text">Absolutely! Contact us and we'll make sure your subscription gets cancelled as you want.</p>
      </li>
      <li>
        <h4 class="h3--green">Am I able to upgrade my plan?</h4>
        <p class="faq-text">Yes, you can change your plan subscription at any time.</p>
      </li>
      <li>
        <h4 class="h3--red">Do the listed prices include VAT?</h4>
        <p class="faq-text">Prices listed are excluding VAT, which will be added depending on origin (Germany and Europe). Make sure to have your company's VAT ID ready when entering billing details to remove VAT!</p>
      </li>
      <li>
        <h4 class="h3--yellow">How does the trial work?</h4>
        <p class="faq-text">Your free trial includes 100 builds and starts as soon as you set up your first project and push a commit. The trial is limited to two concurrent jobs.</p>
      </li>
      <li>
        <h4 class="h3--teal">Do you have plans for students?</h4>
        <p class="faq-text">We most certainly do! You can find all details on <a href="https://education.travis-ci.com">education.travis-ci.com</a></p>
      </li>
    </ul>
  </section>
</div>
{{/travis-layout}}
