{{#if isLoaded}}
  <ul class="build-list">
    {{#each builds as |build|}}
      {{builds-item build=build}}
    {{else}}
      {{missing-notice title="No pull request builds for this repository"}}
    {{/each}}
  </ul>
  {{#if displayShowMoreButton}}
    <p>
      {{#if loadMoreBuilds.isRunning}}
        {{loading-indicator}}
      {{else}}
        {{show-more-button click=(perform loadMoreBuilds)}}
      {{/if}}
    </p>
  {{/if}}
{{else}}
  {{loading-indicator}}
{{/if}}
