{{#if this.isLoaded}}
  <ul class="build-list">
    {{#each this.builds as |build|}}
      <BuildsItem @build={{build}} @vcsType={{this.repo.vcsType}} />
    {{else}}
      <MissingNotice @title="No {{vcs-vocab this.repo.vcsType 'pullRequest' lower=true}} builds for this repository" />
    {{/each}}
  </ul>
  {{#if this.displayShowMoreButton}}
    <p>
      {{#if this.loadMoreBuilds.isRunning}}
        <LoadingIndicator />
      {{else}}
        <ShowMoreButton @click={{perform this.loadMoreBuilds}} />
      {{/if}}
    </p>
  {{/if}}
{{else}}
  <LoadingIndicator />
{{/if}}
