{{#if isLoaded}}
  <ul class="build-list">
    {{#each builds as |build|}}
      <BuildsItem @build={{build}} />
    {{else}}
      <MissingNotice @title="No pull request builds for this repository" />
    {{/each}}
  </ul>
  {{#if displayShowMoreButton}}
    <p>
      {{#if loadMoreBuilds.isRunning}}
        <LoadingIndicator />
      {{else}}
        <ShowMoreButton @click={{perform loadMoreBuilds}} />
      {{/if}}
    </p>
  {{/if}}
{{else}}
  <LoadingIndicator />
{{/if}}