
{{#if view.isEmpty}}
  {{repos-empty}}
{{else}}

  {{#if repo.isLoaded}}
    <article class="repo-header">
      <header>
        <h1 class="repo-title">{{#link-to "owner" repo.owner}}{{repo.owner}}{{/link-to}} / {{#link-to "repo" repo}}{{repo.name}}{{/link-to}}</h1>
        <div class="repo-gh">
          <a href="{{controller.urlGithub}}" title="{{repo.name}} on Github">{{repo.name}} on Github</a>
        </div>
        <div class="repo-badge">
          <a href="#" id="status-image-popup" title="build status image" name="status-images" class="open-popup" {{action "statusImages" target=view}}>
            <img src={{view.statusImageUrl}} alt="Build Status Images"/>
          </a>
        </div>
      </header>
      <main class="repo-main">
        <div class="repo-navigation">
          {{repo-show-tools repo=repo build=build job=job tab=tab currentUser=auth.currentUser}}

          {{repo-show-tabs repo=repo tab=tab build=build job=job}}
        </div>
        <div class="tabbody repo-body">
          {{#if repo.active}}
            {{outlet}}
          {{else}}
            {{#if repo.lastBuildId}}
              {{outlet}}
            {{else}}
              {{not-active user=currentUser repo=repo}}
            {{/if}}
          {{/if}}
        </div>
      </main>
    </article>

  {{else}}
    {{loading-indicator}}
  {{/if}}
{{/if}}
