<div class="wrapper {{if isCentered "centered"}}">
  {{#if showGitHubAppsCTA}}
    <TopBar>
      <div class="cta">
        <p class="row">
          Join over 500,000 developers testing and building on Travis CI
        </p>
      </div>
    </TopBar>
  {{else}}
    <TopBar />
  {{/if}}
  <FlashDisplay />
  <div class="wrapper-main">
    <div id="main" class="main" role="main">
      {{#if repo.isLoaded}}
        <RepositoryLayout
          @repo={{repo}}
          @build={{build}}
          @job={{job}}
          @tab={{tab}}
        >
          {{outlet}}
        </RepositoryLayout>
      {{/if}}
    </div>
  </div>
  {{#if auth.signedIn}}
    {{#unless features.dashboard}}
      <aside id="left" class="{{unless auth.signedIn "hidden"}}">
        <RepositorySidebar />
      </aside>
    {{/unless}}
  {{/if}}
</div>