<div class="search search--sidebar">
  <div class="search-inner">
    {{input value=controller.search placeholder="Search all repositories"}}
  </div>
</div>

{{view 'repos-list-tabs'}}

{{#if showRunningJobs}}
  <div class="tabbody sidebar-list">
    <div>
      {{render "runningJobs"}}
    </div>
    <hr class="sidebar-seperator">
    <div>
      {{render "queue"}}
    </div>
  </div>
{{else}}
  <div class="tabbody sidebar-list">
    {{#if isLoaded}}
      {{repos-list repos=model selectedRepo=selectedRepo noReposMessage=noReposMessage}}
    {{else}}
      {{loading-indicator center=true}}
    {{/if}}
  </div>
{{/if}}

