<div class="search search--sidebar">
  <div class="search-inner">
    {{input value=search placeholder="Search all repositories"}}
  </div>
</div>

{{repos-list-tabs tab=tab startedJobsCount=startedJobsCount allJobsCount=allJobsCount showMyRepositories=(action "showMyRepositories") showRunningJobs=(action "showRunningJobs")}}

{{#if showRunningJobs}}
  <div class="tabbody sidebar-list">
    <div>
      {{running-jobs jobs=runningJobs}}
    </div>
    <hr class="sidebar-seperator">
    <div>
      {{queued-jobs jobs=queuedJobs}}
    </div>
  </div>
{{else}}
  <div class="tabbody sidebar-list">
    {{#if isLoaded}}
      {{repos-list repos=repos selectedRepo=selectedRepo}}
    {{else}}
      {{loading-indicator center=true}}
    {{/if}}
  </div>
{{/if}}

