<div id="repo" {{bind-attr class="view.className :repo"}}>

  {{#if view.isEmpty}}
    {{view 'repos-empty'}}
  {{else}}

    {{#if repo.isLoaded}}
      <article id="repo-header" {{bind-attr class=":repo-header :passed"}}>
        <header>
          <h1 class="repo-header-title">{{#link-to "repo" repo}}{{repo.slug}}{{/link-to}}</h1>
          <div class="repo-header-icons">
            <a {{bind-attr href="controller.urlGithub"}}><span class="icon icon--github-circle"></span></a>
            <a href="#" id="status-image-popup" name="status-images" class="open-popup" {{action "statusImages" target=view}}>
              <img {{bind-attr src="view.statusImageUrl"}} title="Build Status Images"/>
            </a>
          </div>
          <p class="description">{{description}}</p>
        </header>
        <div class="repo-menus">
          <div class="repo-menu-header">
            {{view 'repo-show-tools'}}

            {{view 'repo-show-tabs'}}
          </div>
          <div class="tabbody repo-main">
            {{outlet}}
          </div>
        </div>
      </article>

    {{else}}
      <span class="sync-spinner"><i></i><i></i><i></i></span>
    {{/if}}

  {{/if}}
</div>
