<div id="request" class="{{if isAccepted 'accepted' 'rejected'}}">
  <h3>{{status}}{{#unless isAccepted}}: {{message}}{{/unless}}</h3>

  <p class="request-details">
    {{#if isPullRequest}}
      This request is based on the
      <span class="pr-number" title={{pullRequestTitle}}>#{{pullRequestNumber}}</span>
      pull request.
    {{else}}
      This request is based on a commit {{format-commit commit}} by {{commit.authorName}}
      pushed to
      {{#if branchName}}
        to <code>{{branchName}}</code>
      {{/if}}
    {{/if}}
  </p>
  {{#if build}}
    <p class="request-details">
    A build created based on this request: {{#link-to "build" build}}#{{build.number}}{{/link-to}}
    </p>
  {{/if}}
</div>
