<h4>Running Jobs ({{controller.length}})</h4>

<ul class="jobs">
  {{#if controller.length}}
    {{#each job in controller}}
      <li {{bind-attr title="job.slug"}}">
        {{#if job.repo.slug}}
          {{#link-to "job" job.repo job}}
            {{job.repo.slug}} #{{job.number}}
          {{/link-to}}
        {{/if}}
      </li>
    {{/each}}
  {{else}}
    There are no jobs
  {{/if}}
</ul>
