<div class="wrapper {{if this.auth.signedOut 'centered'}}">
  <TopBar @repo={{this.repo}} />
  <FlashDisplay />
  <div class="wrapper-main">
    <div id="main" class="main" role="main">
      {{#if this.repo}}
        <RepositoryLayout
          @repo={{this.repo}}
          @build={{this.build}}
          @job={{this.job}}
          @tab={{this.tab}}
        />
      {{else if this.repositories.loadingData}}
        <LoadingIndicator />
      {{else}}
        <MissingNotice @title="No repositories found" />
      {{/if}}
    </div>
  </div>
  {{#if this.auth.signedIn}}
    {{#unless this.features.dashboard}}
      <aside id="left" class="{{unless this.auth.signedIn 'hidden'}}">
        <RepositorySidebar />
      </aside>
    {{/unless}}
  {{/if}}
</div>
