<div class="settings">

  <section class="settings-section">
    <h2 class="small-title">General</h2>
    <ul class="settings-list--columns">
      <li>{{settings-switch active=model.settings.builds_only_with_travis_yml repo=repo description="Build only if .travis.yml is present" key="builds_only_with_travis_yml"}}</li>
      <li>{{settings-switch active=model.settings.build_pushes repo=repo description="Build pushed branches" key="build_pushes"}}
        <a href="https://docs.travis-ci.com/user/customizing-the-build/#Building-only-the-latest-commit"
           title="about branch updates">
           {{tooltip-on-element text='Read more about branch updates'}}
           {{svg-jar 'icon-help' class="icon-help"}}</a>
      </li>
      <li>{{limit-concurrent-builds value=model.settings.maximum_number_of_builds enabled=concurrentBuildsLimit repo=repo}}</li>
      <li>{{settings-switch active=model.settings.build_pull_requests repo=repo description="Build pushed pull requests" key="build_pull_requests"}}
        <a href="https://docs.travis-ci.com/user/customizing-the-build/#Building-only-the-latest-commit"
           title="about the pull request updates">
           {{tooltip-on-element text='Read more about pull request updates'}}
           {{svg-jar 'icon-help' class="icon-help"}}</a>
      </li>
    </ul>
  </section>

  <section class="settings-section">
    <h2 class="small-title">
      Security settings
    </h2>
    <p>
      The Pull Request PR settings are applicable for git-based Pull Requests from forks of this repository filed against this repository.
    </p>
    <p>
      Sharing data with forks allows more comfortable collaboration when collaborators are forking from your repository, but builds initiated by the Pull Requests from forks against your base repository get access to your decrypted environmental variables and/or keys.
    </p>
    <p>
      Not sharing secrets is more secure but makes it much less convenient to collaborate using forks.
    </p>
    <ul class="settings-list--columns">
      <li>
        {{settings-switch
          active=model.settings.share_encrypted_env_with_forks
          repo=repo
          description="Share encrypted env variables with forks (Pull Requests)"
          key="share_encrypted_env_with_forks"
        }}
        <a
          href="https://docs.travis-ci.com/user/web-ui/#share-encrypted-variables-with-forks-pull-request"
          title="about sharing encrypted environmental variables with forks (Pull Requests)"
          class="settings-tooltip">
          {{tooltip-on-element text="Read more about sharing encrypted environmental variables with forks (Pull Requests)"}}
          {{svg-jar 'icon-help' class="icon-help"}}</a>
      </li>

        <li>
          {{settings-switch
            active=model.settings.share_ssh_keys_with_forks
            repo=repo
            description="Share SSH keys with forks (PRs)"
            key="share_ssh_keys_with_forks"
          }}

        <a
          href="https://docs.travis-ci.com/user/web-ui/#share-ssh-keys-with-forks-pull-request"
          title="about sharing SSH keys with forks (Pull Requests)"
          class="settings-tooltip">
          {{tooltip-on-element text="Read more about sharing SSH keys with forks (Pull Requests)"}}
          {{svg-jar 'icon-help' class="icon-help"}}</a>
        </li>

    </ul>
  </section>

  {{#if showAutoCancellationSwitches}}
    <section class="settings-section auto-cancellation">
      <h2 class="small-title display-inline">Auto Cancellation</h2>

      <p>Auto Cancellation allows you to only run builds for the latest commits in the queue. This setting can be applied to builds for Branch builds and Pull Request builds separately. Builds will only be canceled if they are waiting to run, allowing for any running jobs to finish.</p>

      <ul class="settings-list--columns">
        <li>{{settings-switch active=model.settings.auto_cancel_pushes repo=repo description="Auto cancel branch builds" key="auto_cancel_pushes"}}</li>
        <li>{{settings-switch active=model.settings.auto_cancel_pull_requests repo=repo description="Auto cancel pull request builds" key="auto_cancel_pull_requests"}}</li>
      </ul>
    </section>
  {{/if}}

  <section class="settings-section">
    <h2 class="small-title">
      Environment Variables
    </h2>
    <p>
      Customize your build using environment variables. For secure tips on generating private keys
        <a
          href="https://docs.travis-ci.com/user/web-ui/#share-ssh-keys-with-forks-pull-request"
          title="read our documentation"
         >
         </a>
    </p>
    <ul class="settings-list--envvars">
      {{#each envVars as |envVar|}}
        {{env-var envVar=envVar}}
      {{/each}}
    </ul>
    <div id="env-var-secrecy">
      <p>
        <span class="label-align">
          If your secret variable has special characters like <code>&amp;</code>,
          escape them by adding <code>\</code> in front of each special character.
          For example, <code>ma&amp;w!doc</code> would be entered as <code>ma\&amp;w\!doc</code>.
        </span>
      </p>
    </div>
    {{add-env-var repo=repo}}

  </section>

  <section class="settings-section">
      <h2 class="small-title display-inline">Cron Jobs</h2>

    <ul class="settings-list--crons">
      {{#each cronJobs as |cron|}}
        {{cron-job cron=cron}}
      {{/each}}
    </ul>

    {{#if sortedBranchesWithoutCron.length}}
        {{add-cron-job branches=sortedBranchesWithoutCron}}
    {{else}}
        <p class="text-medium">There are no branches you can currently add crons to.</p>
    {{/if}}

  </section>

{{#if config.endpoints.sshKey}}
  <section class="settings-section">
    <h2 class="small-title">SSH Key</h2>

    {{#if model.customSshKey}}
      {{ssh-key key=model.customSshKey sshKeyDeleted="sshKeyDeleted" pushAccess=model.hasPushAccess}}
    {{else}}
      {{ssh-key key=model.sshKey}}

      {{#if model.hasPushAccess}}
        {{add-ssh-key repo=repo sshKeyAdded="sshKeyAdded"}}
      {{/if}}
    {{/if}}

    {{#unless model.hasPushAccess}}
      <p>You don't have sufficient permissons to add or remove ssh keys on this repository.</p>
    {{/unless}}

  </section>
{{/if}}
</div>
