<div class="settings">

  <section class="settings-section">
    <h2 class="small-title">General Settings</h2>

    <ul class="settings-list--columns">
      <li>{{settings-switch active=model.settings.builds_only_with_travis_yml repo=repo description="Build only if .travis.yml is present" key="builds_only_with_travis_yml"}}</li>
      <li>{{settings-switch active=model.settings.build_pushes repo=repo description="Build pushes" key="build_pushes"}}</li>
      <li>{{limit-concurrent-builds value=model.settings.maximum_number_of_builds enabled=concurrentBuildsLimit repo=repo}}</li>
      <li>{{settings-switch active=model.settings.build_pull_requests repo=repo description="Build pull requests" key="build_pull_requests"}}</li>
    </ul>

  </section>

  {{#if showAutoCancellationSwitches}}
    <section class="settings-section auto-cancellation">
      <h2 class="small-title">Auto Cancellation Settings</h2>

      <p>Auto Cancellation allows you to only run builds for the latest commits in the queue. This setting can be applied to builds for Branch builds and Pull Request builds separately. Builds will only be canceled if they are waiting to run, allowing for any running jobs to finish.</p>

      <ul class="settings-list--columns">
        <li>{{settings-switch active=model.settings.auto_cancel_pushes repo=repo description="Auto cancel pushes" key="auto_cancel_pushes"}}</li>
        <li>{{settings-switch active=model.settings.auto_cancel_pull_requests repo=repo description="Auto cancel pull requests" key="auto_cancel_pull_requests"}}</li>
      </ul>
    </section>
  {{/if}}

  <section class="settings-section">
    <h2 class="small-title">Environment Variables</h2>

    <p>Notice that the values are not escaped when your builds are executed. Special characters (for bash) should be escaped accordingly.</p>

    <ul class="settings-list--envvars">
      {{#each envVars as |envVar|}}
        {{env-var envVar=envVar}}
      {{/each}}
    </ul>

    {{add-env-var repo=repo}}

  </section>

  <section class="settings-section">
      <h2 class="small-title display-inline">Cron Jobs</h2>
      <div class="badge">Beta Feature</div>
      <p class="text-medium display-inline"><a href="https://github.com/travis-ci/beta-features/issues/1" title="Give your feedback on Crons"  target="_blank">We'd love your feedback</a></p>

    <ul class="settings-list--crons">
      {{#each model.cronJobs.jobs as |cron|}}
        {{cron-job cron=cron}}
      {{/each}}
    </ul>

    {{#if sortedBranchesWithoutCron.length}}
        {{add-cron-job branches=sortedBranchesWithoutCron}}
    {{else}}
        <p class="text-medium">There are no branches you can currently add crons to.</p>
    {{/if}}

  </section>

{{#if config.endpoints.sshKey}}
  <section class="settings-section">
    <h2 class="small-title">SSH Key</h2>

    {{#if model.customSshKey}}
      {{ssh-key key=model.customSshKey sshKeyDeleted="sshKeyDeleted" pushAccess=model.hasPushAccess}}
    {{else}}
      {{ssh-key key=model.sshKey}}

      {{#if model.hasPushAccess}}
        {{add-ssh-key repo=repo sshKeyAdded="sshKeyAdded"}}
      {{/if}}
    {{/if}}

    {{#unless model.hasPushAccess}}
      <p>You don't have sufficient permissons to add or remove ssh keys on this repository.</p>
    {{/unless}}

  </section>
{{/if}}
 {{!--  <section class="settings-section">
    <h2 class="small-title">Deactivate Repository</h2>
    <p>If you'd no longer like to run this project on Travis CI you can deactivate it now.<br>You will be able to reactivate it in the future if you'd like to.</p>
    <button class="button-delete" {{action "deactivate"}} type="button">Deactivate Repository</button>
  </section> --}}

</div>
