<div class="settings">
  
  <section class="settings-section">
    <h2 class="small-title">General Settings</h2>

    <ul class="settings-list--columns">
      <li>{{settings-switch}}</li>
      <li>
        <div class="settings-input"><input type="text" pattern="/^[0-9]+$/" value="4"></div><span class="label">Concurrent jobs</span>
      </li>
      <li>{{settings-switch}}</li>
      <li>{{settings-switch}}</li>
    </ul>

  </section>

  <section class="settings-section">
    <h2 class="small-title">Environment Variables</h2>

    <ul class="settings-list--envvars">
      <li>{{env-var}}</li>
      <li>{{env-var}}</li>
      <li>{{env-var}}</li>
      <li>{{env-var}}</li>
    </ul>


     <div class="form--envvar">
       <form action="">
         <div class="form-elem">
           <input type="text" placeholder="Name">
         </div>
         <div class="form-elem">
           <input type="text" placeholder="Value">
         </div>
         <div class="form-elem">
           {{settings-switch inline="true"}}
         </div>
         <div class="form-elem">
           <input type="submit" class="form-submit" value="Add">
         </div>
       </form>
     </div>

  </section>
{{#if config.endpoints.sshKey}}
  <section class="settings-section">
    <h2 class="small-title">SSH Key</h2>

    {{ssh-key}}
    {{ssh-key custom=true}}

    <div class="form--sshkey">
      <a href="" class="button">Add custom SSH Key</a>
      <form action="">
        <div class="form-elem">
          <input type="text" placeholder="Description">
        </div>
        <div class="form-elem">
          <textarea name="" id="" cols="30" rows="10" placeholder="SSH key"></textarea>
        </div>
        <div class="form-elem">
          <input type="submit" class="form-submit" value="Add">
        </div>
      </form>
    </div>
  </section>
{{/if}}
  <section class="settings-section">
    <h2 class="small-title">Deactivate Repository</h2>
    <p>If you'd no longer like to run this project on Travis CI you can deactivate it now.<br>You will be able to reactivate it in the future if you'd like to.</p>
    <a href="#" class="button--delete">Deactivate Repository</a>
  </section>

</div>


{{!-- <div id="settings">
  {{outlet}}
</div> --}}
