<div class="settings" data-test-settings-content>
  <section class="settings-section">
    <h2 class="small-title">
      General
    </h2>
    <ul class="settings-list--columns">
      <li>
        <SettingsSwitch
          @active={{this.model.settings.build_pushes}}
          @repo={{this.repo}}
          @description="Build pushed branches"
          @key="build_pushes"
        />
        <ExternalLinkTo
          href="https://docs.travis-ci.com/user/web-ui/#build-pushed-branches"
          title="about branch updates"
          class="settings-tooltip"
        >
          <EmberTooltip @text="Read more about branch updates" />
          <SvgImage @name="icon-help" @class="icon-help" />
        </ExternalLinkTo>
      </li>
      <li>
        <LimitConcurrentBuilds
          @value={{this.model.settings.maximum_number_of_builds}}
          @enabled={{this.concurrentBuildsLimit}}
          @repo={{this.repo}}
        />
      </li>
      <li>
        <SettingsSwitch
          @active={{this.model.settings.build_pull_requests}}
          @repo={{this.repo}}
          @description="Build pushed {{vcs-vocab this.repo.vcsType 'pullRequest' plural=true lower=true}}"
          @key="build_pull_requests"
        />
        <ExternalLinkTo
          href="https://docs.travis-ci.com/user/web-ui/#build-pushed-pull-requests"
          title="about {{vcs-vocab this.repo.vcsType 'pullRequest' lower=true}} updates"
          class="settings-tooltip"
        >
          <EmberTooltip @text="Read more about {{vcs-vocab this.repo.vcsType 'pullRequest' lower=true}} updates" />
          <SvgImage @name="icon-help" @class="icon-help" />
        </ExternalLinkTo>
      </li>
      <li>
        <button class="button--blue" {{on 'click' (fn (mut this.showUserManagementModal) true)}} data-test-repo-settings-show-user-management-modal='true'>
          User management
        </button>
      </li>
    </ul>
  </section>
  <section class="settings-section">
    <h2 class="small-title">
      Security settings
    </h2>
    <p>
      The {{vcs-vocab this.repo.vcsType 'pullRequest' lower=true}} ({{vcs-vocab this.repo.vcsType 'pr'}}) settings are applicable for git-based {{vcs-vocab this.repo.vcsType 'pullRequest' plural=true lower=true}} from forks of this repository filed against this repository.
    </p>
    <p>
      Sharing data with forks allows more comfortable collaboration when collaborators are forking from your repository, but builds initiated by the {{vcs-vocab this.repo.vcsType 'pullRequest' plural=true lower=true}} from forks against your base repository get access to your decrypted environmental variables and/or keys.
    </p>
    <p>
      Not sharing secrets is more secure but makes it much less convenient to collaborate using forks.
    </p>
    <ul class="settings-list--columns">
      <li>
        <SettingsSwitch
          @active={{this.model.settings.share_encrypted_env_with_forks}}
          @repo={{this.repo}}
          @description="Share encrypted env variables with forks ({{vcs-vocab this.repo.vcsType 'pr' plural=true}})"
          @key="share_encrypted_env_with_forks"
        />
        <ExternalLinkTo
          href="https://docs.travis-ci.com/user/web-ui/#share-encrypted-variables-with-forks-pull-request"
          title="about sharing encrypted environmental variables with forks ({{vcs-vocab this.repo.vcsType 'pullRequest' plural=true lower=true}})"
          class="settings-tooltip"
        >
          <EmberTooltip @text="Read more about sharing encrypted environmental variables with forks ({{vcs-vocab this.repo.vcsType 'pullRequest' plural=true lower=true}})" />
          <SvgImage @name="icon-help" @class="icon-help" />
        </ExternalLinkTo>
      </li>
      {{#if this.repo.private}}
        <li>
          <SettingsSwitch
            @active={{this.model.settings.share_ssh_keys_with_forks}}
            @repo={{this.repo}}
            @description="Share SSH keys with forks ({{vcs-vocab this.repo.vcsType 'pr' plural=true}})"
            @key="share_ssh_keys_with_forks"
          />
          <ExternalLinkTo
            href="https://docs.travis-ci.com/user/web-ui/#share-ssh-keys-with-forks-pull-request"
            title="about sharing SSH keys with forks ({{vcs-vocab this.repo.vcsType 'pullRequest'}})"
            class="settings-tooltip"
          >
            <EmberTooltip @text="Read more about sharing SSH keys with forks ({{vcs-vocab this.repo.vcsType 'pullRequest' plural=true lower=true}})" />
            <SvgImage @name="icon-help" @class="icon-help" />
          </ExternalLinkTo>
        </li>
      {{/if}}
    </ul>
    <p>
      Enable access to build job logs older than {{this.model.settings.job_log_access_older_than_days}} days. When set to OFF logs older than {{this.model.settings.job_log_access_older_than_days}} days are
      not available either via UI or API. Please consider if there's a risk of confidential information
      being leaked prior to enabling access to old build job logs. If you want to modify the time
      threshold, please contact support.
    </p>
    <ul class="settings-list--row">
      <li>
        <SettingsSwitch
          @active={{this.model.settings.job_log_time_based_limit}}
          @repo={{this.repo}}
          @description="Enable access to old build job logs."
          @key="job_log_time_based_limit"
        />
        <ExternalLinkTo
          href="https://docs.travis-ci.com/user/web-ui/#share-encrypted-variables-with-forks-pull-request"
          title="about enabling access to old build jobs"
          class="settings-tooltip"
        >
          <EmberTooltip @text="Read more about enabling access to old build jobs" />
          <SvgImage @name="icon-help" @class="icon-help" />
        </ExternalLinkTo>
      </li>
    </ul>
    <p>
      Enabling access to build job logs only for users with write/push permissions to this repository will limit access to build job logs via UI and API. When set to OFF, all users with read access to the
      repository can access the build job logs.
    </p>
    <ul class="settings-list--row">
      <li>
        <SettingsSwitch
          @active={{this.model.settings.job_log_access_based_limit}}
          @repo={{this.repo}}
          @description="Limit access to build job logs (users with write/push access only)"
          @key="job_log_access_based_limit"
        />
        <ExternalLinkTo
          href="https://docs.travis-ci.com/user/web-ui/#share-encrypted-variables-with-forks-pull-request"
          title="about limiting access to build job logs."
          class="settings-tooltip"
        >
          <EmberTooltip @text="Read more about limiting access to build job logs" />
          <SvgImage @name="icon-help" @class="icon-help" />
        </ExternalLinkTo>
      </li>
    </ul>
  </section>
  {{#if this.showAutoCancellationSwitches}}
    <section class="settings-section auto-cancellation">
      <h2 class="small-title display-inline">
        Auto Cancellation
      </h2>
      <p>
        Auto Cancellation allows you to only run builds for the latest commits in the queue.
        This setting can be applied to builds for Branch builds and {{vcs-vocab this.repo.vcsType 'pullRequest'}} builds separately.
        Builds will only be canceled if they are waiting to run, allowing for any running jobs to finish.
      </p>
      <ul class="settings-list--columns">
        <li>
          <SettingsSwitch
            @active={{this.model.settings.auto_cancel_pushes}}
            @repo={{this.repo}}
            @description="Auto cancel branch builds"
            @key="auto_cancel_pushes"
          />
        </li>
        <li>
          <SettingsSwitch
            @active={{this.model.settings.auto_cancel_pull_requests}}
            @repo={{this.repo}}
            @description="Auto cancel {{vcs-vocab this.repo.vcsType 'pullRequest' lower=true}} builds"
            @key="auto_cancel_pull_requests"
          />
        </li>
      </ul>
    </section>
  {{/if}}
  {{#if this.showAllowConfigImportsSwitch}}
    <section class="settings-section config-import">
      <h2 class="small-title display-inline">
        Clone or Import
      </h2>
      <ul class="settings-list--row">
        <li>
          <SettingsSwitch
            @active={{this.model.settings.allow_config_imports}}
            @repo={{this.repo}}
            @description="Allow files from this repository to be used in builds on other repositories"
            @key="allow_config_imports"
          />
        </li>
      </ul>
      <p>
        <strong>ON</strong> makes files from this repository to be used in builds on other repositories in case it is needed to pull down additional private dependencies.<br>
        <strong>OFF</strong> means that no information from the repository is shared and it is possible some builds using private dependencies between repos can break.
      </p>
    </section>
  {{/if}}
  <section class="settings-section">
    <h2 class="small-title">
      Environment Variables
    </h2>
    <p>
      Customize your build using environment variables. For secure tips on generating private keys
      <ExternalLinkTo @href={{config-get "urls.bestpracticessecurity"}}>
        read our documentation
      </ExternalLinkTo>
    </p>
    <ul class="settings-list--envvars">
      {{#each this.envVars as |envVar|}}
        <EnvVar @envVar={{envVar}} />
      {{/each}}
    </ul>
    <div id="env-var-secrecy">
      <p>
        <SvgImage @name="icon-megaphone" @class="icon icon-megaphone" />
        <span class="label-align">
          If your secret variable has special characters like <code>&amp;</code>,
          escape them by adding <code>\</code> in front of each special character.
          For example, <code>ma&amp;w!doc</code> would be entered as <code>ma\&amp;w\!doc</code>.
        </span>
      </p>
    </div>
    <AddEnvVar @repo={{this.repo}} />
  </section>
  <section class="settings-section">
    <h2 class="small-title display-inline">
      Cron Jobs
    </h2>
    <ul class="settings-list--crons">
      {{#each this.cronJobs as |cron|}}
        <CronJob @cron={{cron}} />
      {{/each}}
    </ul>
    <AddCronJob @repository={{this.model.repository}} />
  </section>
  {{#if (and (and (config-get 'endpoints.sshKey') (or this.features.enterpriseVersion this.repo.private)) (not (eq this.repo.serverType 'perforce')))}}
    <section class="settings-section" data-test-ssh-key-section>
      <h2 class="small-title">
        SSH Key
      </h2>
      {{#if this.model.customSshKey}}
        <SshKey
          @key={{this.model.customSshKey}}
          @sshKeyDeleted={{action "sshKeyDeleted"}}
          @pushAccess={{this.model.hasPushAccess}}
        />
      {{else}}
        <SshKey @key={{this.model.sshKey}} />
        <AddSshKey @repo={{this.repo}} @sshKeyAdded={{action "sshKeyAdded"}} />
      {{/if}}
      {{#unless this.model.hasPushAccess}}
        <p>
          You don't have sufficient permissons to add or remove ssh keys on this repository.
        </p>
      {{/unless}}
    </section>
  {{/if}}
  {{#if this.showBetaFeatures}}
    <section class="settings-section beta_features">
      <h2 class="small-title display-inline">
        Beta Features
      </h2>
      <p>
        These features are in beta. If you find things to be not working as expected
        or lacking, please let us know in the <a href="{{config-get 'urls.communityEarlyReleases'}}">Travis CI community forum</a>
        or email <a href="{{config-get 'urls.emailSupport'}}">support</a>.
      </p>
      <ul class="settings-list--row">
        {{#if this.showConfigValidationSwitches}}
          <li>
            <SettingsSwitch
              @active={{this.model.settings.config_validation}}
              @repo={{this.repo}}
              @description="Enable build config validation"
              @key="config_validation"
            />
            <ExternalLinkTo
              href="https://docs.travis-ci.com/user/build-config-validation"
              title="about build config validation"
              class="settings-tooltip"
            >
              <EmberTooltip @text="Read about build config validation" />
              <SvgImage @name="icon-help" @class="icon-help" />
            </ExternalLinkTo>
          </li>
        {{/if}}
      </ul>
    </section>
  {{/if}}
</div>

<Modal
  @isVisible={{this.displaySettingsDisabledAfterMigrationModal}}
  @closeOnClickOverlay={{false}}
>
  <div
    data-test-settings-disabled-after-migration-modal
    class="migrated-repo-settings-modal"
  >
    <h3 class="migrated-repo-settings-modal__header h3--teal">
      Your repository has been migrated to <br />
      travis-ci.com
    </h3>
    <p>
      As a result, your repository is now in a <b>read-only</b> state.
    </p>
    <p>
      If you wish to configure your repository, you can do so by visiting the settings page on travis-ci.com.
      Read-only historical data, such as Requests, Build History and Branches can still be viewed.
    </p>
    <div>
      <LinkTo
        @route="builds"
        @model={{this.repo}}
        class="migrated-repo-settings-modal__button button--blue"
      >
        View Build History
      </LinkTo>
      <ExternalLinkTo
        @href={{this.migratedRepositorySettingsLink}}
        class="migrated-repo-settings-modal__button button--dark-grey"
      >
        Edit settings on .com
      </ExternalLinkTo>
      <LinkTo @route="repo.index" @models={{array repo.provider repo.ownerName repo.vcsName}} class="modal-close pointer">
        <SvgImage @name="icon-failed" @class="icon" />
      </LinkTo>
    </div>
  </div>
</Modal>
<Dialogs::UserManagementModal
  @isOpen={{this.showUserManagementModal}}
  @onClose={{fn (mut this.showUserManagementModal) false}}
  @context={{this.model.repository}}
/>
