<div class="settings">
  
  <section class="settings-section">
    <h2 class="small-title">General Settings</h2>

    <ul class="settings-list--columns">
      <li>{{settings-switch}}</li>
      <li>
        <div class="settings-input"><input type="text" pattern="/^[0-9]+$/" value="4"></div><span class="label">Concurrent jobs</span>
      </li>
      <li>{{settings-switch}}</li>
      <li>{{settings-switch}}</li>
    </ul>

  </section>

  <section class="settings-section">
    <h2 class="small-title">Environment Variables</h2>

    <ul class="settings-list--envvars">
      {{#each envVars as |envVar|}}
        <li>{{env-var envVar=envVar}}</li>
      {{/each}}
    </ul>

    {{add-env-var repo=repo}}


  </section>
{{#if config.endpoints.sshKey}}
  <section class="settings-section">
    <h2 class="small-title">SSH Key</h2>

    {{#if model.customSshKey}}
      {{ssh-key key=model.customSshKey}}
    {{else}}
      {{ssh-key key=model.sshKey}}
      {{add-ssh-key repo=repo}}
    {{/if}}

  </section>
{{/if}}
  <section class="settings-section">
    <h2 class="small-title">Deactivate Repository</h2>
    <p>If you'd no longer like to run this project on Travis CI you can deactivate it now.<br>You will be able to reactivate it in the future if you'd like to.</p>
    <a href="#" class="button--delete">Deactivate Repository</a>
  </section>

</div>
