<TravisLayout @layoutName="layouts/center">
  <div class="content-page">
    {{#if this.isRedirectingToAccountPage}}
      <img
        src="/images/billing/account-unauthorized.svg"
        alt="Account"
        width="350"
        height="350"
      />
    {{else}}
      <img
        src="/images/logos/TravisCI-Mascot-1.svg"
        alt="Travis CI mascot"
        width="200"
        height="200"
      />
    {{/if}}
    <h1 class="content-title auth">
      We're so glad you're here!
    </h1>
    {{#if this.auth.signedOut}}
      <h1 class="content-subtitle">
        {{#if this.isRedirectingToAccountPage}}
          Please sign in to view your account.
        {{else}}
          Please sign in to view your repositories.
        {{/if}}
      </h1>
      <p>
        <button
          type="button"
          title="Sign into Travis CI"
          class="content-button sign-in"
          onclick={{action "signIn" target=this.auth}}
        >
          Sign in with GitHub
        </button>
      </p>
    {{/if}}
    {{#if this.auth.signingIn}}
      <h2 class="content-subtitle">
        We're signing you in,
        <br />
        that might take a moment.
      </h2>
      <p class="content-button">
        <span class="label-align">
          Signing in
        </span>
        <LoadingIndicator @inline={{true}} @white={{true}} />
      </p>
    {{/if}}
  </div>
</TravisLayout>
