<a href="#" class="close" {{action "close" target=view}}></a>
<p>
  <label>Branch:</label>
  {{#if view.branches.isLoaded}}
    {{view Ember.Select content="view.branches" selection="view.statusImageBranch" optionLabelPath="content.commit.branch" optionValuePath="content.commit.branch"}}
  {{else}}
    {{loading-indicator}}
  {{/if}}
</p>

<p>
  <label>{{view Ember.Select content="view.formats" selection="view.statusImageFormat"}}</label>
  {{view 'status-image-input' value="view.statusString" class="url" rows=3}}
</p>
