<div class="topbar {{if is-open 'has-autoheight'}} {{if showBroadcasts 'has-autoheight'}}">
  <h1 id="logo" class="logo">
    {{#if features.dashboard}}
      {{#link-to "dashboard"}}Travis CI{{/link-to}}
    {{else}}
      {{#link-to "main"}}Travis CI{{/link-to}}
    {{/if}}
    </h1>
  <div class="navigation-toggle">
    <button type="button" id="tofuburger" class="tofuburger" {{action 'toggleBurgerMenu'}}>Toggle Menu</button>
  </div>

{{#unless config.enterprise}}
  {{#if auth.signedIn}}

    {{broadcast-tower toggleBroadcasts="toggleBroadcasts" status=broadcasts.lastBroadcastStatus}}

    <ul class="broadcasts {{if showBroadcasts 'is-open'}}">
    {{#each broadcasts.content as |broadcast|}}
      <li><p><span class="broadcast-status {{broadcast.category}}" title="Transmitted on {{broadcast.updated_at}}"></span> {{{broadcast.message}}} <a {{action 'markBroadcastAsSeen' broadcast}} class="icon-close"></a></p></li>
    {{else}}
      <li><p>There are no broadcasts</p></li>
    {{/each}}
    </ul>
  {{/if}}
{{/unless}}

  <nav id="navigation" class="navigation {{if is-open 'is-open'}}">
    <ul>

    {{#unless config.enterprise}}
      {{#unless features.proVersion}}
        <li><a href="https://blog.travis-ci.com" title="Travis CI Blog" class="navigation-anchor">Blog</a></li>
        <li><a href="https://www.traviscistatus.com/" title="Travis CI Status" class="navigation-anchor">Status</a></li>
        <li>
          <span class="navigation-anchor">Help</span>
          <ul class="navigation-nested">
            <li><a href="https://docs.travis-ci.com">Docs</a></li>
            <li><a href="https://docs.travis-ci.com/imprint.html" alt="Imprint">Imprint</a></li>
          </ul>
        </li>
      {{/unless}}

      {{#if features.proVersion}}
        {{#unless auth.signedIn}}
          <li><a href="/about" title="Travis CI team" class="navigation-anchor">About Us</a></li>
          <li><a href="/plans" title="" class="navigation-anchor">Plans & Pricing</a></li>
          <li><a href="https://enterprise.travis-ci.com" title="">Enterprise</a></li>
        {{else}}
          <li><a href="https://www.traviscistatus.com/" title="Travis CI Status" class="navigation-anchor">Status</a></li>
          <li><a href="https://docs.travis-ci.com">Docs</a></li>
          <li>
            <span class="navigation-anchor">Legal</span>
            <ul class="navigation-nested">
              <li><a href={{config.urls.imprint}}>Imprint</a></li>
              <li><a href={{config.urls.security}}>Security</a></li>
              <li><a href={{config.urls.terms}}>Terms</a></li>
            </ul>
          </li>
        {{/unless}}
      {{/if}}
    {{else}}
      {{#if auth.signedIn}}
        <li><a class="navigation-anchor" title="Documentation" href="https://docs.travis-ci.com">Docs</a></li>
      {{/if}}
    {{/unless}}

      <li class="{{classProfile}}">
        {{#if auth.signedOut}}
          <button class="signed-out button-signin" {{action "signIn" target="auth"}}>Sign in with GitHub</button>
        {{/if}}
        {{#if auth.signedIn}}
          {{#link-to "profile" class="navigation-anchor signed-in"}}
            {{userName}}
            {{user-avatar url=user.avatarUrl name=user.fullName}}
          {{/link-to}}
        {{/if}}
        {{#if auth.signingIn}}
          <button class="signing-in button-signingin">Signing In {{loading-indicator inline=true}}</button>
        {{/if}}
        {{#if auth.signedIn}}
          <ul class="navigation-nested">
            <li>
              {{#link-to "profile" class="signed-in"}}Accounts{{/link-to}}
            </li>
            {{#if config.billingEndpoint}}
              {{#unless config.enterprise}}
                <li>
                  <a href={{config.billingEndpoint}}>Billing</a>
                </li>
              {{/unless}}
            {{/if}}
            <li>
              <a href="/" {{action "signOut" target="auth"}}>Sign Out</a>
            </li>
          </ul>
        {{/if}}
      </li>
    </ul>
  </nav>
</div>

{{#if showCta}}
  <div class="cta">
    <p class="row">
      Help make Open Source a better place and start building better software today!
    </p>
  </div>
{{/if}}
