<div class="row topbar">
  <h1 id="logo" class="logo">{{#link-to "main"}}Travis{{/link-to}}</h1>
  <div class="burger">
    <button type="button" id="burger" class="burger-btn" {{action 'toggleBurgerMenu'}}>&equiv;</button>
  </div>

  <ul id="navigation" {{bind-attr class=":navigation is-open"}}>
    <li><a href="http://blog.travis-ci.com">Blog</a></li>
    <li><a href="http://docs.travis-ci.com">Docs</a></li>

{{!--     {{#unless config.pro}}
      <li class="traviscicom navigation--traviscicom">
        <a href="http://travis-ci.com">Travis CI for Private Repositories</a>
      </li>
    {{/unless}} --}}

    <li {{bind-attr class="view.classProfile :navigation-sub :navigation--profile"}}>
      <p class="handle navigation-handle">
        {{#if auth.signedOut}}
          <button class="signed-out button--signin" {{action "signIn" target="auth"}}>Sign in with GitHub</button>
        {{/if}}
        {{#if auth.signedIn}}
          {{#link-to "profile" class="signed-in"}}{{userName}}<img {{bind-attr src="gravatarUrl"}}/>{{/link-to}}
        {{/if}}
        {{#if auth.signingIn}}
          <button class="signing-in button--signingin">Signing In <span class="sync-spinner"><i></i><i></i><i></i></span></button>
        {{/if}}
      </p>
      <ul class="navigation-nested">
        <li>
          {{#link-to "profile" class="signed-in"}}Accounts{{/link-to}}
        </li>
        {{#if config.billingEndpoint}}
          <li>
            <a {{bind-attr href="config.billingEndpoint"}}>Billing</a>
          </li>
        {{/if}}
        <li>
          <a href="/" {{action "signOut" target="auth"}}>Sign Out</a>
        </li>
      </ul>
    </li>
  </ul>
</div>