<div class="row topbar">
  <h1 id="logo" class="logo">{{#link-to "main"}}Travis{{/link-to}}</h1>
  <div class="burger">
    <button type="button" id="burger" class="burger-btn" {{action 'toggleBurgerMenu'}}>&equiv;</button>
  </div>

  <ul id="navigation" {{bind-attr class=":navigation is-open"}}>
    <li><a href="http://blog.travis-ci.com">Blog</a></li>
    {{!--  <li><a href="http://docs.travis-ci.com">Help</a></li> --}}
    <li><a href="http://www.traviscistatus.com/">Status</a></li>

    <li class="navigation-sub navigation--community">
      <p class="handle navigation-handle">
        <a href="#">Help</a>
      </p>
      <ul class="navigation-nested">
        <li><a href="http://docs.travis-ci.com">Docs</a></li>
        <li><a href="http://stackoverflow.com/questions/ask?tags=travis-ci">Ask a Question</a></li>
        <li><a href="irc://irc.freenode.net/#travis">IRC</a></li>
        <li><a href="mailto:support@travis-ci.com">E-Mail us</a></li>
        <li><a href="http://docs.travis-ci.com/imprint.html" alt="Imprint">Imprint</a></li>
      </ul>
    </li>

    {{#if config.pro}}
      <li class="navigation-sub navigation--legal">
        <p class="handle navigation-handle">
          <a>Legal</a>
        </p>
        <ul class="navigation-nested">
          <li>
            <a {{bind-attr href="config.urls.imprint"}}>Imprint</a>
          </li>
          <li>
            <a {{bind-attr href="config.urls.security"}}>Security</a>
          </li>
          <li>
            <a {{bind-attr href="config.urls.terms"}}>Terms</a>
          </li>
        </ul>
      </li>
    {{/if}}

    <li {{bind-attr class="view.classProfile :navigation-sub :navigation--profile"}}>
      <p class="handle navigation-handle">
        {{#if auth.signedOut}}
          <button class="signed-out button--signin" {{action "signIn" target="auth"}}>Sign in with GitHub</button>
        {{/if}}
        {{#if auth.signedIn}}
          {{#link-to "profile" class="signed-in"}}{{userName}}<img {{bind-attr src="gravatarUrl"}}/>{{/link-to}}
        {{/if}}
        {{#if auth.signingIn}}
          <button class="signing-in button--signingin">Signing In <span class="sync-spinner"><i></i><i></i><i></i></span></button>
        {{/if}}
      </p>
      {{#if auth.signedIn}}
        <ul class="navigation-nested">
          <li>
            {{#link-to "profile" class="signed-in"}}Accounts{{/link-to}}
          </li>
          {{#if config.billingEndpoint}}
            <li>
              <a {{bind-attr href="config.billingEndpoint"}}>Billing</a>
            </li>
          {{/if}}
          <li>
            <a href="/" {{action "signOut" target="auth"}}>Sign Out</a>
          </li>
        </ul>
      {{/if}}
    </li>
  </ul>
</div>

{{#if showCta}}
  <div class="cta">
    <p class="row">
      <span class="arrow"></span>
      Help make Open Source a better place and start building better software today!
    </p>
  </div>
{{/if}}
