{{#if view.jobs.length}}
  <table id="jobs" class="list">
    <caption>
      {{#if view.required}}
        {{t jobs.build_matrix}}
      {{else}}
        {{t jobs.allowed_failures}}
        <a title="What's this?" class="help" {{action toggleHelp}}></a>
      {{/if}}
    </caption>
    <thead>
      <tr>
        {{#each configKeys}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each job in view.jobs}}
        {{#view Travis.Views.JobsItemView contextBinding="job"}}
          <tr {{bindAttr class="view.color"}}>
            <td class="number"><a {{bindAttr href="view.urlJob"}}>{{number}}</a></td>
            <td class="duration" {{bindAttr title="started_at"}}>{{formatDuration duration}}</td>
            <td class="finished_at timeago" {{bindAttr title="finished_at"}}>{{formatTime finished_at}}</td>
            {{#each configValues}}
              <td>{{this}}</td>
            {{/each}}
          </tr>
        {{/view}}
      {{/each}}
    </tbody>
  </table>

  {{#unless view.required}}
    <div id="allow_failure_help" class="context_help">
      <div class="context_help_caption">{{t "jobs.allowed_failures"}}</div>
      <div class="context_help_body">
        <p>
          Allowed Failures are items in your build matrix that are allowed to
          fail without causing the entire build to be shown as failed. This lets you add
          in experimental and preparatory builds to test against versions or
          configurations that you are not ready to officially support.
        </p>
        <p>
          You can define allowed failures in the build matrix as follows:
        </p>
        <pre> matrix:
  allow_failures:
    - rvm: ruby-head </pre>
      </div>
    </div>
  {{/unless}}
{{/if}}
