{{view.logSubscriber}}

{{#if log.isLoaded}}
  <pre id="log"><a href="#" id="tail" {{action toggleTailing}}>
    <span class="status"></span>
    <label>Follow logs</label>
  </a>{{{formatLog log.body}}}</pre>

  {{#if sponsor.name}}
    <p class="sponsor">
    {{t builds.messages.sponsored_by}}
      <a {{bindAttr href="sponsor.url"}}>{{sponsor.name}}</a>
    </p>
  {{/if}}
{{else}}
  <div id="log" class="loading">
    <span>Loading</span>
  </div>
{{/if}}
